.col-xs-12.manager
  .title-plus-icon
    = fa_icon 'caret-right'
    %p.title
      = t('.main_manager')
  %p.value
    = program.main_manager

.col-xs-12.responsible
  .title-plus-icon
    = fa_icon 'caret-right'
    %p.title
      = t('.responsible')
  %p.value
    = program.responsible

.col-xs-12.reason
  .title-plus-icon
    = fa_icon 'caret-right'
    %p.title
      = t('.reason')
  %p.value
    = program.reason

.col-xs-12.target
  .title-plus-icon
    = fa_icon 'caret-right'
    %p.title
      = t('.main_target')
  %p.value
    = program.objective