:scss
  // init colors
  $dark-blue: #0c2231;
  $white: white;

  .progress_bar {
    svg {
      border: 2px solid $dark-blue;
      .bckg { fill: $white; }
      .perc { fill: $dark-blue; }
      text {
        font-size: 16px;
        font-weight: bold;
        text-anchor: middle;
        stroke-width: .07rem;
      }
    }
  }
-#TODO: Add < 0.1%
.progress_bar

  - color = '#0c2231';
  - stroke = 'white'
  - color = 'white' unless perc.to_i < 50
  - stroke = '#0c2231' unless perc.to_i < 50

  %svg{ 'width' => '100%',
        'height' => '40' }

    %rect.bckg{ 'x' => '0',
                'y' => '0',
                'width' => '100%',
                'height' => '40' }

    %rect.perc{ 'x' => '0',
                'y' => '0',
                'width' => "#{perc.to_i}%",
                'height' => '40' }

    %text{ 'x' => '49%',
           'y' => '26',
           'fill' => "#{color}",
           'stroke' => "#{stroke}" }

      = "#{perc}%"