= simple_form_for(@municipal_guide_filter) do |f|
  = f.error_notification

  .form-inputs
    = f.input :type_enterprise, label: 'Тип підприємства',
              collection: @report_type.map {|type| [ type[:title], type[:id] ] },
              prompt: false
    = f.input :type_file, label: 'Тип файлу',
              collection: @type_codes.map {|type| [ type[:title], type[:id] ] },
              prompt: false
    = f.input :file, label: 'Вибір файлу', class: 'form-control'

  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-success'
    = link_to t('back'), municipal_guide_filters_path, class: 'btn btn-info'
