:scss
  .editable-click {
    white-space: normal;
    color: #333333;
    border-bottom: none;
  }
  a.editable{
    border-bottom: none;
  }
  .popover-content{
    padding: 0;
    .editableform{
      .input-large{
        width: 400px;
      }
    }
  }
  .code-descriptions{
    .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .file-title{
        font-size: 14px;
      }
    }
    .table-title{
      font-weight: bold;
      border-bottom: solid lightgrey 2px;
      //padding: 5px 0;
    }
    #search-results{
      .table-body{
        margin-top: 5px;
      }
    }
  }

.container
  .code-descriptions
    .header
      %h2
        = t('guide_filters.key_indicators')
        .file-title
          = @municipal_guide_filter.file_identifier

    .table-title.visible-md.visible-lg
      .row
        .col-sm-1
          %i.fa.fa-check-square-o
        .col-sm-1
          = t('guide_filters.line_code')
        .col-sm-3
          = t('title')
        .col-sm-1
          = t('guide_filters.units')
        .col-sm-6
          = t('guide_filters.code_description')
    #search-results
      - if @municipal_guide_filter
        - @municipal_guide_filter.codes.each do |code_info|
          .table-body{ id: code_info.id }
            .row
              .col-sm-12.col-md-1.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    %i.fa.fa-check-square-o
                  .col-xs-8.col-md-12
                    = check_box_tag :publish, code_info.id, code_info.publish,
                      onchange: "$(this).data('params', 'publish=' + this.checked)",
                      data: { remote: true, url: municipal_update_code_info_path(code_info.id), method: :put}
              .col-sm-12.col-md-1.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('guide_filters.line_code')
                  .col-xs-8.col-md-12
                    = code_info.code
              .col-sm-12.col-md-3.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('title')
                  .col-xs-8.col-md-12
                    %a.editable{ href: '#',
                       id: 'title', 'data-type' => 'text', 'data-pk' => "#{code_info.id}",
                       'data-url' => "#{municipal_update_code_info_path(code_info.id)}",
                       'data-emptytext' => t('repairing.layers.edit.title'), 'data-showbuttons' => 'bottom' }
                      = code_info.title
              .col-sm-12.col-md-1.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('guide_filters.units')
                  .col-xs-8.col-md-12
                    %a.editable{ href: '#',
                       id: 'unit', 'data-type' => 'text', 'data-pk' => "#{code_info.id}",
                       'data-url' => "#{municipal_update_code_info_path(code_info.id)}",
                       'data-emptytext' => t('repairing.layers.edit.title'), 'data-showbuttons' => 'bottom' }
                      = code_info.unit
              .col-sm-12.col-md-6.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('guide_filters.code_description')
                  .col-xs-8.col-md-12
                    %a.editable{ href: '#',
                       id: 'description', 'data-type' => 'textarea', 'data-pk' => "#{code_info.id}",
                       'data-url' => "#{municipal_update_code_info_path(code_info.id)}",
                       'data-emptytext' => t('repairing.layers.edit.title'), 'data-showbuttons' => 'bottom' }
                      = code_info.description
              -#.col-sm-12.col-md-1.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('actions')
                  .col-xs-8.col-md-12
                    = link_to edit_municipal_enterprise_path(@code_info), title: t('form.edit') do
                      %i.fa.fa-pencil.fa.fa-border
                    = link_to @code_info, method: :delete, title: t('form.destroy'), data: { confirm: t('helpers.links.confirm') } do
                      %i.fa.fa-close.fa.fa-border
:javascript

  $(document).ready(function(){
    $('#search-results .editable').editable({
      success: function(response,newValue){
        show_bootstrap_flash(response.message,response.class_name);
      }
    });
  })