= bootstrap_form_for @calendar_action, :html => { :class => 'form-vertical' } do |f|
  = f.hidden_field :holder
  -#= f.collection_radio_buttons :holder, [[1, ' Місто'], [2, ' Громада']], :first, :last, label: t('.holder')
  -#= render :partial => 'events/eventowner_select', :locals => { :holder => @calendar_action.holder, :f => f }

  = f.text_field :title, label: t('.title')

  .row
    .col-xs-12
      .pull-left
        = f.static_control label: t('.icon') do
          = f.select_without_bootstrap :icon, options_for_select(fa_icon_list, @calendar_action.icon), {}, { class: 'fa-select' }
      .pull-left
        = f.static_control label: t('.text_color') do
          = f.select_without_bootstrap :text_color, options_for_select(text_colors_list, @calendar_action.text_color), {}, { class: 'color-select' }
      .pull-left
        = f.static_control label: t('.color') do
          = f.select_without_bootstrap :color, options_for_select(get_bg_colors_list(@calendar_action.holder), @calendar_action.color), {}, { class: 'color-select' }
      -#.col-xs-2
      -#  = f.color_field :color, label: t('.color')
      -#.col-xs-2
      -#  = f.color_field :bg_color, label: t('.bg_color')
      -#


  = f.text_area :description, :rows => "15", label: t('.description')


  = f.submit t('form.save', :default => t("helpers.links.save")), :class => 'btn btn-primary'
  = link_to t('form.cancel', :default => t("helpers.links.cancel")), calendar_actions_path, :class => 'btn btn-default'

:javascript

  $(document).ready(function() {
    formatFaSelect = function(el) {
      return '<i class=\'fa ' + el.id + '\'/> ' + el.id;
    };
    formatColorSelect = function(el) {
      return '<div style=\'width: 100%; height: 43px; background-color: ' + el.id + '\'/>';
    };
    $('.fa-select').select2({
      allowClear: true,
      formatResult: formatFaSelect,
      formatSelection: formatFaSelect,
      escapeMarkup: function(m) {
        return m;
      }
    });
    $('.color-select').select2({
      allowClear: true,
      formatResult: formatColorSelect,
      formatSelection: formatColorSelect,
      escapeMarkup: function(m) {
        return m;
      }
    });
  });
