- model_class = CalendarAction
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:icon)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:color)
      %th= model_class.human_attribute_name(:holder)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @calendar_actions.each do |calendar_action|
      %tr
        %td= link_to calendar_action.id, calendar_action_path(calendar_action)
        %td= calendar_action.title
        %td
          %span.fa{class: calendar_action.icon}
        %td= calendar_action.description.html_safe
        %td{style: "width: 50px; height: 50px; border: solid; background-color: #{calendar_action.color}" }
        %td= calendar_action.holder
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_calendar_action_path(calendar_action), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), calendar_action_path(calendar_action), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_calendar_action_path, :class => 'btn btn-primary'
