- model_class = CalendarAction
= content_for :header do
  .head.pull-left
    =t '.title'

= render partial: 'action', :locals => { calendar_action: @calendar_action }

= link_to t('form.back', :default => t("helpers.links.back")), calendar_actions_path, :class => 'btn btn-default'
= link_to t('form.edit', :default => t("helpers.links.edit")), edit_calendar_action_path(@calendar_action), :class => 'btn btn-default'
= link_to t('form.destroy', :default => t("helpers.links.destroy")), calendar_action_path(@calendar_action), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
