:scss
  .partners-form{
    padding: 0px;
    form{
      margin: 15px 0;
      .form-actions{
        margin-top: 15px;
      }
      .radio label, .checkbox label{
        font-weight: bold;
      }
    }
  }

= simple_form_for(@modules_partner) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :order_logo, collection: 1..20, prompt: "Select order logo"
    = f.input :logo, as: :file, label: "Logo", :input_html => { :class => 'form-control', accept: 'image/*' }

    -#= f.label :publish_on, 'Публікувати?', :class => 'col-sm-2 control-label'
    -#= f.check_box :publish_on,  :class => 'form-control input-responsive'
    = f.input :publish_on, as: :boolean, label: 'Публікувати?'
    -#.form-group
    -#  = f.input :publish_on, as: :boolean, label: false, :input_html => { :class => 'col-sm-2 publish_on form-control' }

  .form-actions
    = f.button :button, class: 'btn-primary'

