:scss
  // init colors
  $lightgrey: lightgrey;
  $green: #2CC185;
  $coral: coral;

  .category {
    border-bottom: 1px solid $lightgrey;
    .partner {
      .data-actions {
        .row {
          .info-show-logo {
            .fa-eye {
              color: $green;
            }
            .fa-eye-slash {
              color: $coral;
            }
          }
        }
      }
    }
  }

- @modules_partners.group_by(&:category).each do |category, partners|
  .category
    %h3
      ="#{'Cторінка: '}" + category
    - partners.each_with_index do |partner, i|
      .partner{'data-id' => partner.id}
        .data-actions
          .row
            .col-xs-2.info-show-logo
              -if partner.publish_on
                %i.fa.fa-eye.fa-2x
              -else
                %i.fa.fa-eye-slash.fa-2x
            .col-xs-10.logo-actions
              = link_to modules_change_partner_order_path(partner_down: partner.id, partner_up: get_partner_id(@modules_partners, i, 'left')), title: t('modules.drag.drag_left'), method: :post, remote: true do
                %i.fa.fa-long-arrow-left.fa-2x.change-order
              = link_to modules_change_partner_order_path(partner_up: partner.id, partner_down: get_partner_id(@modules_partners, i, 'right')), title: t('modules.drag.drag_right'), method: :post, remote: true do
                %i.fa.fa-long-arrow-right.fa-2x.change-order
              = link_to edit_modules_partner_path(partner), title: t('edit') do
                %i.fa.fa-pencil.fa-2x
              = link_to partner, :method => :delete, title: t('destroy'), :data => { :confirm => t('helpers.links.confirm') } do
                %i.fa.fa-trash-o.fa-2x
        .logo
          =image_tag partner.logo, class: 'logo-partner img-responsive'
        .data-actions
          %p
            = partner.name