:css
  #indicators {
    max-width: 100%;
    overflow: auto;
  }
  #indicators .editable-buttons {
    margin-left: 5px;
    display: inline;
  }

.col-sm-12#indicators
  %table.table.table-striped
    %thead
      %tr
        %th
          Місто/Область
        - @indicators.each do |key, value|
          %th
            - if value['error']
              %a{ href: '#', 'data-resource' => 'key_indicate_map_indicator_file', id: 'indicator_key', 'data-type' => 'select2', 'data-pk' => "#{@key_indicate_map_indicator_file.key_indicate_map_indicators}", 'data-url' => '/key_indicate_map/indicator_files/update_key/' + @key_indicate_map_indicator_file.id + '/' + {"indicator_key" => key}.to_param, 'data-emptytext' => 'Вкажіть показник...' }
                = key
            - else
              = key
    %tbody
      - @towns.each do |town, val|
        %tr
          %td
            - if val['error']
              %a{ href: '#', 'data-resource' => 'key_indicate_map_indicator_file', id: 'town', 'data-type' => 'select2', 'data-pk' => "#{@key_indicate_map_indicator_file.key_indicate_map_indicators}", 'data-url' => '/key_indicate_map/indicator_files/update_town/' + @key_indicate_map_indicator_file.id + '/' + town, 'data-emptytext' => 'Вкажіть місто...' }
                = town
            - else
              = town
          - @indicators.each do |key, value|
            %td
              = val['values'][key]
  %br

:javascript

  $(document).ready(function(){

    $('#indicators').css('height',$(window).height()*0.8 + 'px');

    $('#indicators #town').editable({
      source: '#{search_town_path}',
      mode:'inline',
      select2: {
        width: '200px',
        minimumInputLength: 2,
        allowClear: true
      }
    });

    $('#indicators #indicator_key').editable({
      source: '#{search_indicator_key_path}',
      mode:'inline',
      select2: {
        width: '200px',
        minimumInputLength: 2,
        allowClear: true
      }
    });

  })