-#Static page for export budget template
-# all style inline, because this style need when we render pdf
-# Created by Quicks 24.06.2016
-page_heigth = '1135px'
-page_width = '794px'
-header_style = "min-height: 100px; line-height: 100px; background: blue;color: white;font-size: 35px; vertical-align: middle; text-align: center;"
-#%div{:style => "height:#{page_heigth};width:#{page_width};text-overflow:elepsis;overflow: hidden;"}
-#  %p
-#    .header_title{:style => header_style,"header_number" => 0}
-#      Що таке громадський бюджет?
-#  %p{:style => 'font-size: 22px;'}
-#    Громадський бюджет – це зрозуміла форма презентації основних бюджетних документів та результатів їх впровадження. Він
-#    покликаний в доступній формі та доступною мовою дати громадянам розуміння ключових аспектів формування,
-#    результатів виконання та контролю за виконанням міського бюджету.
-#    Громадський бюджет надає короткий екскурс до ключових документів
-#    міста та головних результатів його функціонування з точки зору
-#    корисності їх для пересічного громадянина.
-#    Показники функціонування міста не обов’язково є безпосереднім результатом діяль-
-#    ності міськради чи її виконавчих органів, проте істотно впливають на життя громадян.
-#    Громадський бюджет сприяє підвищенню прозорості та
-#    доступності основної бюджетної інформації, результатів діяльності
-#    органів влади на місцях, коли будь-якому користувачеві стає зрозуміло,
-#    яким чином міська влада здійснює акумулювання, розподіл і використання коштів міського бюджету.
-#    Для зручності користування громадський бюджет містить
-#    гіперпосилання на ключові документи для детального
-#    дослідження бюджету міста та департаменти і управління міської
-#    ради які відають основними галузями на які спрямовані кошти
-#    міськради. Ми переконані, що платники податків повинні знати,
-#    яким чином використовуються їхні кошти, та знати про свої
-#    можливості впливати на цей процес їх використання.
-#    Тому складовою частиною громадського бюджету є бюджетний календар
-#    з зазначенням інструментів участі громадськості в бюджетному
-#    процесі міста.
-#%div{:style => "min-height:#{page_heigth};width:#{page_width}"}
-#  %p
-#    .header_title{:style => header_style,"header_number" => 1}
-#      Бюджет міста: просто про складне
-#  %p{:style => 'font-size: 22px;'}
-#    Бюджет відображає план
-#    отримання доходів та їх використання для досягнення поставлених цілей.
-#    За принципом бюджетої рівноваги доходи та
-#    видатки бюджету повинні бути збалансованими.
-#    Фінуправління можуть формувати бюджетну інформацію в
-#    різних розрізах в залежності від
-#    потреби користувачів інформації.
-#    Найчастіше інформацію про
-#    видатки відображають за функціями які покладені на міську владу:
-#  %p
-#    .visual_place.disabled{"data-number" => "1", :style => "background:#C0C0C0;width:100%; color:white;font-size:16px;text-align:center;"}
-#      Місце для вставки візуалізації
-#      %br
-#        Натисніть на цей блок і виберіть візуалізацію
-#  %p{:style => 'font-size: 22px;'}
-#    Дізнатися звідки беруться гроші в бюджеті міста та куди вони витрачаються Ви можете на наступній сторінці.
-#%div{:style => "min-height:#{page_heigth};width:#{page_width}"}
-#  %p
-#    .header_title{:style => header_style,"header_number" => 2}
-#      Куди йдуть мої гроші?
-#  %p{:style => 'font-size: 22px;'}
-#    Перегляд кошторису
-#  %p
-#    .visual_place.disabled{"data-number" => "2", :style => "background:#C0C0C0;width:100%; color:white;font-size:16px;text-align:center;"}
-#      Місце для вставки візуалізації
-#      %br
-#        Натисніть на цей блок і виберіть візуалізацію
-#    %br

-#%div{:style => "min-height:#{page_heigth};width:#{page_width}"}
-#  %p
-#    .header_title{:style => header_style,"header_number" => 3}
-#      Скільки витрачають на мене?
-#  %p{:style => 'font-size: 22px;'}
-#    Знайдіть послугу, якою користуєтесь, і перегляньте скільки коштів з міського бюджету було витрачено у 2015 році в середньому
-#    на одного отримувача
-#%div{:style => "min-height:#{page_heigth};width:#{page_width}"}
-#  %p
-#    .header_title{:style => header_style,"header_number" => 4}
-#      Показники діяльності міста
-#  %p
-#    %div{:style => 'font-size:26px;text-align:center;color:#216BA1;'}
-#      та їх динаміка у 2012, 2013 та 2014 роках
-#  %p{:style => 'font-size: 22px;'}
-#    Тут зібрані ключові показники діяльності міста
-#  %p
-#    .visual_place.disabled{"data-number" => "3", :style => "background:#C0C0C0;width:100%; color:white;font-size:16px;text-align:center;"}
-#      Місце для вставки візуалізації
-#      %br
-#        Натисніть на цей блок і виберіть візуалізацію
-#    %br

-#%div{:style => "min-height:#{page_heigth};width:#{page_width}"}
-#  %p
-#    .header_title{:style => header_style,"header_number" => 5}
-#      Як впливати на бюджет міста?
-#  %p
-#    %div{:style => 'font-size:26px;text-align:center;color:#216BA1;'}
-#      Календар громадської участі у бюджетному процесі
-#  %p
-#    .visual_place.disabled{"data-number" => "4", :style => "background:#C0C0C0;width:100%; color:white;font-size:16px;text-align:center;"}
-#      Місце для вставки візуалізації
-#      %br
-#        Натисніть на цей блок і виберіть візуалізацію
-#    %br
