:css
  .documentation {
    min-height: 400px;
    padding-top: 15px;
  }

  .documentation .documents {
    /*max-height: 400px;*/
    overflow: visible;
  }

= content_for :header do
  .head.pull-left
    = t('key_indicate.indicator_files.new.header')

.documentation
  .col-sm-8
    .panel.panel-default
      .panel-heading
        = t('form.new_document')
      .new_document.panel-body
        = render :partial => 'new_indicator_file', :locals => { :new_file => KeyIndicate::IndicatorFile.new }

    .panel.panel-default
      .panel-heading
        = t('form.uploaded_documents')
      .documents.panel-body
        = render :partial => 'indicator_files', :locals => { :town => @town, :files => @town.key_indicate_indicator_files }

:javascript

  $(document).ready(function() {

    if(!"#{current_user.town}") {
      $('.can_be_disable').attr('disabled', 'disabled');
    }
    if(parseInt("#{@town.key_indicate_indicator_files.length}") <= 0) {
      $(".btn-show-table").attr('disabled', 'disabled');
    }

    $("#select_indicate_town").on("change", function() {
      town = $(this).val();

      if(town) {
        $('.can_be_disable').removeAttr('disabled');
        $.ajax({
          url: "/key_indicate/towns/get_files/" + town,
          type: "GET",
          dataType: "html",
          success: function(data) {
            $('.documents').html(data);
            if(!$('.documents .document').html()) {
              $(".btn-show-table").attr('disabled', 'disabled');
            } else {
              $(".btn-show-table").removeAttr('disabled');
            }
          }
        })
      } else {
        $('.can_be_disable').attr('disabled', 'disabled');
        $('.documents').html('');
      }

    })
  })
