%table.table
  %thead
    %tr
      %th
      - towns.each do |town|
        %th
          = town
  %tbody
    - indicators.sort_by{|k,v| v['indicator']}.each do |key, value|
      %tr
        %td.indicator_name
          = value['indicator']
          = value['unit'] ? ', ' + value['unit'] : ''
        - towns.each do |town|
          %td{:class => 'indicator_value_' + key }
            - if value['indicator_files'] && value['indicator_files'][town]
              = render partial: 'indicator_icons', locals: {indicator: value, town: town, key: key}
            - else
              %i{:class => 'fa fa-2x fa-ban', :style => 'color: lightgray;'}
              %span{:style => 'color: lightgray; font-size: 1.1em'}
                = t('key_indicate.towns.index.no_data')

