<%= content_for :header do %>
    <div class="head"><h2><%= t('form.edit')%> <%= resource_name.to_s.humanize %></h2>
    </div>
<% end %>
<div class="width-container clearfix">
  <div class="onecolumn_container clearfix">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'edit_user' }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.text_field :name, autofocus: true %>
        <div class="row">
          <div class="col-md-6">
            <%= f.email_field :email %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :phone %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="form-group"><%= t('devise.registrations.waiting_confirmation') %> <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :organisation %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :town, :readonly => true, help: t('ask_admin') %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.password_field :current_password, autocomplete: "off", label: t('devise.passwords.current_password'), help: t('devise.passwords.need_password')  %>
          </div>
          <div class="col-md-4">
            <%= f.password_field :password, autocomplete: "off", label: t('devise.passwords.password'), help: t('devise.passwords.ask_new_password')%>
          </div>
          <div class="col-md-4">
            <%= f.password_field :password_confirmation, autocomplete: "off", label:  t('devise.passwords.password_confirmation') %>
          </div>
        </div>
        <%= f.submit t('devise.passwords.update'), :class => 'btn btn-primary' %>
        <%= link_to t('devise.back'), :back, :class => 'btn btn-default' %>
        <%= link_to t('devise.registrations.cancel_my_account'), registration_path(resource_name),
                      data: { confirm: t('devise.confirm') }, method: :delete, :class => 'btn btn-primary' %>

    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
//    init_town_select2("<%= search_for_towns_town_path %>");
  });

</script>