<h2><%= t('form.edit')%> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="col-sm-4">
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('devise.registrations.waiting_confirmation') %> <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><%= f.label t('devise.passwords.password') %> <i>(<%= t('devise.passwords.ask_new_password') %>)</i><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div><%= f.label t('devise.passwords.password_confirmation') %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <div><%= f.label t('devise.passwords.current_password') %> <i>(<%= t('devise.passwords.need_password') %>)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %></div>

      <div><%= f.submit t('devise.passwords.update') %></div>
    </div>

    <div class="col-sm-4">
        <div>
          <%= f.label :town %> <%= f.text_field :town, :readonly => true %> <i>(<%= t('ask_admin') %>)</i>
          <br />

        </div>
    </div>

<% end %>

<div class="col-sm-4">
    <div><%= t('devise.passwords.destroy_user') %></div>

    <%= button_to t('devise.registrations.cancel_my_account'), registration_path(resource_name), data: { confirm: t('devise.confirm') }, method: :delete %>
</div>

<%= link_to t('devise.back'), :back %>
