<%= content_for :header do %>
    <div class="head"><h2><%= t('devise.sessions.sign_up') %></h2>
    </div>
<% end %>
<div class="width-container clearfix">
  <div class="onecolumn_container clearfix">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class=>'edit_user new_user'}) do |f| %>
        <%= devise_error_messages! %>
        <p>
          УВАГА: Створений обліковий запис дозволяє тільки перегляд інформації.
          <br/>
          Для отримання повного доступу, обліковий запис має бути активований, для цього зверніться до адміністратора системи
        </p>
        <hr/>
        <%= f.text_field :name, autofocus: true %>
        <div class="row">
          <div class="col-md-6">
            <%= f.email_field :email %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :phone %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :organisation %>
          </div>
          <div class="col-md-6">
            <%= f.select :town, options_for_select( [nil] + t('budget_files.form.cities').split('|')), class: 'select-town form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.password_field :password, autocomplete: "off", label: t('devise.passwords.password') %>
          </div>
          <div class="col-md-6">
            <%= f.password_field :password_confirmation, autocomplete: "off", label:  t('devise.passwords.password_confirmation') %>
          </div>
        </div>
        <%= f.submit t('devise.sessions.sign_up'), :class => 'btn btn-primary' %>
        <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>