<h2><%= t('devise.sessions.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label t('devise.passwords.password') %><br />
    <%= f.password_field t('devise.passwords.password'), autocomplete: "off" %></div>

  <div><%= f.label t('devise.passwords.password_confirmation') %><br />
    <%= f.password_field t('devise.passwords.password_confirmation'), autocomplete: "off" %></div>

  <div><%= f.submit t('devise.sessions.sign_up') %></div>
<% end %>

<%= render "devise/shared/links" %>
