= content_for :header do
  .head.pull-left
    = t('key_indicate_map.indicators.index.header')

.content
  = render partial: 'indicators_select'


  #indicators_list.col-md-12.col-lg-3
    = render partial: 'indicators_list'
  .col-md-12.col-lg-9
    = render partial: 'map_ukraine'
  .col-md-12.col-lg-12
    = render partial: 'towns_comparison'