= form_for @document_category do |f|
  - if @document_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document_category.errors.count, "error")} prohibited this document_category from being saved:"
      %ul
        - @document_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :preview_ico
    = f.text_field :preview_ico
  .actions
    = f.submit 'Save'
