%h1 Listing document_categories

%table
  %tr
    %th Title
    %th Preview ico
    %th
    %th
    %th

  - @document_categories.each do |document_category|
    %tr
      %td= document_category.title
      %td= document_category.preview_ico
      %td= link_to 'Show', document_category
      %td= link_to 'Edit', edit_document_category_path(document_category)
      %td= link_to 'Destroy', document_category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Category', new_document_category_path
