%p#notice= notice

%p
  %b Title:
  = @document_category.title
%p
  %b Preview ico:
  = @document_category.preview_ico

= link_to 'Edit', edit_document_category_path(@document_category)
\|
= link_to 'Back', document_categories_path
