= simple_form_for(@municipal_enterprise_file) do |f|
  = f.error_notification

  .form-inputs
    - if current_user && current_user.region_admin?
      .form-group
        = render 'select_town'
    .select-enterprises
      = render partial: 'select_enterprises'
    #sections
      .section
        %fieldset
          = f.input :file_type, label: 'Тип файлу',
                    collection: @type_files.map {|type| [ type[:title], type[:id] ] },
                    input_html: { name: 'municipal_enterprise_file[form][][file_type]' },
                    prompt: false
          = f.input :year, label: 'Рік',
                    collection: select_years(10),
                    input_html: { name: 'municipal_enterprise_file[form][][year]' },
                    prompt: false
          = f.input :file, label: 'Вибір файлу', class: 'form-control', input_html: { name: 'municipal_enterprise_file[form][][file]' }
          %p
            %a.btn.btn-danger.remove#clickMinus{:href => "#"}= t('delete_form')
    %p
      %a.btn.btn-info.addsection#clickPlus{:href => "#"} Залишилось форм( 5 )
  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-success'
    = link_to t('back'), municipal_enterprise_files_path, class: 'btn btn-info'

:javascript
  //clone
  //define template
  const formLimit = 6;
  var template = $('#sections .section:first').clone();
  var sectionsCount = 1;

  var myBtn = document.getElementById('clickPlus');
  //add new section
  $('body').on('click', '.addsection', function() {

      //increment
    if(sectionsCount < formLimit){
      sectionsCount++;
      var count = formLimit - sectionsCount;

        //loop through each input
      var section = template.clone().find(':input').each(function(){

        myBtn.innerHTML = 'Залишилось форм( ' + count + ' )';

          //set id to store the updated section number
        var newId = this.id + sectionsCount;

          //update for label
        $(this).prev().attr('for', newId);

          //update id
        this.id = newId;
      }).end()

        //inject new section
      .appendTo('#sections');
    }
    return false;
  });

  //remove section
  $('#sections').on('click', '.remove', function() {
      //fade out section
    if(sectionsCount > 0){
      sectionsCount--;
      $(this).parent().fadeOut(300, function(){
            //remove parent element (main section)
        var count = formLimit - sectionsCount;
        myBtn.innerHTML = 'Залишилось форм( ' + count + ' )';

        $(this).parent().parent().empty();
        return false;
      });
    }
    return false;
  });
