= simple_form_for(@municipal_enterprise_file) do |f|
  = f.error_notification

  .form-inputs
    = f.input :enterprise, label: 'Підприємство',
              collection: @enterprises.map {|ent| [ ent.title, ent.id ] },
              prompt: false
    = f.input :file_type, label: 'Тип файлу',
              collection: @type_files.map {|type| [ type[:title], type[:id] ] },
              prompt: false
    = f.input :year, label: 'Рік',
              collection: years_array(2015),
              prompt: false
    = f.input :file, label: 'Вибір файлу', class: 'form-control'

  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-success'
    = link_to t('back'), municipal_enterprise_files_path, class: 'btn btn-info'