%label.control-label
  = t('owner')
= text_field_tag :town, '', { class: 'town_select form-control', required: true }

:javascript

  $(document).ready(function() {
    var town_select = $(".town_select");

    town_select.select2({
      placeholder: "Вкажіть місто",
      allowClear: false,
      minimumInputLength: 2,
      width: '100%',
      ajax: {
        url: '#{search_town_path}',
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
          return {
            query: term, // search term
          };
        },
        results: function (data, page) {
          return { results: data };
        },
        cache: true
      },
    }).on("change", function(){
      town = $(this).val();
      $.ajax({
        url: "#{municipal_select_enterprises_by_town_path}" ,
        type: "GET",
        dataType: "script",
        data:{ town_id: town },
        success: function(data) {
        }
      })
    })

    town_select.select2("data", {id: "#{current_user.town_model.id}", text: "#{current_user.town_model.title}" });

  })