:scss

  .enterprises{
    .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .table-title{
      font-weight: bold;
      border-bottom: solid lightgrey 2px;
      //padding: 5px 0;
    }
    #search_results{
      .table-body{
        margin-top: 5px;
      }
    }
  }

.enterprises.col-md-12
  .header
    %h2 Файли комунальних підприємств
    .new-btn
      %h2
        = link_to t('form.new'), new_municipal_enterprise_file_path, class: 'btn btn-info'
  .documents_search.clearfix
    = render partial: 'search'

  .table-title.visible-md.visible-lg
    .row
      .col-sm-3
        = 'Комунальне підприємство'
      .col-sm-2
        = 'Звітність'
      .col-sm-1
        = t('year')
      .col-sm-3
        = t('title')
      .col-sm-2
        = t('author')
      .col-sm-1
        = t('actions')
  #search_results
    = render partial: 'search_results', locals: { enterprise_files: @municipal_enterprise_files }
