:scss

  .enterprises{
    margin-top: 5px;
    .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .table-title{
      padding: 15px 0;
      font-weight: bold;
      border-bottom: solid lightgrey 2px;
      //padding: 5px 0;
    }
    .documents_search{
      display: flex;
      padding-top: 10px;
      .enterprise_select{

        .form-control{
          border-radius: 0;
          border: none;
          .select2-choice{
            height: 100%;
            border-radius: 0;
            &>.select2-chosen {
              margin-right: 10px;
              line-height: 32px;
            }
            .select2-arrow {
              display: none;
            }
            abbr{
              right: 5px;
            }
          }
        }
      }
    }
    #search-results{
      .table-body{
        margin-top: 5px;
        .town,
        .file-type,
        .title-file,
        .email{
          overflow: hidden;
          white-space: nowrap;
          word-wrap: normal; /* for IE */
          text-overflow: ellipsis;
          &:hover{
            overflow: visible;
            white-space: normal;
            word-wrap: break-word;
            font-size: smaller;
          }
        }
      }
      .action-btns{
        text-align: right;
        white-space: nowrap;
      }
    }
  }

.enterprises.col-md-12
  - unless controller_name == 'public_enterprises'
    .header
      %h2
        = t('enterprise_files.utilities_files')
      .new-btn
        %h2
          = link_to t('form.new'), new_municipal_enterprise_file_path, class: 'btn btn-info'
    .documents_search.clearfix
      = render partial: 'municipal/enterprise_files/search'

  .table-title.visible-md.visible-lg
    .row
      - if controller_name != 'public_enterprises'
        = render partial: 'municipal/enterprise_files/not_public_enterprise/not_public_enterprise'
      - else
        = render partial: 'municipal/enterprise_files/public_enterprise/public_enterprise'
  #search-results
    - if controller_name != 'public_enterprises'
      = render partial: 'municipal/enterprise_files/not_public_enterprise/search_result', locals: { enterprise_files: @municipal_enterprise_files }
    - else
      = render partial: 'municipal/enterprise_files/public_enterprise/search_result', locals: { enterprise_files: @municipal_enterprise_files }



  .paginator
    = paginate @municipal_enterprise_files
