:scss

  .enterprises{
    .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .table-title{
      padding: 5px 0;
      font-weight: bold;
      border-bottom: solid lightgrey 2px;
      //padding: 5px 0;
    }
    #search-results{
      .table-body{
        margin-top: 5px;
      }
    }
  }

.enterprises.col-md-12
  .header
    %h2
      = t('enterprise_files.utilities_files')
    .new-btn
      %h2
        = link_to t('form.new'), new_municipal_enterprise_file_path, class: 'btn btn-info'
  -#.documents_search.clearfix
    = render partial: 'search'

  .table-title.visible-md.visible-lg
    .row
      .col-sm-3
        = sortable 'enterprise_id', t('enterprise_files.municipal_enterprise')
      .col-sm-2
        = sortable 'file_type', t('enterprise_files.accounting')
      .col-sm-1
        = sortable 'year', t('year')
      .col-sm-3
        = sortable 'file', t('title')
      .col-sm-2
        = sortable 'owner_id', t('author')
      .col-sm-1
        = t('actions')
  #search-results
    = render partial: 'search_results', locals: { enterprise_files: @municipal_enterprise_files }

  .paginator
    = paginate @municipal_enterprise_files