:scss

  .enterprises{
    .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .table-title{
      font-weight: bold;
      border-bottom: solid lightgrey 2px;
      //padding: 5px 0;
    }
    #search_results{
      .table-body{
        margin-top: 5px;
      }
    }
  }

-#.container

.enterprises.col-md-12
  .header
    %h2 Файли комунальних підприємств
    .new-btn
      %h2
        = link_to t('form.new'), new_municipal_enterprise_file_path, :class => 'btn btn-info'

  .table-title.visible-md.visible-lg
    .row
      .col-sm-3
        = 'Комунальне підприємство'
      .col-sm-2
        = 'Звітність'
      .col-sm-1
        = t('year')
      .col-sm-3
        = t('title')
      .col-sm-2
        = t('author')
      .col-sm-1
        = t('actions')
  #search_results
    - if @municipal_enterprise_files
      - @municipal_enterprise_files.each do |file|
        .table-body{ 'data-id' => file.id }
          .row
            .col-sm-12.col-md-3.reset-padding
              .row
                .col-xs-4.visible-sm.visible-xs
                  = t('modules.classifier.by_type.edrpou')
                .col-xs-8.col-md-12
                  = file.enterprise.title
            .col-sm-12.col-md-2.reset-padding
              .row
                .col-xs-4.visible-sm.visible-xs
                  = 'Звітність'
                .col-xs-8.col-md-12
                  = t('enterprise_files.type_files.form_' + file.file_type)
                  -#= file.file_type
            .col-sm-12.col-md-1.reset-padding
              .row
                .col-xs-4.visible-sm.visible-xs
                  = t('year')
                .col-xs-8.col-md-12
                  = file.year
            .col-sm-12.col-md-3.reset-padding
              .row
                .col-xs-4.visible-sm.visible-xs
                  = t('title')
                .col-xs-8.col-md-12
                  = file.file_identifier
            .col-sm-12.col-md-2.reset-padding
              .row
                .col-xs-4.visible-sm.visible-xs
                  = t('owner')
                .col-xs-8.col-md-12
                  = file.owner


            .col-sm-12.col-md-1.reset-padding
              = link_to file.file.url, title: 'Завантажити' do
                %i.fa.fa-download.fa.fa-border
              = link_to municipal_show_code_values_path(file), target: '_blank', title: 'Переглянути дані' do
                %i.fa.fa-table.fa.fa-border
              = link_to file, method: :delete, title: 'Видалити', :data => { :confirm => 'Are you sure?' } do
                %i.fa.fa-close.fa.fa-border
