:scss

  .enterprises{
    margin-top: 5px;
    .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .table-title{
      padding: 15px 0;
      font-weight: bold;
      border-bottom: solid lightgrey 2px;
      //padding: 5px 0;
    }
    .documents_search{
      display: flex;
      padding-top: 10px;
      .enterprise_select{

        .form-control{
          border-radius: 0;
          border: none;
          .select2-choice{
            height: 100%;
            border-radius: 0;
            &>.select2-chosen {
              margin-right: 10px;
              line-height: 32px;
            }
            .select2-arrow {
              display: none;
            }
            abbr{
              right: 5px;
            }
          }
        }
      }
    }
    #search-results{
      .table-body{
        margin-top: 5px;
        .town,
        .file-type,
        .title-file,
        .email{
          overflow: hidden;
          white-space: nowrap;
          word-wrap: normal; /* for IE */
          text-overflow: ellipsis;
          &:hover{
            overflow: visible;
            white-space: normal;
            word-wrap: break-word;
            font-size: smaller;
          }
        }
      }
      .action-btns{
        text-align: right;
        white-space: nowrap;
      }
    }
  }

.enterprises.col-md-12
  - unless controller_name == 'public_enterprises'
    .header
      %h2
        = t('enterprise_files.utilities_files')
      .new-btn
        %h2
          = link_to t('form.new'), new_municipal_enterprise_file_path, class: 'btn btn-info'
  - unless controller_name == 'public_enterprises'
    .documents_search.clearfix
      = render partial: 'municipal/enterprise_files/search'

  .table-title.visible-md.visible-lg
    .row
      .col-sm-3
        = sortable 'enterprise_id', t('enterprise_files.municipal_enterprise')
      .col-sm-1
        = t('owner')
      .col-sm-1
        = sortable 'file_type', t('enterprise_files.accounting')
      .col-sm-1
        = sortable 'year', t('lower_year')
      .col-sm-3
        = sortable 'file', t('file')
      .col-sm-2
        = sortable 'owner_id', t('author')
      - unless controller_name == 'public_enterprises'
        .col-sm-1
          = t('actions')
  #search-results
    = render partial: 'municipal/enterprise_files/search_results', locals: { enterprise_files: @municipal_enterprise_files }

  .paginator
    = paginate @municipal_enterprise_files
