%h3
  = @municipal_enterprise_file.enterprise.title
%p
  = @municipal_enterprise_file.file_identifier
  = @municipal_enterprise_file.year


%table.table.table-stripped
  %tr
    %th
      = t('enterprise_files.code_title')
    %th
      = t('guide_filters.line_code')
    %th
      = t('enterprise_files.code_value')

  - @code_values.each do |code_value|
    %tr
      %td= code_value.title
      %td= code_value.code
      %td= code_value.value
