%h3
  = @municipal_enterprise_file.enterprise.title
%p
  = @municipal_enterprise_file.file_identifier
  = @municipal_enterprise_file.year


%table.table.table-stripped
  %tr
    %th Назва рядка
    %th Код рядка
    %th Значення рядка

  - @code_values.each do |code_value|
    %tr
      %td= code_value.title
      %td= code_value.code
      %td= code_value.value
