-if @edr_data.nil?
  = render partial: 'no_data_yet'
-else
  .row
    .col-xs-4.title-key
      %i.fa.fa-map-marker
      = "#{ t('.title') } :"
    .col-xs-8.value
      = @edr_data['officialName']
  .row
    .col-xs-4.title-key
      %i.fa.fa-map-marker
      = "#{ t('.address') } :"
    .col-xs-8.value
      = @edr_data['address']
  .row
    .col-xs-4.title-key
      %i.fa.fa-map-marker
      = "#{ t('.main_person') } :"
    .col-xs-8.value
      = @edr_data['mainPerson']
  .row
    .col-xs-4.title-key
      %i.fa.fa-map-marker
      = "#{ t('.occupation') } :"
    .col-xs-8.value
      = @edr_data['occupation']
  .row
    .col-xs-4.title-key
      %i.fa.fa-map-marker
      = "#{ t('.status') } :"
    .col-xs-8.value
      = @edr_data['status']

:javascript
  $("#spinner-container").hide();