= form_for @key_indicate_map_indicator_key do |f|
  - if @key_indicate_map_indicator_key.errors.any?
    #error_explanation
      %h2= "#{pluralize(@key_indicate_map_indicator_key.errors.count, "error")} prohibited this key_indicate_map_indicator_key from being saved:"
      %ul
        - @key_indicate_map_indicator_key.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
