:scss
  //init colors
  $dark-blue: #0c2231;
  $white: #ffffff;
  $no-color: transparent;

  .row {
    .town-select {
      padding-right: 0;
      .select2-container {
        border-color: $no-color;
        .select2-choices {
          border-color: $dark-blue;
          padding-right: 32px;
          margin-right: -2px;
          &:before {
            content: '\f067';
            font-family: FontAwesome;
            position: absolute;
            right: 0;
            cursor: pointer;
            font-size: 20px;
            color: #ACA99F;
            width: 33px;
            height: 33px;
            background: $dark-blue;
            color: $white;
            padding: 3px 0 2px 9px;
          }
          .select2-search-choice {
            padding: 6px 18px 6px 3px;
            margin: 3px 0 3px 3px;
            .select2-search-choice-close {
              right: 3px;
              left: inherit;
            }
          }
        }
      }
    }
    .filters {
      padding-right: 0;
    }
  }
  .select2-drop-multi {
    border-color: $dark-blue;
    margin-left: 1px;
    .select2-results {
      padding: 0;
      margin: 4px 0;
    }
  }
  .pull-left {
    margin: 0 20px 0 0px;
  }

:javascript
  var aCompareTaxonomies = {
    selected_amountype: 'plan',
    selected_level: '',
    selected_year: "#{@current_year}",
    selected_taxonomies: [],
    color: [
    {fact: '#0d3c55', plan: '#0f5b78'},
    {fact: '#a2b86c', plan: '#b6d370'},
    {fact: '#dc8aa8', plan: '#d9aebe'}
    ],
    taxonomies: {},
    taxonomies_cache: {}
  }

%h1
  = t('.title')

.row
  .col-xs-12.col-sm-5.town-select
    = render :partial => 'select_taxonomy', :locals => { taxonomies: @taxonomies }
  .col-xs-12.col-sm-7.filters
    .col-xs-4.col-sm-2
      = render :partial => 'select_year', :locals => { years: @years }
      -#= render :partial => 'select_amountype'
    .col-xs-4.col-sm-5
      = render :partial => 'select_level'
    .col-xs-4.col-sm-5
      = render :partial => 'select_divider', :locals => { amounts: @amounts }

.row
  = render :partial => 'path'

.row
  = render :partial => 'chart'


:javascript

  aCompareTaxonomies.create_chart = function (){
    var store = this.taxonomies_cache
    var selected_level = this.selected_level

    aCompareTaxonomiesChart.clear_chart()

    aCompareTaxonomiesPath.draw_path()

    // load data to be compared
    this.selected_taxonomies.forEach(function(taxonomy, i) {
      if (store[taxonomy]) return true;

      var url = '/widgets/visify/get_bubbletree_data/' + taxonomy + '/' + selected_level;
      $.ajax({
        url: url,
        async: false
      }).done(function(data) {
         store[taxonomy] = data
      })
    });

    var data = this.get_data()
    aCompareTaxonomiesChart.draw_chart(data)
  }


  aCompareTaxonomies.select_taxonomies = function (ids, added){
    if (added) aCompareTaxonomies.taxonomies[added.id] = added.text
    this.selected_taxonomies = ids
    this.create_chart()
  }

  aCompareTaxonomies.select_amountype = function (amountype){
    this.selected_amountype = amountype
    this.create_chart()
  }

  aCompareTaxonomies.select_year = function (year){
    this.selected_year = year
    this.create_chart()
  }

  aCompareTaxonomies.select_level = function (level){
    this.selected_level = level
    aCompareTaxonomies.taxonomies_cache = {}

    aCompareTaxonomiesPath.path = []

    this.create_chart()
  }

  aCompareTaxonomies.get_data = function (){
    var store = this.taxonomies_cache
    var taxonomies = this.taxonomies
    var selected_taxonomies = this.selected_taxonomies
    var selected_amountype = this.selected_amountype
    var selected_year = this.selected_year
    var path = this.path

    var items = {}
    var amounts = {}

    function getAmountData(amount){
      result = {
        plan: '0',
        fact: '0'
      }
      if(amount['plan'] && amount['plan'][selected_year]){
        result.plan = amount['plan'][selected_year]['0'].total.toFixed(2)
      }
      if(amount['fact'] && amount['fact'][selected_year]){
        result.fact = amount['fact'][selected_year]['0'].total.toFixed(2)
      }

      return result;
    }


    aCompareTaxonomiesPath.last_level = false

    selected_taxonomies.forEach(function(taxonomy_id) {
      amounts[taxonomy_id] = {}

      var taxonomy = store[taxonomy_id]
      // move to selected level in tree
      aCompareTaxonomiesPath.path.forEach(function(path) {
        var new_taxonomy;
        if (taxonomy && taxonomy.children)
          taxonomy.children.forEach(function(child) {
            if (child.key == path.key && child.children)
              new_taxonomy = child
              return true;
          })

        taxonomy = new_taxonomy
      })

      // get level info
      if (taxonomy && taxonomy.children)
        taxonomy.children.forEach(function(node) {
          if (items[node.key] == null) items[node.key] = node.label
          amounts[taxonomy_id][node.key] = getAmountData(node.amount);

          // if (node.amount[selected_amountype] && node.amount[selected_amountype][selected_year])
          //   amounts[taxonomy_id][node.key] = node.amount[selected_amountype][selected_year]['0'].total.toFixed(2)

          aCompareTaxonomiesPath.last_level = aCompareTaxonomiesPath.last_level || node.children == undefined
        })
    })

    var labels = []
    for (key in items) {
      labels.push({ key: key, label: items[key] })
    }

    var series = []
    selected_taxonomies.forEach(function(taxonomy_id) {
      var values = []
      for (key in items) {
        values.push(amounts[taxonomy_id][key] || 0)
      }

      series.push({label: taxonomies[taxonomy_id], values: values })
    })

    return {
      labels: labels,
      series: series
    };
  }


:javascript

  $(document).ready(function() {
    $('.amountype_select').on('click', function () {
      aCompareTaxonomies.select_amountype($(this).attr('data-amountype'))
    })

    $("#year_select").select2(
      {
        placeholder: "рік |",
        allowClear: true
      }
    ).on("change", function(data){
      aCompareTaxonomies.select_year(data.val, data.added)
    });

    $('.level_select').on("click", function(){
      var level = $(this).attr('value');
      aCompareTaxonomies.select_level(level.split(' '));
    });

    $("#taxonomy_select").select2().on("change", function(data){
      aCompareTaxonomies.select_taxonomies(data.val, data.added)
    });
  });
