%h3
  = select_tag 'year', options_for_select(@range.map{|k,v| k}, @sel_year)
  = t('datetime.prompts.year')
  %small
  = t('.by_month')

.month.col-xs-12
  %ul.views.nav.nav-pills.pull-left{role: 'tablist'}
    - (I18n.t :abbr_month_names, :scope => :date).each_with_index do |month, i|
      %li{'class' => get_month_class(i.to_s, @sel_month)}
        %a{'data-month-num' => "#{i}", role: 'tab', 'data-toggle' => 'tab'}
          =month

:javascript

  function aSlider(aContainer, bblchart) {
    var year = "#{@sel_year}"
    var month = "#{@sel_month}"

    function update_chart() {
      bblchart.show(year, month)
    }

    return {
      initialize: function() {
        $("a[data-month-num]").click(function(e){
          e.preventDefault()
          month = $(this).data("month-num")
          update_chart()
        })

        $( "#year" ).change(
          function(e, v) {
            year = e.currentTarget.value
            update_chart()
        })
      },
    }
  };
