-#%h3
-#  = select_tag 'year', options_for_select(@range.map{|k,v| k}, @sel_year)
-#  = t('datetime.prompts.year')
-#  %small
-#  = t('.by_month')
-#
-#.month.col-xs-12
-#  %ul.views.nav.nav-pills.pull-left{role: 'tablist'}
-#    - (I18n.t :abbr_month_names, :scope => :date).each_with_index do |month, i|
-#      %li{'class' => get_month_class(i.to_s, @sel_month)}
-#        %a{'data-month-num' => "#{i}", role: 'tab', 'data-toggle' => 'tab'}
-#          =month

.col-xs-12
  .btn-group.pull-right
    %button.btn.btn-primary#save
      %i.fa.fa-file-image-o
    %button.btn.btn-primary#btn_embed{"data-toggle" => "buttons-checkbox"}
      %i.fa.fa-code
.col-xs-12
  //#iframe_embed
  #embed_visual.embed_hide.embed{'data-width' => '900px', 'data-height' => '600px', 'data-name' => 'bubbletree'}
    .input-group
      .input-group-addon
        = t('embed')
      %input.form-control
    %span.embed_label=t('iframe.select')
    %select.iframe_size_select#visual
    .iframe_other_size

.col-xs-12
  %select.btn-default.btn-sm#year_button
    = options_for_select(@range.map{|k,v| k}, @sel_year)
  #slider_container.row.btn-group{ 'data-toggle' => 'buttons' }
    - @month = I18n.t('date.abbr_month_names')
    - 4.times() do |i|
      .col-lg-3.col-md-6.col-sm-6.col-xs-12
        .col-xs-12.btn.btn-default.quarter_button{:id => (i + 1).to_s + "quarter"}
          %label
          = i + 1
          = I18n.t('datetime.prompts.quarter')
        - 3.times() do |j|
          .col-xs-4.btn.btn-default.month_button{:id => (i * 3 + j + 1).to_s + "month"}
            %label
            = @month[i * 3 + j + 1]

:javascript

  function aSlider(aContainer, bblchart) {
    var year = "#{@sel_year}"
    var month = "#{@sel_month}"

    function update_chart() {
      bblchart.show(year, month)
    }

    return {
      initialize: function() {

        $(".month_button").click(function(e){
          e.preventDefault()
          if($(this).hasClass('active')) {
            month = 0;
          } else {
            month = parseInt($(this).attr('id'));
          }
          update_chart();
        })

        $("#year_button").change(
          function(e, v) {
            year = e.currentTarget.value;
            update_chart();
        })
      },
    }
  };

  $(document).ready(function() {
     $("#slider_container .btn").click(function() {
       $("#slider_container .btn").not(this).removeClass("active");
     });
  })

  $(document).bind('page:change', function(e) {

    I18n.locale = window.aHelper.lang();

    function set_visiframe_inframe(visualizator) {
      path = "#{request.base_url}"
      query = "#{URI.parse(request.url).query}"
      frame_url = path + "/widgets/visify/"+ visualizator + "/#{@budget_file.id}" + '/?' + query
      $('#embed_visual input').val("<iframe width='900' height='600' src='" + frame_url + "'></iframe>")
      $('.tab-content iframe').attr('src', frame_url)
      $('#embed_visual').find('.iframe_size_select').html("<option value=\"300\">300x300</option>\
                                                            <option value=\"500\">500x500</option>\
                                                            <option value=\"default\" selected>900x600</option>\
                                                            <option value=\"other\">" + I18n.t('iframe.size') + "</option>")
      $('#embed_visual').find('.iframe_other_size').html("");
    }

    set_visiframe_inframe('bubbletree');

    window.parent.$('a[role="tab"]').on('shown.bs.tab', function (e) {
      set_visiframe_inframe(this.href.split('#')[1]);
    });

  })

