.visify.row
  .col-xs-12
    = render partial: 'sequence', :locals => { budget_file_id: budget_file_id }
    #under_sequence
  .col-xs-12.col-md-8
    #chart
    %canvas{:style => "display: none;"}
    #charts_tooltip.hidden
      %p
        %span#value

    .col-xs-12
      -#btn #save used to recieve trigger from out of iframe to get url for SVG image
      %button.btn.btn-primary#save{:style => "display: none"}
        %i.fa.fa-file-image-o
      .btn-group.pull-right
        %button.btn.btn-primary.btn_embed{"data-toggle" => "buttons-checkbox"}
          %i.fa.fa-code

    .col-xs-12
      //#iframe_embed
      #embed_visual.embed_hide.embed{'data-width' => '900px', 'data-height' => '600px', 'data-name' => 'bubbletree'}
        .input-group
          .input-group-addon
            = t('embed')
          %input.form-control
          %span.embed_label=t('iframe.select')
          %select.iframe_size_select#visual
          .iframe_other_size

    .slider.row
      = render partial: 'slider_chart'
      = render partial: 'slider_compare', :locals => { budget_file_id: budget_file_id }

  = render partial: 'sidebar', :locals => { budget_file_id: budget_file_id }

  = render partial: 'helpers'

:javascript

  $(document).ready(function() {

    // create chart according to the window size
    iframe_resize();

    // make tooltip movable with mouse
    var visifier = $(".visify").parent().attr('class');

    if(visifier != "bubbletree") {
        window.onmousemove = function (e) {
          var tooltipSpan = document.getElementById('charts_tooltip');
          var sequence_height = $('#sequence').outerHeight() + $('#under_sequence').outerHeight();
          var x = e.clientX || e.pageX,
              y = (e.clientY || e.pageY) - sequence_height;
          tooltipSpan.style.top = y + 'px';
          tooltipSpan.style.left = x + 'px';
        };
    }

  });

  $(window).resize(function() {
    // create chart according to the window size
    iframe_resize();
  });

  // Responsive SVG charts
  function iframe_resize() {
    var width;
    document_width = $(document).width();
    sidebar_width = $('.visify #sidebar').width();
    if(document_width > 2*sidebar_width) {
      width = document_width - sidebar_width - document_width*0.02;
    } else {
      width = document_width;
    }
    height = width*0.6;

    var sequence = aSequence('.visify')
    sequence.initializeBreadcrumbTrail();

    var sidebar = aSidebar('.visify')
    sidebar.initialize(height);

    var slider = aSliderCompare('#slider_compare');
    slider.initialize(100);

    var slider_chart = aSliderChart('#slider_chart', slider);
    slider_chart.initialize(250);

    $("#chart").html('');
    chart = aTreeChart('.visify', sequence, sidebar, slider, slider_chart);
    chart.initialize(width, height);
    chart.show("#{@sel_year}", "#{@sel_month}");
  }


  $(document).ready(function() {

    I18n.locale = window.aHelper.lang();

    function set_visiframe_inframe() {
      src = window.location.href;
      $('#embed_visual input').val("<iframe width='900' height='600' src='" + src + "'></iframe>")
      $('.tab-content iframe').attr('src', src)
      $('#embed_visual').find('.iframe_size_select').html("<option value=\"300\">450x600</option>\
                                                            <option value=\"default\" selected>900x1200</option>\
                                                            <option value=\"900\">1350x1900</option>\
                                                            <option value=\"other\">" + I18n.t('iframe.size') + "</option>")
      $('#embed_visual').find('.iframe_other_size').html("");
    }

    set_visiframe_inframe();

  })
