-#https://github.com/okfn/bubbletree

= javascript_include_tag "jquery.history.js"
= javascript_include_tag "raphael.js"
= javascript_include_tag "vis4.js"
= javascript_include_tag "Tween.js"
= javascript_include_tag "bubbletree.js"
= javascript_include_tag "cofog.js"


.bubbletree
  = render partial: 'tree_chart', :locals => { budget_file_id: @budget_file.id }

:javascript
  var aTreeChart = function (aContainer) {
    var self;
    var bubbleTree, centerNode = null;

    function clear() {
      d3.select(aContainer + ' #chart').selectAll("*").remove();
    }

    function nodeClick(node) {
      centerNode = node;
      self.clickCallback(node);
    }

    function tooltipCallback(e) {
      var circle_id = $(e.circle.node).attr("id");
      var pathEl = Snap.select('#' + circle_id);
      $(e.circle.node).attr("stroke", $(e.circle.node).attr("fill"));

      if(e.type == "SHOW") {
        pathEl.stop().animate( { 'stroke-width': 10, 'stroke-opacity': 0.6 }, 2000, mina.elastic);
        self.hoverCallback(e.node)
      } else {
        pathEl.stop().animate( { 'stroke-width': 0 }, 1000, mina.elastic);
        self.hoverCallback(centerNode)
      }
    }

    return {
      initialize: function(options) {
        self = this;
        self.clickCallback = options.clickCallback;
        self.hoverCallback = options.hoverCallback;

        $(aContainer + ' #chart').height(options.height);
      },
      show: function(data) {
        clear();

        if (!data) return;

        bubbleTree = new BubbleTree({
            data: data,
            container: aContainer + ' #chart',
            sortBy: 'label',
            bubbleType: ['icon', 'plain'],
            centerNode: centerNode,
            nodeClickCallback: nodeClick,
            tooltipCallback: tooltipCallback
        });
      },
      selectNode: function (node) {
        bubbleTree.navigateTo(node);
      },
      set_centerNode: function(node) {
        centerNode = node;
      },
      getCenterNode: function(node) {
        return bubbleTree.getCenterNode("bubble", node);
      },
      current_node: function() {
        return centerNode;
      }
    }
  }

