-#https://github.com/okfn/bubbletree

= javascript_include_tag "jquery.history.js"
= javascript_include_tag "raphael.js"
= javascript_include_tag "vis4.js"
= javascript_include_tag "Tween.js"
= javascript_include_tag "bubbletree.js"
= javascript_include_tag "cofog.js"

.bubbletree
  = render partial: 'tree_chart', :locals => { budget_file_id: @budget_file.id }

:javascript
  var aTreeChart = function (aContainer) {
    var self;
    var bubbleTree, centerNode = null;

    function clear() {
      d3.select(aContainer + ' #chart').selectAll("*").remove();
    }

    function nodeClick(node) {
      centerNode = node;
      self.clickCallback(node);
    }

    return {
      initialize: function(options) {
        self = this;
        self.clickCallback = options.clickCallback;

        $(aContainer + ' #chart').width(options.width).height(options.height);
      },
      show: function(data) {
        clear();

        if (!data) return;

        bubbleTree = new BubbleTree({
            data: data,
            container: aContainer + ' #chart',
            sortBy: 'label',
            bubbleType: ['icon', 'plain'],
            centerNode: centerNode,
            nodeClickCallback: nodeClick,
        });
      },
      selectNode: function (node) {
        bubbleTree.navigateTo(node);
      },
      set_centerNode: function(node) {
        centerNode = node;
      },
      getCenterNode: function(node) {
        return bubbleTree.getCenterNode("bubble", node);
      },
      current_node: function() {
        return centerNode;
      }
    }
  }
