:css

  .datepicker-dropdown.dropdown-menu {
    background-color: #ffffff;
  }

= content_for :header do
  .head.pull-left
    = t('programs.target_programs.index.header') + @programs_town.name

.col-sm-offset-2.col-sm-10{'style' => 'position: relative;'}
  .input-daterange.pull-left{'style' => 'margin-right: 10px;'}
    = t('programs.target_programs.list.data_header')
    %input{name: :term_end, :type => "text", :class => "year_datepicker form-control" }
  %span{'style' => 'position: absolute; bottom: 0px;'}
    %i{ :class => "fa fa-lg fa-square-o", :style => "color: #66c2ff;" }
    = t('programs.target_programs.list.active_programs')
    %i{ :class => "fa fa-lg fa-check-square-o", :style => "color: #66c2ff;" }
    = t('programs.target_programs.list.accomplished_programs')


#spending_bar.col-sm-offset-2.col-sm-8
  = render partial: 'spending_bar'


#programs_list.col-sm-offset-2.col-sm-8
  = render 'list', :programs => @programs_target_programs, :amounts => @amounts, :year => @year

.clear

= link_to t('form.explanation'), edit_programs_town_path(@programs_town.id), :class => 'btn btn-primary'
= link_to(t('programs.target_programs.edit.tab_expences'), programs_load_expences_path(@programs_town), :type => "button", :method => :get, :class => "btn btn-primary")
= link_to t('programs.target_programs.edit.tab_indicators'), programs_load_indicators_path(@programs_town), :type => "button", :method => :get, :class => "btn btn-primary"
= link_to t('programs.target_programs.list.branch_report'), programs_towns_branch_report_path(@programs_town), :type => "button", :method => :get, :class => "btn btn-primary"

-#= link_to t('programs.target_programs.edit.tab_expences'), '/programs/load_expences/' + @programs_town.id + "?locale=" + params[:locale], :type => "button", :method => :get, :class => "btn btn-primary"
-#= link_to t('programs.target_programs.edit.tab_indicators'), '/programs/load_indicators/' + @programs_town.id + "?locale=" + params[:locale], :type => "button", :method => :get, :class => "btn btn-primary"
-#= link_to t('programs.target_programs.list.branch_report'), '/programs/towns/branch_report/' + @programs_town.id + "?locale=" + params[:locale], :type => "button", :method => :get, :class => "btn btn-primary"
= link_to t('form.back'), programs_towns_path, :class => 'btn btn-default'

:javascript

  $(document).ready(function() {

    // ------------------------ DATEPICKER -----------------------------
    $.fn.datepicker.dates[I18n.locale];
    $(".year_datepicker").datepicker( {
      format: 'dd.mm.yyyy',
      startView: 2,
      endDate: '+0y',
      multidate: true,
      language: I18n.locale,
      autoclose: true,
      minViewMode: 'years',
      viewMode: 'years',
      pickTime: false
    }).on('changeDate', function(){
        var year = $(this).val().split('.')[2];
        $.ajax({
          type: "GET",
          url: "/programs/target_programs/change_list/#{@programs_town.id}/" + year
        });
    });

    var currYear = new Date().getFullYear();
    var startDate = new Date(currYear,0,1);
    $('.year_datepicker').datepicker('setDate', startDate);
  })