= content_for :header do
  .head.pull-left
    = t('programs.target_programs.load.header')

= bootstrap_form_tag url: '/programs/target_programs/create' do |f|

  .form-group
    %label.control-label
      = t('owner')
    - if current_user && current_user.has_role?(:admin)
      = select_tag :town, options_for_select( [nil] + t('budget_files.form.cities').split('|'), current_user.town), class: 'select-town form-control'
    - else
      = ": #{current_user.town}"

  = f.file_field :path, label: t('form.file_path'), class: 'btn btn-default'
  %br
  = f.submit t('form.save'), :class => 'btn btn-primary'
  = link_to t('form.cancel'), programs_towns_path, :class => 'btn btn-default'

