:css
  .document {
    margin: 1%;
    padding: 10px 5px 10px 5px;
    background-color: #e7f4f9;
    width: 96%;
  }

.document.pull-left{'data-id' => "#{file.id}"}
  .col-sm-1
    - if file.file?
      = link_to file.file.url do
        %i.fa{ class: "#{get_file_type_icon(file.file_identifier)}" }
  .col-sm-10
    %a{ href: '#', id: 'title', 'data-resource' => 'community_file', 'data-type' => 'text', 'data-pk' => file.id, 'data-url' => community_file_path(file.id), 'data-emptytext' => 'Вкажіть назву документа...' }
      = file.title
  .col-sm-1
    = link_to file, :remote => true, :method => :delete, :data => { :confirm => t('helpers.links.confirm') }, :class => '' do
      %i.fa.fa-times.pull-right

:javascript

  $.fn.editable.defaults.mode = 'block';
  $('.document[data-id="#{file.id}"] a[data-pk]').editable();
