%p#notice= notice

%p
  %b Title:
  = @currency.title
%p
  %b Short title:
  = @currency.short_title
%p
  %b Rates:
  = @currency.rates

= link_to t('edit'), edit_currency_path(@currency)
\|
= link_to t('back'), currencies_path
