= bootstrap_form_for @repairing_repair, url: repairing_map_repair_path(@repairing_repair.map.id, @repairing_repair.id), remote: true do |f|

  = f.text_field :title
  = f.text_field :amount
  = f.text_field :repair_date

  -#= f.text_field :coordinates, multiple: true

  = f.text_field :address
  = f.text_field :address_to

  = f.text_area :description, :rows => "8"

  .clear
  = f.submit 'Зберегти', :class => 'btn btn-primary'
  = link_to 'Destroy', repairing_map_repair_path(@repairing_repair.map.id, @repairing_repair.id), :method => :delete, remote: true, :data => { :confirm => 'Are you sure?' }, class: "btn btn-warning"