:scss
  #map{
    height: calc(100vh - 100px);
    width: 100%;
    //display: none;
  }
  .leaflet-top.leaflet-right{
    display: none;
  }

= content_for :head do
  = stylesheet_link_tag 'leaflet/leaflet.css', :media => 'all'
  = stylesheet_link_tag 'leaflet/leaflet-routing-machine'
  = javascript_include_tag "leaflet/leaflet.js", id: 'leaflet'
  = javascript_include_tag 'leaflet/leaflet-routing-machine.min'

.col-xs-12
  координати пересічення ремонтних робіт та маршруту автобуса
  =@crosses
  .show-on-map.btn.btn-primary
    Показати на мапі
#map

:javascript

  function showOnMap(){
    var crossesArr = #{@crosses.first.to_json}
    var route = #{@routes.to_json}
    var repairs = #{@repairings.to_json}
    var markers = [];
    var mymap = L.map('map').setView(crossesArr[0], 13);

    L.tileLayer('http://navizor.com:8080/osm/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 20,
        id: 'quicks.0hf3cla6',
        accessToken: 'pk.eyJ1IjoicXVpY2tzIiwiYSI6ImNpcTE1Z2xyYzAwMm1pMm0ybXFoMW1hdzAifQ.NQB9Oj5QISGyxJ9FTvNK3Q'
    }).addTo(mymap);


    function customIcon(path, width, heigth){
      return L.icon({
        iconUrl: path,

        iconSize:     [width, heigth], // size of the icon
        iconAnchor:   [width, heigth], // point of the icon which will correspond to marker's location
        popupAnchor:  [-3, -26] // point from which the popup should open relative to the iconAnchor
      });
    }
    // add crosses markers
    $.each(crossesArr,function(index, item) {
      var marker = L.marker(item,{
        icon: customIcon('/assets/leaflet/images/hackaton/road-repair.png', 55, 55)
      });
      marker.bindPopup('Перехрестя');
      marker.addTo(mymap);
      markers.push(marker);
    });
    // end add crosses markers

    // add bus route
    var bus_route = route.map(function(it,index){
      if(index % 10 == 0){
        return L.latLng(it[0]);
      }
    });

    bus_route[bus_route.length] = L.latLng(route[length - 1]);

    L.Routing.control({
      waypoints: bus_route.filter(function(n){ return n != undefined }),
      routeWhileDragging: false,
      createMarker: function(i, wp, nWps) {
        return L.marker(wp.latLng,{
          icon: customIcon('/assets/leaflet/images/hackaton/school-bus.png', 30, 23)
        })
            .bindPopup('Шлях маршруту автобуса');
      },
      lineOptions: {
        styles: [{color: 'green', opacity: 1, weight: 5}]
      }
    }).addTo(mymap);
    // end add bus route

    // add repair route
    var rep_route = repairs.map(function(it,index){
      if(index % 10 == 0){
        return L.latLng(it[0]);
      }
    });
    rep_route[rep_route.length] = L.latLng(repairs[length - 1]);

    L.Routing.control({
      createMarker: function(i, wp, nWps) {
        return L.marker(wp.latLng,{
            icon: customIcon('/assets/leaflet/images/hackaton/repair_road_small.png', 38, 38)
            })
            .bindPopup('Шлях ремонтних робіт');
      },
      waypoints: rep_route.filter(function(n){ return n != undefined }) ,
      routeWhileDragging: true
    }).addTo(mymap);
    // end add repair route
  }

  $(document).ready(function(){
    showOnMap();
    $('#map').hide('fast')
    $('.show-on-map').click(function() {
      $('#map').toggle('slow');
    })
  })

