%h1 Listing repairing_repairs

%table
  %tr
    %th Title
    %th Koatuu
    %th District
    %th Street
    %th Description
    %th Amount
    %th Coordinates
    %th
    %th
    %th

  - @repairing_repairs.each do |repairing_repair|
    %tr
      %td= repairing_repair.title
      %td= repairing_repair.koatuu
      %td= repairing_repair.district
      %td= repairing_repair.street
      %td= repairing_repair.description
      %td= repairing_repair.amount
      %td= repairing_repair.coordinates
      %td= link_to 'Show', repairing_repair
      %td= link_to 'Edit', edit_repairing_repair_path(repairing_repair)
      %td= link_to 'Destroy', repairing_repair, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Repair', new_repairing_repair_path
