%h1 Listing repairing_map_repairs

%table
  %tr
    %th Title
    %th Koatuu
    %th District
    %th Street
    %th Description
    %th Amount
    %th Coordinates
    %th
    %th
    %th

  - @repairing_map_repairs.each do |repairing_map_repair|
    %tr
      %td= repairing_map_repair.title
      %td= repairing_map_repair.koatuu
      %td= repairing_map_repair.district
      %td= repairing_map_repair.street
      %td= repairing_map_repair.description
      %td= repairing_map_repair.amount
      %td= repairing_map_repair.coordinates
      %td= link_to 'Show', repairing_map_repair
      %td= link_to 'Edit', edit_repairing_map_repair_path(repairing_map_repair)
      %td= link_to 'Destroy', repairing_map_repair, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Repair', new_repairing_map_repair_path
