:scss

  .header{
    .text{
      display: inline-block;
      margin-left: 15px;
    }
    .btn-new{
      display: inline-block;
      float: right;
      .btn{
        margin:5px 0 0px;
      }
      .form{
        display: inline-block;
        form{
          margin-top: 0;
        }
        .bootstrap-filestyle.input-group{
          display: none;
        }
      }
    }
  }
  .photos{
    margin: 15px;
    .photo{
      position: relative;
      display: inline-block;
      padding-right: 20px;
      padding-top: 20px;
      width: 24.5%;
      img{
        vertical-align: top;
        width: 100%;
      }
      .btn-photo{
        position: absolute;
        top: 10px;
        padding: 0 5px;
        border-radius: 15px;
        font-size: 15px;
      }
      .btn-delete{
        right: 15px;
      }
    }
    .photo:nth-child(4n){
      padding-right: 0px;
      .btn-delete{
        right: -5px;
      }
    }
  }

  @media (max-width: 767px) {
    .photos{
      .photo{
        width: 49.5%;
        &:nth-child(2n){
          padding-right: 0px;
          .btn-delete{
            right: -5px;
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    .photos{
      .photo{
        width: 100%;
        padding-right: 0px;
        .btn-delete{
          right: -5px;
        }
      }
    }
  }

.header
  .text
    %h2
      = t('repairing.repairs.photos')
  .btn-new
    .form
      = form_for [@repairing_repair, @photo],
                 url: { action: 'create', controller: 'repairing/repair_photos' },
                 html: { class: 'form-horizontal', remote: true } do |f|
        = f.label :image, t('repairing.repairs.add_photo'), class: 'control-label btn btn-success file-label'
        = f.file_field :image, accept: 'image/*', onchange:'javascript: $( this ).trigger("submit.rails")', class: 'form-control input-responsive'

= render partial: 'repairing/repairs/photos'
