%p#notice= notice

%p
  %b Title:
  = @repairing_repair.title
%p
  %b Koatuu:
  = @repairing_repair.koatuu
%p
  %b District:
  = @repairing_repair.district
%p
  %b Street:
  = @repairing_repair.street
%p
  %b Description:
  = @repairing_repair.description
%p
  %b Amount:
  = @repairing_repair.amount
%p
  %b Coordinates:
  = @repairing_repair.coordinates

= link_to 'Edit', edit_repairing_repair_path(@repairing_repair)
\|
= link_to 'Back', repairing_repairs_path
