.new_info_panel
  .header.clearfix
    %h5
      = @repairing_repair.subject.blank? ? @repairing_repair.work : @repairing_repair.subject
    -#.amount
    -#  = "₴"
    -#  = number_to_human(@repairing_repair.amount)
    -#.start_date
    -#  = @repairing_repair.repair_start_date
  -#.title_repair
  -#  = @repairing_repair.subject.blank? ? @repairing_repair.work : @repairing_repair.subject
  .info_text
    .row
      .text_title.col-xs-4
        %strong= get_address_title(@repairing_repair)
      .text_desc.col-xs-8
        =@repairing_repair.address

    - unless @repairing_repair.subject.blank?
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.info_works')} :"
        .text_desc.col-xs-8
          = @repairing_repair.work

    - unless @repairing_repair.spending_units.blank?
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.info_spending_units')} :"
        .text_desc.col-xs-8
          = @repairing_repair.spending_units

    - unless @repairing_repair.obj_owner.blank?
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.info_performer')} :"
        .text_desc.col-xs-8
          =@repairing_repair.obj_owner

    - if date_valid?(@repairing_repair.repair_start_date)
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.start_date')} :"
        .text_desc.col-xs-8
          =@repairing_repair.repair_start_date

    - if date_valid?(@repairing_repair.repair_end_date)
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.end_date')} :"
        .text_desc.col-xs-8
          =@repairing_repair.repair_end_date

    -#- if date_valid?(@repairing_repair.warranty_date)
      -#-if date_valid?(@repairing_repair.warranty_date)
    .row
      .text_title.col-xs-4
        %strong="#{t('repairing.maps.info_popup.warranty_date')} :"
      .text_desc.col-xs-8
        =@repairing_repair.warranty_date

    - unless @repairing_repair.repairing_category.blank?
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.repairing_category')} :"
        .text_desc.col-xs-8
          =@repairing_repair.repairing_category.title

    - unless @repairing_repair.description.blank?
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.description')} :"
        .text_desc.col-xs-8
          =@repairing_repair.description

    .row
      .text_title.col-xs-4
        %strong="#{t('repairing.maps.info_popup.info_price')} :"
      .text_desc.col-xs-8
        ="#{number_to_currency(@repairing_repair.amount)}"
    -#.row
    -#  .text_title.col-xs-4
    -#    %strong="#{t('repairing.maps.info_popup.info_price')} :"
    -#  .text_desc.col-xs-8
    -#    ="#{number_to_currency(@repairing_repair.amount)}"
