var message_div = $('<div></div>');
message_div.html('<%= escape_javascript(bootstrap_flash) %>');
$('#repair').find('.clear').before(message_div);
message_div.show('slow');
<%= flash.clear %>
setTimeout(function(){
  message_div.hide('slow');
},5000);

// setting update repair effects
//$('#edit_repair').modal('toggle'); // when I using this I don`t see error messages // fix in feature
$('#repair-<%= @repairing_repair.id %>').replaceWith('<%= j render partial: 'repairing/layers/repair', locals: {repair: @repairing_repair} %>');
$('#repair-<%= @repairing_repair.id %>').effect("highlight", {color: "#5cb85c"}, 2000);