.row
  .col-md-3.codes-list
    .run-selected.btn.btn-success Застосувати
    - codes.each do |code|
      .input
        = check_box_tag "#{code.code}", "#{code.code}", code.publish, class: 'code-checkbox'
        = label_tag code.code, "#{code.code} #{code.title}"

  .col-md-9{ id: "charts-form-#{code_type}"}
    = render partial: 'reporting_charts'
