:scss
  #reporting{
    margin-top: 10px;
    select{
      width: 65px;
    }
    #reporting-chart{
      margin-bottom: 10px;
      #desc{
        font-size: 16px;
        font-weight: bold;
      }
    }
  }


%ul.nav.nav-tabs{role: 'tablist'}
  %li.active
    %a{role: 'tab', 'data-toggle' => 'tab', href: '#reporting'}
      Фінансові показники
  %li
    %a{role: 'tab', 'data-toggle' => 'tab', href: '#analysis'}
      Фінансовий аналіз

.tab-content
  #reporting.tab-pane.fade.in.active
    %h4
      %span Код показника
      = select_tag :form_1, options_for_select(@codes_form_1.collect{ |c| ["#{c.code} #{c.title}", c.code] }), prompt: "B"
      = select_tag :form_2, options_for_select(@codes_form_2.collect{ |c| ["#{c.code} #{c.title}", c.code] }), prompt: "F"

    = render partial: 'reporting_chart'

    .row
      .col-xs-12
        .files
          - @enterprise.other_files.each do |file|
            = link_to file.file.url, title: 'Завантажити' do
              %i.fa.fa-download.fa.fa-border
              = file.file_identifier

  #analysis.tab-pane.fade
    %h4
      %span Похідні показники
    = render partial: 'analysis_chart'


:javascript
  $(document).ready(function(){
    var data1;
    var code = 1000;
    get_chart(code)

    $('#form_1, #form_2').on('change', function(){
      code = $(this).val();
      get_chart(code)
    });

   function get_chart(code){
    $.ajax({
      url: "#{municipal_reporting_chart_path}",
      type: "GET",
      dataType: 'json',
      data: {
        enterprise_id: $('#_enterprises').val(),
        code: code
      },
      success: function(json) {
        data1 = json;
        create_graph();
      }
    })
   }

    function create_graph(){
      var years = [];
      var values = [];
      var data_years = data1[code]['years'];

      $.each(data_years, function(key, value){
        years.push(key);
        values.push(value);
      });

      // If call this function with selected code
      // Because chart buggy with old selected codes
      if (typeof code === 'string' ){
        // find container old chart
        var lineChart = $("#code-chart").parent();
        // drop old chart canvas
        $("#code-chart").remove();
        // add new canvas
        lineChart.append('<canvas id="code-chart">');
        // drop iframe, drop old charts
        $('.chartjs-hidden-iframe').remove();
      }

      //desc for this graph
      $("#desc").text(data1[code]['desc']);

      build_graph(years, values)
    }

    function build_graph(years, values){
      var ctx = document.getElementById("code-chart").getContext('2d');
      var gradient = ctx.createLinearGradient(0, 0, 0, 300);
      var myChart;
      gradient.addColorStop(0, 'green');
      gradient.addColorStop(0.8, 'yellow');
      gradient.addColorStop(1, 'orange');

      myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: years,
          datasets: [{
            data: values,
            backgroundColor: gradient,
            hoverBackgroundColor: gradient,
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          scaleStartValue : 0,
          legend: {
            display: false
          },
          scales: {
            xAxes: [{
              stacked: true
            }],
            yAxes: [{
              stacked: true
            }]
          }
        }
      })
    }

  })


:javascript
  $(document).ready(function(){
    var data1;
    // var code = 72501;
    // var code = 71103;
    var code = [72501, 71103];
    get_chart(code)

    // $('#form_1, #form_2').on('change', function(){
    //   code = $(this).val();
    //   get_chart(code)
    // });

   function get_chart(code){
    $.ajax({
      url: "#{municipal_analysis_chart_path}",
      type: "GET",
      dataType: 'json',
      data: {
        enterprise_id: $('#_enterprises').val(),
        code_an: code
      },
      success: function(json) {
        data1 = json;
        create_graph();
      }
    })
   }

    function create_graph(){
      console.log(data1);
      var data_chart = {};

      $.each(data1, function(key, value) {
        // console.log('key_value');
        // console.log(key);
        // console.log(value);

        data_chart[key] = {}
        data_chart[key]['label'] =  code[0];
        data_chart[key]['spanGaps'] =  true;
        data_chart[key]['data'] = [];


        console.log('one_value');
        console.log(value);
        console.log(value[code[key]]['years']);
        $.each(value[code[key]]['years'], function(k, v){
          // console.log('one_value' + k);
          // console.log(k);
          // console.log(v);
          data_chart[key]['data'].push(v);
        });
      })

      console.log(data_chart);
      // If call this function with selected code
      // Because chart buggy with old selected codes
      if (typeof code === 'string' ){
        // find container old chart
        var lineChart = $("#code-an-chart").parent();
        // drop old chart canvas
        $("#code-an-chart").remove();
        // add new canvas
        lineChart.append('<canvas id="code-an-chart">');
        // drop iframe, drop old charts
        $('.chartjs-hidden-iframe').remove();
      }

      var years = [];
      var data_years = data1[0][code[0]]['years'];

      $.each(data_years, function(key, value){
        years.push(key);
      });

      //desc for this graph
      // $("#desc").text(value['desc']);

      build_graph(years, data_chart)
    }

    function build_graph(years, data){
      var ctx = document.getElementById("code-an-chart").getContext('2d');
      // var gradient = ctx.createLinearGradient(0, 0, 0, 300);
      var myChart;
      // gradient.addColorStop(0, 'green');
      // gradient.addColorStop(0.8, 'yellow');
      // gradient.addColorStop(1, 'orange');

      myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: years,
          datasets: data
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          scaleStartValue : 0,
          legend: {
            display: false
          },
          scales: {
            xAxes: [
              {
                gridLines: {
                  display: false,
                  color: '#fff',
                  // lineWidth: 1,
                  zeroLineWidth: 3,
                  zeroLineColor: '#fff'
                },
                ticks: {
                  fontColor: '#fff',
                }
              }
            ],
            yAxes: [
              {
                id: 'y-axis-0',
                gridLines: {
                  // display: true,
                  color: '#fff',
                  // lineWidth: 1,
                  zeroLineWidth: 3,
                  zeroLineColor: '#fff'
                },
                scaleLabel: {
                  fontColor: '#fff'
                },
                ticks: {
                  fontColor: '#fff',
                  padding: 20,
                  // min: 0,
                  maxTicksLimit: 6,
                  // stepSize: step
                }
              }
            ]
          }
        }
      })
    }

  })