:scss
  #form_1{
    margin-top: 10px;
    select{
      width: 65px;
    }
    #reporting-chart{
      margin-bottom: 10px;
      #desc{
        font-size: 16px;
        font-weight: bold;
      }
    }
  }


%ul.nav.nav-tabs{role: 'tablist'}
  %li.active
    %a{role: 'tab', 'data-toggle' => 'tab', href: '#form_1'}
      Баланс
  %li
    %a{role: 'tab', 'data-toggle' => 'tab', href: '#form_2'}
      Звіт про рух грошових коштів
  %li
    %a{role: 'tab', 'data-toggle' => 'tab', href: '#analysis'}
      Фінансова аналітика
  %li
    %a{role: 'tab', 'data-toggle' => 'tab', href: '#compare'}
      Порівняти з іншими підприємствами

.tab-content
  #form_1.tab-pane.fade.in.active
    -#= form_tag form_charts_path do |f|
    .row
      .col-md-3
        - @codes_form_1.each do |code|
          .input
            = check_box_tag "#{code.code}", "#{code.code}", false, class: 'code-checkbox'
            -#= check_box_tag '', code.code, false, class: 'code_checkbox', name: 'form_1'
            = label_tag code.code, "#{code.code} #{code.title}"
        = link_to 'Застосувати', '#', class: 'run-selected'

      .col-md-9#reporting_chart
        -#= render partial: 'reporting_chart'
        = render partial: 'reporting_charts'



    -#%h4
    -#  %span Код показника
    -#  = select_tag :form_1, options_for_select(@codes_form_1.collect{ |c| ["#{c.code} #{c.title}", c.code] }), prompt: "B"
    -#  = select_tag :form_2, options_for_select(@codes_form_2.collect{ |c| ["#{c.code} #{c.title}", c.code] }), prompt: "F"
    -#
    -#= render partial: 'reporting_chart'
    -#
    -#.row
    -#  .col-xs-12
    -#    .files
    -#      - @enterprise.other_files.each do |file|
    -#        = link_to file.file.url, title: 'Завантажити' do
    -#          %i.fa.fa-download.fa.fa-border
    -#          = file.file_identifier

  -##form_2.tab-pane.fade

  #analysis.tab-pane.fade
    %h4
      %span Похідні показники
    = render partial: 'analysis_chart'


:javascript
  $(document).ready(function(){

    var data1;
    var codes;

    // var code = 1000;
    // get_chart(code)
    // var datat = [{"1000":{"years":{"2017":43,"2016":57,"2015":50},"desc":"Наводиться залишкова вартість, яка визначається як різниця між первісною вартістю і сумою накопиченої амортизації"}},{"1001":{"years":{"2017":309,"2016":311,"2015":300},"desc":"Наводиться первісна вартість нематеріальних активів"}}]

    function selected_items(){
      var result = $('#form_1 input.code-checkbox:checked');
      var arr = [];

      result.each(function(){
          id = $(this).val();
          arr.push(id);
      })

      return arr;
    }

    $('.run-selected').on('click', function(){
      codes = selected_items();
      console.log('codes');
      console.log(codes);
      get_charts(codes);
    });

   function get_charts(code){
    $.ajax({
      url: "#{municipal_reporting_charts_path}",
      type: "GET",
      dataType: 'script',
      data: {
        enterprise_id: $('#_enterprises').val(),
        codes: code
      },
      success: function() {
        $.ajax({
          url: "#{municipal_reporting_charts_path}",
          type: "GET",
          dataType: 'json',
          data: {
            enterprise_id: $('#_enterprises').val(),
            codes: code
          },
          success: function(json) {
            console.log('json');
            console.log(json);
            data1 = json;

            create_chart();
          }
        })
      }
    })
   }

    function create_chart(){
      // console.log(data1);

      $.each(data1, function(key, value) {
        var data_chart = {};
        var years = [];
        var code;
        console.log('value');
        console.log(value);
        console.log(codes[key]);
        // console.log(value);
        code = codes[key];
        data_chart = {}
        data_chart['label'] = code;
        data_chart['data'] = [];
        data_chart['spanGaps'] =  true;
        // data_chart[key]['backgroundColor'] = dynamicColors();

        $.each(value[codes[key]]['years'], function(k, v){
          years.push(k);
          data_chart['data'].push(v);
        });

        build_chart(code, years, data_chart);
      })
    }

    function build_chart(code, years, data){
      var chart_id = 'chart-' + code;
      var ctx = document.getElementById(chart_id).getContext('2d');
      var myChart;

      myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: years,
          datasets: [data]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          scaleStartValue : 0,
          scales: {
            xAxes: [{
              stacked: true
            }],
            yAxes: [{
              stacked: true
            }]
          }
        }
      })
    }

  })


:javascript
  $(document).ready(function(){
    var data1;
    var codes;

    $.ajax({
      url: "#{municipal_analysis_chart_codes_path}",
      type: "GET",
      dataType: 'json',
      data: {
        enterprise_id: $('#_enterprises').val()
      },
      success: function(json) {
        codes = json;
        get_chart(codes)
      }
    })

    function get_chart(codes){
      $.ajax({
        url: "#{municipal_analysis_chart_path}",
        type: "GET",
        dataType: 'json',
        data: {
          enterprise_id: $('#_enterprises').val(),
          codes: codes
        },
        success: function(json) {
          data1 = json;
          create_chart();
        }
      })
    }

    function dynamicColors() {
      var r = Math.floor(Math.random() * 255);
      var g = Math.floor(Math.random() * 255);
      var b = Math.floor(Math.random() * 255);
      return "rgba(" + r + "," + g + "," + b + ",0.4)";
    }

    function create_chart(){
      // console.log(data1);
      var data_chart = [];
      var years = [];

      $.each(data1, function(key, value) {
        data_chart[key] = {}
        data_chart[key]['label'] =  value[codes[key]]['abbr'];
        data_chart[key]['spanGaps'] =  true;
        data_chart[key]['data'] = [];
        data_chart[key]['backgroundColor'] = dynamicColors();

        $.each(value[codes[key]]['years'], function(k, v){
          years.push(k);
          data_chart[key]['data'].push(v);
        });
      })

      var data_years = Array.from(new Set(years));

      // If call this function with selected code
      // Because chart buggy with old selected codes
      // if (typeof code === 'string' ){
      //   // find container old chart
      //   var lineChart = $("#code-an-chart").parent();
      //   // drop old chart canvas
      //   $("#code-an-chart").remove();
      //   // add new canvas
      //   lineChart.append('<canvas id="code-an-chart">');
      //   // drop iframe, drop old charts
      //   $('.chartjs-hidden-iframe').remove();
      // }

      // var years = [];
      // var data_years = data1[0][code[0]]['years'];
      //
      // $.each(data_years, function(key, value){
      //   years.push(key);
      // });

      //desc for this graph
      // $("#desc").text(value['desc']);

      build_chart(data_years, data_chart)
    }

    function build_chart(years, data){
      var ctx = document.getElementById("code-an-chart").getContext('2d');
      // var gradient = ctx.createLinearGradient(0, 0, 0, 300);
      var myChart;
      // gradient.addColorStop(0, 'green');
      // gradient.addColorStop(0.8, 'yellow');
      // gradient.addColorStop(1, 'orange');

      myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: years,
          datasets: data
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          scaleStartValue : 0,
          scales: {
            xAxes: [{
              stacked: true
            }],
            yAxes: [{
              stacked: true
            }]
          }
        }
      })
    }

  })