:scss
  // init colors
  $search-background: white;
  $search-border: #0c2231;

  #enterprise-analysis{
    .select2-container {
      border: none;
      .select2-choice {
        height: 33px;
        line-height: 33px;
        background: $search-background;
        border: 1px solid $search-border;
        border-radius: 0;
        &:before {
          content: '\f002';
          font-family: FontAwesome;
          position: absolute;
          right: 0;
          cursor: pointer;
          font-size: 20px;
          color: $search-background;
          width: 33px;
          background: $search-border;
          text-align: center;
          margin: -2px auto;
        }
        .select2-chosen {
          padding-top: 0;
          margin-right: 55px;
        }
        .select2-search-choice-close {
          right: 40px;
        }
        .select2-arrow {
          display: none;
        }
      }
    }
  }


-#%h3 Комунальні під-ва

#enterprise-analysis
  = simple_form_for '', remote: true do |f|
    .row
      .col-md-offset-3.col-md-6
        = f.input(:enterprises, type: 'hidden',
          collection: @enterprises.map{ |ent| ["#{ent.title} #{ent.edrpou}", ent.id] },
          placeholder: 'Назва підприємства, ЄДРПОУ',
          input_html: {'data-town-id' => params['town']}, label: false)

#results

:javascript
  $(document).ready(function() {

    // init select2 and add event -> search if change value (if select not empty)
    $('#_enterprises').select2({
      placeholder: I18n.t('modules.classifier.search_data.simple_form_placeholder'),
      allowClear: true
    }).on('change', function(data) {
      // check for empty value, if empty -> do nothing
      if(data.val) {
        classifier_search("#{municipal_public_enterprise_files_path}", init_search_params());
      }
    });

    function init_search_params() {
      var data = {
        town_id: $('#_enterprises').data('town-id'),
        enterprise_id: $('#_enterprises').val()
      }
      return data;
    }
    function classifier_search(url, params) {
      $("#spinner-container").show();
      $.ajax({
        type: 'get',
        url: url,
        // async: false,
        dataType: 'script',
        data: params,
        complete: function() {
          // share_buttons_set_url(this.url);
        }
      });
    }
  });