:scss

  .enterprises{
    .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .table-title{
      font-weight: bold;
      border-bottom: solid lightgrey 2px;
      //padding: 5px 0;
    }
  }

.container

  .enterprises
    .header
      %h2 Комунальні підриємства
      .new-btn
        %h2= link_to t('form.new'), municipal_new_enterprises_path, :class => 'btn btn-info'

    -#.documents_search
      = render partial: 'search'
    .table-title.visible-md.visible-lg
      .row
        .col-sm-2
          = t('modules.classifier.by_type.edrpou')
        .col-sm-7
          = t('title')
        .col-sm-3
          = t('owner')
    #enterprises#search_results
      - if @enterprises
        - @enterprises.each do |enterprise|
          .table-body{'data-id' => enterprise.id}
            .row
              .col-sm-12.col-md-2.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('modules.classifier.by_type.edrpou')
                  .col-xs-8.col-md-12
                    = enterprise.edrpou
              .col-sm-12.col-md-7.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('title')
                  .col-xs-8.col-md-12{class: "#{valid_status(enterprise.title)}"}
                    = enterprise.title
              .col-sm-12.col-md-3.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('owner')
                  .col-xs-8.col-md-12
                    = enterprise.town.title if enterprise.town?

    -#.paginator
      = paginate @funds_managers, remote: true
