:scss

  .enterprises{
    .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .table-title{
      font-weight: bold;
      border-bottom: solid lightgrey 2px;
      //padding: 5px 0;
    }
    #search-results{
      .table-body{
        margin-top: 5px;
      }
    }
  }

.container

  .enterprises
    .header
      %h2
        = t('enterprise_files.municipal_enterprises')
      .new-btn
        %h2
          = link_to t('form.new'), municipal_new_enterprises_path, :class => 'btn btn-info'

    .table-title.visible-md.visible-lg
      .row
        .col-sm-1
          = t('modules.classifier.by_type.edrpou')
        .col-sm-6
          = t('title')
        .col-sm-1
          = t('enterprise_files.reporting_type')
        .col-sm-3
          = t('owner')
        .col-sm-1
          = t('actions')
    #search-results
      - if @enterprises
        - @enterprises.each do |enterprise|
          .table-body{ 'data-id' => enterprise.id }
            .row
              .col-sm-12.col-md-1.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('modules.classifier.by_type.edrpou')
                  .col-xs-8.col-md-12
                    = enterprise.edrpou
              .col-sm-12.col-md-6.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('title')
                  .col-xs-8.col-md-12
                    = enterprise.title
              .col-sm-12.col-md-1.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('enterprise_files.reporting_type')
                  .col-xs-8.col-md-12
                    = t('enterprise.report.type_' + enterprise.reporting_type)
              .col-sm-12.col-md-3.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('owner')
                  .col-xs-8.col-md-12
                    = enterprise.town.title if enterprise.town?
              .col-sm-12.col-md-1.reset-padding
                .row
                  .col-xs-4.visible-sm.visible-xs
                    = t('actions')
                  .col-xs-8.col-md-12
                    = link_to edit_municipal_enterprise_path(enterprise), title: t('form.edit') do
                      %i.fa.fa-pencil.fa.fa-border
                    = link_to enterprise, method: :delete, title: t('form.destroy'), data: { confirm: t('helpers.links.confirm') } do
                      %i.fa.fa-close.fa.fa-border
