:scss
  .import-enterprises{
    .file-upload{
      .input-group, .formats{
        display: inline-block;
      }
      .input-group{
        margin-right: 10px;
      }
    }
  }
  .file{
    display: block;
    margin-bottom: 10px;
    .fa-close{
      margin-left: 10px;
      color: red;
    }
  }
  .all-files{
    margin-top: 50px;
  }

.container
  %h3 Завантаження списку комунальних підприємств

  .row.import-enterprises
    = form_tag municipal_import_enterprises_path, multipart: true do
      - if current_user && current_user.admin?
        .form-group
          = render 'select_town'
      - else
        .form-group
          = "Місто: #{current_user.town_model.title}"
      .form-group.file-upload.clearfix
        = file_field_tag :file
        .formats
          = '*.csv, *.xls, *xlsx'

      .form-actions
        = submit_tag t('form.save'), class: 'btn btn-success'
        = link_to 'Повернутись', municipal_enterprises_path, class: 'btn btn-default'

    .col-md-12.all-files
      = render partial: 'files'
