:scss
  .import-enterprises{
    .file-upload{
      .input-group, .formats{
        display: inline-block;
      }
      .input-group{
        margin-right: 10px;
      }
    }
  }

.container
  %h3 Завантаження списку комунальних підприємств

  .row.import-enterprises
    = form_tag municipal_import_enterprises_path, multipart: true do
      - if current_user && current_user.admin?
        .form-group
          = render 'funds_managers/select_town'
      - else
        .form-group
          = "Місто: #{current_user.town_model.title}"
      .form-group.file-upload
        = file_field_tag :file
        .formats
          = '*.csv, *.xls, *xlsx'

      .form-actions
        = submit_tag t('form.upload'), class: 'btn btn-success'
        = link_to 'Повернутись', municipal_enterprises_path, class: 'btn btn-default'


  - @files.each do |file|
    = link_to file.file.url, class: 'file' do
      %i.fa.fa-download.fa.fa-border