= bootstrap_form_for @user, :html => { :class => '' } do |f|
  .col-sm-6
    .form-group
      = f.text_field :name, label: t('devise.form.name')
    .form-group
      = f.text_field :phone, label: t('devise.form.phone')
    .form-group
      = f.text_field :organisation, label: t('devise.form.organization')
    .form-group
      = f.text_field :email
    .form-group
      = f.text_field :town_model, label: t('devise.form.city'), value: @user.town_model.id

  .col-sm-6
    .form-group
      %label
        = check_box_tag :locked, @user.locked, @user.locked
        = t('.locked')
    .form-group
      = f.text_field :last_sign_in_at, label: t('users.index.last_sign_in_at')
    .form-group
      Ролі:
      - for role in [:public_organisation, :city_authority,:central_authority]
        %label
          = check_box_tag "roles[]", role, @user.roles.include?(role)
          = role

  .clear
  = f.submit t('save'), class: 'btn btn-primary'
:javascript

  $(document).ready(function() {
    init_town_select2("#{search_for_towns_town_path}");
  });

