:scss
  @media (min-width: 1151px) and (max-width: 1250px){
    .small{
      font-size: x-small;
    }
  }
  @media (min-width: 992px) and (max-width: 1150px){
    .small{
      font-size: xx-small;
    }
  }
  @media (max-width: 991.9px){
    .small{
      font-size: small;
    }
    .hide-in-small{
      display: none;
    }
  }
  @media (max-width: 409px){
    .small{
      font-size: x-small;
    }
  }
  @media (max-width: 355px){
    .small{
      font-size: xx-small;
    }
  }

  //#table_title{
  //  font-weight: bold;
  //  text-align: center;
  //  padding-top: 7px;
  //  padding-bottom: 7px;
  //}
  //.table_border{
  //  border-bottom: solid lightgrey 1px;
  //}

  .small{
    tbody{
      tr{
        td{
          .btn-xs{
            min-width: 78px;
          }
        }
      }
    }
  }

- model_class = BudgetFile
=content_for :header do
  .head.pull-left
    %i.fa.fa-money
    =t('.title')

%table.table.table-striped.small
  %thead
    %tr
      %th
        =t('devise.form.name')
      %th.hide-in-small
        =t('devise.form.organization')
      %th.hide-in-small
        =t('devise.form.phone')
      %th
        =t('email')
      %th.hide-in-small
        =t('users.index.last_sign_in_at')
      %th.hide-in-small
        =t('users.index.reference_towns')
      %th.hide-in-small
        =t('users.index.roles_head')
      %th.hide-in-small
        =t('users.form.locked')
      %th
        =t 'form.actions', :default => t("helpers.actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td.hide-in-small= user.organisation
        %td.hide-in-small= user.phone
        %td= user.email
        %td.hide-in-small= user.last_sign_in_at
        -if user.town_model.nil?
          - binding.pry
        %td.hide-in-small= user.town_model.title
        %td.hide-in-small= render partial: 'roles', :locals => { roles: user.roles }
        %td.text-center.hide-in-small= render partial: 'locked', :locals => { locked: user.is_locked? }

        %td
          =link_to t('form.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-default btn-xs'
          =link_to t('form.destroy', :default => t("helpers.links.destroy")), user, :method => :delete, :data => { :confirm => t('form.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

-#.container-fluid
-#.row.table_border#table_title
  .col-xs-1.small
    =t('devise.form.name')
  .col-xs-1.small
    =t('devise.form.organization')
  .col-xs-1.small
    =t('devise.form.phone')
  .col-xs-2.small
    =t('email')
  .col-xs-2.small
    =t('users.index.last_sign_in_at')
  .col-xs-2.small
    =t('users.index.reference_towns')
  .col-xs-1.small
    =t('users.index.roles_head')
  .col-xs-1.small
    =t('users.form.locked')
  .col-xs-1.small
    =t 'form.actions', :default => t("helpers.actions")
-#- @users.each do |user|
  .row.table_border
    .col-xs-1.small
      = user.name
    .col-xs-1.small
      = user.organisation
    .col-xs-1.small
      = user.phone
    .col-xs-2.small
      = user.email
    .col-xs-2.small
      = user.last_sign_in_at
    .col-xs-2.small
      = user.town
    .col-xs-1.small
      = render partial: 'roles', :locals => { roles: user.roles }
    .col-xs-1.small.text-center
      = render partial: 'locked', :locals => { locked: user.is_locked? }

    .col-xs-1
      =link_to t('form.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-default btn-xs'
      =link_to t('form.destroy', :default => t("helpers.links.destroy")), user, :method => :delete, :data => { :confirm => t('form.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
