%p
  %b ФИО:
  = @user.name
%p
  %b Телефон:
  = @user.phone
%p
  %b Email:
  = @user.email
%p
  %b Організація:
  = @user.organisation
%p
  %b Last sign in at:
  = @user.last_sign_in_at
%p
  %b Town:
  = @user.town
%p
  Admin:
  = render partial: 'roles', :locals => { roles: @user.roles }

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
