%p
  %b= t('devise.form.name') + ":"
  = @user.name
%p
  %b= t('devise.form.phone') + ":"
  = @user.phone
%p
  %b Email:
  = @user.email
%p
  %b= t('devise.form.organization') + ":"
  = @user.organisation
%p
  %b= t('users.index.last_sign_in_at') + ":"
  = @user.last_sign_in_at
%p
  %b= t('devise.form.city') + ":"
  = @user.town
%p
  = t('users.index.role') + ":"
  = render partial: 'roles', :locals => { roles: @user.roles }

= link_to t('edit'), edit_user_path(@user)
\|
= link_to t('back'), users_path
