:scss
  .container {
    form {
      .email-field {
        padding: 10px 25px;
      }
      .instruction-btn {
        padding: 10px 25px 30px;
      }
    }
  }
.container
  %h2= t('devise.passwords.forgot_your_password')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    %div.email-field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    %div.instruction-btn
      = f.submit t('devise.passwords.send_me_instructions')
  = render 'devise/shared/links'