%h1 Завантажити перелік розпорядиків бюджетних коштів

%ul.nav.nav-tabs
  %li.active
    = link_to 'Створити один', '#create-edrpou', aria: { expanded: true }, data: { toggle: 'tab'}
  %li
    = link_to 'Імпортувати файлом', '#import-edrpou', aria: { expanded: true }, data: { toggle: 'tab'}

.tab-content
  #create-edrpou.tab-pane.fade.active.in
    = render 'form'
  #import-edrpou.tab-pane.fade
    = form_tag import_funds_managers_path, multipart: true do
      - if current_user && current_user.admin?
        .form-group
          = render 'select_town'
      .form-group
        = file_field_tag :file

      .form-actions
        = submit_tag 'Завантажити', class: 'btn btn-default'

= link_to 'Back', funds_managers_path, class: 'btn btn-primary'