%p#notice= notice

%p
  %b Edrpou:
  = @funds_manager.edrpou

%p
  %b Title:
  = @funds_manager.title

= link_to 'Edit', edit_funds_manager_path(@funds_manager)
\|
= link_to 'Back', funds_managers_path
