%section.ui-timeline
  .col-sm-6.pull-left
    %h2 Дії міської влади
  .col-sm-6
    %h2 Дії громадських активістів

  .row
    %hr.col-md-12

  - @timeline_events.each do |event|
    %article.tl-item
      .col-sm-7{class: event[:holder] == 1 ? 'pull-right' : 'pull-left' }
        %span.icon.col-sm-3{class: event[:holder] == 1 ? 'pull-left' : 'pull-right' }
          %i.fa.fa-3{:class => event[:icon], :style => "background-color: #{event[:color]}" }
          %br
          .date.badge
            = event[:all_day] == true ? event[:dt].strftime('%d-%m-%Y') : event[:dt].strftime('%d-%m-%Y %H:%M:%S')
      .content.col-sm-5{class: event[:holder] == 1 ? 'pull-left' : 'pull-right' }
        %h3.title{ :style => ("color: #{event[:color]}") }
          = event[:title]
        %p
          = event[:description].html_safe

      .clearfix
