= bootstrap_form_for community, as: 'community', url: community_community_path(community.id), remote: true do |f|
  = f.text_field :title, :label => t('community.community.edit.form.name')
  = f.text_field :link, :label => t('community.community.edit.form.link')
  = f.text_area :participants, :label => t('community.community.edit.form.composition'), :rows => 5
  = f.text_field :center, :label => t('community.community.edit.form.center')
  = f.text_area :coordinates, :label => t('community.community.edit.form.boundaries'), :rows => 5
  = f.check_box :agree, :label => t('community.community.edit.form.agreed')
  .clear
  = f.submit t('form.save'), :class => 'btn btn-primary'
  = link_to t('form.destroy'), community_community_path(community.id), :method => :delete, remote: true, :data => { :confirm => 'Ви точно хочете видалити громаду?' }, class: 'btn btn-danger'

