= form_for @community_community do |f|
  - if @community_community.errors.any?
    #error_explanation
      %h2= "#{pluralize(@community_community.errors.count, "error")} prohibited this community_community from being saved:"
      %ul
        - @community_community.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
