
.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close

  %h4#myModalLabel.modal-title Modal title
= form_for @event, remote: true, format: :json, :html => { :class => 'form-horizontal' } do |f|
  .modal-body
    .form-group
      = f.label :holder, :class => 'control-label'
      .controls
        = f.text_field :holder, :class => 'form-control'
    .form-group
      = f.label :title, :class => 'control-label'
      .controls
        = f.text_field :title, :class => 'form-control'
    .form-group
      = f.label :icon, :class => 'control-label'
      .controls
        = f.text_field :icon, :class => 'form-control'
    .form-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_field :description, :class => 'form-control'
    .form-group
      = f.label :starts_at, :class => 'control-label'
      .controls
        .input-group.datetimepicker
          = f.text_field :starts_at_string, :class => 'form-control'
          %span.input-group-addon
            %span.fa.fa-calendar
    .form-group
      = f.label :ends_at, :class => 'control-label'
      .controls
        .input-group.datetimepicker
          = f.text_field :ends_at_string, :class => 'form-control'
          %span.input-group-addon
            %span.fa.fa-calendar

    .form-group
      = f.label :all_day, :class => 'control-label'
      .controls
        = f.text_field :all_day, :class => 'form-control'
    .form-group
      = f.label :color, :class => 'control-label'
      .controls
        #colorPicker
          %a.color
            .colorInner
          .track
            = f.text_field :color, :class => 'form-control colorInput', :type => "hidden"


  .modal-footer
    = button_to "Save", @event, :method => :post, :class => 'btn btn-primary pull-right'
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", :class => "pull-right"} Close

    = link_to t('.destroy', :default => t("helpers.links.destroy")), event_path(@event), remote: true, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger pull-left' if @event.persisted?

:javascript
  $(function () {
    $('.datetimepicker').datetimepicker({
       language: 'uk',
    });
  });

:javascript
  $(function () {
    var $box = $('#colorPicker');
    $box.tinycolorpicker();

    color = $('#event_color').val()
    console.log(color)
    $('#colorPicker .colorInner').css('background-color', color)
  })
