.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4#myModalLabel.modal-title= t('.title')

= bootstrap_form_for [@calendar, @event], remote: true, format: :json, :html => { :class => 'form-horizontal' } do |f|
  .modal-body
    = f.text_field :title, label: t('.name')

    %ul.nav.nav-tabs.nav-justified{:role => 'tablist'}
      %li.active
        %a{ :href => '#show_event_main_tab', :role => 'tab', 'data-toggle' => 'tab'}
          = t('.tab1_title')
      %li
        %a{:href => '#show_event_descr_tab', :role => 'tab', 'data-toggle' => 'tab'}
          = t('.tab2_title')
      %li
        %a{:href => '#show_event_range_tab', :role => 'tab', 'data-toggle' => 'tab'}
          = t('.tab3_title')
      %li
        %a{:href => '#show_event_attach_tab', :role => 'tab', 'data-toggle' => 'tab'}
          = t('.tab4_title')

    .tab-content
      .tab-pane.fade.in.active#show_event_main_tab
        = f.collection_radio_buttons :holder, [[1, ' Місто'], [2, ' Громада']], :first, :last, label: t('.holder')

        = f.static_control label: t('.icon') do
          = f.select_without_bootstrap :icon, options_for_select(fa_icon_list, @event.icon), {}, { class: 'fa-select' }
        .row
          .col-xs-6
            = f.select :color, options_for_select(get_bg_colors_list, @event.color), { label: "#{t('.color')}"}, { class: 'color-select' }
          .col-xs-6
            = f.select :text_color, options_for_select(text_colors_list, @event.text_color), { label: "#{t('.text_color')}"}, { class: 'color-select' }

      .tab-pane.fade#show_event_descr_tab
        = f.text_area :description, :rows => "10", label: t('.description')

      .tab-pane.fade#show_event_range_tab
        = f.text_field :starts_at, :value => date_dmY(@event.starts_at), label: t('.starts_at')
        = f.text_field :ends_at, :value => date_dmY(@event.ends_at), label: t('.ends_at')


        = f.check_box :all_day, label: t('.all_day')

      .tab-pane.fade#show_event_attach_tab

        .panel.panel-info
          .panel-body
            .form-group
              = render :partial => 'layouts/file_upload'


  .modal-footer
    = button_to t('form.save', :default => t("helpers.links.save")), [@calendar, @event], :method => :post, :class => 'btn btn-primary pull-right  col-sm-3', :params => {:calendar_id => @calendar.id}
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", :class => "pull-right"}= t('.close')

    = link_to t('form.destroy', :default => t("helpers.links.destroy")), [@calendar, @event], remote: true, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger pull-left' if @event.persisted?

:javascript
  $(function () {
    $(".fa-select").select2(
        {
            allowClear: true,
            formatResult: formatFaSelect,
            formatSelection: formatFaSelect,
            escapeMarkup: function(m) { return m; }
        }
    );

    function formatFaSelect(el) {
        return "<i class='fa " + el.id + "'/> " + el.id;
    }
  });


:javascript
  $(function () {
    $(".color-select").select2(
        {
            allowClear: true,
            formatResult: formatColorSelect,
            formatSelection: formatColorSelect,
            escapeMarkup: function(m) { return m; },
        }
    );

    function formatColorSelect(el) {
        return "<div style='width: 100%; height: 30px; background-color: " + el.id + "'/>";
    }
  });
