- model_class = Event
= content_for :header do
  .head.pull-left
    =t '.title'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:holder)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:icon)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:starts_at)
      %th= model_class.human_attribute_name(:ends_at)
      %th= model_class.human_attribute_name(:all_day)
      %th= model_class.human_attribute_name(:color)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.id, event_path(event)
        %td= event.holder
        %td= event.title
        %td= event.icon
        %td= event.description
        %td= event.starts_at
        %td= event.ends_at
        %td= event.all_day
        %td= event.color
        %td
          = link_to t('form.edit', :default => t("helpers.links.edit")), edit_event_path(event), :class => 'btn btn-default btn-xs'
          = link_to t('form.destroy', :default => t("helpers.links.destroy")), event_path(event), :method => :delete, :data => { :confirm => t('form.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('form.new', :default => t("helpers.links.new")), new_event_path, :class => 'btn btn-primary'
