- model_class = Taxonomy
= content_for :header do
  .head.pull-left
    %i.fa.fa-money
    #{t('.title')}

%table.table.table-striped
  %thead
    %tr
      %th
        = t('key')
      %th
        = t('name')
      %th
        = t('owner')
      %th
        =t 'form.actions', :default => t("helpers.actions")
  %tbody
    - @taxonomies.each do |taxonomy|
      %tr
        %td=link_to "#{taxonomy.id} (#{taxonomy.class})", "#{vtarnay_module3_path}".split('?')[0] + "/#{taxonomy.id}"
        %td= taxonomy.title
        %td= taxonomy.owner
