- model_class = Taxonomy

= content_for :header do
  .head
    %i.fa.fa-money
    #{t('.title')}:
    %span.descr
      #{@taxonomy.title}, #{@taxonomy.owner}

.budget

  = render partial: 'widgets/visify/sequence', :locals => { budget_file_id: @taxonomy.id }

  = render partial: 'pie', :locals => { budget_file_id: @taxonomy.id }


  .chart.col-xs-8

  .sidebar.col-xs-4

  .slider
    = render partial: 'widgets/visify/slider_chart'
    = render partial: 'widgets/visify/slider_compare', :locals => { budget_file_id: @taxonomy.id}

= render partial: 'widgets/visify/helpers'

:javascript

  var sequence = aSequence('.budget')
  var chart = aPieChart('.chart');
  var slider = aSliderCompare('#slider_compare');
  var slider_chart = aSliderChart('#slider_chart', slider);

  $(document).ready(function() {

    year = "#{@sel_year}"
    month = "#{@sel_month}"

    pie_width = Math.min($('.budget .chart').width(), $(document).height()) * .8

    d3.json("/widgets/visify/get_visify_level/" + "#{@taxonomy.id}" + "/kvk/", function(data) {
      chart.initialize(pie_width, data.levels, { onclick: showPieChart });
      chart.show(year, month);
    })


    sequence.initializeBreadcrumbTrail();

    slider.initialize(100);
    slider_chart.initialize(250);

    function showPieChart(key) {
      d3.json("/widgets/visify/get_bubblesubtree/" + "#{@taxonomy.id}" + "/kvk/" + key, function(data) {
        sequence.show(data);
        chart.initialize(pie_width, data.children, {} );
        chart.show(year, month);
      })
    }
  })

