- model_class = BudgetFile

= content_for :header do
  .head
    %i.fa.fa-money
    #{t('.title')}:
    %span.descr
      #{@budget_file.title}

.budget

  .tab-content
    %iframe{ 'width' => '100%', 'height' => '800'  }



:javascript
  $(document).on('ready page:change', function() {
    function set_visiframe(visualizator) {
      path = "#{request.base_url}"
      query = "#{URI.parse(request.url).query}"
      frame_url = path + "/widgets/visify/"+ visualizator + "/#{@budget_file.id}" + '/?' + query
      $('.embed input').val("<iframe width='900' height='600' src='" + frame_url + "'></iframe>")
      $('.tab-content iframe').attr('src', frame_url)

    }

    set_visiframe('bubbletree')
  })
