- model_class = BudgetFile
=content_for :header do
  .head.pull-left
    %i.fa.fa-money
    =t('.title')

%table.table.table-striped
  %thead
    %tr
      %th
        =t('key')
      %th
        =t('budget')
      %th
        =t('file')
      %th
        =t('owner')
      %th
        =t('author')
      %th
        =t 'form.actions', :default => t("helpers.actions")
  %tbody
    - @budget_files.each do |budget_file|
      %tr
        %td=link_to "#{budget_file.id} (#{budget_file.class})", "module3/#{budget_file.id}"
        %td
          =budget_file.title
        -#= " - #{budget_file.owner_email}" if current_user and current_user.has_role? :admin and budget_file.owner_email
        %td= budget_file.path
        %td= budget_file.taxonomy.owner
        %td= budget_file.author
