- @inspections.each do |inspection|
  -# item can be with data(not_planned) or plan(is_planned) hash
  %tr{'data-edrpou' => inspection['id']}
    %td
      = link_to inspection['id'], inspection['link'], target: '_blank'
    %td= inspection['regulator']
    %td= inspection['activity_type']
    %td= inspection['risk']
    %td= inspection['status']
    %td= inspection['date_finish']
    %td= inspection['sanction_sum']
    %td
      - if inspection['status'].eql?('Проведено')
        = link_to t('external_api.inspections.document_links.verification_reason'),
                  "http://cdn.inspections.gov.ua/#{inspection['internal_id']}/reason.pdf",
                  target: '_blank'
        = link_to t('external_api.inspections.document_links.verification_result'),
                  "http://cdn.inspections.gov.ua/#{inspection['internal_id']}/result_act.pdf",
                  target: '_blank'
