:scss

  table{
    tbody{
      tr{
        td{
          .alert{
            position: absolute;
            right: 15px;
          }
        }
      }
    }
  }

%h1 Список звернень

%table.table.table-striped
  %thead
    %tr
      %th №
      %th Town
      %th Category
      %th Text
      %th Recipients
      %th File
      %th Contacts
      %th Full name
      %th Repair
      %th Date
      %th Approved

  %tbody
    - @repairing_appeals.each_with_index do |repairing_appeal, i|
      %tr
        %td= i + 1
        %td= repairing_appeal.try(:town_title)
        %td= repairing_appeal.try(:category_title)
        %td= repairing_appeal.text
        %td
          - repairing_appeal.recipients.each do |rec|
            = rec
        %td
          - if repairing_appeal.file.url
            = link_to repairing_appeal.file.url, title: repairing_appeal.file_identifier, target:'_blank' do
              %i.fa.fa-download.fa.fa-border
              файл
        %td
          = repairing_appeal.address.city
          = repairing_appeal.address.street
          = repairing_appeal.address.house
          = repairing_appeal.address.apartment
          = repairing_appeal.phone
        %td
          = repairing_appeal.full_name
        %td
          = link_to 'ремонт', repairing_photos_slider_path(repairing_appeal.try(:repair)), target: '_blank' if repairing_appeal.repair
        %td
          = format_date(repairing_appeal.created_at)
        %td{ id: repairing_appeal.id }
          -#= repairing_appeal.approved
          = check_box_tag :approved, repairing_appeal.id, repairing_appeal.approved,
                          onchange: "$(this).data('params', 'approved=' + this.checked)",
                          data: { remote: true, url: repairing_appeal_approve_path(repairing_appeal.id), method: :put}

          -#= link_to 'Show', repairing_appeal
          -#= link_to 'Edit', edit_repairing_appeal_path(repairing_appeal)
          -#= link_to 'Destroy', repairing_appeal, :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript

  // $('input[checked="checked"]').prop('disabled', true);
  $(document).ready(function(){
    $('input[checked="checked"]').prop('disabled', true);
  })