-# used as text for send email to recipients
-# and generating pdf as attachment in email
:scss
  .preview{
    .appeal-head{
      text-align: center;
    }
  }

.preview
  %h2.appeal-head
    = 'Звернення'

  %p= @repairing_appeal.scenario.text_appeal.html_safe
  %p= @repairing_appeal.text
  %p
    %b Звернення згенероване за допомогою системи "Відкритий бюджет". Детальну інформацію про об'єкт скарги можете знайти за наведеним посиланням:
    = link_to 'ремонт', repairing_repair_on_map_url(@repairing_appeal.try(:repair)), target: '_blank' if @repairing_appeal.repair

  - if @repairing_appeal.file.url
    %p
      %b Прикріплений файл до звернення:
      = link_to "#{root_url}#{@repairing_appeal.file.url}", title: @repairing_appeal.file_identifier, target:'_blank' do
        %i.fa.fa-download.fa.fa-border
        файл

  %p
    %b Відповідь прошу надіслати на дві електронні скриньки
    = @repairing_appeal.email
    %b та
    = "openbudget.in.ua+#{@repairing_appeal.account_number}@gmail.com"

  %p
    %b Контактний телефон:
    = @repairing_appeal.phone
  %p
    = @repairing_appeal.full_name
    ,
    = @repairing_appeal.address.city
    = @repairing_appeal.address.street
    = @repairing_appeal.address.house
    = @repairing_appeal.address.apartment

  %p
    %b Дата
    = format_date(@repairing_appeal.created_at) || format_date(Time.now)