:css
  .jumbotron {
    margin: 0;
    padding: 0;
  }

  .navbar {
    margin-bottom: 0;
  }

.jumbotron.header.col-xs-12
  .head.col-xs-9
    %i.fa.fa-calendar
    #{@calendar.title}
    %p
    %span.descr
      = @calendar.description
  -##calendar_subscriber.col-xs-3.pull-right
  -#  = render :partial => 'subscribe', :locals => { subscriber: @subscriber, calendar: @calendar}

-#.timeline
-#  = render :partial => '/widgets/calendar/timelinejs', :locals => { calendar: @calendar }
-##embed_code_timeline.embed_code
-#  = render partial: 'widgets/visify/embed_code'

.col-sm-6.col-xs-12
  .panel.panel-default
    .panel-body
      #calendars
        %ul.col-sm-12.views.nav.nav-pills.pull-left{role: 'tablist'}
          %li.active
            %a{href: '#calendar_year', role: 'tab', 'data-toggle' => 'tab', 'data-content' => 'pie_cycle'}
              = t('.tab_calendar_year')
          %li
            %a{href: '#calendar_month', role: 'tab', 'data-toggle' => 'tab', 'data-content' => 'calendar'}
              = t('.tab_calendar_month')
          %li
            %a{href: '#calendar_timeline', role: 'tab', 'data-toggle' => 'tab', 'data-content' => 'timeline'}
              = t('.tab_calendar_timeline')
        .clear
        .tab-content
          #calendar_year.tab-pane.fade.in.active
            = render partial: '/widgets/calendar/pie_cycle', :locals => { calendar: @calendar }
            -#.pull-right
            -#  = render partial: 'layouts/export_img', :locals => { container: '#calendar_year' }
          #calendar_month.tab-pane.fade
            = render partial: '/widgets/calendar/calendar', :locals => { calendar: @calendar }
          #calendar_timeline.tab-pane.fade
            = render partial: '/widgets/calendar/timeline', :locals => { calendar: @calendar }

        -#.legend
        -#  .pull-left
        -#    = image_tag("calendar/inf-city.png", width: '200px')
        -#  .pull-right
        -#    = image_tag("calendar/inf-people.png", width: '200px')

.col-sm-6.col-xs-12
  = render partial: '/widgets/calendar/event', :locals => { owner: 1 }
  = render partial: '/widgets/calendar/event', :locals => { owner: 2 }

.col-sm-12
  #embed_code_calendar.embed_code
    = render partial: 'widgets/visify/embed_code'

-#.col-xs-12
-#  %h2
-#    Важливі події
-#  .col-sm-4
-#    .panel.panel-default
-#      .panel-body
-#        .pull-left
-#          = render :partial => '/widgets/calendar/current_event', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(1).first) }
-#        .col-sm-10
-#          = render :partial => '/widgets/calendar/current_event_description', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(1).first) }
-#  .pull-right.col-sm-4
-#    .panel.panel-default
-#      .panel-body
-#        .pull-right
-#          = render :partial => '/widgets/calendar/current_event', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(2).first) }
-#        .col-sm-10
-#          = render :partial => '/widgets/calendar/current_event_description', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(2).first) }
-#  .col-sm-4
-#    .panel.panel-default
-#      .panel-body
-#        = render :partial => '/widgets/calendar/countdown', :locals => { calendar: @calendar, countdown_event: get_countdown_event(@calendar) }

:javascript

  $(document).ready(function() {

    // ------------------ EMBED CODE EVENTS ------------------------
    var calendar = "#{@calendar.id}"

    var embed_code_timeline = aEmbedCode();
    var src = window.location.origin + "/widgets/calendar/timelinejs/" + calendar;
    embed_code_timeline.initialize({width: '100%', height: 150, el_id: "#embed_code_timeline", src: src});

    var embed_code_calendar = aEmbedCode();
    src = window.location.origin + "/widgets/calendar/pie_cycle/" + calendar;
    embed_code_calendar.initialize({width: 700, height: 700, el_id: "#embed_code_calendar", src: src});

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      src = window.location.origin + "/widgets/calendar/" + $(this).attr('data-content') + "/" + calendar;
      embed_code_calendar.set_iframe(src);
    });

    // ----------------- CALENDAR PIE EVENTS -----------------------
    var pie = aCalendarPie()
    pie.init_pie( {loadedCallback: calendar_pie_events} )

    $('#event-details').height($('#calendars').height());
    $(window).resize(function() {
      pie.init_pie({loadedCallback: calendar_pie_events})
      $('#event-details').height($('#calendar_pies').height());
    })

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      if($(this).attr('href') == "#calendar_year") {
        pie.init_pie({loadedCallback: calendar_pie_events});
        var marker_id = $('.marker.active').attr("id").split("marker_")[1];
        selectEvent(marker_id);
      }
    });


    $('#timeline-embed').on("LOADED", function(e) {
      timelineClick()
    })

    $('#timeline-embed').on("UPDATE", function(e) {
      timelineClick()
    })

    function timelineClick() {
        if ($('.marker.active').attr("id") == undefined)
          return

        var marker_id = $('.marker.active').attr("id").split("marker_")[1];
        selectEvent(marker_id);
    }

    var current_path = null, current_pathEl = null;

    function selectEvent(event_id) {
       if (event_id == undefined)
        return;

       $.get("/calendars/calendars/" + "#{@calendar.id}" + "/events/" + event_id);

       $.getJSON( "/widgets/calendar/get_parent_event/#{@calendar.id}/" + event_id, function( data ) {
          //console.log(data)
          var parent_id = data['parent_event'][0]['id'];
          // initial selection of current event
         if(current_path) {
            current_pathEl.stop().animate( { 'stroke-width': 1, 'fill-opacity': current_path.data('fill-opacity'), 'stroke-opacity': '1' }, 1000, mina.elastic);
            current_path.css("stroke", "#ffffff");
            current_pathEl.removeClass('selected_path');
         }
         var path = $("#path_" + parent_id);
         current_path = path;
         path.attr('class', 'events_path actual_path selected_path');
         var pathEl = Snap.select('#path_' + parent_id);
         if(pathEl){
            current_pathEl = pathEl;
            path.css("stroke", path.css('fill'));
            path.data('fill-opacity', path.css('fill-opacity'));
            pathEl.stop().animate( { 'stroke-width': 10, 'fill-opacity': '0.8', 'stroke-opacity': '0.8' }, 1000, mina.elastic);
         }
      })

    }

    function calendar_pie_events() {
      d3.selectAll("#calendar_pies svg g .actual_path")
         .on("click", function(d) {
           selectEvent(d.data.id);
           $('#marker_' + d.data.id).find(".flag").trigger("click");
         })

         .on("mouseover", function(d) {
           var s = Snap.select('#calendar_pies svg g');
           s.append(this); // to move current path to the front
           var pathEl = Snap.select('#path_' + d.data.id);
           if(!pathEl.hasClass("selected_path")) {
            $(this).css("stroke", $(this).css('fill'));
            $(this).data('fill-opacity', $(this).css('fill-opacity'));
            pathEl.stop().animate( { 'stroke-width': 10, 'fill-opacity': '0.8', 'stroke-opacity': '0.8' }, 1000, mina.elastic);
           }
         })
         .on("mouseout", function(d) {
            var pathEl = Snap.select('#path_' + d.data.id);
            if(!pathEl.hasClass("selected_path")) {
              pathEl.stop().animate( { 'stroke-width': 1, 'fill-opacity': $(this).data('fill-opacity'), 'stroke-opacity': '1' }, 1000, mina.elastic);
              $(this).css("stroke", "#ffffff");
            }
         })
    }


    var townEvent_id = "#{@curr_town_event.id if @curr_town_event}"
    var peopleEvent_id = "#{@curr_people_event.id if @curr_people_event}"
    if (townEvent_id) selectEvent(townEvent_id)
    if (peopleEvent_id) selectEvent(peopleEvent_id)
  })

-# timeline
:javascript
  $(document).ready(function() {
    $('.ui-timeline article.tl-item').on('click', function(e) {

      e = $(e.currentTarget)

      event_id = e.attr('event_id')

      if (event_id == null)
        return

      calendar_id = "#{@calendar.id}"
      $.get("/events/"+event_id, { calendar_id: @calendar_id });
    })
  })

