= javascript_include_tag "biPartite.js"
= javascript_include_tag "sankey.js"

= form_for @sankey do |f|
  - if @sankey.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sankey.errors.count, "error")} prohibited this sankey from being saved:"
      %ul
        - @sankey.errors.full_messages.each do |msg|
          %li= msg

  %select{:class => "selectpicker", :id => "select_rot", :name => :rot_file_id}
    - @budget_files_rot.each do |rot_file|
      %option{:value => rot_file.id}
        = rot_file.title
        = rot_file.owner

  %select{:class => "selectpicker", :id => "select_rov", :name => :rov_file_id}
    - @budget_files_rov.each do |rov_file|
      %option{:value => rov_file.id}
        = rov_file.title
        = rov_file.owner

  %p
  %button{:type => "button", :class => "btn btn-primary", :id => "sankey_create"}
    =t('sankeys.create')

  %p
  %select{:class => "selectpicker", :id => "select_year", :name => :file_year, :style => "display: none"}

  .budget
    #sankey_chart

  %p
  .actions
    = f.submit t('sankeys.save'), :class => "btn btn-primary", :id => "sankey_save", :style => "display: none"

:javascript

  var i = 0;

  $(document).on('ready page:change', function() {

    clear();
    var history;
    var years = [];

    if(i == 0 && '#{action_name}' == "edit") {
      new_sankey('#{@sankey.rot_file_id}', '#{@sankey.rov_file_id}');
    }

    // first time create sankey
    $('#sankey_create').click(function() {

      clear();

      var rot_file_id = $('#select_rot option:selected').val();
      var rov_file_id = $('#select_rov option:selected').val();

      new_sankey(rot_file_id, rov_file_id);

    })

    function new_sankey(rot_file_id, rov_file_id) {
      d3.json("/sankeys/get_rows/" + rot_file_id + "/" + rov_file_id, function(data) {
        var year_options = "";
        years = [];
        var d;
        // get number of years from the bigger array
        Object.keys(data["rows_rot"]).length > Object.keys(data["rows_rov"]).length ? d = data["rows_rot"] : d = data["rows_rov"];
        for(var year in d) {
            years.unshift(year);
        }
        for(var i in years) {
            year_options += "<option value='" + years[i] + "'>" + years[i] + "</option>";
        }
        $('#select_year').html(year_options).css("display", "block");
        history = data;
        get_sankey(data, years[0]);
      })
    }

    // use already loaded data if user change only year
    $('#select_year').change(function() {
      get_sankey(history, $(this).val());
    })

    // clear sankey field
    function clear() {
      $('#status_bar').html('');
      $('#sankey_chart').html('').css("height", "0");
      $('#sankey_save').css("display", "none");
    }

    i++;

  })

