#sankey_chart

= link_to 'Edit', edit_sankey_path(@sankey)
\|
= link_to 'Back', sankeys_path

= javascript_include_tag "biPartite.js"
= javascript_include_tag "sankey.js"

:javascript

  $(document).on('ready page:change', function() {
    get_sankey('#{@sankey.rot_file_id}', '#{@sankey.rov_file_id}');
  })
