%p
  %select{:class => "selectpicker", :id => "select_year", :name => :file_year, :style => "display: none"}
#sankey_chart

= link_to 'Edit', edit_sankey_path(@sankey)
\|
= link_to 'Back', sankeys_path

= javascript_include_tag "biPartite.js"
= javascript_include_tag "sankey.js"

:javascript

  $(document).on('ready page:change', function() {

    clear();
    var history;
    var years = [];

    d3.json("/sankeys/get_rows/" + '#{@sankey.rot_file_id}' + "/" + '#{@sankey.rov_file_id}', function(data) {
      var year_options = "";
      years = [];
      // get number of years from the bigger array
      Object.keys(data["rows_rot"]).length > Object.keys(data["rows_rov"]).length ? d = data["rows_rot"] : d = data["rows_rov"];
      for(var year in d) {
          years.unshift(year);
      }
      for(var i in years) {
          year_options += "<option value='" + years[i] + "'>" + years[i] + "</option>";
      }
      $('#select_year').html(year_options).css("display", "block");
      history = data;
      get_sankey(data, years[0]);
    })

    // use already loaded data if user change only year
    $('#select_year').change(function() {
      get_sankey(history, $(this).val());
    })

    function clear() {
      $('#sankey_chart').html('').css("height", "0");
    }

  })
