= render partial: 'sankey', :locals => { sankey: @sankey }
= render partial: 'widgets/visify/embed_code', :locals => { data_width: "900px", data_height: "600px", data_name: "", data_id: "visual" }

= link_to t('form.edit'), edit_sankey_path(@sankey), :class => "btn btn-primary"
= link_to t('form.back'), sankeys_path, :class => "btn btn-default"

:javascript

  $(document).ready(function() {

    I18n.locale = window.aHelper.lang();

    function set_visiframe_inframe() {
      if (window.top.location.host == window.self.location.host) {
        query = "#{URI.parse(request.url).query}"
        src = window.location.host + "/sankeys/sankey/#{@sankey.id}/?" + query;
        $('#embed_visual input').val("<iframe width='900' height='500' src='" + src + "'></iframe>")
        $('.tab-content iframe').attr('src', src)
        $('#embed_visual').find('.iframe_size_select').html(" <option value=\"default\" selected>900x500</option>\
                                                              <option value=\"300\">1200x500</option>\
                                                              <option value=\"900\">1500x500</option>\
                                                              <option value=\"other\">" + I18n.t('iframe.size') + "</option>")
        $('#embed_visual').find('.iframe_other_size').html("");
      } else {
        $('.embed_btn').html("");
      }

    }

    set_visiframe_inframe();

  })
