= bootstrap_form_for @properting_property, url: properting_layer_property_path(@properting_property.layer.id, @properting_property.id), remote: true, label_errors: true do |f|

  = f.text_field :obj_owner ,label: 'Власник'
  = f.text_field :edrpou_balance_holder, label: 'ЄДРПОУ власника'
  = f.text_field :obj_name, label: 'Назва об\`єкта'
  = f.text_field :obj_address, label: 'Адреса'
  -#= f.text_field :address_to, label: t('repairing.repairs.form.address_to')

  = f.select :properting_category,
    options_for_select([nil] + @properting_property.layer.properting_category.categories.collect {|p| [ p.title, p.id ] },
                       @properting_property.properting_category ? @properting_property.properting_category.id : nil),
    { label: t('repairing.repairs.form.subcategory') },
    class: 'form-control'
  .row
    .col-xs-6
      = f.text_field :rental_rate, label: 'Ціна'
    .col-xs-6
      = f.text_field :contract_start_date, placeholder: 'Дата початку', class: 'datepicker', label: 'Дата початку оренди'
    .col-xs-6
      = f.text_field :contract_end_date, placeholder: 'Дата закінчення', class: 'datepicker', label: 'Дата закінчення оренди'

  = f.text_field :prozzoro_id, label: t('repairing.repairs.form.prozzoro_id')
  = f.text_field :renter_name, label: 'Орендарь'
  = f.text_field :edrpou_renter, label: 'ЄДРПОУ орендарья'
  = f.text_field :purpose, label: 'Ціль оренди'
  = f.text_area :obj_desc, label: 'характеристика об\'єкту', rows: '4'
  = f.text_field :coordinates, label: t('repairing.repairs.form.coordinates'), disabled: 'disabled'

  .clear
  = f.submit t('form.save'), class: 'btn btn-primary', id: 'btn-submit'
  = link_to t('form.destroy'),
            properting_layer_property_path(@properting_property.layer.id, @properting_property.id),
            method: :delete,
            remote: true,
            data: { confirm: 'Are you sure?' },
            class: 'btn btn-warning'

  = link_to t('repairing.repairs.photos'),
            properting_property_photos_path(@properting_property.id),
            class: 'btn btn-info photos pull-right',
            target: '_blank'

:javascript

  $(document).ready(function(){
    $('.edit_properting_property').on('ajax:success',function(){
        // alert('Дані успішно збережені');
        $('#edit_property').modal('hide');
    });

    // Use Bootstrap/JQ/UI DateTimePicker
    $(".datepicker").datetimepicker({
      locale: '#{I18n.locale}',
      format: 'YYYY-MM-DD'
    });
  })
