
= form_for @budget_news do |f|
  - if @budget_news.errors.any?
    #error_explanation
      %h2= "#{pluralize(@budget_news.errors.count, "error")} prohibited this budget_news from being saved:"
      %ul
        - @budget_news.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .field
      = f.label :title, t('budget_news.index.title')
      = f.text_field :title,{'class' => 'form-control'}
  .form-group
    .field
      = f.label :news_text, t('budget_news.index.text')
      = f.text_field :news_text,{'class' => 'form-control'}
  .form-group
    .field
      = f.label :link, t('budget_news.index.link')
      = f.text_field :link,{'class' => 'form-control'}
  .form-group
    .field
      = f.label :img, t('budget_news.index.image')
      = f.text_field :img, {'class' => 'form-control'}
  -#.field
  -#  = f.label :news_date
  -#  = f.date_select :news_date
  .form-group
    = f.submit t ('.save')
