.col-sm-12.col-md-6
  = form_for @programs_target_program do |f|
    - if @programs_target_program.errors.any?
      #error_explanation
        %h2= "#{pluralize(@programs_target_program.errors.count, "error")} prohibited this programs_target_program from being saved:"
        %ul
          - @programs_target_program.errors.full_messages.each do |msg|
            %li= msg

  = bootstrap_form_for @programs_target_program, :html => { 'accept-charset' => "UTF-8", :class => 'form-vertical' } do |f|
    .form-group
      = f.text_field :title, :label => t('programs.target_programs.new.name')

    .actions
      = f.submit t('form.save'), :class => 'btn btn-primary'

.col-sm-12.col-md-6
  .documentation
    .col-sm-12
      .panel.panel-default
        .panel-heading
          = t('form.new_document')
        .new_document.panel-body
          = render :partial => 'programs/attachments/new_attachment', :locals => { :new_file => Programs::Attachment.new }

      .panel.panel-default
        .panel-heading
          = t('form.uploaded_documents')
        .documents.panel-body
          = render :partial => 'programs/attachments/attachments', :locals => { :files => @programs_target_program.programs_attachments }

.col-sm-12
  = link_to t('form.show'), @programs_target_program, :class => 'btn btn-primary'
  = link_to t('form.back'), '/programs/target_programs/list/' + @programs_target_program.programs_town_id, :class => 'btn btn-default'


