= form_for @programs_target_program do |f|
  - if @programs_target_program.errors.any?
    #error_explanation
      %h2= "#{pluralize(@programs_target_program.errors.count, "error")} prohibited this programs_target_program from being saved:"
      %ul
        - @programs_target_program.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
