.col-xs-4
  - unless icon.blank?
    %i.fa.fa-3x{class: "#{icon}"}

  %a{'href' => "#{programs_target_program_path(program_id)}"}
    = title

.col-xs-3.amount
  - unless amounts[year].blank?
    %span
      = amounts[year][:fact]
    .progress
      .progress-bar{'role' => 'progressbar', 'aria-valuenow' => "#{amounts[year][:perc]}", 'aria-valuemin' => 0, 'aria-valuemax' => 100, 'style' => "width:#{amounts[year][:perc]}%" }
        = "#{amounts[year][:perc]}%"
.col-xs-5
  2014-
  2019

- @years.each do |year|
  %td.amounts
    = amounts[year][:plan] if amounts[year]
