:scss

  table.programs > thead > tr > td, table.programs > tbody > tr > td, table.programs > tfoot > tr > td {
    vertical-align: middle;
  }

  table.programs {

    th {
      text-align: center;

      &.amount {
        width: 20vw;
      }
    }

    tr.clickable {
      cursor: pointer;
    }

    tr {
      &:hover {
        i, .progress { opacity: 1; }
      }

      td {
        &.amount > span, .progress {
          display: inline-block;
        }

        &.amount > span {
          padding-right: 10px;
        }

        i, .progress {
          opacity: .7;
        }

        .progress {
          margin-bottom: -4px;
          width: 10vw;
        }

        &.amount {
          text-align: right;
        }

        &.amounts {
          text-align: center;
          padding: 0 15px;
          font-size: 11pt;
        }
      }
    }
  }


:scss
  #target_programs {
    .panel {

      a.collapse_btn {
        margin: 10px 15px;

        text-decoration: none;
        font-family: FontAwesome;
        font-size: 20px;

        &:before {
          content: "\f106";
        }

        &.collapsed:before {
          content: "\f107";
        }
      }
    }
  }



.panel-group{'role' => 'tablist'}
  - programs.each do |program|

    .panel.panel-default
      #collapseListGroupHeading1.panel-heading{'role' => 'tab'}
        .panel-title.row
          %h4.col-xs-11
            = render partial: 'programs_list_item', locals: { program_id: program[:id], icon: 'fa-sun-o', :title => program[:title], amounts: program[:years], :year => @year }

          .pull-right
            %a.collapse_btn{'role' => 'button', 'data-toggle' => 'collapse', 'href' => '#collapseListGroup1', 'aria-expanded' => 'true', 'aria-controls' => 'collapseListGroup1'}

      #collapseListGroup1.panel-collapse.collapse.in{'role' => 'tabpanel', 'aria-labelledby' => 'collapseListGroupHeading1', 'aria-expanded' => 'true'}
        %ul.list-group
          %li.list-group-item
            Bootply
          %li.list-group-item
            One itmus ac facilin
        .panel-footer
          Footer





.table-responsive
  .pull-right
    %b
      Заплановано по роках
  %table.programs.table.table-hover
    %tr
      %th
      %th
        Назва
      %th.amount
        Виконано в
        = year
      %th
        Період
      - years.each do |year|
        %th
          = year
      %th

    - programs.each do |program|
      %tr.clickable{'data-href' => "#{programs_target_program_path(program[:id])}"}
        -#= render partial: 'programs_list_item', locals: { icon: 'fa-sun-o', :title => program[:title], amounts: program[:years], :year => @year }
      - unless program[:sub_programs].blank?
        - program[:sub_programs].each do |subprogram|
          %tr.clickable{'data-href' => "#{programs_target_program_path(subprogram[:id])}"}
            -#= render partial: 'programs_list_item', locals: { icon: nil, :title => subprogram[:title], amounts: subprogram[:years], :year => @year }

:javascript
  $(document).ready(function(e){
    $('tr.clickable').on('click', function() {
      var url = this.getAttribute('data-href')
      window.location = url
    })
  });