= content_for :header do
  .head.pull-left
    = t('programs.target_programs.load_indicators.header')

.documentation
  .col-sm-12
    .panel.panel-default
      .panel-heading
        = t('form.new_document')
      .new_document.panel-body
        = render :partial => 'programs/indicator_files/new_indicator_file', :locals => { :new_file => Programs::IndicatorFile.new }

    .panel.panel-default
      .panel-heading
        = t('form.uploaded_documents')
      .documents.panel-body
        = render :partial => 'programs/indicator_files/indicator_files', :locals => { :files => @programs_town.programs_indicator_files }

.col-sm-12
  = link_to t('form.back'), '/programs/target_programs/list/' + @programs_town.id, :class => 'btn btn-default'