:scss
  .program {
    & > div {
      margin-top: 30px;
    }
  }
.row
  =link_to t('programs.target_programs.index.header',city: current_user.town),programs_target_programs_path,class: 'btn btn-info'
.program.row

  .col-xs-12
    %h1
      %i.fa.fa-sun-o
        = "#{@program[:title]}, #{@year} #{t('year')}"

    = render partial: 'programs/target_programs/program/amounts', locals: { program: @program, :year => @year }

  .col-xs-12
    %h2
      =t('.main_target')

    %p
      =@program.reason

  .indicators.col-xs-12
    %h2
      = t('.group_indicators')
    = render partial: 'programs/target_programs/program/indicators', locals: { program: @program, :year => @year }

  .col-xs-12
    .gantt-header
      .pull-left
        %h2
          Діаграма ганта
      .pull-right
        ="#{t('.responsible')} : #{@program.responsible}"

    = render partial: 'programs/target_programs/program/gant'

  -#.col-xs-12
  -#  %h2
  -#    Відповідальні за виконання програми
