:scss
  .program {
    & > div {
      margin-top: 30px;
    }
  }

.program.col-xs-offset-2.col-xs-8

  .col-xs-12
    %h1
      %i.fa.fa-sun-o
        = "#{@program[:title]}, #{@year} рік"

    = render partial: 'program', locals: { program: @program, :year => @year }

  .col-xs-12
    %h2
      Основні цілі
    %p
      Впровадити......

  .indicators.col-xs-12
    %h2
      Групи показників
    = render partial: 'program_indicators', locals: { program: @program, :year => @year }

  .col-xs-12
    %h2
      Діаграма ганта
    = render partial: 'program_gant'

  .col-xs-12
    %h2
      Відповідальні за виконання програми
