= content_for :header do
  .head.pull-left
    = t('programs.target_programs.show.header')

.container.col-sm-12.col-md-6
  = render 'show_info'

.container.col-sm-12.col-md-6
  %br
    %ul.nav.nav-tabs
      %li.active
        %a{:href => '#tab_expences', role: 'tab', 'data-toggle' => 'tab'}
          = t('programs.target_programs.show.tab_expences')
      %li
        %a{:href => '#tab_indicators', role: 'tab', 'data-toggle' => 'tab'}
          = t('programs.target_programs.show.tab_indicators')

  .tab-content
    #tab_expences.tab-pane.fade.in.active
      = render 'show_expences'
    #tab_indicators.tab-pane.fade
      = render 'show_indicators'

.col-sm-12
  = link_to t('form.edit'), edit_programs_target_program_path(@programs_target_program), :class => 'btn btn-primary'
  = link_to t('form.back'), '/programs/target_programs/list/' + @town.id, :class => 'btn btn-default'
