= form_for [:calendars, @calendar], :html => { :class => 'form-vertical' } do |f|
  .form-group
    = f.label :title, t('.name'), :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'form-control'
  .form-group
    = f.label :description, t('.description'), :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'form-control'
  %hr
  %h3= t('.countdown')
  .form-group
    = f.label :countdown_title, t('.countdown_title'), :class => 'control-label'
    .controls
      = f.text_area :countdown_title, :class => 'form-control'
  .form-group
    = f.label :countdown_event, t('.countdown_event'), :class => 'control-label'
    .controls
      = f.select :countdown_event, @calendar.events.all.countdown_events.collect {|p| [ "#{holder_to_string(p.holder)}: #{p.title}, #{p.starts_at.to_date}", p.id ] }, {prompt: t('.select_event')}, :class => 'form-control'
  = f.submit t('form.save', :default => t("helpers.links.save")), :class => 'btn btn-primary'
  = link_to t('form.cancel', :default => t("helpers.links.cancel")), calendars_calendars_path, :class => 'btn btn-default'
