- model_class = Calendar
= content_for :header do
  .head.pull-left
    =t '.title'

%table.table.table-striped
  %thead
    %tr
      %th= t('.name')
      %th= t('form.actions')
  %tbody
    - @calendars.each do |calendar|
      %tr
        %td= link_to calendar.title, calendars_calendar_path(calendar)
        %td
          = link_to t('form.edit', :default => t("helpers.links.edit")), edit_calendars_calendar_path(calendar), :class => 'btn btn-default btn-xs'
          = link_to t('form.export', :default => t("helpers.links.export")), calendars_calendar_path(calendar, :format => :xlss), :class => 'btn btn-success btn-xs'
          = link_to t('form.destroy', :default => t("helpers.links.destroy")), calendars_calendar_path(calendar), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'


= link_to t('form.new', :default => t("helpers.links.new")), new_calendars_calendar_path, :class => 'btn btn-primary'
= form_for [:calendars, Calendar.new], :authenticity_token => true, method: 'POST', :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = f.file_field :import_file,:class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'

-#= form_tag({action: :create}, multipart: true) do
-#  = file_field_tag 'import_file'
-#  = submit_tag("Search")
