:scss
  :required:focus {
    box-shadow: 1px  1px 3px rgba(255,0,0,0.5);
  }
- model_class = Calendar
= content_for :header do
  .head.pull-left
    =t '.title'
.col-xs-12.documents_search
  = render partial: 'search'
%table.table.table-striped
  %thead
    %tr
      %th
        = sortable 'title', t('.name')
      %th
        = sortable 'author', t('.author')
      -if current_user.is_admin?
        %th
          = sortable 'town', t('.town')
      %th
        = sortable 'is_active', t('.active')
      %th= t('form.actions')
  %tbody#search_results
    = render partial: 'search_results', locals: {calendars: @calendars}

.btn-group
  = link_to t('form.new', :default => t("helpers.links.new")), new_calendars_calendar_path, :class => 'btn btn-primary'
.btn-group
  = form_for [:calendars, Calendar.new], :authenticity_token => true, method: 'POST', :html => { :class => 'form-horizontal', :multipart => true } do |f|
    .btn-group
      = f.file_field :import_file,:class => 'btn btn-default',required: true
    .btn-group
      = f.submit t("helpers.links.calendar_import"), :class => 'btn btn-primary'
