- model_class = Calendar
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @calendars.each do |calendar|
      %tr
        %td= link_to calendar.id, calendar_path(calendar)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_calendar_path(calendar), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), calendar_path(calendar), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_calendar_path, :class => 'btn btn-primary'
