-#https://github.com/okfn/bubbletree

= javascript_include_tag "jquery.history.js"
= javascript_include_tag "raphael.js"
= javascript_include_tag "vis4.js"
= javascript_include_tag "Tween.js"
= javascript_include_tag "bubbletree.js"
= javascript_include_tag "cofog.js"

.budget
  .bubbletree
    #chart
    #charts_tooltip.hidden
      %p
        %span#value

:javascript
  function aTreeChart(aContainer) {
    var self = this
    var _data;

    var bubbleTree = null;
    var totalSize = null;
    var centerNode = null;

    function clear() {
      sequence.hideBreadcrumb();
      sidebar.hide();
      d3.select(aContainer + ' #chart').selectAll("*").remove();
    }

    function nodeClick(node) {

      sequence.show(node);

      //if(node.children.length > 0) {
      //  sidebar.show(node);
      //} else {
      //  sidebar.hide();
      //  sidebar.showUndersequence(node);
      //  sidebar.getLevelInfo(node);
      //}

      //if(centerNode === null || (centerNode.label != node.label || centerNode.level != node.level)) {
      //  slider.show(node, current_month, current_year);
      //  slider_chart.show(node, current_month, current_year);
      //} else {
      //  slider_chart.set_month(current_month);
      //}

      if(node.icon == "fa-folder-open-o") {
        $(".slider").slideUp();
      } else {
        $(".slider").slideDown();
      }
      centerNode = node;
    }

    return {
      initialize: function(options) {
        centerNode = null;
        $(aContainer + ' #chart').width(options.width).height(options.height);
        self.clickCallback = options.clickCallback;
      },
      clear: clear,
      show: function(current_data) {
        clear();

        if (current_data == null) return;

        if(!centerNode) {
          centerNode = current_data;
        }

        bubbleTree = new BubbleTree({
            data: current_data,
            container: aContainer + ' #chart',
            sortBy: 'label',
            bubbleType: ['icon', 'plain'],
            centerNode: centerNode,
            nodeClickCallback: self.clickCallback
        });
        totalSize = current_data.amount;
      },
      selectNode: function (node) {
        self.clickCallback(node);
        bubbleTree.navigateTo(node);
      }
    }
  }
