-#https://github.com/okfn/bubbletree

= javascript_include_tag "jquery.history.js"
= javascript_include_tag "raphael.js"
= javascript_include_tag "vis4.js"
= javascript_include_tag "Tween.js"
= javascript_include_tag "bubbletree.js"
= javascript_include_tag "cofog.js"

.budget
  .bubbletree
    #chart
    #charts_tooltip.hidden
      %p
        %span#value

:javascript
  function aTreeChart(aContainer) {
    var bubbleTree = null;
    var totalSize = null;
    var centerNode = null;
    var current_key = null;
    var current_year = null;
    var current_month = null;
    var datum = null;

    function clear() {
      sequence.hideBreadcrumb();
      sidebar.hide();
      d3.select(aContainer + ' #chart').selectAll("*").remove();
    }

    function selectTree(key) {
      d3.json("/widgets/visify/get_bubblesubtree/" + "#{@taxonomy.id}" + "/" + current_year + "/" + current_month + "/kvk/" + key, function(data) {
        clear();
        if (data == null) return;

        if(current_key != key) {
          centerNode = data;
          current_key = key;
        }

        bubbleTree = new BubbleTree({
            data: data,
            container: aContainer + ' #chart',
            sortBy: 'label',
            bubbleType: ['icon', 'plain'],
            centerNode: centerNode,
            nodeClickCallback: nodeClick
        });

        slider.show(centerNode, current_month, current_year);
        slider_chart.show(centerNode, current_month, current_year);
        $("#" + current_key).attr("style","background-color: #C6E8FA");
      })
    }

    function nodeClick(node) {

      if(centerNode === null || current_year != icons.get_year() || current_month != icons.get_month()) {
        icons.show(current_year, current_month, current_key);
      }

      sequence.show(node);
      if(node.children.length > 0) {
        sidebar.show(node);
      } else {
        sidebar.hide();
        sidebar.showUndersequence(node);
        sidebar.getLevelInfo(node);
      }

      if(centerNode === null || (centerNode.label != node.label || centerNode.level != node.level)) {
        slider.show(node, current_month, current_year);
        slider_chart.show(node, current_month, current_year);
      } else {
        slider_chart.set_month(current_month);
      }

      if(node.icon == "fa-folder-open-o") {
        $(".slider").slideUp();
      } else {
        $(".slider").slideDown();
      }
      centerNode = node;
    }

    return {
      initialize: function(width, height) {
          $(aContainer + ' #chart').width(width).height(height);
      },
      clear: clear,
      show: function(year, month) {

        current_year = year;
        current_month = month;

        if(!current_key) {
          d3.json("/widgets/visify/get_bubbletree_data/" + "#{@taxonomy.id}" + "/"+ year+ "/" + month, function(data) {
            clear();
            datum = data;

            //console.log(d3.keys(data["amount"]));
            if (data == null) return;

            if(bubbleTree !== null) {
              centerNode = bubbleTree.currentCenter;
            }

            bubbleTree = new BubbleTree({
                data: data,
                container: aContainer + ' #chart',
                sortBy: 'label',
                bubbleType: ['icon', 'plain'],
                centerNode: centerNode,
                nodeClickCallback: nodeClick
            });
            totalSize = data.size;
          });
        } else {
          selectTree(current_key);
        }
      },
      selectNode: function (node) {
        nodeClick(node);
        //url = bubbleTree.getUrlForNode(node);
        bubbleTree.navigateTo(node);
      },
      selectTree: function (key) {
        selectTree(key);
      }
    }
  }

