-#https://github.com/okfn/bubbletree

= javascript_include_tag "jquery.history.js"
= javascript_include_tag "raphael.js"
= javascript_include_tag "vis4.js"
= javascript_include_tag "Tween.js"
= javascript_include_tag "bubbletree.js"
= javascript_include_tag "cofog.js"

.budget
  .bubbletree
    #chart
    #charts_tooltip.hidden
      %p
        %span#value

:javascript
  var aTreeChart = function (aContainer) {
    var self;
    var bubbleTree, centerNode = null, totalSize;

    function clear() {
      d3.select(aContainer + ' #chart').selectAll("*").remove();
    }

    return {
      initialize: function(options) {
        self = this

        $(aContainer + ' #chart').width(options.width).height(options.height);
        self.clickCallback = options.clickCallback;
      },
      show: function(data) {
        clear();

        if (data == null) return;

        bubbleTree = new BubbleTree({
            data: data,
            container: aContainer + ' #chart',
            sortBy: 'label',
            bubbleType: ['plain'],
            centerNode: centerNode,
            nodeClickCallback: self.clickCallback
        });
        totalSize = data.amount;
      },
      selectNode: function (node) {
        bubbleTree.navigateTo(node);
      },
      set_centerNode: function(node) {
        centerNode = node;
      }
    }
  }
