:css
  #description {
    height: 100px;
  }

= content_for :header do
  .head
    %i.fa.fa-money
    #{t('.title')}:
    %span.descr
      #{@taxonomy.title}


.visify.row.budget
  .col-xs-12
    = render partial: 'widgets/visify/sequence', :locals => { budget_file_id: @taxonomy.id }

  .icons.col-xs-12.col-md-5
    = render partial: 'left_icons', :locals => { budget_file_id: @taxonomy.id }

    .slider
      = render partial: 'widgets/visify/slider_chart'
      = render partial: 'widgets/visify/slider_compare', :locals => { budget_file_id: @taxonomy.id}

  .col-xs-12.col-md-7
    #under_sequence
    = render partial: 'sidebar', :locals => { budget_file_id: @taxonomy.id }

  #description.col-xs-12

  = render partial: 'widgets/visify/helpers'

  #charts_tooltip.hidden
    %p
      %span#value

:javascript

  $(document).ready(function() {
    var sequence = aSequence('.visify')
    var chart = aTreeChart('.bubbletree');
    var slider = aSliderCompare('#slider_compare');
    var slider_chart = aSliderChart('#slider_chart', slider);
    var sidebar = aSidebar('.visify');
    var icons = aIcons();
    var display = 0;

    var year = "#{@sel_year}",
        month = "#{@sel_month}",
        quarter = 0,
        data_type = "plan";

    var _data = null, current_data = null, center_node = null;

    sequence.initializeBreadcrumbTrail({clickCallback: sequenceItemClick});
    slider.initialize(150, {clickCallback: sliderItemClick});
    slider_chart.initialize(250, {clickCallback: yearItemClick});
    sidebar.initialize(600, {clickCallback: sequenceItemClick});
    chart.initialize({ width: $(document).width()/2, height: 600, clickCallback: bubbleItemClick });

    d3.json("/widgets/visify/get_visify_level/" + "#{@taxonomy.id}" + "/ktfk_aaa/", function(data) {
      icons.initialize(data, { height: 700, clickCallback: iconsItemClick });
      icons.show(year, month, quarter);
      start_bubble_show(data['totals'][year][month]);
      $("#slider_compare").hide();
      $("#slider_chart").hide();
      $("#description").hide();
    });

    function iconsItemClick(key) {

      if(display == 0) {
        $("#slider_compare").slideDown();
        $("#slider_chart").slideDown();
        $("#description").slideDown();
        display = 1;
      }

      d3.json("/widgets/visify/get_bubblesubtree/" + "#{@taxonomy.id}" + "/ktfk_aaa/" + key, function(data) {
        _data = data
        current_data = buildData(_data)
        preprocessData(current_data, 7);
        centerNode = current_data;

        chart.set_centerNode(null);
        sequence.show(current_data);
        chart.show(current_data);
        slider_chart.show(current_data, year);
        slider.show(current_data, year);
        sidebar.show(current_data);
      });
    }

      function preprocessData(root, maxNodes) {
        if (maxNodes + 2 < root.children.length) {
          var tmp = sortChildren(root.children);
          tmp.reverse();
          var keep = [], move = [], moveAmount = 0, breakdown;
          for (var i in root.children) {
            if (i < maxNodes) {
              keep.push(root.children[i]);
            } else {
              move.push(root.children[i]);
              moveAmount += Math.max(0, root.children[i].amount);
            }
          }

          root.children = keep;
          root.children.push({
            'label': I18n.t('other'),
            'name': I18n.t('other'),
            'amount': moveAmount,
            'children': move,
            'breakdown': true,
            'color': 'green',
          });

          for (var i in root.children) {
            if (root.children[i].children)
              preprocessData(root.children[i], maxNodes)
          }
        }
      }

      function sortChildren(children, alternate, sortBy) {
        var tmp = [], odd = true;
        if (sortBy == 'label') {
          sortBy = compareLabels;
          alternate = false;
        } else sortBy = compareAmounts;

        children.sort(sortBy);
        if (alternate) {
          while (children.length > 0) {
            tmp.push(odd ? children.pop() : children.shift());
            odd = !odd;
          }
          return tmp;
        } else {
          return children;
        }

        /*
         * compares two items by amount
         */
        function compareAmounts(a, b) {
            if (a.amount > b.amount) return 1;
            if (a.amount == b.amount) return 0;
            return -1;
        };

        /*
         * compares to item by label
         */
        function compareLabels(a, b) {
            if (a.label > b.label) return 1;
            if (a.label == b.label) return 0;
            return -1;
        };
      }

    function bubbleItemClick(node) {
      sequence.show(node);
      slider_chart.show(node, year);
      if(slider.current_node() != center_node || slider.current_year() != year) {
        slider.show(node, year);
      }
      sidebar.show(node);
      chart.set_centerNode(node);
      center_node = node;
    }

    function yearItemClick(new_year) {
      if(slider_chart.current_month != 0 && year == new_year) {
        month = 0;
        slider.set_month(month);
        $(".bar.month").css("fill-opacity", "0.5").css("fill", "#A4A4A4");
      }
      if(slider_chart.current_quarter != 0 && year == new_year) {
        quarter = 0;
        slider.set_quarter(quarter);
        $(".bar.quarter").css("fill-opacity", "0.5").css("fill", "#9ecae1");
      }
      year = new_year;
      icons.show(year, month, quarter);
      monthItemClick(month);
    }

    function sliderItemClick(element, curr_slider) {
      if(curr_slider == "month") {
        monthItemClick(element);
      } else if(curr_slider == "quarter") {
        quarterItemClick(element);
      }
    }

    function monthItemClick(new_month) {
      if(month == new_month && slider.current_year() == year) {
        month = 0;
      } else {
        month = new_month;
        if(slider.current_year() == year) {
          quarter = 0;
        }
      }

      current_data = buildData(_data)
      preprocessData(current_data, 7);

      var curr_node;
      if(center_node != _data) {
        curr_node = chart.get_CenterNode(center_node);
      }
      icons.show(year, month, quarter);
      slider.set_centerNode(curr_node);
      chart.show(current_data);
      chart.clickCallback(curr_node);
    }

    function quarterItemClick(new_quarter) {
      if(quarter == new_quarter && slider.current_year() == year) {
        quarter = 0;
      } else {
        quarter = new_quarter;
        if(slider.current_year() == year) {
          month = 0;
        }
      }
      current_data = buildData(_data)
      preprocessData(current_data, 7);

      var curr_node;
      if(center_node != _data) {
        curr_node = chart.get_CenterNode(center_node);
      }
      icons.show(year, month, quarter);
      slider.set_centerNode(curr_node);
      chart.show(current_data);
      chart.clickCallback(curr_node);
    }

    function sequenceItemClick(node) {
      sequence.show(node);
      slider_chart.show(node, year);
      slider.show(node, year);
      sidebar.show(node);
      chart.set_centerNode(node);
      chart.selectNode(node);
    }

    // get current data for all visifies
    function buildData(item) {
      if (!item.amount)
        return;

      var node = {}

      node['taxonomy'] = item.taxonomy

      $.each(item.amount, function(k, v) {
        var amount = (v[year] && v[year][month]) ? v[year][month] : { total: 0 }

        if (k == data_type) {
          if(quarter != 0 && v[year]) {
            amount = 0;
            var x = quarter*3 - 2;
            for(var i = x; i < x + 3; i++) {
              if(v[year][i]) amount += v[year][i]['total']
            }
            node['amount'] = amount
          } else {
            node['amount'] = amount['total']
            if (amount['fonds']) {
              node['amount_fond'] = amount['fonds']
            }
          }
        } else {
          node['amount_'+k] = amount['total']
        }
      })

      if (!node['amount'] || node['amount'] == 0)
        return

      node['history'] = item.amount[data_type]

      $.each(['key', 'label', 'color', 'icon'], function(k, v) {
        node[v] = item[v]
      })

      if (item.children) {
        node.children = []
        $.each(item.children, function(k, v) {
          child = buildData(v)
          if (child) node.children.push(child)
        });
      }

      return node;
    }

    function start_bubble_show(amount) {
      var width = $("#chart").width(),
          height = $("#chart").height()
      var svg = d3.select("#chart").append("svg")
                                   .attr("xmlns", "http://www.w3.org/2000/svg")
                                   .attr("width", width)
                                   .attr("height", height);
      var g = svg.append("g");
      var r = 100;
      var sircle = g.append("circle")
                      .attr("cx", width/2 - r/2)
                      .attr("cy", height/2 - r/2)
                      .attr("r", r)
                      .attr("fill", "green")
                   g.append("circle")
                      .attr("cx", width/2 - r/2)
                      .attr("cy", height/2 - r/2)
                      .style("fill", "transparent")
                      .style("stroke-dasharray", "4,4")
                      .style("stroke", "white")
                      .attr("r", r - 5)
      var text = g.append("text")
                      .attr("dx", width/2 - r/2)
                      .attr("dy", height/2 - r/2)
                      .attr("text-anchor", "middle")
                      .style("fill", "white")
                      .style("font-size", "1.2em")
                      .style("font-weight", "bold")
                      .text("Всього")
      text.append("tspan")
          .attr("x", width/2 - r/2)
          .attr("dy", "1.3em")
          .style("font-size", "1.0em")
          .style("font-weight", "normal")
          .text(aVisify.helpers.formatNumber(amount) )

      //var img = g.append("image")
      //           .attr("xlink:href", "/assets/icons/pig.svg")
      //           .attr("width", 200)
      //           .attr("height", 200)
      //           .attr("x", 228)
      //           .attr("y",53)
      //           .attr("fill", "green");
    }

    window.onmousemove = function (e) {
                                var tooltipSpan = document.getElementById('charts_tooltip');
                                var evt = e || window.event;
                                var x = evt.pageX,
                                    y = evt.pageY;
                                tooltipSpan.style.top = y + 'px';
                                tooltipSpan.style.left = x + 'px';
                              };
  })
