:css
  #description {
    height: 100px;
  }

= content_for :header do
  .head
    %i.fa.fa-money
    #{t('.title')}:
    %span.descr
      #{@taxonomy.title}


.visify.row.budget
  .col-xs-12
    = render partial: 'widgets/visify/sequence', :locals => { budget_file_id: @taxonomy.id }

  .icons.col-xs-12.col-md-5
    = render partial: 'left_icons', :locals => { budget_file_id: @taxonomy.id }

    .slider
      = render partial: 'widgets/visify/slider_chart'
      = render partial: 'widgets/visify/slider_compare', :locals => { budget_file_id: @taxonomy.id}

  .col-xs-12.col-md-7
    #under_sequence
    .text
      here is explanation
    = render partial: 'sidebar', :locals => { budget_file_id: @taxonomy.id }

  #description.col-xs-12

  = render partial: 'widgets/visify/helpers'

:javascript

  $(document).ready(function() {
    var sequence = aSequence('.visify')
    var chart = aTreeChart('.bubbletree');
    var slider = aSliderCompare('#slider_compare');
    var slider_chart = aSliderChart('#slider_chart', slider);
    var sidebar = aSidebar('.visify');
    var icons = aIcons();


    var year = "#{@sel_year}",
        month = "#{@sel_month}"

    sequence.initializeBreadcrumbTrail();

    d3.json("/widgets/visify/get_visify_level/" + "#{@taxonomy.id}" + "/kvk/", function(data) {
      icons.initialize(data, { height: 500, clickCallback: iconsItemClick });
      icons.show(year, month);
    });

    slider.initialize(100);
    slider_chart.initialize(250);

    sidebar.initialize(600);

    chart.initialize({ width: $(document).width()/2, height: 600, clickCallback: bubbleItemClick });

    function iconsItemClick(key) {
      d3.json("/widgets/visify/get_bubblesubtree/" + "#{@taxonomy.id}" + "/kvk/" + key, function(data) {
        var current_data = buildData(data);

        sequence.show(current_data);
        chart.show(current_data);
        slider_chart.show(current_data, year);
        slider.show(current_data, month);
        sidebar.show(current_data);
      });
    }

    function bubbleItemClick(node) {
      sequence.show(node);
      slider_chart.show(node, year);
      slider.show(node, year, month);
      sidebar.show(node);
  }

    // get current data for all visifies
    function buildData(item) {
      if (!item.amount || !item.amount[year] || !item.amount[year][month])
        return;

      var node = {}
      node['amount'] = item.amount[year][month]
      node['history'] = item.amount

      $.each(['key', 'label', 'color', 'icon'], function(k, v) {
        node[v] = item[v]
      })

      if (item.children) {
        node.children = []
        $.each(item.children, function(k, v) {
          child = buildData(v)
          if (child) node.children.push(child)
        });
      }

      return node;
    }
  })
