= content_for :header do
  .head.pull-left
    %i.fa.fa-info-circle
    = t('.help')

%h4
  Загальні відомості
%p
  Система дозволяє завантажити файли в форматі XLS, CSV та DBF.
%p
  Файли повинні містити табличні дані (стовбці та колонки).
%p
  Зміст файлів CSV повинен бути в UTF-8 кодировці.
%p
  Стовпці відповідають рівням візуалізації, перша строчка містить назви рівнів.
%p
  Файл може містити дані за декілька років та в розрізі декількох місяців:
  %ul
    %li
      колонка _year містить рік (наприклад 2014).
      Якщо колонка _year не вказана, по замовчуванню система враховує дані за поточний рік
    %li
      колонка _month містить номер місяця [1..12] або 0, якщо дані річні.
      Якщо колонка _month не вказана, по замовчуванню система вважае дані річними
%p

%hr

%h4
  Завантаження файлів з довільною табличною структурою
%p
  Система дозволяє завантажити файли з довільною кількістю стовпців (пункт меню Візуалізація бюджету > Бюджетні файли > Завантажити XLS, CSV та DBF).
  Перший стовпчик відповідає першому рівню деталізації, другий – другому і т.д. Останній стовпчик повинен містити суму.
%p
  Для прикладу дивись файл free_form.xlsx.

%hr

%h4
  Завантаження файлів з Доходами
%ul
  %li
    ROT*.dbf (пункт меню Візуалізація бюджету > Бюджетні файли > Завантажити доходи > Завантажити доходи ROT). ROT*.dbf імпортується з зовнішньої системи та має жорстку структуру.
    = render partial: 'example_budget_file', :locals => {file: BudgetFileRot.get_budget_file_for_example}

  %li
    Файл «Доходи – Фонд» (пункт меню Візуалізація бюджету > Бюджетні файли > Завантажити доходи > Завантажити доходи - Фонд) дозволяє завантажити доходи в розрізі загального та спеціального фондів та містить наступні стовпці: «kkd, Загальний фонд, Спеціальний фонд», останні два стовпці відповідають за суму загального фонду та суму спеціального фонду відповідно.
    = render partial: 'example_budget_file', :locals => {file: BudgetFileRotFond.get_budget_file_for_example}

  %li
    Файл «Доходи План + Факт» (пункт меню Візуалізація бюджету > Бюджетні файли > Завантажити доходи > План + Факт)
    = render partial: 'example_budget_file', :locals => {file: BudgetFileRotPlanfact.get_budget_file_for_example}

%hr

%h4
  Завантаження файлів з Видатками:
%ul
  %li
    ROV*.dbf (пункт меню Візуалізація бюджету > Бюджетні файли > Завантажити видатки > Завантажити видатки ROV). ROV*.dbf імпортується з зовнішньої системи та має жорстку структуру.
    = render partial: 'example_budget_file', :locals => {file: BudgetFileRov.get_budget_file_for_example}
  %li
    Файл «Видатки – Фонд» (пункт меню Візуалізація бюджету > Бюджетні файли > Завантажити видатки > Видатки – Фонд) дозволяє завантажити видатки в розрізі загального та спеціального фондів та містить наступні стовпці: «Джерело, Розпорядник, Функц класифікація, Загальний фонд, Спеціальний фонд», останні два стовпці відповідають за суму загального фонду та суму спеціального фонду відповідно,
    = render partial: 'example_budget_file', :locals => {file: BudgetFileRovFond.get_budget_file_for_example}
  %li
    Файл «Видатки План + Факт» (пункт меню Візуалізація бюджету > Бюджетні файли > Завантажити Видатки > План + Факт)
    = render partial: 'example_budget_file', :locals => {file: BudgetFileRovPlanfact.get_budget_file_for_example}

%hr

%h4
  Пояснення до бюджетних файлів.
%p
  Після завантаження файлу з коректними даними відкривається вікно з візуалізацією.
%p
  Для кожної суми можна вказати пояснення (кнопка «Пояснення»):
%ul
  %li
    коротку назву
  %li
    колір
  %li
    детальний опис
  %li
    малюнок для візуалізації
%p
  %b Примітка:
  Пояснення можуть містити в тексті довільний html-код, iframe та ін.
%p
  %b Примітка:
  В систему завантажені довідники з поясненнями, якщо назва рівня в файлі співпадає з назвою довідника, система автоматично завантажує пояснення до візуалізації:
  %ul
    %li kkd – функціональна класифікація доходів,
    %li ktfk - функціональна класифікація видатків,
    %li kvk – відомча класифікація
    %li ekv – економічна класифікація
