= form_for @vtarnay_module8 do |f|
  - if @vtarnay_module8.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vtarnay_module8.errors.count, "error")} prohibited this vtarnay_module8 from being saved:"
      %ul
        - @vtarnay_module8.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
