:css
  .bsize {
    font-size: .73em;
    background-color: rgba(128,128,128,.35);

  }
  .fa-t-fix {
    font-size: .47em;
  }
  .fa-folder-o {
    color: #808080;
  }
  .fa-stack:hover .fa-folder-o {
    color: #0099da !important;
  }
  .bcol :hover {
    color: #0099da !important;
  }
  .br-red{
  border: solid 1px red;
  }


%h3.right-line
  Документи
  %span.badge.bsize.count
    = @town.documentation_documents.count()

.owl-example.owl-carousel
  - Documentation::Branch.all.each do |br|
    - count = @town.documentation_documents.where(:branch => br).count()
    - if count > 0
      .owl-carousel-item
        .town.thumbnailexit
          .icon-docs
            %a.bcol{ :href => "/public/documents?town_select=#{@town.id}&branch_select=#{br.id}" }
              %span.fa-stack.fa-3x
                %i.fa.fa-folder-o.fa-stack-2x
                %strong.fa-stack-1x.fa-t-fix
                  = count
          .title-docs
            %p
              = br.title