- model_class = Taxonomy

= content_for :header do
  .head
    = @town.title

.row-fluid
  %ul.nav.nav-tabs.pull-left{role: 'tablist'}
    - active = 'active'
    - @tabs.each do |tab|
      %li{ class: tab[:cname]}
        %a{role: 'tab', 'data-toggle' => 'tab', 'data-url' => tab[:url]}
          = tab[:title]

<iframe width=1200 height=900 src='http://localhost:3000//widgets/visify/bubbletree/55b2462c6b6173070b000000/?locale=uk'></iframe>
.budget.row-fluid
  .tab-content
    %iframe{ 'width' => '100%', 'height' => '800' }

= link_to t('form.back', :default => t("helpers.links.back")), public_path, :class => 'btn btn-default'
.col-sm-12
  #embed_code_budget.embed_code
    = render partial: 'widgets/visify/embed_code'
:javascript

  $(document).on('ready page:load', function() {

    $('#embed_code_budget').on('click',function(){
       $('#embeded_code_modal_window').modal();
    });

    var embed_code = aEmbedCode();

    var curr_tab = $('li.active a').attr('data-url')
    set_iframe(curr_tab);

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      set_iframe($(this).attr('data-url'));
    });

    function set_iframe(url) {
      path = "#{request.base_url}"
      query = "#{URI.parse(request.url).query}"
      frame_url = path + '/' + url + '/?' + query
      $('.tab-content iframe').attr('src', frame_url)
      embed_code.initialize({width: 1200, height: 900, el_id: "#embeded_code_modal_window", src: frame_url})
      $('#embeded_code_modal_window').find('#embed_src').val(frame_url);
      console.log(frame_url);
    }

  })