:css
  .budget {
    cursor: pointer;
  }
  .budget.active {
    cursor: default;
    font-weight: bold;
  }

=content_for :header do
  .head.pull-left
    =@town.title

.row{:style => 'margin-top: 10px;'}
  .col-sm-12.col-md-2{:style => 'margin-top: 25px;'}
    %img.thumbnail{src: @town.img.thumb.url, :style => 'display:block; margin:auto;'}
  .col-sm-12.col-md-5.col-lg-6
    %h3
      Короткі відомості
    = @town.description ? @town.description : ''
    %h3
      Корисні посилання
      - unless (@town.links.nil?)
        %p
          =@town.links.html_safe
  .col-sm-12.col-md-5.col-lg-4
    = render partial: 'map_ukraine'

#portfolio.container.col-xs-12.col-xs-offset-0.col-md-5.col-md-offset-2.col-lg-6
  .row
    - %w(budget programs keys calendar sankey repair).each do |item|
      = render partial: 'portfolio', :locals => { :item => item }

#sidebar_info.col-xs-12.col-md-5.col-lg-4
  - if @total_amounts != {}
    = render partial: 'revenues_expences'

.container.col-xs-12.col-xs-offset-0.col-md-offset-2.col-md-8.col-lg-10
  = render partial: 'docs'

:javascript

  $(document).ready(function() {

    $('.budget[data-id]').on('click', function (e) {
      $('.budget[data-id]').removeClass('active')
      $(this).addClass('active')

      var vis = $(this).attr('data-vis')
      var id = $(this).attr('data-id')
      set_iframe(vis, id);

    });

    $(".owl-example").owlCarousel({
      //Count on page
      items : 4
      //autoWidth:true
    });

  })