:scss
  // init colors
  $yellow: #ffd304;
  $white: #ffffff;
  $dark-blue: #0c2231;

  .wrapper {
    display: flex;
    margin-top: 73px;
    .town-search{
      z-index: 6;
      position: absolute;
      margin: 0 10px;
      border: 1px solid $yellow;
      display: inline-flex;
      .select2-container{
        width: 85% !important;
        height: 30px;
        .select2-choice{
          height: 30px;
          border-radius: 0px;
          #select2-chosen-1{
            padding-top: 0px;
          }
          .select2-arrow{
            display: none;
          }
        }
      }
      .search-button{
        cursor: pointer;
        padding-left: 1px;
        i{
          font-size: 25px;
          color: $white;
        }
        i.mobile-search{
          color: $yellow;
        }
      }
    }
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 220px;
      height: 100%;
      z-index: 1;
      overflow: hidden;
      background: transparent;
      padding-top: 73px;
      .blason-block {
        margin-top: 60px;
        padding: 5% 30%;
      }
      .sidebar-nav {
        padding: 0;
        li {
          a {
            position: relative;
            display: block;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: 400;
            padding: 15px 15px 15px 15px;
            color: #eee;
            &:before {
              font: 14px fontawesome;
              position: absolute;
              top: 14px;
              left: 20px;
            }
            &:hover,
            &:focus {
              background: #807023;
              text-decoration: none;
            }
            svg {
              position: relative;
              margin: -17px -12px;
              width: 45px;
              height: 45px;
              fill: $white;
            }
            p {
              padding-left: 1.7rem;
              margin: 0;
              display: inline-block;
            }
          }
        }
        .active {
          background: $yellow;
          a{
            color: $dark-blue;
            svg {
              fill: $dark-blue;
            }
          }
        }
        .button {
          float: left;
          padding: 0 15px;
          transform: rotate(180deg);
          transition: transform 1s;
          cursor: pointer;
          &:before {
            content: '\f100';
            font: 40px fontawesome;
            color: $white;
          }
          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }
    .is-full {
      .sidebar-nav {
        .button {
          float: right;
          padding: 0 10px;
          transform: rotate(0deg);
          transition: transform 1s;
          &:before {
            content: '\f100';
          }
        }
      }
    }
    .content {
      height: auto;
      min-height: calc(100vh - 193px);
      margin-left: 50px;
      margin-bottom: 120px;
      padding: 30px;
      background: $white;
      z-index: 4;
      transform: translate3d(0,0,0);
      transition: transform .5s;
      width: calc(100% - 50px);
      .content-wrapper {
        display: block;
        height: auto;
        .tab-content {
          #description {
            .infobox {
              width: 100% !important;
              background-color: transparent !important;
              font-size: 100% !important;
              table-layout: fixed;
              tr {
                background-color: transparent !important;
                td {
                  background-color: transparent !important;
                  overflow:hidden;
                  word-wrap:break-word;
                  table {
                    background-color: transparent !important;
                  }
                }
              }
            }
          }
        }
      }
    }
    .is-open {
      margin-left: 0;
      transform: translate3d(220px,0,0);
      width: calc(100% - 220px);
    }
  }

  @media (max-width: 991px) {
    body {
      .blocks {
        .wrapper {
          .content {
            margin-bottom: 193px;
            .content-wrapper{
              .tab-content{
                .modules{
                  .modules-wrapper{
                    .module{
                      padding: 0;
                      a{
                        > div{
                          .img{
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

.wrapper
  .town-search.input-group
    = text_field_tag 'active_town_select', '', placeholder: t('.choose_town')
    .input-group-btn.search-button
      %i.fa.fa-search{"aria-hidden" => "true"}
  .sidebar

    .blason-block
      =image_tag('new_design/blason.svg', class: 'img-responsive')
    %ul.sidebar-nav
      %li
        =link_to '#description', data: {toggle: "tab"} do
          = inline_svg('icons/town_profile_sidebar/info.svg')
          %p
            = t('public.towns.portfolio.description')
      %li.active
        =link_to '#portfolio', data: {toggle: "tab"} do
          = inline_svg('icons/town_profile_sidebar/chart.svg')
          %p
            = t('public.towns.portfolio.visuals')
            %span.badge.bsize.count#town_items_length
      -#= @town_items.length.to_s
      %li
        =link_to '#documents', data: {toggle: "tab"} do
          = inline_svg('icons/town_profile_sidebar/docs.svg')
          %p
            = t('public.towns.portfolio.documents')
            %span.badge.bsize.count
              = @documents.length
      %li
        =link_to '#links', data: {toggle: "tab"} do
          = inline_svg('icons/town_profile_sidebar/link.svg')
          %p
            = t('public.towns.portfolio.town_links')
            %span.badge.bsize.count
              = @town_links.length
      %li
        =link_to '#pub_budget', data: {toggle: "tab"} do
          = inline_svg('icons/town_profile_sidebar/folder.svg')
          %p
            = t('public.towns.portfolio.pub_budget')

      -#%li
      -#  %a{"data-toggle" => "tab", :href => "#pdf_docs"}
      -#    PDS doc's
      %a.button
  .content
    .content-wrapper
      .tab-content
        #description.tab-pane.fade
          -#- if @town.description && !@town.description.blank?
          %h3.desc-ons
            = t('public.towns.portfolio.description')
          = @town.get_beautiful_description
          - if @town.links && !@town.links.blank?
            %h3.links
              = t('public.towns.portfolio.links')
            %p
              =@town.links.html_safe
          -#= @wiki_info.html_safe
        #portfolio.tab-pane.active.fade.in

        #documents.tab-pane.fade
          = render partial: 'docs'
        #links.tab-pane.fade
          =render partial: 'links'

        #pub_budget.tab-pane.fade
          =render partial: 'pdf_docs',locals: {export_budgets: @town_export_budgets}



:javascript

  function addBreadcrumbs(title,link){
    var breadcrumbs_list = $('.breadcrumb');
    breadcrumbs_list.find('li.active').removeClass('active');
    // create new li dom and set active class
    var active_li = $('<li></li>').addClass('active');
    // create new a dom and set html
    var a = $('<a>').html(title);

    active_li.append(a);

    breadcrumbs_list.append(active_li);
  }
  function removeBreadcrumbs() {
    $('.breadcrumb').not(':first').remove();
  }



  function renderVisualisation(portfolio_url){
      $.ajax({
      url: portfolio_url,
      success: function(data){
        $('.breadcrumb > li:first-child').click(function() {
          if(!$(this).hasClass('active')){
            removeBreadcrumbs();
            renderVisualisation("#{widgets_town_profile_path(@town)}");
          }
        });
        $('.module').find('a').attr('data-remote',"true");
        $('.module').click(function(){
          var breadcrumbs_title = $.trim($(this).find('.title').html());
          var breadcrumbs_link = $(this).find('a').attr('href');
          addBreadcrumbs(breadcrumbs_title,breadcrumbs_link);
          if($(window).width() > middleScreenSize && $('.blocks > .wrapper > .sidebar').hasClass('is-full')){
            toggleSidebar();
          }
        })
      }
    });

  }

  function toggleSearch(){
    // if sidebar in small version and search visible
    if(!$('.sidebar').hasClass('is-full') && $('#s2id_active_town_select').is(':visible') ){
       $('.search-button').find('i').removeClass('mobile-search');
       $('#s2id_active_town_select').hide('fast');
    // if sidebar in small version
    }else if(!$('.sidebar').hasClass('is-full')){
      $('.search-button').find('i').addClass('mobile-search');
      $('#s2id_active_town_select').show('fast');
    }
  }

  function toggleSidebar(){
    // remove town search class
    $('.search-button').find('i').removeClass('mobile-search');
    // if sidebar in small version
    if (!$('.sidebar').hasClass('is-full')){
      $('#s2id_active_town_select').show('fast');
    }else{
      $('#s2id_active_town_select').hide('fast');
    }
    //toggleSearch();
    $('.blocks > .wrapper > .sidebar').toggleClass('is-full');
    $('.blocks > .wrapper > .content').toggleClass('is-open');
  }
  var middleScreenSize = 1200;


  $(document).ready(function() {

    $('.search-button').click(function(){
      toggleSearch();

    });

    // if we click on visual icon in sidebar
    // render visaulisation list
    $("a[href='#portfolio']").click(function(){
      renderVisualisation("#{widgets_town_profile_path(@town)}");
    })

    init_town_select2_with_field_id('#active_town_select',"#{search_for_active_towns_path}")
    $('#s2id_active_town_select').hide('fast');
    $('#active_town_select').on('change',function(){
      window.location.replace("#{public_path('ID')}".replace('ID', $(this).select2('data').id));
    });
    renderVisualisation("#{widgets_town_profile_path(@town)}");

    //Show full sidebar on desctops [md/lg size]
    if($(window).width() > middleScreenSize){
      toggleSidebar();
      $('#s2id_active_town_select').show('fast');
     };

    //Toggle button action [hide/show sidebar]
    $('.button').on('click', function() {
       toggleSidebar();
    });
  });

  //Resize window sidebar view
  $(window).resize(function(){
    //if($(window).width() < middleScreenSize){

      //toggleSidebar();
    //} else
    //if($(window).width() > middleScreenSize){
      toggleSidebar();
    //};
  });
  // if ajax was send fade out modules visualisation
  //$(document).bind("ajaxSend", function(){
  //  $('.modules-wrapper').fadeOut('slow');
  // if ajax complete fade in visualisation modules
  //}).bind("ajaxComplete", function(){
  //  $(".modules-wrapper").fadeIn('slow');
  //});

