:scss
  .wrapper {
    display: flex;
    margin-top: 73px;
    //padding: 73px 0 0;
    //height: calc(100vh - 121.39px);
    //min-height: calc(100vh - 121.39px);
    //height: 100%;
    //min-height: calc(100% - 193px);
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    background: transparent;
    //min-height: calc(100% - 73px);
    padding-top: 73px;
  }

  .content {
    //height: 100%;
    height: auto;
    min-height: calc(100vh - 193px);
    margin-left: 50px;
    margin-bottom: 120px;
    padding: 30px;
    //padding-top: 73px;
    background: white;
    z-index: 4;
    //box-shadow: 0 0 5px rgba(0,0,0,1);
    transform: translate3d(0,0,0);
    transition: transform .5s;
    width: calc(100% - 50px);
    .content-wrapper {
      //padding-top: 30px;
      //position: relative;
      display: block;
      height: auto;
      overflow: auto;

    }
  }

  .content.is-open {
    margin-left: 0;
    transform: translate3d(220px,0,0);
    width: calc(100% - 220px);
  }

  /* Navigation */


  .button {
    cursor: pointer;
    &:before {
      font: 40px fontawesome;
      color: white;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .blason-block {
    padding: 5% 30%;
  }

  .sidebar {
    .sidebar-nav {
      padding: 0;
      .button {
        float: left;
        padding: 0 15px;
        transform: rotate(180deg);
        transition: transform 1s;
        &:before {
          content: '\f100';
        }
      }
    }
  }
  .is-full {
    .sidebar-nav {
      .button {
        float: right;
        padding: 0 10px;
        transform: rotate(0deg);
        transition: transform 1s;
        &:before {
          content: '\f100';
        }
      }
    }
  }

  .sidebar-nav li a {
    position: relative;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 15px 15px 50px;
    color: #eee;
  }

  .sidebar-nav li a:before {
    font: 14px fontawesome;
    position: absolute;
    top: 14px;
    left: 20px;
  }

  .sidebar-nav li:nth-child(1) a:before { content: '\f129'; }
  .sidebar-nav li:nth-child(2) a:before { content: '\f200'; }
  .sidebar-nav li:nth-child(3) a:before { content: '\f0f6'; }
  .sidebar-nav li:nth-child(4) a:before { content: '\f0c1'; }
  .sidebar-nav li:nth-child(5) a:before { content: '\f09d'; }
  .sidebar-nav li:nth-child(6) a:before { content: '\f1c1'; }

  .sidebar-nav li a:hover {
    background: #807023;
    text-decoration: none;
  }

  .sidebar-nav li.active {
    //box-shadow: inset 5px 0 0 #ffd304, inset 6px 0 0 #0c2231;
    background: #ffd304;
    a{
      color: #0c2231;
    }
  }

  /* Description */

  h1 {
    margin: 25px 0 15px;
    font-size: 28px;
    font-weight: 400;
  }

  @media (max-width: 991px) {
    body {
      .blocks {
        .wrapper {
          .content {
            margin-bottom: 193px;
          }
        }
      }
    }
  }

.wrapper
  .sidebar
    .blason-block
      =image_tag('new_design/blason.svg', class: 'img-responsive')
    %ul.sidebar-nav
      %li
        %a{"data-toggle" => "tab", :href => "#description"}
          = t('public.towns.portfolio.description')
      %li.active
        %a{"data-toggle" => "tab", :href => "#portfolio"}
          = t('public.towns.portfolio.visuals')
          %span.badge.bsize.count#town_items_length
      -#= @town_items.length.to_s
      %li
        %a{"data-toggle" => "tab", :href => "#documents"}
          = t('public.towns.portfolio.documents')
          %span.badge.bsize.count
            = @documents.length
      %li
        %a{"data-toggle" => "tab", :href => "#links"}
          = t('public.towns.portfolio.town_links')
          %span.badge.bsize.count
            = @town_br_links.length
      %li
        %a{"data-toggle" => "tab", :href => "#pub_budget"}
          = t('public.towns.portfolio.pub_budget')

      -#%li
      -#  %a{"data-toggle" => "tab", :href => "#pdf_docs"}
      -#    PDS doc's
      %a.button
  .content
    .content-wrapper
      .tab-content
        #description.tab-pane.fade
          - if @town.description && !@town.description.blank?
            %h3.desc-ons
              = t('public.towns.portfolio.description')
            = @town.description
          - if @town.links && !@town.links.blank?
            %h3.links
              = t('public.towns.portfolio.links')
            %p
              =@town.links.html_safe
        #portfolio.tab-pane.active.fade.in

        #documents.tab-pane.fade
          = render partial: 'docs'
        #links.tab-pane.fade
          - @town_links.each do |key,tl|

            - counter = 1
            .col-sm-12.col-md-5.col-lg-6
              -#.container
              .accordion
                %dl
                  %dt
                    %a.accordion-title.accordionTitle.js-accordionTrigger{"aria-controls" => "accordion#{counter}", "aria-expanded" => "false", :href => "#accordion#{counter}"}
                      =tl['title']
                  %dd#accordion1.accordion-content.accordionItem.is-collapsed{"aria-hidden" => "true"}
                    - if tl['links'].length > 0
                      - tl['links'].each do |link|
                        .link-title
                          = link.title
                        .link-value
                          = link.value
                  %dt
            - counter = counter + 1
        #pub_budget.tab-pane.fade
          .col-xs-7
            =render partial: 'pdf_docs',locals: {export_budgets: @town_export_budgets}



:javascript

  $(document).ready(function() {
  //Show full sidebar on desctops [md/lg size]
    if($(window).width() > 1200){
      $('.blocks > .wrapper > .sidebar').addClass('is-full');
      $('.blocks > .wrapper > .content').addClass('is-open');
     };
  //Toggle button action [hide/show sidebar]
    $('.button').on('click', function() {
      $('.blocks > .wrapper > .sidebar').toggleClass('is-full');
      $('.blocks > .wrapper > .content').toggleClass('is-open');
    });

    var portfolio_url = "#{widgets_town_profile_path(@town)}"
    $.ajax({
      url: portfolio_url,
      success: function(data){
        $('.module').find('a').attr('data-remote',"true");
        $('.module').click(function(){
          $('.blocks > .wrapper > .sidebar').toggleClass('is-full');
          $('.blocks > .wrapper > .content').toggleClass('is-open');
        })
      }
    });
  });

  //Resize window sidebar view
  $(window).resize(function(){
    if($(window).width() < 1199){
      $('.blocks > .wrapper > .sidebar').removeClass('is-full');
      $('.blocks > .wrapper > .content').removeClass('is-open');
    } else
    if($(window).width() > 1200){
      $('.blocks > .wrapper > .sidebar').addClass('is-full');
      $('.blocks > .wrapper > .content').addClass('is-open');
    };
  });
