:scss
  // init colors
  $yellow: #ffd304;
  $white: #ffffff;
  $dark-blue: #0c2231;
  body > .bootstrap_flash {
    margin: 0;
  }
  .wrapper {
    display: flex;
    margin-top: 73px;
    .town-search{
      z-index: 6;
      position: fixed;
      margin: 0 10px;
      border: 1px solid $yellow;
      display: inline-flex;
      .select2-container {
        width: 0;
        height: 30px;
        transition: .3s;
        .select2-choice {
          width: 0;
          height: 30px;
          border-radius: 0;
          padding: 0;
          border: 0;
          #select2-chosen-1 {
            padding-top: 0;
          }
          .select2-arrow{
            display: none;
          }
        }
      }
      .search-button {
        cursor: pointer;
        padding-left: 1px;
        width: 30px;
        height: 30px;
        background-color: $dark-blue;
        i {
          font-size: 21px;
          color: $white;
          bottom: 0;
          padding: 4px 5px;
        }
        i.mobile-search {
          color: $yellow;
        }
      }
    }
    .full-search {
      .select2-container {
        width: 85%;
        transition: 1s;
        .select2-choice {
          width: 168px;
          border: 1px;
          padding-left: 15px;
          span {
            margin: 2px 0 0 0;
          }
        }
      }
    }
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 220px;
      height: 100%;
      z-index: 1;
      overflow: hidden;
      background: transparent;
      padding-top: 73px;
      .blason-block {
        display: none;
        margin-top: 50px;
        padding: 5% 30%;
      }
      .town-title {
        display: none;
        color: $white;
        text-align: center;
        padding: 10px;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        font-size: 1.6rem;
        line-height: 1.25;
      }
      .sidebar-nav {
        padding: 40px 0 0 0;
        li {
          a {
            position: relative;
            display: block;
            font-family: 'Lato', sans-serif;
            font-size: 13px;
            font-weight: 400;
            padding: 15px;
            color: #eee;
            &:before {
              font: 14px fontawesome;
              position: absolute;
              top: 14px;
              left: 20px;
            }
            &:hover,
            &:focus {
              background: #807023;
              text-decoration: none;
            }
            svg {
              position: relative;
              margin: -17px -12px;
              width: 45px;
              height: 45px;
              fill: $white;
            }
            p {
              padding-left: 1.7rem;
              margin: 0;
              display: inline-block;
            }
          }
        }
        .active {
          background: $yellow;
          a{
            color: $dark-blue;
            svg {
              fill: $dark-blue;
            }
          }
        }
        .button {
          float: left;
          padding: 0 15px;
          transform: rotate(180deg);
          transition: transform 1s;
          cursor: pointer;
          &:before {
            content: '\f100';
            font: 40px fontawesome;
            color: $white;
          }
          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }
    .is-full {
      .blason-block,
      .town-title {
        display: block;
      }

      .sidebar-nav {
        padding: 0;
        .button {
          float: right;
          padding: 0 10px;
          transform: rotate(0deg);
          transition: transform 1s;
          &:before {
            content: '\f100';
          }
        }
      }
    }
    .content {
      height: auto;
      min-height: calc(100vh - 193px);
      margin-left: 50px;
      margin-bottom: 120px;
      padding: 30px;
      background: $white;
      z-index: 4;
      transform: translate3d(0,0,0);
      transition: transform .5s;
      width: calc(100% - 50px);
      .content-wrapper {
        display: block;
        height: auto;
        .tab-content {
          #description {
            .infobox {
              width: 100% !important;
              background-color: transparent !important;
              font-size: 100% !important;
              table-layout: fixed;
              tr {
                background-color: transparent !important;
                td {
                  background-color: transparent !important;
                  overflow:hidden;
                  word-wrap:break-word;
                  table {
                    background-color: transparent !important;
                  }
                }
              }
            }
          }
        }
      }
    }
    .is-open {
      margin-left: 0;
      transform: translate3d(220px,0,0);
      width: calc(100% - 220px);
    }
    .embedded-block {
      padding: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      #embedded-profile {
        position: absolute;
        background-color: $dark-blue;
        bottom: 30px;
        right: 30px;
        float: right;
        i {
          color: $white;
          font-size: 1.6rem;
          font-weight: bold;
        }
      }
      [data-tooltip] {
        position: relative;
        z-index: 2;
        cursor: pointer;
        &:before,
        &:after {
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
        }
        &:before {
          position: absolute;
          bottom: 150%;
          left: 50%;
          margin-bottom: -48px;
          margin-left: -220px;
          padding: 7px;
          width: 190px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          background-color: #000;
          background-color: hsla(0, 0%, 20%, 0.9);
          color: #fff;
          content: attr(data-tooltip);
          text-align: center;
          font-size: 14px;
          line-height: 1.2;
        }
        &:after {
          position: absolute;
          bottom: 30%;
          left: 50%;
          margin-left: -30px;
          width: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid hsla(0, 0%, 20%, 0.9);
          border-left: 5px solid #000;
          content: " ";
          font-size: 0;
          line-height: 0;
        }
        &:hover {
          &:before, &:after {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  @media (min-width: 768px ) and (max-width: 991px) {
    body {
      .blocks {
        .wrapper {
          .content {
            //margin-bottom: 193px;
            .content-wrapper{
              .tab-content{
                .modules{
                  .modules-wrapper{
                    .module{
                      padding: 0;
                      width: calc(50% - 1.5rem);
                      margin: 0 1.5rem 3rem 0;
                      &:nth-child(even) {
                        margin-right: 0;
                        margin-left: 1.5rem;
                      }
                      a {
                        > div{
                          .img{
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    body {
      .blocks {
        .wrapper {
          .content {
            //margin-bottom: 193px;
            .content-wrapper{
              .tab-content{
                .modules{
                  .modules-wrapper{
                    .module{
                      padding: 0;
                      a {
                        > div{
                          .img{
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

.wrapper
  .town-search.input-group
    = text_field_tag 'active_town_select', '', placeholder: t('.choose_town')
    .input-group-btn.search-button
      %i.fa.fa-search{"aria-hidden" => "true"}
  .sidebar

    .blason-block
      = show_town_blazon(@town)
    .town-title
      = town_english_title(@town.title)
    %ul.sidebar-nav
      %li
        =link_to '#description', data: { toggle: 'tab' } do
          = inline_svg('icons/town_profile_sidebar/info.svg')
          %p
            = t('public.towns.portfolio.description')
      %li.active
        =link_to '#portfolio_ajax', data: { toggle: 'tab' } do
          = inline_svg('icons/town_profile_sidebar/chart.svg')
          %p
            = t('public.towns.portfolio.visuals')
            %span.badge.bsize.count#town_items_length
      -#= @town_items.length.to_s
      %li
        =link_to '#documents', data: { toggle: 'tab' } do
          = inline_svg('icons/town_profile_sidebar/docs.svg')
          %p
            = t('public.towns.portfolio.documents')
            %span.badge.bsize.count
              -# in last element of hash we have documents count
              = @documents[@documents.keys.last]
      %li
        =link_to '#links', data: { toggle: 'tab' } do
          = inline_svg('icons/town_profile_sidebar/link.svg')
          %p
            = t('public.towns.portfolio.town_links')
            %span.badge.bsize.count
              = @town_links.length
      %li
        =link_to '#pub_budget', data: { toggle: 'tab' } do
          = inline_svg('icons/town_profile_sidebar/folder.svg')
          %p
            = t('public.towns.portfolio.pub_budget')

      -#%li
      -#  %a{"data-toggle" => "tab", :href => "#pdf_docs"}
      -#    PDS doc's
      %a.button
  .content
    .content-wrapper
      .tab-content
        #description.tab-pane.fade
          -#- if @town.description && !@town.description.blank?
          %h3.desc-ons
            = t('public.towns.portfolio.description')
          = @town.get_beautiful_description
          - if @town.links && !@town.links.blank?
            %h3.links
              = t('public.towns.portfolio.links')
            %p
              =@town.links.html_safe
          -#= @wiki_info.html_safe
        #portfolio.tab-pane.active.fade.in

        #documents.tab-pane.fade
          = render partial: 'docs'
        #links.tab-pane.fade
          =render partial: 'links'

        #pub_budget.tab-pane.fade
          =render partial: 'pdf_docs',locals: {export_budgets: @town_export_budgets}
    .col-xs-12.embedded-block
      %button.btn#embedded-profile{ data: { 'clipboard-text' => embedFullUrl(widgets_town_profile_path(@town)), 'tooltip' => "#{t('.click')}" } }
        = fa_icon 'code 1x'


:javascript

  function addBreadcrumbs(title,link){
    var breadcrumbs_list = $('.breadcrumb');
    breadcrumbs_list.find('li.active').removeClass('active');
    // create new li dom and set active class
    var active_li = $('<li></li>').addClass('active');
    // create new a dom and set html
    var a = $('<a>').html(title);

    active_li.append(a);

    breadcrumbs_list.append(active_li);
  }

  function removeBreadcrumbs() {
    $('.breadcrumb').not(':first').remove();
  }

  function renderVisualisation(portfolio_url){
      $.ajax({
      url: portfolio_url,
      success: function(data){
        $('.breadcrumb > li:first-child').click(function() {
          if(!$(this).hasClass('active')){
            removeBreadcrumbs();
            renderVisualisation("#{widgets_town_profile_path(@town)}");
          }
        });
        $('.module').find('a').attr('data-remote', 'true');
        $('.module').click(function(){
          var breadcrumbs_title = $.trim($(this).find('.title').html());
          var breadcrumbs_link = $(this).find('a').attr('href');
          addBreadcrumbs(breadcrumbs_title, breadcrumbs_link);
          if($(window).width() > middleScreenSize && $('.blocks > .wrapper > .sidebar').hasClass('is-full')){
            toggleSidebar();
          }
        })
      }
    });
  }

  function toggleSearch(){
    // // if sidebar in small version and search visible
    // if(!$('.sidebar').hasClass('is-full') && $('#s2id_active_town_select').is(':visible')){
    //    // $('.search-button').find('i').removeClass('mobile-search');
    //    $('.town-search').removeClass('full-search');
    //    $('.town-search').hide('fast');
    // // if sidebar in small version
    // }
    // else if(!$('.sidebar').hasClass('is-full')){
    //   // $('.search-button').find('i').addClass('mobile-search');
    //   $('.town-search').addClass('full-search');
    //   $('.town-search').show('fast');
    // }
    if (checkForMobileBrowser()) {
      $('.town-search').removeClass('full-search');
    }
    else {
      $('.town-search').toggleClass('full-search');
    }
  }

  function toggleSidebar(){
    // remove town search class
    // $('.search-button').find('i').removeClass('mobile-search');

    // if sidebar in small version
    // if (!$('.sidebar').hasClass('is-full')){
    //   $('#s2id_active_town_select').show('slow');
    // }
    // else {
    //   $('#s2id_active_town_select').hide('fast');
    // }

    //toggleSearch();
    $('.blocks > .wrapper > .sidebar').toggleClass('is-full');
    $('.blocks > .wrapper > .content').toggleClass('is-open');
    $('body > footer').toggleClass('is-full');
  }

  // var middleScreenSize = 1200;
  function checkForMobileBrowser() {

    //initiate as false
    var isMobile = false;

    // device detection
    if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
      || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) isMobile = true;
    return isMobile;
  }

  function initSidebar() {

    if (checkForMobileBrowser()) {
      // if mobile && sidebar full
      if ($('.sidebar').hasClass('is-full')) {
        $('.sidebar').removeClass('is-full');
        $('.town-search').removeClass('full-search');
      }
    }
    else {
      // if desktop && sidebar true
        toggleSidebar();
        toggleSearch();
    }

  }

  function initClipboard(selector, tooltipPos, delay) {
    // init tooltip
    $(selector).tooltip({
      trigger: 'click',
      placement: tooltipPos
    });

    function setTooltip(btn, message) {
      $(btn).tooltip('hide')
        .attr('data-original-title', message)
        .tooltip('show');
    }

    function hideTooltip(btn) {
      setTimeout(function() {
        $(btn).tooltip('hide');
      }, delay);
    }

    // init clipboard
    var clipboard = new Clipboard(selector);

    clipboard.on('success', function(e) {
      setTooltip(e.trigger, "#{t('.copied')}");
      hideTooltip(e.trigger);
    });

    clipboard.on('error', function(e) {
      setTooltip(e.trigger, "#{t('.failed')}");
      hideTooltip(e.trigger);
    });
  }

  $(document).ready(function() {

    initSidebar();
    $('.search-button').click(function(){
      if (!$('.sidebar').hasClass('is-full')) {
        toggleSearch();
      }
    });

    //Toggle button action [hide/show sidebar]
    $('.button').on('click', function() {
      toggleSidebar();
      toggleSearch();
    });

    // if we click on visual icon in sidebar
    // render visaulisation list
    $("a[href='#portfolio']").click(function(){
      renderVisualisation("#{widgets_town_profile_path(@town)}");
    })

    init_town_select2_with_field_id('#active_town_select',"#{search_for_active_towns_path}")
    // $('#s2id_active_town_select').hide('fast');
    $('#active_town_select').on('change',function(){
      window.location.replace("#{public_path('ID')}".replace('ID', $(this).select2('data').id));
    });
    renderVisualisation("#{widgets_town_profile_path(@town)}");

    initClipboard('#embedded-profile', 'top', 1200);

    //Show full sidebar on desctops [md/lg size]
    // if($(window).width() > middleScreenSize){
    //   toggleSidebar();
    //   $('#s2id_active_town_select').show('fast');
    //  };

  });

  //Resize window sidebar view
  // $(window).resize(function(){
  //   //if($(window).width() < middleScreenSize){
  //
  //     //toggleSidebar();
  //   //} else
  //   //if($(window).width() > middleScreenSize){
  //     toggleSidebar();
  //   //};
  // });

  // Function check Navigator User Agent
  // for mobile/tablet  return true
  // for desctop        return false

  // if ajax was send fade out modules visualisation
  //$(document).bind("ajaxSend", function(){
  //  $('.modules-wrapper').fadeOut('slow');
  // if ajax complete fade in visualisation modules
  //}).bind("ajaxComplete", function(){
  //  $(".modules-wrapper").fadeIn('slow');
  //});

