:css
  .budget {
    cursor: pointer;
  }
  .budget.active {
    cursor: default;
    font-weight: bold;
  }

  .nav-tabs {
    height: 100vh;
  }

  #towns_profile .tabs-left > .nav-tabs {
    border-right: 1px solid #0199DA;
  }

  #towns_profile .tabs-left > .nav-tabs .active > a,
  #towns_profile .tabs-left > .nav-tabs .active > a:hover,
  #towns_profile .tabs-left > .nav-tabs .active > a:focus {
    border-color: #0199DA transparent #0199DA #0199DA;
  }
  .title-town {
    text-align: center;
    padding-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(1, 153, 218);
    line-height: 1em;
  }

  .links, .desc-ons {
    padding: 0 0 5px 0;
    border-bottom: 1px solid rgb(1, 153, 218);
  }

  .bar > li {
    text-transform: uppercase;
  }

  @media(min-width: 320px) and (max-width: 767px){
    .thumbnail {
      width: 75%;
    }
  }
  @media(min-width: 768px) and (max-width: 991px){
    .thumbnail {
      width: 95%;
    }
  }
  @media(min-width: 992px) and (max-width: 1199px){

  }
  @media(min-width: 1200px) and (max-width: 1349px){

  }
  @media(min-width: 1350px) and (max-width: 1579px){
    .bar {
     width: 20%;
    }
  }
  @media(min-width: 1580px) and (max-width: 1920px){
    .bar {
     width: 20%;
    }
  }


-#=content_for :header do
-#  .head.pull-left
-#    =@town.title

.col-sm-8#towns_profile
  / tabs left
  .tabbable.tabs-left
    %ul.nav.nav-tabs.col-sm-3.bar
      .col-xs-12.head.pull-left.title-town
        =@town.title
      %li
        %img.thumbnail{src: @town.id == 'test' ? '/assets/public/blazon.jpg' : @town.img.thumb.url, :style => 'display:block; margin:auto;'}
      %li
        %a{"data-toggle" => "tab", :href => "#description"} Короткі відомості
      %li.active
        %a{"data-toggle" => "tab", :href => "#portfolio"}
          = t('public.towns.portfolio.visuals')
          %span.badge.bsize.count
            = @town_items.length.to_s
      %li
        %a{"data-toggle" => "tab", :href => "#documents"}
          = t('public.towns.portfolio.documents')
          %span.badge.bsize.count
            = @documents.length
    .tab-content
      #description.tab-pane.fade
        .col-sm-12.col-md-5.col-lg-6
          - if @town.description && !@town.description.blank?
            %h3.desc-ons
              = t('public.towns.portfolio.sh-description')
            = @town.description
          - if @town.links && !@town.links.blank?
            %h3.links
              = t('public.towns.portfolio.links')
            %p
              =@town.links.html_safe
      #portfolio.tab-pane.active.fade.in
        -#%h3
        -#  = t('public.towns.portfolio.visuals')
        .row
          - %w(budget programs indicators keys calendar sankey repair).each do |item|
            = render partial: 'portfolio', :locals => { :item => item }
      #documents.tab-pane.fade
        -#%h3
        -#  = t('public.towns.portfolio.documents')
          -#%span.badge.bsize.count
          -#  = @town.documentation_documents.count()
        = render partial: 'docs'
  / /tabs
.col-sm-4
  = render partial: 'map_ukraine'
-##sidebar_info.col-xs-12.col-md-5.col-lg-4
-#  - if @total_amounts != {}
-#    = render partial: 'revenues_expences'

:javascript

  $(document).ready(function() {

    $('.budget[data-id]').on('click', function (e) {
      $('.budget[data-id]').removeClass('active')
      $(this).addClass('active')

      var vis = $(this).attr('data-vis')
      var id = $(this).attr('data-id')
      set_iframe(vis, id);

    });

    $(".owl-example").owlCarousel({
      //Count on page
      items : 3
      //autoWidth:true
    });

  })