:scss
  .container {
    #new_user button i,
    #edit_user button i {
      margin: -2px 0 0 -5px;
    }
  }

-#Login form
.container
  = content_for :header do
    .head.pull-left
      = t('devise.sessions.sign_in')

  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class=>'login_user new_user'}) do |f|
    %p.field
      = f.email_field :email, autofocus: true, placeholder: "Username or email"
      %i.fa.fa-user.fa-2x
    %p.field
      = f.password_field :password, autocomplete: "off", placeholder: "Password"
      %i.fa.fa-lock.fa-2x
    %p.submit
      = button_tag(type: 'submit', class: "btn btn-primary") do
        %i.fa.fa-arrow-circle-right.fa-2x

  .row.text-center
    = render 'devise/shared/links'