<%= content_for :header do %>
    <div class="head pull-left">
      <%= t('devise.sessions.sign_in') %>
    </div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form-group"><%= f.label t('devise.passwords.password') %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group"><%= f.check_box :remember_me %> <%= f.label t('devise.passwords.remember_me') %></div>
  <% end -%>

  <%= f.submit t('devise.sessions.sign_in'), :class => 'btn btn-primary' %>
  <%= render "devise/shared/links" %>
<% end %>
