:css

  .document .thumbnail{
    text-align: center;
  }

  .documentation {
    margin-top: 20px;
  }

#results.col-xs-12
  - if current_user
    .text-center
      %btn.btn.btn-primary.btn-lg{:title => "редагувати файли", 'data-toggle' => 'modal', 'data-target' => '#city_edit', :style => !documents.select{ |doc| doc.owner_id == current_user.id}.empty? ? 'display: inline-block;' : 'display: none;' }
        %i.fa.fa-edit.fa-lg
        = t('form.uploaded_documents')

  - towns.reject{|town| documents.select{ |doc| doc.town_id == town.id }.empty? }.each do |town|

    %h1
      = town.to_s

    .row-eq-height{:id => 'results_' + town.id}
      - documents.select{ |doc| doc.town_id == town.id }.each do |document|
        - if document.doc_file?
          = render :partial => 'thumbnail', :locals => { :document => document }
      .col-sm-2.doc_btn
        %btn.btn.btn-primary{:title => "додати файли", 'data-dismiss' => 'modal', 'data-target' => '#city_add_' + town.id, :class => 'btn_city_add', :onclick => "get_dialog(this);" }
          %i.fa.fa-plus.fa-lg

    .clear
    %hr

    / Modal window to add files
    - if current_user
      .modal.fade{:id => 'city_add_' + town.id, 'aria-labelledby' => 'cityModalLabel', :class => 'city_add', :role => 'dialog', :tabindex => '-1'}
        .modal-dialog{:role => 'document', :style => 'width: 900px;' }
          .modal-content
            .modal-header
              %button.close{'aria-label' => t('form.close'), 'data-dismiss' => 'modal', :type => 'button'}
                %span{'aria-hidden' => 'true'} &times;
              %h4#cityModalLabel.modal-title
                = "Додати файли для м." + town.title
            .modal-body
              .documentation
                .panel.panel-default
                  .panel-heading
                    = t('form.new_document')
                  .new_document.panel-body
                    = render :partial => 'documentation/documents/new_document', :locals => { :new_document => Documentation::Document.new, :town_id => town.id, :branch_field => true }
                  .panel.panel-default
                    .panel-heading
                      = t('form.uploaded_documents')
                    .documents.panel-body
                      - if !current_user.has_role? :admin
                        %small{:style => 'color: red;'}* заблоковані документи будуть розблоковані після перевірки Адміністратором
                      = render :partial => 'documentation/documents/documents', :locals => { :documents => documents.select{ |doc| doc.town_id == town.id && doc.owner_id == current_user.id } }
            .modal-footer
              %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'}
                = t('form.close')

  - if current_user
    / Modal window to edit files
    .modal.fade{ :id => 'city_edit', 'aria-labelledby' => 'cityModalLabel', :role => 'dialog', :tabindex => '-1'}
      .modal-dialog{:role => 'document', :style => 'width: 900px;' }
        .modal-content
          .modal-header
            %button.close{'aria-label' => t('form.close'), 'data-dismiss' => 'modal', :type => 'button'}
              %span{'aria-hidden' => 'true'} &times;
            %h4#cityModalLabel.modal-title
              = "Редагувати файли"
          .modal-body
            .documentation
              .panel.panel-default
                .panel-heading
                  = t('form.uploaded_documents')
                .documents.panel-body
                  - if !current_user.has_role? :admin
                    %small{:style => 'color: red;'}* заблоковані документи будуть розблоковані після перевірки Адміністратором
                  = render :partial => 'documentation/documents/documents', :locals => { :documents => documents.select{ |doc| doc.owner_id == current_user.id} }
          .modal-footer
            %button.btn.btn-default{'data-dismiss' => 'modal', :type => 'button'}
              = t('form.close')

:javascript

  function get_dialog(el){
    if(!"#{current_user}"){
      $($(el).data('target')).modal({show: false});
      window.location.href = "#{public_documents_check_auth_path}";
    } else {
      $($(el).data('target')).modal({show: true});
    }

    $('.city_add').on('shown.bs.modal', function() {
        if($(this).find('option:selected').val()) {
          $('.can_be_disable').removeAttr("disabled");
        } else {
          $('.can_be_disable').attr("disabled","disabled");
        }
    })
  };
