= form_tag public_documents_path, :method => :get, :remote => true, :html => { :class => 'form-inline col-sm-12' } do |f|
  -#.input-group.input-group-sm.col-sm-6
    = select_tag :category, tree_option_groups_from_collection_for_select(Documentation::Category.tree_root, :childrens, :title, :id, :title, nil),
      { multiple: true, class: 'category_select' }
  .col-sm-3
    = render partial: 'town_select', :locals => { params: { multiple: true } }

  .col-sm-3
    = select_tag :branch_select, options_for_select(Documentation::Branch.all.sort_by{|b| b.title }.collect { |t| [t.title, t.id, { 'data-color' => t.color }]}, @branch_select), { multiple: true, class: 'branch_select'  }

  .col-sm-2.form-inline
    .input-group
      %span.input-group-addon
        %i.fa.fa-calendar.fa-lg
      = select_tag :year, options_for_select((2012..Time.now.year-1).to_a.reverse), { prompt: t('date.abbr_month_names')[0], id: 'year_change', class: 'form-control' }

  .col-sm-3
    = text_field_tag :q, '', :class => 'form-control', :placeholder => "#{t('documentation.documents.search.doc_search')}"

  .col-sm-1
    = button_tag(type: 'submit', :class => 'btn btn-primary', :id => 'search_btn') do
      = t('form.search')
      %i.fa.fa-search.fa-lg

  .col-sm-12
    %hr

  .col-sm-3.form-inline
    .input-group
      %span.input-group-addon
        = t('public.documents.index.sort_by')
      %select.form-control#sort_by{:name => 'sort'}
        %option{:selected => 'selected', :value => 'type'}
          = t('public.documents.index.sort_type')
        %option{:value => 'name'}
          = t('public.documents.index.sort_name')
:javascript

  $(document).ready(function() {

    I18n.locale = window.aHelper.lang();

    $("#town_select").on("change", function(){
      $("#search_btn").trigger("click");
    })

    $(".branch_select").select2(
      {
        allowClear: true,
        width: '100%',
        placeholder: I18n.t('documentation.documents.search.doc_type'),
        multiSelect: true,
        formatSelection: formatBranchSelection,
        formatResult: formatBranchSelection
      }
    ).on("change", function(){
      $("#search_btn").trigger("click");
    })

    $('#year_change').on("change", function(){
      $("#search_btn").trigger("click");
    })

    $('#sort_by').on("change", function(){
      $("#search_btn").trigger("click");
    })

    function formatBranchSelection(branch, container){
      var color = branch['element']['0']['dataset']['color'];
      if(!color) color = "#ffffff";
      return '<i class="fa fa-square" style="color: ' + color + '; opacity: 0.3;"></i> ' + branch.text;
    }


  });
