-#https://github.com/okfn/bubbletree


= stylesheet_link_tag "bubbletree.css"
= javascript_include_tag "jquery-1.5.2.min.js"
= javascript_include_tag "jquery.history.js"
= javascript_include_tag "raphael.js"
= javascript_include_tag "vis4.js"
= javascript_include_tag "Tween.js"
= javascript_include_tag "bubbletree.js"
= javascript_include_tag "cofog.js"

.bubbletree-wrapper
  .bubbletree
.bubbletree_tooltip

:javascript

  $(document).ready(function() {
    var width = $('body').width();
    height = width * .35

    $('.bubbletree').height(height)

    d3.json("/budget_files/get_bubbletree_data/#{budget_file_id}", function(data) {
      new BubbleTree({
          data: data,
          container: '.bubbletree-wrapper .bubbletree',
          tooltip: function(a) {
            console.log(a)

            title = a.node.title || ''
            description = a.node.description || ''

            if (a.type == 'SHOW') {
              tooltip = "<div class='title'>" + a.node.label + " " + title + "</div>"
              if (a.node.description) {
                tooltip = tooltip + "<hr/>" +  "<div class='description'>" + description + "</div>"
              }
              $('.bubbletree_tooltip')
               .css("left", a.mousePos.x)
               .css("top", a.mousePos.y + 150)
               .css('display', 'block')
               .delay(200)
               .html(tooltip)
            } else {
              $('.bubbletree_tooltip').html('').css('display', 'none')
            }

          }
      });
    })
  });
