:css
  .colorpicker.dropdown-menu.colorpicker-with-alpha.colorpicker-right.colorpicker-visible {
    background-color: #ffffff;
  }

= bootstrap_form_for @budget_file, :html => { 'accept-charset' => "UTF-8", :class => 'form-vertical' } do |f|
  .form-group
    = f.text_field :title, :label => t('budget_file_title')

  .form-group
    = f.select :data_type, options_for_select( [nil, :plan, :fact], @budget_file.data_type), class: 'select-town form-control', :label => t('data_type')

  %hr

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('form.cancel', :default => t("helpers.links.cancel")), budget_files_path, :class => 'btn btn-default'
