= bootstrap_form_for @budget_file, :html => { 'accept-charset' => "UTF-8", :class => 'form-vertical' } do |f|
  = f.text_field :title

  %hr
    %ul.views.nav.nav-tabs{role: 'tablist'}
      - @budget_file.taxonomies.each do |key, val|
        %li
          %a{href: "#taxonnomy_#{val[:level]}", role: 'tab', 'data-toggle' => 'tab'}
            =val[:title]

    .tab-content
      - @budget_file.taxonomies.each do |key, val|
        .tab-pane.fade.in{ :id => "taxonnomy_#{val[:level]}" }

          %table.table.table-striped.table-hover
            %tr
              %th{ :style => 'text-align: right'}
                =key
              %th
                Коротка назва
              %th
                Колір
              %th
                Детальний опис
            - @budget_file.tree_info[key].keys.sort_by { |item| item }.each do |t_key|
              %tr
                %td{style:'text-align: right'}
                  %h4=t_key
                %td
                  %input{name: "taxonomy[#{CGI.escape key}][#{CGI.escape t_key}][title]", value: @budget_file.tree_info[key][t_key]['title'] }
                %td
                  = select_tag "taxonomy[#{CGI.escape key}][#{CGI.escape t_key}][color]", options_for_select(undp_colors_list, @budget_file.tree_info[key][t_key]['color']), class: 'color-select'
                %td
                  %textarea{name: "taxonomy[#{CGI.escape key}][#{CGI.escape t_key}][description]", cols: 80, rows: 3}
                    = @budget_file.tree_info[key][t_key]['description']

  %hr
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), budget_files_path, :class => 'btn btn-default'

