%ul.nav.nav-tabs.pull-left{role: 'tablist'}
  %li.active
    %a{href: '#bubbletree', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_bubbletree')
  %li
    %a{href: '#sunburst_zoomable', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_sunburst_zoomable')
  %li
    %a{href: '#sunburst', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_sunburst')
  %li
    %a{href: '#sunburst_bilevel', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_sunburst_bilevel')
  %li
    %a{href: '#sunburst_seq', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_sunburst_seq')
  %li
    %a{href: '#treemap_with_headers', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_treemap')
  %li
    %a{href: '#icicle', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_icicle')
  %li
    %a{href: '#circles', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_circles')
  %li
    %a{href: '#collapsible', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_collapsible')

:javascript
  $(document).ready(function() {

    var embed_code = aEmbedCode();
    var budget_file = "#{id}"
    var src = window.location.host + "/widgets/visify/bubbletree/" + budget_file;
    embed_code.initialize({width: 900, height: 1200, el_id: "#embed_code_visify", src: src});

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      embed_code.set_iframe(window.location.host + "/widgets/visify/" + $(this).attr('href').split('#')[1] + "/" + budget_file);
    });

  })
