- model_class = BudgetFile
=content_for :header do
  .head.pull-left
    %i.fa.fa-money
    =t('.title')

.col-xs-12
  =link_to t('.upload_budget_file'), new_budget_file_free_path, :class => 'btn btn-primary'
  .btn-group
    %button.btn.btn-primary.dropdown-toggle{'data-toggle'=>'dropdown', 'type' => 'button', 'aria-expanded' => 'false'}
      =t('.upload_revenues')
      %span.caret
    %ul.dropdown-menu{'role'=>'menu'}
      %li
        =link_to "#{t('.upload_rot')} - план", new_budget_file_rot_path( { :data_type => :plan } ), :class => ''
      %li
        =link_to "#{t('.upload_rot')} - факт", new_budget_file_rot_path( { :data_type => :fact } ), :class => ''
      %li.divider
      %li
        =link_to "#{t('.upload_rot_fond')} - план", new_budget_file_rot_fond_path( { :data_type => :plan } ), :class => ''
      %li
        =link_to "#{t('.upload_rot_fond')} - факт", new_budget_file_rot_fond_path( { :data_type => :fact } ), :class => ''
      %li.divider
      %li
        =link_to "#{t('.upload_rot_fact')} - факт", new_budget_file_rot_fact_path( { :data_type => :fact } ), :class => ''
      %li.divider
      %li
        =link_to t('.upload_rot_planfact'), new_budget_file_rot_planfact_path, :class => ''
      %li.divider
      %li
        =link_to t('.upload_lvivobl_rot'), new_budget_file_lvivobl_rot_path, :class => ''


  .btn-group
    %button.btn.btn-primary.dropdown-toggle{'data-toggle'=>'dropdown', 'type' => 'button', 'aria-expanded' => 'false'}
      =t('.upload_expences')
      %span.caret
    %ul.dropdown-menu{'role'=>'menu'}
      %li
        =link_to "#{t('.upload_rov')} - план", new_budget_file_rov_path( { :data_type => :plan } ), :class => ''
      %li
        =link_to "#{t('.upload_rov')} - факт", new_budget_file_rov_path( { :data_type => :fact } ), :class => ''
      %li.divider
      %li
        =link_to "#{t('.upload_rov_fond')} - план", new_budget_file_rov_fond_path( { :data_type => :plan } ), :class => ''
      %li
        =link_to "#{t('.upload_rov_fond')} - факт", new_budget_file_rov_fond_path( { :data_type => :fact } ), :class => ''
      %li.divider
      %li
        =link_to "#{t('.upload_rov_fact')} - факт", new_budget_file_rov_fact_path( { :data_type => :fact } ), :class => ''
      %li.divider
      %li
        =link_to t('.upload_rov_planfact'), new_budget_file_rov_planfact_path, :class => ''
      %li.divider
      %li
        =link_to t('.upload_lvivobl_rov'), new_budget_file_lvivobl_rov_path, :class => ''

  =link_to static_budget_file_help_path, :class => 'btn btn-default' do
    %i.fa.fa-info-circle
      =t('static.budget_file_help.help')

.col-xs-12
  = render partial: 'budget_files', :locals => { budget_files: @budget_files }

