- model_class = BudgetFile

= content_for :header do
  .head.pull-left
    %i.fa.fa-money
    #{t('.title')}:
    %span.descr
      #{@budget_file.title}

.budget

  %ul.views.nav.nav-tabs{role: 'tablist'}
    %li.active
      %a{href: '#bubbletree', role: 'tab', 'data-toggle' => 'tab'}
        = t('.tab_bubbletree')
    -#%li
    -#  %a{href: '#sunburst', role: 'tab', 'data-toggle' => 'tab'}
    -#    = t('.tab_sunburst')
    -#%li
    -#  %a{href: '#sunburst_seq', role: 'tab', 'data-toggle' => 'tab'}
    -#    = t('.tab_sunburst_seq')
    -#%li
    -#  %a{href: '#treemap', role: 'tab', 'data-toggle' => 'tab'}
    -#    = t('.tab_treemap')
    -#%li
    -#  %a{href: '#circles', role: 'tab', 'data-toggle' => 'tab'}
    -#    = t('.tab_circles')
    -#%li
    -#  %a{href: '#collapsible', role: 'tab', 'data-toggle' => 'tab'}
    -#    = t('.tab_collapsible')

  .tab-content
    #bubbletree.tab-pane.fade.in.active
      = render partial: 'bubbletree', :locals => { budget_file_id: @budget_file.id }
    -##sunburst_seq.tab-pane.fade
    -#  = render partial: 'sunburst_seq', :locals => { budget_file_id: @budget_file.id }
    -##sunburst.tab-pane.fade
    -#  = render partial: 'sunburst', :locals => { budget_file_id: @budget_file.id }
    -##treemap.tab-pane.fade
    -#  = render partial: 'treemap', :locals => { budget_file_id: @budget_file.id }
    -##circles.tab-pane.fade
    -#  = render partial: 'circles', :locals => { budget_file_id: @budget_file.id }
    -##collapsible.tab-pane.fade
    -#  = render partial: 'collapsible', :locals => { budget_file_id: @budget_file.id }

= link_to t('.back', :default => t("helpers.links.back")), budget_files_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_budget_file_path(@budget_file), :class => 'btn btn-default'
= link_to t('.editinfo'), "#{budget_file_path(@budget_file)}/editinfo", :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), budget_file_path(@budget_file), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
