- model_class = BudgetFile

= content_for :header do
  .head
    %i.fa.fa-money
      = @budget_file.taxonomy.owner

    %span.descr
      #{@budget_file.title}

  -#= render partial: 'visify_list', :locals => { id: @budget_file.id }

.budget

  .tab-content
    %iframe{ 'width' => '100%', 'height' => '800' }

= link_to t('form.back', :default => t("helpers.links.back")), budget_files_path, :class => 'btn btn-default'
= link_to "#{edit_budget_file_path(@budget_file)}", :class => 'btn btn-primary' do
  %i.fa.fa-comment-o
  = t('.editinfo')
= link_to t('form.destroy', :default => t("helpers.links.destroy")), budget_file_path(@budget_file), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

#embed_code_visify.embed_code
  = render partial: 'widgets/visify/embed_code'

.col-xs-12
  %p
    Створено:
    = @budget_file.author

:javascript

  $(document).ready(function() {

    var embed_code = aEmbedCode();
    set_iframe('bubbletree');

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      set_iframe($(this).attr('href').split('#')[1]);
    });

    function set_iframe(visualizator) {
      path = "#{request.base_url}"
      query = "#{URI.parse(request.url).query}"
      frame_url = path + "/widgets/visify/"+ visualizator + "/#{@budget_file.id}" + '/?' + query
      $('.tab-content iframe').attr('src', frame_url)
      embed_code.initialize({width: 1200, height: 900, el_id: "#embed_code_visify", src: frame_url})
    }

  })