- model_class = BudgetFile

= content_for :header do
  .head.pull-left
    %i.fa.fa-money
    #{t('.title')}:
    %span.descr
      #{@budget_file.title}

.budget

  = render partial: 'visiframe', :locals => { budget_file_id: @budget_file.id }

  .tab-content
    #bubbletree.tab-pane.fade.in.active
    %iframe.col-xs-12{ 'height' => '600', 'src' => "#{root_url}visify/bubbletree/#{@budget_file.id}" }
    #sunburst_seq.tab-pane.fade
    %iframe.col-xs-6{ 'height' => '600', 'src' => "#{root_url}visify/sunburst_seq/#{@budget_file.id}" }
    #sunburst.tab-pane.fade
    %iframe.col-xs-6{ 'height' => '600', 'src' => "#{root_url}visify/sunburst/#{@budget_file.id}" }
    #treemap.tab-pane.fade
    %iframe.col-xs-4{ 'height' => '300', 'src' => "#{root_url}visify/treemap/#{@budget_file.id}" }
    #circles.tab-pane.fade
    %iframe.col-xs-4{ 'height' => '300', 'src' => "#{root_url}visify/circles/#{@budget_file.id}" }
    #collapsible.tab-pane.fade
    %iframe.col-xs-4{ 'height' => '300', 'src' => "#{root_url}visify/collapsible/#{@budget_file.id}" }


= link_to t('.back', :default => t("helpers.links.back")), budget_files_path, :class => 'btn btn-default'
-#= link_to t('.edit', :default => t("helpers.links.edit")), edit_budget_file_path(@budget_file), :class => 'btn btn-default'
= link_to t('.editinfo'), "#{budget_file_path(@budget_file)}/editinfo", :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), budget_file_path(@budget_file), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
