- model_class = BudgetFile

= content_for :header do
  .head
    %i.fa.fa-money
    #{t('.title')}:
    %span.descr
      #{@budget_file.title}

  = render partial: 'visify_list'

.budget

  .tab-content
    %iframe{ 'width' => '100%', 'height' => '800' }

  .embed
    = render partial: 'embed'



= link_to t('form.back', :default => t("helpers.links.back")), budget_files_path, :class => 'btn btn-default'
-#= link_to t('.edit', :default => t("helpers.links.edit")), edit_budget_file_path(@budget_file), :class => 'btn btn-default'
= link_to "#{edit_budget_file_path(@budget_file)}", :class => 'btn btn-primary' do
  %i.fa.fa-comment-o
  = t('.editinfo')

= link_to t('form.destroy', :default => t("helpers.links.destroy")), budget_file_path(@budget_file), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'


:javascript
  $(document).on('ready page:change', function() {
    function set_visiframe(visualizator) {
      path = "#{request.base_url}"
      query = "#{URI.parse(request.url).query}"
      frame_url = path + "/widgets/visify/"+ visualizator + "/#{@budget_file.id}" + '/?' + query
      $('.embed input').val("<iframe width='900' height='600' src='" + frame_url + "'></iframe>")
      $('.tab-content iframe').attr('src', frame_url)

    }

    set_visiframe('bubbletree')

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      set_visiframe(this.href.split('#')[1])
    });
  })
