.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close


  %h4#myModalLabel.modal-title= t('.title')

= bootstrap_form_for [:calendars, @calendar, @event], remote: true, format: :json, :html => { :class => 'form-horizontal'} do |f|
  .modal-body.events-modal
    .row
      .btn-group{"data-toggle" => "buttons", :style => "margin-left: 286px;"}
        %label.btn.btn-primary.event-btn-primary{:class=>@event.holder == 1 ? "active" : ""}
          = radio_button("event", "holder", 1)
          %span.glyphicon.glyphicon-home
            =t('.town')
        %label.btn.btn-primary.event-btn-primary{:class=>@event.holder == 2 ? "active" : ""}
          = radio_button("event", "holder", 2)
          %span.glyphicon.glyphicon-user
            =t('.community')

    .form-group
      %label= t('.name')
      .input-group
        .input-group-addon
          %span.glyphicon.glyphicon-pencil
        = text_field(:event, :title, class: "form-control", placeholder: t('.placeholder_name'))
    .row
      .col-md-12
        =f.select :action_type,
           [[t('calendar_actions.form.radio_folding'), CalendarAction::ACTION_TYPE_FOLDING],
            [t('calendar_actions.form.radio_analysis'),CalendarAction::ACTION_TYPE_ANALYSIS],
            [t('calendar_actions.form.radio_discussion'),CalendarAction::ACTION_TYPE_DISCUSSION],
            [t('calendar_actions.form.radio_execution'),CalendarAction::ACTION_TYPE_EXECUTION],
            [t('calendar_actions.form.radio_no_indicated'),CalendarAction::ACTION_TYPE_NO_INDICATED]],
             { label: t('calendar_actions.form.radio_header') }, { class: "selectpicker" }
      -#=f.form_group :action_type  do
      -#  = f.radio_button :action_type, CalendarAction::ACTION_TYPE_FOLDING, label: t('calendar_actions.form.radio_folding')
      -#  = f.radio_button :action_type, CalendarAction::ACTION_TYPE_ANALYSIS, label: t('calendar_actions.form.radio_analysis')
      -#  = f.radio_button :action_type, CalendarAction::ACTION_TYPE_DISCUSSION, label: t('calendar_actions.form.radio_discussion')
      -#  = f.radio_button :action_type, CalendarAction::ACTION_TYPE_EXECUTION, label: t('calendar_actions.form.radio_execution')
      -#  = f.radio_button :action_type, CalendarAction::ACTION_TYPE_NO_INDICATED, label: t('calendar_actions.form.radio_no_indicated')


    .row
      .col-md-4
        = f.static_control label: t('.icon') do
          = f.select_without_bootstrap :icon, options_for_select(fa_icon_list, @event.icon), {label: t('.icon')}, { class: 'fa-select' }
      .col-md-4
        = f.static_control label: t('.color') do
          = f.select_without_bootstrap :color, options_for_select(get_bg_colors_list(@event.action_type), @event.color), { }, { class: 'color-select' }
      .col-md-4
        = f.static_control label: t('.text_color') do
          = f.select_without_bootstrap :text_color, options_for_select(text_colors_list, @event.text_color), { }, { class: 'color-select' }
    = f.text_area :description, :rows => "3", label: t('.description'), class: "wysihtml5", placeholder: "Вкажіть детальний опис"
    .row
      .col-md-4
        = f.text_field :starts_at, :value => date_dmY(@event.starts_at), label: t('.starts_at')
      .col-md-4
        = f.text_field :ends_at, :value => date_dmY(@event.ends_at), label: t('.ends_at')
      .col-md-4
        = f.check_box :all_day, label: t('.all_day')



  .modal-footer
    = f.submit t('form.save'), :class => 'btn btn-primary pull-right  col-sm-3'

    -#= button_to t('form.save', :default => t("helpers.links.save")), [:calendars, @calendar, @event], :method => :post, :class => 'btn btn-primary pull-right  col-sm-3', :style=>'height: 43px', :params => {:calendar_id => @calendar.id}
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", :class => "pull-right"}= t('form.close')

    = link_to t('form.destroy', :default => t("helpers.links.destroy")), [:calendars, @calendar, @event], remote: true, :method => :delete, :data => { :confirm => t('form.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger pull-left' if @event.persisted?

:javascript

  $(document).ajaxComplete(function() {


    formatFaSelect = function(el) {
      return '<i class=\'fa ' + el.id + '\'/> ' + el.id;
    };
    formatColorSelect = function(el) {
      return '<div style=\'width: 100%; height: 43px; background-color: ' + el.id + '\'/>';
    };
    $('.fa-select').select2({
      allowClear: true,
      formatResult: formatFaSelect,
      formatSelection: formatFaSelect,
      escapeMarkup: function(m) {
        return m;
      }
    });
    $('.color-select').select2({
      allowClear: true,
      formatResult: formatColorSelect,
      formatSelection: formatColorSelect,
      escapeMarkup: function(m) {
        return m;
      }
    });
    editor_locale = void 0;
    if (I18n.locale === 'uk') {
      editor_locale = 'ua-UA';
    } else {
      editor_locale = '';
    }
    $('.wysihtml5').wysihtml5({
      'font-styles': true,
      'emphasis': true,
      'lists': true,
      'html': false,
      'link': true,
      'image': false,
      'color': false,
      'size': 'sm',
      'locale': editor_locale
    });
  });