- model_class = Event
.panel.panel-default
  .panel-heading
    %i.fa.fa-calendar &nbsp; Детально про подію
  .panel-body
    #event-details
      .date
        %strong= date_to_string(@event.starts_at)
        %strong= " - #{date_to_string(@event.ends_at)}" unless @event.ends_at.nil? || @event.ends_at == @event.starts_at

      %h4.title
        %span.fa{:class => @event.icon}
        %a{ href: '#', id: 'holder', 'data-type' => 'select', 'data-pk' => "#{@event.id}", 'data-resource' => 'event', 'data-url' => calendars_calendar_event_path(@event.calendar.id, @event.id), 'data-source'=>'{"1":"Місто","2":"Громада"}' }
          = "#{holder_to_string(@event.holder)}:"
        %br
        %a{ href: '#', id: 'title', 'data-type' => 'text', 'data-pk' => "#{@event.id}", 'data-resource' => 'event', 'data-url' => calendars_calendar_event_path(@event.calendar.id, @event.id), 'data-emptytext' => 'Вкажіть назву файлу...' }
          = @event.title
      %p.description
        %div{ href: '#', id: 'description', 'data-type' => 'textarea', 'data-pk' => "#{@event.id}", 'data-resource' => 'event', 'data-url' => calendars_calendar_event_path(@event.calendar.id, @event.id), 'data-value'=>@event.description }
          = @event.description.html_safe
.panel.panel-default
  .panel-heading
    %i.fa.fa-download &nbsp; Додатки
  .panel-body
    = render :partial => 'calendars/event_attachments/attachments', :locals => { :attachments => @attachments, :calendar_id=>@calendar.id, :event_id=>@event.id}
    = render :partial => 'calendars/event_attachments/new_attachment', :locals => { :attachments => @attachments, :new_attachment => EventAttachment.new, :event_id=>@event.id, :calendar_id=>@calendar.id, :event =>@event, :calendar =>@calendar }


:javascript

  $('a[data-pk], div[data-pk]').editable();

