- model_class = Event

.date
  %strong= date_to_string(@event.starts_at)
  %strong= " - #{date_to_string(@event.ends_at)}" unless @event.ends_at.nil? || @event.ends_at == @event.starts_at

%h4.title
  %span.fa{:class => @event.icon}
  = "#{holder_to_string(@event.holder)}: #{@event.title}"

%ul.nav.nav-tabs{role: 'tablist'}
  %li.active
    %a{ :href => '#show_event_main_tab', :role => 'tab', 'data-toggle' => 'tab'}
      = t('.tab1_title')
  %li
    %a{:href => '#show_event_attach_tab', :role => 'tab', 'data-toggle' => 'tab'}
      = t('.tab3_title')


.tab-content
  .tab-pane.fade.in.active#show_event_main_tab
    %p.description
      = @event.description.html_safe
  .tab-pane.fade#show_event_attach_tab
    = render :partial => 'calendars/event_attachments/new_attachment', :locals => { :attachments => @attachments, :new_attachment => EventAttachment.new, :event_id=>@event.id, :calendar_id=>@calendar.id, :event =>@event, :calendar =>@calendar }
    =render :partial => 'calendars/event_attachments/attachments', :locals => { :attachments => @attachments, :calendar_id=>@calendar.id, :event_id=>@event.id}