:css
  .collapse.in {
    background: none;
  }

- model_class = Event
%h4
  %strong= holder_to_string(@event.holder)
  %strong= " " + date_to_string(@event.starts_at)
  %strong= " - #{date_to_string(@event.ends_at)}" unless @event.ends_at.nil? || @event.ends_at == @event.starts_at

#events_accordion.panel-group
  - @events.each_with_index do |event, index|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %span.fa{:class => event.icon}
          %a{"data-parent" => "#events_accordion", "data-toggle" => "collapse", :href => "#collapse_" + event.id, 'data-id' => event.id}
            = event.title
      .panel-collapse.collapse{:id => "collapse_" + event.id, :class => event.id == @event.id ? "in" : ""}
        .panel-body
          = event.description.html_safe
          = render :partial => 'calendars/event_attachments/attachments', :locals => { :attachments => @attachments[event.id], :calendar_id=>@calendar.id, :event_id=>event.id}

:javascript

  $(document).ready(function() {
    $('a[data-toggle="collapse"]').on("click", function(){
      var id = $(this).data('id');
      $('#marker_' + id).find(".flag").trigger("click");
    })
  })

