:css
  .collapse.in {
    background: none;
  }

- model_class = Event
%h4
  %strong= holder_to_string(@event.holder)
  %strong= " " + date_to_string(@event.starts_at)
  %strong= " - #{date_to_string(@event.ends_at)}" unless @event.ends_at.nil? || @event.ends_at == @event.starts_at

#events_accordion.panel-group
  - @events.each_with_index do |event, index|
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %span.fa{:class => event.icon}
          %a{"data-parent" => "#events_accordion", "data-toggle" => "collapse", :href => "#collapse_" + event.id, 'data-id' => event.id}
            = event.title
      .panel-collapse.collapse{:id => "collapse_" + event.id, :class => event.id == @event.id ? "in" : ""}
        .panel-body
          %div{ href: '#', id: 'description', 'data-type' => 'wysihtml5', 'data-pk' => "#{event.id}", 'data-resource' => 'event', 'data-url' => calendars_calendar_event_path(event.calendar.id, event.id), 'data-value'=>event.description, 'data-emptytext' => 'Докладніше про подію...' }
            = event.description.html_safe
          = render :partial => 'calendars/event_attachments/attachments', :locals => { :attachments => @attachments[event.id], :calendar_id=>@calendar.id, :event_id=>event.id}
          - if current_user
            = render :partial => 'calendars/event_attachments/new_attachment', :locals => { :attachments => @attachments[event.id], :new_attachment => EventAttachment.new, :event_id=>event.id, :calendar_id=>@calendar.id, :event =>event, :calendar =>@calendar }

:javascript

  $('a[data-pk]').editable();

  $(document).ready(function() {
    $('a[data-toggle="collapse"]').on("click", function(){
      var id = $(this).data('id');
      $('#marker_' + id).find(".flag").trigger("click");
    });

    $.fn.editable.defaults.mode = 'inline';

    $('div[data-pk]').editable({
        escape: false,
        wysihtml5: {
          "font-styles": true, // Font styling, e.g. h1, h2, etc.
          "emphasis": true, // Italics, bold, etc.
          "lists": true, // (Un)ordered lists, e.g. Bullets, Numbers.
          "html": false, // Button which allows you to edit the generated HTML.
          "link": true, // Button to insert a link.
          "image": true, // Button to insert an image.
          "color": false, // Button to change color of font
          "inline": true,
          "size": 'xm', // options are xs, sm, lg
          //"locale": editor_locale
        }
      });
  })


