:css
  .cl-block-item{
    width: 100%;
    border-top: 1px solid #e2242d;
    padding-top: 10px;
    margin-bottom: 20px;
    max-height: 180px;
    overflow: hidden;
    position: relative;
  }
  .cl-block-item:after{
    /*background: #fff ;*/
    content: ' ';
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: inset 0px -14px 27px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow:    inset 0px -14px 27px 0px rgba(255, 255, 255, 1);
    box-shadow:         inset 0px -14px 27px 0px rgba(255, 255, 255, 1);
  }
  .cl-block-date{
    width: 46px;
    height: 48px;
    background: url(/assets/cl-date-item.png) top left no-repeat;
    overflow: hidden;
    float: left;
    margin-right: 10px;
  }
  .cl-block-date-month{
    text-align: center;
    color: #fff;
    font-size: 9px;
    padding-top:3px ;
  }
  .cl-block-date-day{
    text-align: center;
    font-size: 21px;
  }

  h3.cl-block-title{
    margin: 0 0 10px 0;
    padding: 0 ;
    line-height: 0.8;
  }
  h3.cl-block-title a{
    color: #e35c25;
    font-size: 16px;
    font-weight: bold ;
  }
  .cl-block-img{
    width: 100px;
    height: 75px;
    float: right;
    overflow: hidden;
    margin-left: 10px;
  }
  .cl-block-text{
    font-size: 12px;
    text-align: justify;
    line-height: 1.4;
  }

- newsArr = [{'dateD'=> '30', 'dateM' => 'червень', 'title' => 'Бюджетний регламент: на шляху до ініціативи “Відкритий Уряд”','text'=>'<p>Внаслідок політики Уряду, щодо бюджетної децентралізації, місцеві бюджети отримають додаткові кошти. Тому питання врегулювання бюджетного процесу на місцевому рівні потребує якнайшвидшого вирішення. На сьогоднішній день місцеві бюджети не стимулюють розвиток громад і не задовольняють потреби населення у послугах. Питання бюджетів територіальних громад України потребують додаткової прозорості та відкритості. Громадяни, майже не беруть участі в обговоренні прийняття рішень, які стосуються місцевих бюджетів. І в цьому полягає проблема в стосунках між населенням та очільниками місцевої влади.</p>','link'=>'http://www.cpsa.org.ua/novyny/byudzhetnyj-rehlament-na-shlyahu-do-initsiatyvy-vidkrytyj-uryad/', 'img' => 'news8.jpg' },
            {'dateD'=> '24', 'dateM' => 'червень', 'title' => 'Що таке програмно-цільовий метод бюджетного планування?','text'=>'<p>В попередній статті ми згадували про програмно-цільовий метод бюджетного планування. Зараз, розглянемо взагалі сам метод, які основні програми передбачаються у місцевих бюджетах, та приклади візуалізації реалізації даного методу.</p><p>По перше, ефективне управління видатками бюджету є важливою частиною бюджетної політики. Програмно-цільовий метод – є дієвим інструментом, який забезпечує планування та виконання бюджету на середньострокову перспективу, орієнтований на досягнення мети відповідно до встановлених пріоритетів. Це прописано у наказі Міністерства фінансів України №805 від 02.08.2010.</p>','link'=>'http://www.cpsa.org.ua/novyny/scho-take-prohramno-tsilovyj-metod-byudzhetnoho-planuvannya/', 'img' => 'news7.jpg' },
            {'dateD'=> '18', 'dateM' => 'червень', 'title' => 'Бюджетний календар як інструмент залучення громадян до вирішення проблем міста','text'=>'<p>Після революції Гідності, зросла соціальна активність населення. З’явились активісти, які почали свою волонтерську діяльність, громадяни активно почали долучатись до вирішення проблем суспільства зокрема через волонтерство та допомогу армії. В зв’язку з деклараціями швидких і ефективних реформ новою владою у людей склалися високі очікування. Пройшов рік, реформи просуваються доволі повільно, а на місцях громадяни стикаються з свавіллям влади як у Білій Церкві чи Києві та все голосніше вимагають змін.</p>','link'=>'http://www.cpsa.org.ua/novyny/byudzhetnyj-kalendar/', 'img' => 'news6.jpg' },
            {'dateD'=> '15', 'dateM' => 'червень', 'title' => 'Бюджет місцевої ради в умовах децентралізації', 'text' => '<p>Питання куди йдуть бюджетні кошти завжди цікавило громадян, особливо тих, що свідомо сплачують податки. Бюджетний кодекс містить норми, що зобов’язують органи влади звітувати про використання бюджетних коштів. І чиновники по формальним ознакам звітується про виконання бюджетів. Наявна система інформування громадян реалізована таким чином, щоб зробити її зручною для чиновника, але мінімально інформативною для громадянина, певно, щоб не задавав зайвих питань.  Така форма надання інформації склалася історично, оскільки влада не сприймала громадян в якості клієнтів. Відсутність конкуренції ніколи не йшла на користь якості послуг, яскравий прикладом є якість послуг державного сектору в тому числі і інформаційних.</p>', 'link' => 'http://www.cpsa.org.ua/novyny/byudzhet-mistsevoji-rady-v-umovah-detsentralizatsiji/', 'img' => 'news5.jpg' }]
-#{'dateD'=> '02', 'dateM' => 'червень', 'title' => 'Як оцінювати владу: ключові показники розвитку міста','text'=>'<p>Зазвичай, місцеві обранці живуть від виборів до виборів, та обіцяють виборцям, зробити ту чи іншу гарну справу. Це може бути кілька дитячих майданчиків, ремонт дороги, чи встановлення пам’ятника відомої людини. Якщо обранець виконує свої обіцянки на протязі каденції, то йому довіряють, та можуть переобрати на новий термін. Але таким чином можна оцінити ефективність окремого депутата чи міського голови. А як оцінити «середню температуру по лікарні», та оцінити дії всієї місцевої влади? Дізнатись чи вдалося місцевій владі поліпшити ситуацію у місті, і на що в стратегічному розрізі необхідно направити увагу? Для того щоб дати відповіді на поставлені питання необхідно прояснити деякі поняття, як «сталий розвиток» та «KPI».</p>','link'=>'http://www.cpsa.org.ua/novyny/yak-otsinyuvaty-mista-klyuchovi-pokaznyky-rozvytku-mista/', 'img' => 'news1.jpg' },
-# {'dateD'=> '04', 'dateM' => 'червень', 'title' => 'Відкритий бюджет', 'text' => '<p>Питання куди йдуть бюджетні кошти завжди цікавило громадян, особливо тих, що свідомо сплачують податки. Бюджетний кодекс містить норми, що зобов’язують органи влади звітувати про використання бюджетних коштів. І чиновники по формальним ознакам звітується про виконання бюджетів. Наявна система інформування громадян реалізована таким чином, щоб зробити її зручною для чиновника, але мінімально інформативною для громадянина, певно, щоб не задавав зайвих питань.  Така форма надання інформації склалася історично, оскільки влада не сприймала громадян в якості клієнтів. Відсутність конкуренції ніколи не йшла на користь якості послуг, яскравий прикладом є якість послуг державного сектору в тому числі і інформаційних.</p>', 'link' => 'http://www.cpsa.org.ua/novyny/vizualizuj-mene-povnistyu-chastyna-persha/', 'img' => 'news2.jpg' },
-# {'dateD'=> '10', 'dateM' => 'червень', 'title' => 'Бюджет розвитку міста: звідки він береться і куди йде?','text'=>'<p>Кожного року місцеві ради приймають один з головних документів для існування тієї чи іншої громади – це бюджет. В ньому прописані всі заплановані доходи та видатки. Зараз є бажання розглянути окрему частину бюджету, бюджет розвитку. Це складова частина спеціального фонду місцевого бюджету, яка надає можливості громаді зробити покращення інфраструктури, політикам втілити свої передвиборчі обіцянки, а людям побачити відповідальність місцевих еліт.</p>','link'=>'http://www.cpsa.org.ua/novyny/byudzhet-rozvytku-mista-zvidky-vin-beretsya-i-kudy-jde/', 'img' => 'news3.png' },
-# {'dateD'=> '11', 'dateM' => 'червень', 'title' => 'Два иностранных примера эффективного самоуправления и украинские реалии','text'=>'<p>На сегодняшний день разрыв между властью и гражданами в Украине огромен и шагов по его преодолению – не очень много. Для этого нужна политическая воля и желание людей участвовать в жизни общества, – пишет в своей статье для сайта “Европейская правда” эксперт Центра Сергей Карелин.</p><p>В мировой практике есть достаточно много инструментов участия граждан в политической жизни.</p><p>В данной статье мы сосредоточимся на двух инструментах общественного участия – органах самоорганизации населения и достаточно новом инструменте – “Бюджете участия” (“БУ”), который называют также “Партисипативным бюджетом”.</p><p>Как это происходит? Попробуем изучить на примере зарубежного опыта городов Саверн (Франция) и Порту-Алегри (Бразилия), сравнив с украинским опытом на примере города Артемовск Донецкой области.</p>','link'=>'http://www.cpsa.org.ua/novyny/dva-ynostrannyih-prymera-effektyvnoho-samoupravlenyya-y-ukraynskye-realyy/', 'img' => 'news4.jpg' }]

- newsArr.each do |newsItem|
  .col-md-6
    .cl-block-item
      .cl-block-date
        .cl-block-date-month
          = newsItem['dateM']
        .cl-block-date-day
          = newsItem['dateD']
      %h3.cl-block-title
        %a{ "href" => newsItem['link'] }
          = newsItem['title']
      .clearfix
      .cl-block-img
        %img{ 'src' => 'assets/news/' + newsItem['img'] }
      .cl-block-text
        = newsItem['text'].html_safe
