:css
  tr.budget {
    cursor: pointer;
  }
  tr.budget.active {
    cursor: default;
    font-weight: bold;
  }

.col-sm-3
  %table.table.table-hover
    %thead
      %tr
        %th
          = t('name')
        %th
          = t('owner')
    %tbody
      - @budgets.each do |budget|
        %tr.budget{ 'data-id' => budget.id, 'data-vis' => 'bubbletree' }
          %td
            = budget.title
          %td= budget.owner

.col-sm-9
  %iframe#budget{ :style => 'width: 100%; height: 100vh; border: none;' }


:javascript

  $(document).ready(function() {

    $('tr.budget[data-id]').on('click', function (e) {
      $('tr.budget').removeClass('active')
      $(this).addClass('active')

      var vis = $(this).attr('data-vis')
      var id = $(this).attr('data-id')
      set_iframe(vis, id);
    });

    function set_iframe(vis, id) {
      path = "#{request.base_url}"
      query = "#{URI.parse(request.url).query}"
      frame_url = path + "/widgets/visify/"+ vis + "/" + id + '/?' + query
      $('iframe#budget').attr('src', frame_url)
    }

  })