= content_for :header do
  .header.pull-left
    %h1
      =t('.documents')
      %small
        =t('.documents_search')

.col-xs-12
  = render partial: '/documentation/documents/preambule'

.col-xs-12.documents_search
  = render partial: '/documentation/documents/search'

.col-xs-12.documentation
  %table.table.table-striped
    %thead
      %tr
        %th
          =t('.file')
        %th
          =t('.category')
        %th
          =t('.title')
        %th
          =t('.years')
        %th
          =t('.town')
        %th
          =t('.type')
    %tbody#results
      = render partial: '/documentation/documents/search_results', :locals => { documents: @documentation_documents }

-##add_document

= paginate @documentation_documents

-#:javascript
-#
-#  $(document).ready(function(){
-#    $(window).scroll(function(){
-#      var windowTopPos = $(window).scrollTop();
-#      var footerTopPos = $('.afooter').offset().top;
-#      var navBottomPos = $('#add_document').offset().top + $('#add_document').outerHeight();
-#
-#      if(navBottomPos >= footerTopPos) {
-#        $('#add_document').css('position', 'relative');
-#      }
-#    });
-#  })