= content_for :header do
  .header.pull-left
    %h1
      =t('.documents')
      %small
        =t('.documents_search')

.col-xs-12
  = render partial: '/documentation/documents/preambule'

.col-xs-12.documents_search
  = render partial: '/documentation/documents/search'

.col-xs-12.documentation
  %table.table.table-striped
    %thead
      %tr
        %th
          =t('.file')
        %th
          =t('.category')
        %th
          =t('.title')
        %th
          =t('.years')
        %th
          =t('.town')
        %th
          =t('.type')
    %tbody#results
      = render partial: '/documentation/documents/search_results', :locals => { documents: @documentation_documents }

= paginate @documentation_documents
