.row
  .col-sm-12.col-lg-6.col-md-5.col-sm-4
    Портал "Відкритий бюджет" покликаний створити умови для задоволення потреб громадян в інформації про використання коштів місцевих бюджетів. Портал містить комплекс програмного забезпечення для створення візуалізацій дохідної та видаткової частини місцевих бюджетів, ключових показників діяльності та бюджету адаптованого для пересічних громадян. Користуючись програмним забезпечення порталу органи місцевого самоврядування мають можливість створювати візуалізації на основі фінансової та статистичної звітності та розміщувати їх на своїх веб-сайтах. Журналісти та громадські активісти мають нагоду отримати інформацію про використання бюджетних коштів в доступному вигляді та порівняти відповідну інформацію з іншими регіонами України. Для отримання детальнішої інформації оберіть на карті свій регіон, або перегляньте
    = link_to 'Демонстрацію типового профілю міста', public_path('test')
    = '.'

  .col-sm-12.col-lg-6.col-md-7.col-sm-8
    = render partial: 'map_ukraine'

.row
  <p>&nbsp;</p>

.row
  .col-sm-12.col-md-6.hidden-xs.hidden-sm
    = render partial: 'slider'
  .col-sm-12.col-md-6
    = render partial: 'news'

-#- [{towns: @areas, title: 'Області'}, {towns: @towns, title: 'Міста'}].each do |item|
-#  = render partial: 'towns', :locals => { towns: item[:towns], title: item[:title] }

-#= render partial: 'tabs'

-#%h1
-#  Calendar
-#%iframe{ src:'http://tympanus.net/Development/Calendario/index.html', width: '100%', height: '600px' }

-#%h1
-#  News
-#%iframe{ src:'http://tympanus.net/Blueprints/VerticalTimeline/', width: '100%', height: '1000px' }
