:scss
  .form-book{
    margin-top: 10px;
  }

= form_for @library_book, :html => { :class => 'form-horizontal', :multipart => false } do |f|
  - if @library_book.errors.any?
    #error_explanation
      %h3
        = t('library.books.index.errors')
        (
        = pluralize(@library_book.errors.count, "")
        )
      %ul
        - @library_book.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .field.col-md-12
      = f.label :category, t('library.books.index.category')
      = f.text_field(:category, class: "select2 form-control can_be_disable", id: "category" )
  -#.form-group  -# for gem select2 v.4.0
  -#  .field.col-md-12
  -#    = f.label :category, t('library.books.index.category')
  -#    = f.select(:category, @categories.collect {|d| [d.to_s,d.to_s]}, { multiple: true}, class: "select2 form-control can_be_disable", id: "category" )
  .form-group
    .field.col-md-12
      -# Field "Title Book", params [:title], class form [:form_for] (See more: gem simple form)
      = f.label :title, t('library.books.index.title')
      = f.text_field :title, :class => 'form-control can_be_disable'
  .form-group
    .field.col-md-12
      = f.label :author, t('library.books.index.author')
      = f.text_field :author, :class => 'form-control can_be_disable'
  .form-group
    .field.col-md-12
      - years = 1955..Date.today.year
      = f.label :year_publication, t('library.books.index.year_publication')
      = f.select(:year_publication, years.collect {|y| [y.to_s,y.to_s]}, {:include_blank => t('library.books.new.select')}, {:class => "form-control can_be_disable"} )
  .form-group
    .field.col-md-12
      = f.label :description, t('library.books.index.description')
      = f.text_area :description, :class => 'form-control can_be_disable'
  .form-group
    .field.col-md-12
      = f.label :book_url, t('library.books.show.link')
      = f.text_field :book_url, :class => 'form-control can_be_disable'
  .form-group
    .field.col-md-12
      = f.label :book_file, t('library.books.new.chose_book')
      = f.file_field :book_file, :class => 'form-control can_be_disable'
      -#= f.hidden_field :book_file_cache #, :value => @library_book.book_file_cache
  .form-group
    .field.col-md-12
      = f.label :book_img, t('library.books.index.cover')
      = f.file_field :book_img, :class => 'form-control can_be_disable'
  .actions
    = f.submit t('library.books.new.save'), :class => 'btn btn-primary can_be_disable'
    = link_to t('library.books.index.p_back'), library_books_path, :class => 'btn btn-info can_be_disable'

:javascript
  var js_array = #{raw @categories.to_json};
  $(document).ready(function() {
    $('.select2').select2({
      tags: js_array,
      maximumSelectionSize: 1
    });
  });