= form_for @library_book do |f|
  - if @library_book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@library_book.errors.count, "error")} prohibited this library_book from being saved:"
      %ul
        - @library_book.errors.full_messages.each do |msg|
          %li= msg

  -#.field
  -#  = f.label :category
  -#  = f.select :category_id, options_for_select(Documentation::Category.all.collect { |c| [c.title, c.id] }, @library_book.category_id)
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  -#.field
  -#  = f.label :doc_file
  -#  = f.file_field :doc_file
  .actions
    = f.submit 'Save'
