= form_for @library_book, :html => { :class => 'form-horizontal', :multipart => false } do |f|

  - if @library_book.errors.any?
    #error_explanation
      %h3
        = pluralize(@library_book.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @library_book.errors.full_messages.each do |msg|
          %li= msg

  -#.field
  -#  = f.label :category
  -#  = f.select :category_id, options_for_select(Documentation::Category.all.collect { |c| [c.title, c.id] }, @library_book.category_id)

  .form-group
    .field.col-md-12
      -# Field "Title Book", params [:title], class form [:form_for] (See more: gem simple form)
      = f.label :title, "Назва книги"
      = f.text_field :title, :class => 'form-control can_be_disable'
  .form-group
    .field.col-md-12
      = f.label :author, "Автор"
      = f.text_field :author, :class => 'form-control can_be_disable'
  .form-group
    .field.col-md-12
      = f.label :year_publication, "Рік видання"
      - dates = 1955..Date.today.year
      = f.select(:year_publication, dates.collect {|d| [d.to_s,d.to_s]}, {:include_blank => "Select"}, {:class => "form-control can_be_disable"} )
  .form-group
    .field.col-md-12
      = f.label :description, "Опис книги"
      = f.text_area :description, :class => 'form-control can_be_disable'
  .form-group
    .field.col-md-12
      = f.label :book_url, "Силка на книгу"
      = f.text_field :book_url, :class => 'form-control can_be_disable'
  -#.form-group
  -#  .field.col-md-12
  -#    = f.label :book_file, "Обрати книгу"
  -#    = f.file_field :book_file, :class => 'form-control can_be_disable'
  .form-group
    .field.col-md-12
      = f.label :book_file, "Обрати книгу"
      = f.file_field :book_file, :class => 'form-control can_be_disable'
      -#= f.hidden_field :book_file_cache #, :value => @library_book.book_file_cache

  -#.form-group
  -#  %label
  -#    %i.glyphicon.glyphicon-folder-open
  -#      = t('form.file')
  -#  = file_field_tag "book_file[]", multiple: true, :class => 'form-control can_be_disable'

  -#.actions
  -#  = f.button :class => 'btn btn-default can_be_disable' do
  -#    %i.fa.fa-upload
  -#      = t('form.upload')
  .actions
    = f.submit 'Зберегти', :class => 'btn btn-primary can_be_disable'
    = link_to 'Назад', library_books_path, :class => 'btn btn-info can_be_disable'

