- @library_books.each do |book|
  .one-book.row
    .img.col-md-2.col-sm-3.col-xs-4
      =link_to get_url book do
        = get_img book
    .information.col-md-10.col-sm-9.col-xs-8
      %p
        - if access_user book
          .buttons
            = link_to t('library.books.index.edit'), edit_library_book_path(book), :class => 'btn btn-default'
            = link_to t('library.books.index.delete'), library_book_path(book), :class => 'btn btn-danger',
                              method: :delete,
                              data: { confirm: t('library.books.index.ask') }
        %h3
          = link_to get_url book do
            = book.title
      %p
        %span= book.author
      %p
        %span= book.year_publication
      %p
        %span= book.description if book.description