= content_for :header do
  .head.pull-left
    %h1
      = t('.editing')
      %small
        = t('library.books.index.w_books')
.container
  .col-md-8.col-md-offset-2
    .panel.panel-default.form-library
      .panel-heading
        = t('.edit_book')   #t('form.new_link')
      .new_link.panel-body
        = render 'form'