:scss

  $margin_to_menu: 10;
  $yellow: #ffd304;
  $darkblue: #0c2231;
  $greyblue: #2f383e;
  $black: black;
  $linecolor: #cbcdcf;

  .books{
    margin-top: $margin_to_menu;
    margin-bottom: 10px;
    padding-top: 30px;
    .header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      h2{
        padding-bottom: 10px;
        border-bottom: 3px solid $yellow;
      }
      .btn-create{
        .add-new{
          text-transform: uppercase;
          margin: 0;
          font-family: 'Lato', sans-serif;
          font-size: 3rem;
          background: $yellow;
          color: $darkblue;
          i{
            padding: 10px;
          }
        }
        .tooltip{
          .tooltip-arrow{
            border-bottom-color: $yellow;
          }
          .tooltip-inner{
            background-color: $yellow;
            color: $black;
          }
        }
      }
    }
    .one-book{
      margin-top: 20px;
      &:nth-last-of-type(1){
        hr.button-line{
          display: none;
        }
      }
      .img{
        img{
          width: 100%;
        }
      }
      .information{
        color: $greyblue;
        .buttons{
          float:right;
          .btn{
            padding: 3px 7px;
          }
          a{
            text-decoration: none;
            background: transparent;
            border: 0px;
            border-radius: 0px;
            padding: 0 5px;
            color: $darkblue;
            &:hover,
            &:focus{
              background: $yellow;
              i {
                opacity: .6;
              }
            }
          }
        }
        .title{
          margin-top: 0px;
          a{
            color: $greyblue;
            text-decoration: none;
          }
        }
        .author-year{
          margin-bottom: 20px;
          .fa{
            margin-right: 5px;
            font-size: 18px;
          }
          .author{
            display: inline-block;
            margin-right: 30px;
          }
          .year{
            display: inline-block;
            white-space: nowrap;
          }
        }
        .description{
          text-align: justify;
        }
      }
      .download{
        a{
          display: inline-block;
          float: right;
          padding: 5px;
          color: $greyblue;
          background: $yellow;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
      hr.button-line{
        display: block;
        margin-top: 10px;
        margin-bottom: 0.5em;
        margin-left: 10px;
        margin-right: 10px;
        border-color: $linecolor;
      }
    }
    .pagination-bar{
      ul.pagination{
        margin: 0;
        li {
          &:first-child,
          &:last-child{
            & > a{
              border-radius: 0;
            }
          }
          a{
            border: none;
            color: $black;
            font-size: 1.8rem;
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            i {
              padding: 4px;
            }
          }
        }
        .active{
          a {
            background-color: $yellow;
          }
        }
        .disabled{
          a{
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: 449px){
    .books{
      .one-book{
        .img{
          text-align: center;
          width: 100%;
          img{
            margin: 10px auto 5px;
            width: auto;
          }
        }
        .information{
          width: 100%;
          h3{
            font-size: 20px;
          }
          .buttons{
            text-align: center;
            float:none;
            .btn{
              padding: 2px 10px;
            }
          }
        }
      }
    }
  }

= content_for :header do
  .head.pull-left
    %h1
      = t('layouts.navbar.library')
      %small
        = t('.w_books')
.books.clearfix
  .header
    %h2
      = t('layouts.navbar.library')
    - if current_user
      .btn-create.pull-right
        = link_to new_library_book_path, class: 'add-new', title: t('.add_book'), 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do
          %i.fa.fa-plus
  = render partial: "categories"
  #results.books-list
    = render partial: "search_books", locals: { books: @library_books }

  #books-paginator.text-center.pagination-bar
    = paginate @library_books, views_prefix: 'paginator_semantic', remote: true

:javascript
  $(document).ready(function() {
    $('.add-new').tooltip({
      trigger: 'hover'
    });
  });