:scss
  //.book_image {
  //  img{
  //    box-shadow: 2px 2px 10px #428bca;
  //  }
  //}

= content_for :header do
  .header.pull-left
    %h1
      = t('layouts.navbar.library')
      %small
        = t('.w_books')
.container.index
  .documentation.col-xs-12.table-responsive
    - if current_user
      %h1= link_to t('.add_book'), new_library_book_path, :class => 'btn btn-success'
    %table.table.table-striped
      %thead.headt
        %tr
          %th{ align: 'center' }
            = t('.cover')
          %th
            = t('.description')
      %tbody#results
        = render partial: "search_books", :locals => { books: @library_books }
    = will_paginate @library_books, renderer: BootstrapPagination::Rails, :previous_label => t('.p_back'), :next_label => t('.p_next')