= content_for :header do
  .header.pull-left
    %h1
      = t('.book_look')
      %small
        = @library_book.title

.container
  .show
    .col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-heading
          %b
            = t('library.books.index.title') +  ": "
            = @library_book.title   #t('form.new_link')

          - if @library_book.book_url?
            = link_to @library_book.book_url, target: "_blank", :class => 'link' do
              = t('.link')
              %i.fa.fa-share.fa-2x
          - if @library_book.book_file?
            = link_to @library_book.book_file.url, target: "_blank", :class => 'link' do
              = t('.download')
              %i.fa.fa-2x{ class: "#{get_file_type_icon(@library_book.book_file_identifier)}" }
        .new_link.panel-body
          - if @library_book.book_img?
            =image_tag @library_book.book_img.thumb
          %p
            %b
              = t('library.books.index.author')+  ": "
            = @library_book.author
          %p
            %b
              = t('library.books.index.year_publication')+  ": "
            = @library_book.year_publication
          %p
            %b
              = t('library.books.index.description')+  ": "
            = @library_book.description

          - unless current_user.nil?
            - if current_user.has_role?(:admin)
              %p
                %b
                  = t('.publisher')+  ": "
                = @library_book.owner.name

          = link_to t('library.books.show.books'), library_books_path, :class => 'btn btn-info can_be_disable'
          - unless current_user.nil?
            - if current_user.id == @library_book.owner_id || current_user.has_role?(:admin)
              %td= link_to t('library.books.index.edit'), edit_library_book_path(@library_book), :class => 'btn btn-warning'
              %td= link_to t('library.books.index.delete'), library_book_path(@library_book), :class => 'btn btn-danger',
                            method: :delete,
                            data: { confirm: t('library.books.index.ask') }