:scss
  .child_category_select{
    display: none;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


= simple_form_for @properting_layer do |f|

  - unless current_user.admin?
    = t('repairing.repairs.form.town') + ": " + current_user.town

  = f.input :town, as: type_for_user_role,
                   label: t('repairing.repairs.form.town'),
                   input_html: {value: current_user.town_model.id}
  = f.input :locale, as: :hidden, input_html: {value: params[:locale]}
  = f.input :title, label: t('repairing.repairs.form.title'), class: 'form-control'

  = f.input :year, collection: years_from(2015),
                     prompt: false,
                     label: t('repairing.repairs.form.year')
  = f.input :description, as: :text,  label: t('repairing.repairs.form.description'), rows: '8'
  = f.input :properties_file,as: :file, label: t('properting.properties.property_file')

  = f.submit t('form.add'), id: 'myBtn', class: 'btn btn-primary'
  = link_to t('form.cancel', default: t('helpers.links.cancel')), properting_layers_path, class: 'btn btn-default'

= render partial: 'properting/layers/waitModal' if flash[:wait_notice]

/ The Modal
-#.row
-#  .col-sm-3
-#    #myModal.modal
-#      / Modal content
-#      .modal-content
-#        %span.close ×
-#        %h3 Час завантаження залежить від обʼєму файла
-#        %p сторінка перезавантажиться автоматично!

:javascript
  $(document).ready(function(){
    init_town_select2_with_field_id('#properting_layer_town',"#{search_for_towns_town_path}");
    $("#properting_layer_town").select2("data", {id: "#{current_user.town_model.id}", text: "#{current_user.town_model.title}" });

    // // dynamic generate second select with children properting categories
    // var children_ctegories = $('#child_category').html();
    //
    // $('#properting_layer_properting_category').change(function() {
    //   var category, options;
    //   category = $('#properting_layer_properting_category :selected').text();
    //   options = $(children_ctegories).filter("optgroup[label='" + category + "']").html();
    //   if (options) {
    //     $('#child_category').html("<option value=''></option>");
    //     $('#child_category').append(options);
    //     return $('#child_category').parent().show();
    //   } else {
    //     $('#child_category').empty();
    //     return $('#child_category').parent().hide();
    //   }
    // });
  });
  // // Get the modal
  // var modal = document.getElementById('myModal');
  //
  // // Get the button that opens the modal
  // var btn = document.getElementById("myBtn");
  //
  // // Get the <span> element that closes the modal
  // var span = document.getElementsByClassName("close")[0];
  //
  // // When the user clicks the button, open the modal
  // btn.onclick = function() {
  //   modal.style.display = "block";
  // }
  //
  // // When the user clicks on <span> (x), close the modal
  // span.onclick = function() {
  //   modal.style.display = "none";
  // }
  //
  // // When the user clicks anywhere outside of the modal, close it
  // window.onclick = function(event) {
  //   if (event.target == modal) {
  //     modal.style.display = "none";
  //   }
  // }
