:scss
  .preview{
    .img-bg{
      background: url("/assets/no_data.png") center no-repeat;
      background-size: contain;
      width: 100%;
      min-height: 172px;
      margin-bottom: 0.5rem;
      position: relative;
      img{
        width: 100%;
      }
      p{
        position: absolute;
        top: 15%;
        font-size: 25px;
        font-weight: bold;
        color: #0022cc;
      }
    }
  }
.col-md-12
  = simple_form_for(@modules_slider) do |f|
    .row
      .col-md-4.preview
        .img-bg
          = image_tag @modules_slider.img.slider
          %p= @modules_slider.text
      .col-md-6
        .form-inputs
          -#= f.input :sl_order,label: t('modules.sliders.index.order'),as: :integer
          = f.input :text,label: t('modules.sliders.index.text')
          = f.input :img,as: :file,label: t('modules.sliders.index.img')
          = f.button :submit,t('save')
