:scss
  .action_button{
    a{
      text-decoration: none;
      background: transparent;
    }
    img{
      width: 40px;
    }
  }
  .img_slider{
    width: 602px;
    height: 322px;
    img{
      width: 100%;
      height: 100%;
    }
  }
%h1
  =t('.header')

= link_to t('.add'), new_modules_slider_path,class: 'btn btn-primary'
-unless @modules_sliders.blank?
  %table.table
    %thead.thead-inverse
      %tr
        %th
          = t('.order')
        %th
          = t('.text')
        %th
          = t('.img')
    %tbody
      - @modules_sliders.each do |modules_slider|
        %tr
          %td= modules_slider.sl_order
          %td= modules_slider.text
          %td.img_slider= image_tag modules_slider.img.slider
          %td.action_button
            = link_to image_tag('icons/loupe.png'), modules_slider
            = link_to image_tag('icons/pencil.png'), edit_modules_slider_path(modules_slider)
            = link_to image_tag('icons/X_icon.png'), modules_slider, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %br
-else
  %p
    %b Слайдер пустий

