%h1
  =t('.header')
%table.table
  %thead.thead-inverse
    %tr
      %th
        = t('.order')
      %th
        = t('.text')
      %th
        = t('.img')

  %tbody
    - @modules_sliders.each do |modules_slider|
      %tr
        %td= modules_slider.sl_order
        %td= modules_slider.text
        %td= modules_slider.img
        %td= link_to t('show'), modules_slider
        %td= link_to t('edit'), edit_modules_slider_path(modules_slider)
        %td= link_to t('destroy'), modules_slider, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to t('.add'), new_modules_slider_path,class: 'btn btn-primary'
  
