= bootstrap_form_for @revenue, :html => { :class => 'form-horizontal' } do |f|
  = f.text_field :title

  %table.table.table-striped.table-hover
    %tr
      %th{style:'text-align: right'}
        Код
      %th
        Сума
    %tr
      - @revenue.rows.keys.sort_by { |item| item }.each do |key|
        %tr
          %td{style:'text-align: right'}
            %h4=key
          %td
            %input{class: 'form-control', name: "rows[#{key}][amount]", value: "#{@revenue.rows[key][:amount]}"}



  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), budget_files_path, :class => 'btn btn-default'
