- model_class = Revenue

= content_for :header do
  .head.pull-left
    %i.fa.fa-money
    #{t('.title')}:
    %span.descr
      #{@revenue.title}


%ul.views.nav.nav-tabs{role: 'tablist'}
  %li.active
    %a{href: '#bubbletree', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_bubbletree')
  %li
    %a{href: '#sunburst', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_sunburst')
  %li
    %a{href: '#treemap', role: 'tab', 'data-toggle' => 'tab'}
      = t('.tab_treemap')
.tab-content
  #bubbletree.tab-pane.fade.in.active
    = render partial: 'bubbletree'
  #sunburst.tab-pane.fade
    -#= render partial: 'sunburst'
  #treemap.tab-pane.fade
    -#= render partial: 'treemap'


= link_to t('.back', :default => t("helpers.links.back")), revenues_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_revenue_path(@revenue), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), revenue_path(@revenue), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
