:css
  .document {
    margin: 1%;
    padding: 10px 5px 10px 5px;
    background-color: #e7f4f9;
    width: 96%;
  }

.document.pull-left{'data-id' => "#{file.id}"}
  .col-sm-1
    - if file.attachment?
      = link_to file.attachment.url do
        %i.fa{ class: "#{get_file_type_icon(file.attachment_identifier)}" }
  .col-sm-10
    %a{ href: '#', id: 'programs_attachment', 'data-type' => 'documentation_document', 'data-pk' => "#{file.id}", 'data-url' => "#{programs_attachment_path(file)}", 'data-emptytext' => 'Вкажіть назву документа...' }

  .col-sm-1
    = link_to 'x', {:controller => 'programs/target_programs', :action => 'attachment_destroy', :attachment_id => file.id, :id => @programs_target_program.id}, { :confirm => 'Are you sure?', :remote => true, :method => :delete, :class => 'btn btn-xs' }

:javascript

  $.fn.editable.defaults.mode = 'block';
  $('.document[data-id="#{file.id}"] a[data-pk]').editable({
    value: {
        title: "#{file.title}"
    },
    validate: function(value) {
        if (value.title == '') return "#{t('messages_x-editable.need_name_file')}";
    },
    display: function(value) {
        if(!value) {
            $(this).empty();
            return;
        }
        var html = '<b>' + $('<div>').text(value.title).html() + '</b>';
        $(this).html(html);
    }
  });
