.col-sm-3
  = sortable 'enterprise_id', t('enterprise_files.municipal_enterprise')
.col-sm-1
  = t('owner')
.col-sm-1
  = sortable 'file_type', t('enterprise_files.accounting')
.col-sm-1
  = sortable 'year', t('lower_year')
.col-sm-3
  = sortable 'file', t('file')
.col-sm-2
  = sortable 'owner_id', t('author')
.col-sm-1
  = t('actions')
