%table.table.table-
  %thead
    %tr
      %th.col-xs-2
      %th.col-xs-2
        = town.title
      - town.key_indicate_town.each do |town|
        %th.col-xs-2
          = town.title
  %tbody
    - indicators.sort_by{|k,v| v['name']}.each do |key, indicator|
      %tr
        %td.indicator_name
          = indicator['name']
        %td{:class => 'indicator_value_' + key}
          - if indicator['towns'][town.title]
            = render partial: 'indicator_icons', locals: {indicator: indicator, town: town.title, key: key}
        - town.key_indicate_town.each do |town|
          %td
            - if indicator['towns'][town.title]
              = render partial: 'indicator_icons', locals: {indicator: indicator, town: town.title, key: key}
