= form_for @key_indicate_town, :url => 'indicator_file_create', :remote => true, :authenticity_token => true, method: 'POST', :html => { :class => 'form-horizontal', :multipart => true } do |f|
  = fields_for :key_indicate_indicator_files do |e|
    - if new_file.errors.any?
      #error_explanation
        %h2= "#{pluralize(new_file.errors.count, "error")} prohibited this documentation_document from being saved:"
        %ul
          - new_file.errors.full_messages.each do |msg|
            %li= msg

    .col-sm-12
      .form-group
        %label
          = t('name')
        = e.text_field :title, :class => 'form-control can_be_disable'

      .form-group
        %label.control-label
          = t('owner')
        - if current_user && current_user.has_role?(:admin)
          = text_field_tag :town_select, '', { class: 'town_select' }
        - else
          = ": #{current_user.town}"

    .col-sm-12
      .form-group
        = e.text_area :description, :rows => '2', :placeholder => "Докладніше про документ", :class => 'form-control can_be_disable'

    .col-sm-12
      .form-group
        %label
          %i.glyphicon.glyphicon-folder-open
            = t('form.file')
        = file_field_tag "indicate_file[]", multiple: true, :class => 'form-control can_be_disable'

  .actions
    = f.button :class => 'btn btn-default can_be_disable' do
      %i.fa.fa-upload
        = t('form.load')
    = link_to static_key_indicator_file_help_path, :class => 'btn btn-default' do
      %i.fa.fa-info-circle
        =t('static.budget_file_help.help')

:javascript

  $(document).ready(function() {

    var town_select = $(".town_select");

    town_select.select2({
      placeholder: "Вкажіть місто",
      allowClear: false,
      minimumInputLength: 2,
      width: '100%',
      ajax: {
        url: '#{search_town_path}',
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
          return {
            query: term, // search term
          };
        },
        results: function (data, page) {
          return { results: data };
        },
        cache: true
      },
    }).on("change", function(){
      town = $(this).val();
      $.ajax({
        url: "/key_indicate/towns/get_files/" + town,
        type: "GET",
        dataType: "html",
        success: function(data) {
          $('.documents').html(data);
          $(".can_be_disable").removeAttr('disabled');
        }
      })
    })

    town_select.select2("data", {id: "#{@key_indicate_town.id}", text: "#{@key_indicate_town.town.title}" });

  })
