= form_for @subscriber, :html => { :class => 'form-vertical' } do |f|
  .form-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'form-control'
  = f.submit t('form.save'), :class => 'btn btn-primary'
  = link_to t('form.cancel'), subscribers_path, :class => 'btn btn-default'
