.col-sm-4{ "data-document-id" => "#{document.id}"}
  .document
    .col-sm-9
      - if document.doc_file?
        = link_to document.doc_file.url do
          %i.fa{ class: "#{get_file_type_icon(document.doc_file_identifier)}" }
            #{document.title}
      - else
        = document.title
    .controls
      = link_to document, :remote => true, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => '' do
        %i.fa.fa-times.pull-right
      = link_to document, :remote => true, :method => :delete, :data => { :confirm => 'Are you sure?' } do
        %i.fa.fa-pencil-square-o.pull-right
