%tr.document{'data-id' => "#{document.id}"}
  %td
    - if document.doc_file?
      = link_to document.doc_file.url do
        %i.fa{ class: "#{get_file_type_icon(document.doc_file_identifier)}" }
  %td
    %a{ href: '#', id: 'documentation_document', 'data-type' => 'documentation_document', 'data-pk' => "#{document.id}", 'data-url' => "#{documentation_document_path(document)}", 'data-emptytext' => 'Вкажіть назву документа...' }
  %td
    %a{ href: '#', 'data-resource' => 'documentation_document', id: 'yearFrom', 'data-type' => 'text', 'data-pk' => "#{document.id}", 'data-url' => "#{documentation_document_path(document)}", 'data-emptytext' => 'з...' }
      = document.yearFrom
    %span -
    %a{ href: '#', 'data-resource' => 'documentation_document', id: 'yearTo', 'data-type' => 'text', 'data-pk' => "#{document.id}", 'data-url' => "#{documentation_document_path(document)}", 'data-emptytext' => 'по...' }
      = document.yearTo
  %td
    %a{ href: '#', 'data-resource' => 'documentation_document', id: 'town', 'data-type' => 'select2', 'data-pk' => "#{document.id}", 'data-url' => "#{documentation_document_path(document)}", 'data-emptytext' => 'Вкажіть місто...' }
      = document.town.to_s if document.town
  %td
    %a{ href: '#', 'data-resource' => 'documentation_document', id: 'branch', 'data-type' => 'select2', 'data-pk' => "#{document.id}", 'data-url' => "#{documentation_document_path(document)}", 'data-emptytext' => 'Вкажіть тип документу...' }
      = document.branch.title if document.branch
  %td
    %a.doc_lock{:href => "#", 'data-url' => '/documentation/documents/lock/' + document.id, 'data-pk' => "#{document.id}", 'data-resource' => 'locked', 'data-emptytext' => 'unlocked', 'data-value' => document.locked.nil? || !document.locked ? 0 : 1 }
  %td
    = link_to document, :remote => true, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => '' do
      %i.fa.fa-times.pull-right

:javascript

  $('.document[data-id="#{document.id}"] #documentation_document').editable({
    value: {
        title: "#{document.title}",
        description: "#{document.description}",
    },
    validate: function(value) {
        if (value.title == '') return 'Потрібно вказати ім\'я файла!';
    },
    display: function(value) {
        if(!value) {
            $(this).empty();
            return;
        }
        var html = '<b>' + $('<div>').text(value.title).html() + '</b>';
        $(this).html(html);
    }
  });

  $('.document[data-id="#{document.id}"] #town').editable({
    source: '#{search_town_path}',
    select2: {
      width: '450px',
      minimumInputLength: 2,
      allowClear: true
    }
  });

  $('.document[data-id="#{document.id}"] #branch').editable({
    source: '#{documentation_search_branch_path}',
    select2: {
      width: '450px',
      allowClear: true
    }
  });

  $('.doc_lock').editable({
    type: 'checklist',
    source: {'1': 'locked'}
  });

  $('.document[data-id="#{document.id}"] #yearFrom, .document[data-id="#{document.id}"] #yearTo').editable({
  })
