= form_for @documentation_document do |f|
  - if @documentation_document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@documentation_document.errors.count, "error")} prohibited this documentation_document from being saved:"
      %ul
        - @documentation_document.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :category
    = f.select :category_id, options_for_select(Documentation::Category.all.collect { |c| [c.title, c.id] }, @documentation_document.category_id)
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :issued
    = f.text_field :issued
  .field
    = f.label :doc_file
    = f.file_field :doc_file
  .field
    = f.label :preview_ico
    = f.text_field :preview_ico
  .actions
    = f.submit 'Save'
