-#= stylesheet_link_tag "kartik-fileinput/css/fileinput.css", :media => "all"

= form_for new_document, :remote => true, :authenticity_token => true, method: 'POST', :html => { :class => 'form-horizontal', :multipart => true } do |f|

  - if new_document.errors.any?
    #error_explanation
      %h2= "#{pluralize(new_document.errors.count, "error")} prohibited this documentation_document from being saved:"
      %ul
        - new_document.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :category_id

  -#.col-sm-6
  -#  .form-group
  -#    %label
  -#      Назва
  -#    = f.text_field :title, :class => 'form-control'
  -#  .form-group
  -#    = f.select :branch, Documentation::Branch.all.collect {|p| [ p.title, p.id ] }, {prompt: t('.select_branch')}, :class => 'form-control'
  -#  .form-group
  -#    = f.select :town, Town.all.collect {|p| [ p.title, p.id ] }, { prompt: t('.select_town') }, :class => 'form-control'
  -#
  -#  .form-group
  -#    .col-sm-6
  -#      %label
  -#        Діє з (року)
  -#      = f.text_field :yearFrom, :class => 'form-control'
  -#    .col-sm-6
  -#      %label
  -#        Діє по (рік)
  -#      = f.text_field :yearTo, :class => 'form-control'
  -#
  -#.form-group
  -#  %label
  -#    Додатково
  -#  = f.text_area :description, :rows => '2', :placeholder => "Докладніше про документ", :class => 'form-control'
  -#
  -#.clear
  -#

  .form-group
    %label
      %i.glyphicon.glyphicon-folder-open
        = t('form.file')
    = file_field_tag "doc_file[]", multiple: true, :class => 'form-control'

  .actions
    = f.button :class => 'btn btn-default' do
      %i.fa.fa-upload
        = t('form.upload')

:javascript

  $(document).ready(function() {
    $.when(
      //$.getScript( "/assets/kartik-fileinput/js/fileinput.js" ),
      //$.getScript( "/assets/kartik-fileinput/js/fileinput_locale_uk.js" ),
      //$.Deferred(function( deferred ){
      //    $( deferred.resolve );
      //})
    ).done(function(){
      //$("#new_documentation_document #doc_file_").fileinput({
      //  language: 'uk',
      //  minFileCount: 1,
      //  maxFileCount: 5,
      //  maxFileSize: 1000000,
      //  allowedPreviewTypes: ['image'],
      //  showRemove: false,
      //  showUpload: false,
      //  uploadAsync:false,
      //});
      //
      //$('#new_documentation_document').bind("ajax:success", function(f){
      //  $("#new_documentation_document #doc_file_").fileinput("clear");
      //});
    })

  });
