- documents.each do |document|
  %tr
    %td
      - if document.doc_file?
        = link_to document.doc_file.url do
          %i.fa.fa-2x{ class: "#{get_file_type_icon(document.doc_file_identifier)}" }
    %td= "#{document.category.title if document.category}"
    %td= document.title
    %td= years(document.yearFrom, document.yearTo)
    %td= "#{document.town.title if document.town}"
    %td= "#{document.branch.title if document.branch}"
    %td
      %a.doc_lock{:href => "#", 'data-url' => '/documentation/documents/lock/' + document.id, 'data-pk' => "#{document.id}", 'data-resource' => 'locked', 'data-emptytext' => t('documentation.documents.index.unlocked'), 'data-value' => document.locked.nil? || !document.locked ? 0 : 1 }

:javascript
  $(document).ready(function(){

    I18n.locale = window.aHelper.lang();
    var doc_lock = $('.doc_lock');

    doc_lock.editable({
      type: 'checklist',
      source: {'1': I18n.t('documentation.documents.index.locked_s')},
      display: function(value, sourceData) {
        if(value) {
          $(this).html('<i class="fa fa-check-square-o"></i>');
        } else {
          $(this).html('<i class="fa fa-square-o"></i>');
        }
      }
    });

  })