- documents.each do |document|
  .row.table-body
    .col-xs-11.col-sm-push-1.reset-padding
      .col-sm-7.col-md-7
        .col-sm-3
          .col-xs-4.visible-xs
            = sortable "category_id", t('documentation.documents.index.category')
          .col-xs-8.col-sm-12
            = "#{document.category.title if document.category}"
        .col-sm-6
          .col-xs-4.visible-xs
            = sortable "title", t('documentation.documents.index.title')
          .col-xs-8.col-sm-12
            -#= truncate_title(document.title)
            = document.title

          -#todo --> in source code this column used for downloading file. Functionality was replace to first column. Should be deleted after relize
          -#.col-xs-1
          -#  = link_to documentation_document_download_path(document) do
          -#    %i.fa.fa-download.fa.fa-border

        .col-sm-3
          .col-xs-4.visible-xs
            = sortable "yearFrom", t('documentation.documents.index.years')
          .col-xs-8.col-sm-12.text-center
            = years(document.yearFrom, document.yearTo)
      .col-sm-5.col-md-5
        .col-sm-3
          .col-xs-4.visible-xs
            = sortable "town_id", t('documentation.documents.index.town')
          .col-xs-8.col-sm-12
            = "#{document.town.title if document.town}"
        .col-sm-8
          .col-xs-4.visible-xs
            = sortable "branch_id", t('documentation.documents.index.type')
          .col-xs-8.col-sm-12
            = "#{document.branch.title if document.branch}"
        .col-sm-1
          .col-xs-4.visible-xs
            = sortable "locked", t('documentation.documents.index.locked')
          .col-xs-8.col-sm-12
            - if !current_user.nil? && document.check_access(current_user)
              %a.doc_lock{:href => "#", 'data-url' => '/documentation/documents/lock/' + document.id, 'data-pk' => "#{document.id}", 'data-resource' => 'locked', 'data-emptytext' => t('documentation.documents.index.unlocked'), 'data-value' => document.locked.nil? || !document.locked ? 0 : 1 }
    .col-xs-1.col-sm-pull-11.reset-padding
      - unless document.doc_file.url.blank?
        -#= link_to document.doc_file.url do
        = link_to documentation_document_download_path(document) do
          %i.fa.fa-2x{ class: "#{get_file_type_icon(document.doc_file_identifier)}" }

  -#todo --> delete this block if layouts structure will apply
  -#%tr
    %td
      - if !document.doc_file.url.empty?
        = link_to document.doc_file.url do
          %i.fa.fa-2x{ class: "#{get_file_type_icon(document.doc_file_identifier)}" }
    %td= "#{document.category.title if document.category}"
    %td= document.title
    %td
      = link_to documentation_document_download_path(document) do
        %i.fa.fa-download.fa.fa-border
    %td= years(document.yearFrom, document.yearTo)
    %td= "#{document.town.title if document.town}"
    %td= "#{document.branch.title if document.branch}"
    %td
      %a.doc_lock{:href => "#", 'data-url' => '/documentation/documents/lock/' + document.id, 'data-pk' => "#{document.id}", 'data-resource' => 'locked', 'data-emptytext' => t('documentation.documents.index.unlocked'), 'data-value' => document.locked.nil? || !document.locked ? 0 : 1 }

:javascript
  $(document).ready(function(){

    var doc_lock = $('.doc_lock');

    doc_lock.editable({
      type: 'checklist',
      source: {'1': I18n.t('documentation.documents.index.locked_s')},
      display: function(value, sourceData) {
        if(value) {
          $(this).html('<i class="fa fa-check-square-o"></i>');
        } else {
          $(this).html('<i class="fa fa-square-o"></i>');
        }
      }
    });

  })