= form_tag documentation_documents_path, :method => :get, :remote => true, :html => { :class => 'form-inline col-sm-12' } do |f|
  -#.input-group.input-group-sm.col-sm-6
    = select_tag :category, tree_option_groups_from_collection_for_select(Documentation::Category.tree_root, :childrens, :title, :id, :title, nil),
      { multiple: true, class: 'category_select' }
  .col-sm-3
    = text_field_tag :town_select, '', { multiple: true, class: 'town_select' }

  .col-sm-3
    = select_tag :branch_select, options_for_select(Documentation::Branch.all.collect { |t| [t.title, t.id] } ), { multiple: true, class: 'branch_select' }

  .col-sm-3
    = text_field_tag :q, '', :class => 'form-control', :placeholder => "#{t('.search')}"

  .col-sm-2
    %i.fa.fa-calendar.fa-lg
    = select_tag :year, options_for_select((2012..Time.now.year-1).to_a.reverse), { prompt: 'рік' }

  .col-sm-1
    = button_tag(type: 'submit', :class => 'btn btn-primary') do
      = t('form.search')
      %i.fa.fa-search.fa-lg

:javascript
  $(document).ready(function() {


    $(".town_select").select2({
      placeholder: "Вкажіть місто",
      allowClear: true,
      multiSelect: true,
      multiple: true,
      minimumInputLength: 2,
      width: '100%',
      ajax: {
        url: '#{search_town_path}',
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
          return {
            query: term, // search term
          };
        },
        results: function (data, page) {
          return { results: data };
        },
        cache: true
      },
    });

    $(".branch_select").select2(
      {
        allowClear: true,
        width: '100%',
        placeholder: "Вкажіть тип документу",
        multiSelect: true,
      }
    )

  });
