= form_tag documentation_documents_path, :method => :get, :remote => true, :html => { :class => 'form-inline col-sm-12' } do |f|
  -#.input-group.input-group-sm.col-sm-6
    = select_tag :category, tree_option_groups_from_collection_for_select(Documentation::Category.tree_root, :childrens, :title, :id, :title, nil),
      { multiple: true, class: 'category_select' }
  .col-xs-4
    = select_tag :town_select, options_for_select(Town.all.collect { |t| [t.title, t.id] } ), { multiple: true, class: 'town_select col-xs-12' }
  .col-xs-4
    = select_tag :branch_select, options_for_select(Documentation::Branch.all.collect { |t| [t.title, t.id] } ), { multiple: true, class: 'branch_select col-xs-12' }
  .col-sm-3
    = text_field_tag :q, '', :class => 'form-control', :placeholder => "#{t('.search')}"
  %span.input-group-btn
    = submit_tag 'Search', :class => 'btn btn-primary' do
      %i.fa.fa-search.fa-lg

:javascript
  $(document).ready(function() {

    $(".town_select").select2(
      {
        allowClear: true,
        placeholder: "Вкажіть місто",
        multiSelect: true,
        formatResult: formatSelect,
        formatSelection: formatSelect,
        escapeMarkup: function(m) { return m; },
      }
    )

    $(".branch_select").select2(
      {
        allowClear: true,
        placeholder: "Вкажіть тип документу",
        multiSelect: true,
        formatResult: formatSelect,
        formatSelection: formatSelect,
        escapeMarkup: function(m) { return m; },
      }
    )

    function formatSelect(el) {
      return el.text;
    }

  });

  $(document).ready(function() {

    $(".category_select").select2(
      {
        allowClear: true,
        placeholder: "Вкажіть категорію документів",
        multiSelect: true,
        formatResult: formatFaSelect,
        formatSelection: formatFaSelect,
        escapeMarkup: function(m) { return m; },
      }
    )

    function formatFaSelect(el) {
      return el.text;
    }

  });
