:css
  .documents_search {
    margin-top: 20px;
  }

= content_for :header do
  .header.pull-left
    %h1
      =t('.documents')
      %small
        =t('.documents_search')

.col-xs-12.documents_search
  = render partial: 'search'

.documentation.col-xs-12.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
          = t('.file')
        %th
          = sortable "category_id", t('.category')
        %th
          = sortable "title", t('.title')
        %th
          = sortable "yearFrom", t('.years')
        %th
          = sortable "town_id", t('.town')
        %th
          = sortable "branch_id", t('.type')
        %th
          = sortable "locked", t('.locked')
    %tbody#results
      = render partial: 'search_results', :locals => { documents: @documentation_documents }
