= bootstrap_form_for @vz_file, :html => { :class => 'form-vertical' } do |f|
  .form-group
    = f.text_field :title, label: t('file_name')

  .form-group
    %label.control-label
      = t('owner')
    - if current_user && current_user.has_role?(:admin)
      = render partial: '/towns/town_select', :locals => {town: current_user.town}
    - else
      = ": #{current_user.town}"

  = f.file_field :path, label: t('file_path'), class: 'btn btn-default'

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('form.cancel', :default => t("helpers.links.cancel")), zip_budget_files_path, :class => 'btn btn-default'
