= bootstrap_form_for @vd_file, :html => { :class => 'form-vertical' } do |f|
  .form-group
    = f.text_field :title, label: t('file_name')

  .form-group
    %label.control-label
      = t('taxonomy_rot')
    = select_tag :taxonomy_rots, options_for_select( [nil] + @taxonomy_rots.all.collect { |p| [ p.title, p.id ] }, @current_taxonomy_rot_id) , class: 'form-control'

  .form-group
    %label.control-label
      = t('taxonomy_rov')
    = select_tag :taxonomy_rovs, options_for_select( [nil] + @taxonomy_rovs.all.collect { |p| [ p.title, p.id ] }, @current_taxonomy_rov_id) , class: 'form-control'


  .form-group
    %label.control-label
      = t('owner')
    - if current_user && current_user.has_role?(:admin)
      -#= select_tag :town, options_for_select( [nil] + t('.cities').split('|'), current_user.town), class: 'select-town form-control'
      = text_field_tag 'town_select', current_user.town
    - else
      -#= ": #{current_user.town}"
      - town = current_user.town.split(',')
      - if town.length > 1
        = select_tag :town, options_for_select(Town.all.where(:title => town[0].strip, :area_title => town[1].strip), current_user.town), class: 'select-town form-control'
      - else
        = select_tag :town, options_for_select(Town.all.where(:title => current_user.town) + Town.all.where(:area_title => current_user.town), current_user.town), class: 'select-town form-control'

  = f.file_field :path, label: t('file_path'), class: 'btn btn-default'

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('form.cancel', :default => t("helpers.links.cancel")), zip_budget_files_path, :class => 'btn btn-default'

:javascript

  $(document).ready(function() {
    $("#budget_file_taxonomy").select2( {
        allowClear: true,
        placeholder: "Нова візуалізація",
    });

    $('#town_select').select2({
      sortResults: function(results, container, query) {
        if (query.term) {
            // use the built in javascript sort function
            return results.sort(function(a, b) {
                if (a.text.length > b.text.length) {
                    return 1;
                } else if (a.text.length < b.text.length) {
                    return -1;
                } else {
                    return 0;
                }
            });
        }
        return results;
      },
      initSelection: function(element, callback) {
        callback({id: '#{current_user.town}', text: '#{current_user.town}' });
      },
      allowClear: false,
      multiSelect: false,
      multiple: false,
      minimumInputLength: 2,
      width: '100%',
      ajax: {
        url: '#{search_town_path}',
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
          return {
            query: term, // search term
          };
        },
        results: function (data, page) {
          return { results: data };
        },
        cache: true
      },
    }).on("change", function(){
      if($(this).val()) {
        $.ajax({
          url: '/community/get_communities/' + $(this).val(),
          dataType: 'html',
          success: function (html) {
            $('#communities').html(html);
          },
          cache: true
        });
      }
    }).val('#{current_user.town}').trigger('change');
  })