= form_for @timeline, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :occured_at, :class => 'control-label'
    .controls
      = f.text_field :occured_at, :class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), timelines_path, :class => 'btn btn-default'
