= simple_form_for(@repairing_appeal_scenario) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: 'Назва'
    = f.input :text_form, as: :text, label: 'Текст форми', input_html: { class: 'text_area' }
    = f.input :text_appeal, as: :text, label: 'Текст звернення', input_html: { class: 'text_area' }

  .form-actions
    = f.submit t('save'), class: 'btn btn-primary'
    = link_to t('back'), repairing_appeal_scenarios_path, class: 'btn btn-info'

:javascript
  $(document).ready(function(){
    $.fn.editable.defaults.mode = 'inline';
    $('#repairing_appeal_scenario_text_form, #repairing_appeal_scenario_text_appeal').summernote({
      maximumImageFileSize: 1000000,
      minHeight: 200
    });
  });