:scss
  .row-fluid {
    .well {
      .text_area {
        resize: vertical;
        min-height: 250px;
       }
    }
  }
  .note-editing-area > .note-editable.panel-body > p > img{
    width: 100% !important;
  }
-#%link{:href => "http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css", :rel => "stylesheet"}

.row-fluid
  .span4.well
    -#= abort @budget_news.inspect
    = simple_form_for @budget_news do |f|
      = f.error_notification
      = f.input :title, label: t('modules.budget_news.form.title')
      = f.input :news_text, as: :text, label: t('modules.budget_news.form.text'), input_html: { class: 'text_area' }
      = f.input :link , label: t('modules.budget_news.form.link')
      .row
        .col-xs-6
          = f.input :img , as: :file, label: t('modules.budget_news.form.image')
        .col-xs-6
          = f.input :news_date, as: :string, required: false, placeholder: t('modules.budget_news.form.select_date'), label: t('modules.budget_news.form.show_publish_date'), input_html: { class: 'form-control datepicker' }
      = f.input :published, as: :boolean, checked_value: true, unchecked_value: false, label: t('modules.budget_news.form.publish')

      = f.button :submit, t('.save'), class: 'btn btn-primary'
:javascript

  $(document).ready(function(){
    $.fn.editable.defaults.mode = 'inline';
    $('#modules_budget_news_news_text').summernote({
      maximumImageFileSize: 1000000,
      minHeight: 200,
        //url: $("form").prop("action"),
    });

    // Use Bootstrap/JQ/UI DateTimePicker
    $("input.datepicker").datetimepicker({
      locale: '#{I18n.locale}',
      format: 'YYYY-MM-DD HH:mm'
    });
  });