:scss
  #news_link_without_decoration {
    a{
      text-decoration: none;
    }
  }
  .news-block{
    height: 155px;
    width: 100%;
    padding: 20px;
    &:hover, &:focus {
      img {
        transform: scale(1.1);
        -webkit-transition: transform 1.25s ease-in-out;
        -moz-transition:transform 1.25s ease-in-out;
        -ms-transition:transform 1.25s ease-in-out;
      }
    }

    .wr-it{
      overflow: hidden;
      height: 100%;
      img{
        float: left;
        margin-right: 10px;
        transition: 1.25s ease-in;
      }

      .news-title{
        top: 5px;

        p{
          margin-bottom: 0px;
          color: #808080;
          font-size: 12px;
        }
        hr{
          margin: 0px;
          padding: 2px;
        }

      }
      .news_preview{
          font-size: 12px;
          color: #000000;
      }

    }


  }
  .all_news{
      text-align: center;
    }
  .list-group-item.news-helper {
    color: #0044cc;
    text-align: center;
  }
  .news_preview_bl{
    img,table,br{
        display: none;
      }
    a{
      pointer-events: none;
      cursor: default;
    }
  }


.col-md-4
  .ul.list-group#news_link_without_decoration
    %li.list-group-item.news-helper
      = t('modules.budget_news.index.actual_news')
    - @budgets_news.each do |news|
      = link_to news.get_link do
        %li.list-group-item.news-block
          .wr-it
            .news-title
              %p
                = news.get_date
                %hr
              = news.title
            .news_preview.news_preview_bl
              = sanitize(news.news_text)
    =link_to modules_all_budget_news_path do
      %li.list-group-item.news-helper
        = t('modules.budget_news.index.show_all_news')
