:scss

  .container_fluid_color{
    background: #EAEAEA;
  }
  .news_wrapper{

    height: 200px;
    background-color: white;
    margin: 10px 0px;
    overflow: hidden;
    &:hover, &:focus {
      transition: box-shadow 1.1s ease-in-out;
      -moz-box-shadow:     0 0 10px #000000;
      -webkit-box-shadow:  0 0 10px #000000;
      box-shadow:          0 0 10px #000000;
      img {
        transform: scale(1.1);
        -webkit-transition: transform 1.25s ease-in-out;
        -moz-transition:transform 1.25s ease-in-out;
        -ms-transition:transform 1.25s ease-in-out;
      }
    }
    .no_padding{
      padding: 0px;
    }
    .no_margin{
      margin: 0px;
    }
    .all_news_img{
      overflow: hidden;

      img{
        width: 100%;
        transition: 1.25s ease-in;
      }


    }
    .news_time{
      margin-top: 15px;
      color: #808080;
      font-size: 13px;
      .glyphicon{
        color: green;
      }
    }
    .news_title{
      margin-top: 15px;
      font-size: 18px;


      a{
        text-decoration: none;
        color: #444;
      }
      a:hover{
        color: #0022cc;
      }
    }

    .all_news_text{
      overflow: hidden;
      font-size: 13px;
      color: #808080;
      margin: 13px 0px;
      height: 69px;
      img,table,br{
        display: none;
      }

    }
  }

-@budget_news.each do |news|
  .col-xs-12.col-md-6
    = link_to news.get_link do
      .news_wrapper
        .col-md-12.col-xs-12
          .news_time
            %span.glyphicon.glyphicon-time{"aria-hidden" => "true"}
            = news.news_date.strftime "%H:%M %m-%d"
          .news_title
            = news.title
          .all_news_text
            = news.news_text.html_safe
%br
.col-xs-12.text-center
  = paginate @budget_news

:javascript
  $(document).ready(function(){
    $('.news_wrapper').parents('.container-fluid').addClass('container_fluid_color');
  });