:scss
  .news-list {
    position: relative;
    min-height: calc(100vh - (103px + 120px));
    height: auto;
    top: 31px;
    margin-bottom: 73px;
    .news-items {
      .title {
        width: 100%;
        margin: 0 10px 25px 0;
        float: right;
        p {
          float: right;
          text-transform: uppercase;
          margin: 0;
          padding: 10px;
          font-family: 'Lato', sans-serif;
          font-size: 3rem;
          background: #ffd304;
          color: #0c2231;
        }
      }
      .row {
        margin: 0 -60px;
        .news-item {
          padding: 0 60px 20px;
          a {
            text-decoration: none;
            color: black;
            &:hover,
            &:focus {
              .img {
                content: ' ';
                -webkit-filter: sepia(1);
                filter: sepia(1);
                transition: .4s;
                background: #ffd304;
              }
            }
            .img {
              img {
                width: 100%;
                padding: 10px;
                height: 21rem;
                object-fit: cover;
              }
              .no-image {
                height: 21rem;
                text-align: center;
                border: 1px solid #ffd304;
                border-radius: 4px;
                margin-bottom: 10px;
                i {
                  margin: 4rem;
                }
              }
            }
            .data {
              margin: 0 0 10px 0;
              padding: 0 10px;
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 1.5rem;
              i.fa-clock-o {
                text-transform: lowercase;
                &:before {
                  padding: 0 5px 0 0;
                }
              }
            }

            .title {
              height: 6rem;
              font-family: 'Lato', sans-serif;
              font-weight: 400;
              font-size: 1.3rem;
              text-transform: uppercase;
              margin: 0;
              padding: 0 10px;
            }
          }
        }
      }
      .pagination-bar {
        ul.pagination {
          margin: 0;
          li {
            &:first-child,
            &:last-child {
              & > a {
                border-radius: 0;
              }
            }
            a {
              border: none;
              color: black;
              font-size: 1.8rem;
              font-family: 'Lato', sans-serif;
              font-weight: 600;
            }
          }
          .active {
            a {
              background-color: #ffd304;
            }
          }
        }
      }
    }
  }

.container.news-list
  .news-items
    .title
      %p Новини
    .row
      -@budget_news.each do |news|
        .col-xs-12.col-sm-6.col-md-4.news-item
          = link_to "#{news.get_link}?locale=#{params[:locale]}" do
            .img
              - if news.img.blank?
                .no-image
                  %i.fa.fa-picture-o.fa-5x
                  %p Зображення відсутне
                -#=image_tag('new_design/road.jpg', class: 'img-responsive')
              - else
                =image_tag("#{news.img}", class: 'img-responsive')
            .data
              %i.fa.fa-clock-o{"aria-hidden" => "true"}
                -#Localize data
                = l(news.news_date, format: '%d %B')
            .title
              -#= news.title
              =truncate(news.title, length: 85)
  .row.text-center
    = paginate @budget_news, views_prefix: 'paginator_semantic'