%p#notice= notice
.col-md-6
  .ul.list-group
    %li.list-group-item
      %b
        = t('modules.budget_news.index.title')+':'
      = @budget_news.title
    %li.list-group-item
      %b
        = t('modules.budget_news.index.text')+':'
      = @budget_news.news_text
    %li.list-group-item
      %b
        = t('modules.budget_news.index.link')+':'
      = @budget_news.link
    %li.list-group-item
      %b
        = t('modules.budget_news.index.image')+':'
      = @budget_news.img
    %li.list-group-item
      %b
        = t('modules.budget_news.index.date')+':'
      = @budget_news.news_date

  = link_to t('modules.budget_news.index.edit'), edit_modules_budget_news_path(@budget_news)
  \|
  = link_to t('modules.budget_news.new.back'), modules_budget_news_index_path
