:scss
  .news_text{
    white-space: pre-wrap;
  }

%p#notice= notice
.col-md-8
  .ul.list-group
    %li.list-group-item
      %b
        = @budget_news.title
    %li.list-group-item.news_text
      = @budget_news.news_text
    -#%li.list-group-item
    -#  %b
    -#    = t('modules.budget_news.index.link')+':'
    -#  = @budget_news.link
    -#%li.list-group-item
    -#  %b
    -#    = t('modules.budget_news.index.image')+':'
    -#  = image_tag @budget_news.img.thumb
  -if current_user
    -if current_user.admin?
      = link_to t('modules.budget_news.index.edit'), edit_modules_budget_news_path(@budget_news)
      \|
      = link_to t('modules.budget_news.new.back'), modules_budget_news_index_path

= render partial: 'news_list'

