:css
  .documentation {
    min-height: 400px;
    padding-top: 15px;
  }

  .documentation .documents {
    /*max-height: 400px;*/
    overflow: visible;
  }

= content_for :header do
  .head.pull-left
    = t('indicate.taxonomies.form.header')

.documentation
  .col-sm-8
    .panel.panel-default
      .panel-heading
        = t('form.new_document')
      .new_document.panel-body
        = render :partial => 'indicate/indicator_files/new_indicator_file', :locals => { :new_file => Indicate::IndicatorFile.new }

    .panel.panel-default
      .panel-heading
        = t('form.uploaded_documents')
      .documents.panel-body
        = render :partial => 'indicate/indicator_files/indicator_files', :locals => { :files => @indicate_taxonomy.indicate_indicator_files }

:javascript

  $(document).ready(function() {

    if(!"#{current_user.town}") {
      $('.can_be_disable').attr('disabled', 'disabled');
    }

    $("#select_indicate_town").on("change", function() {
      town = $(this).val();

      if(town) {
        $('.can_be_disable').removeAttr('disabled');
        $.ajax({
          url: "get_taxonomy/" + town,
          type: "GET",
          dataType: "html",
          success: function(data) {
            $('.documents').html(data);
          }
        })
      } else {
        $('.can_be_disable').attr('disabled', 'disabled');
        $('.documents').html('');
      }

    })
  })