= content_for :header do
  .head.pull-left
    = t('indicate.taxonomies.index.header')

- if @indicate_taxonomies.length > 0
  %table.table.table-striped
    %thead
      %tr
        %th.col-sm-4
          = t('indicate.taxonomies.index.collection_name')
        %th.col-sm-3
          = t('indicate.taxonomies.index.town')
        %th.col-sm-1
          = t('indicate.taxonomies.index.action')
    %tbody
    - @indicate_taxonomies.each do |indicate_taxonomy|
      %tr
        %td= link_to indicate_taxonomy._id.to_s, indicate_taxonomy
        %td
          = indicate_taxonomy.town
        %td
          =link_to t('form.edit', :default => t("helpers.links.edit")), edit_indicate_taxonomy_path(indicate_taxonomy), :method => :get, :class => 'btn btn-default btn-xs'
          =link_to t('form.destroy', :default => t("helpers.links.destroy")), indicate_taxonomy, :method => :delete, :data => { :confirm =>  t("helpers.links.confirm")}, :class => 'btn btn-xs btn-danger'

= link_to t('vtarnay.module5s.index.load'), new_indicate_taxonomy_path, :type => "button", :method => :get, :class => "btn btn-primary"

:javascript
  dataConfirmModal.setDefaults({
    title: I18n.t("confirm_destroy"),
    commit: I18n.t("confirm_yes"),
    cancel: I18n.t("confirm_no")
  });
