:scss
  .new-indicate-taxonomies{
    margin-bottom: 10px;
  }


= content_for :header do
  .head.pull-left
    = t('indicate.taxonomies.index.header')

= link_to t('vtarnay.module5s.index.load'), new_indicate_taxonomy_path,
          :type => "button",
          :method => :get,
          :class => "btn btn-primary new-indicate-taxonomies"

- if @indicate_taxonomies.length > 0
  .col-xs-12.documents_search
    = render partial: 'search'

  %table.table.table-striped
    %thead
      %tr
        %th.col-sm-4
          = t('indicate.taxonomies.index.collection_name')
        %th.col-sm-3
          = t('indicate.taxonomies.index.town')
        %th.col-sm-1
          = t('indicate.taxonomies.index.action')
    %tbody#search_results
      = render partial: 'search_results', locals: {indicate_taxonomies: @indicate_taxonomies}

:javascript
  dataConfirmModal.setDefaults({
    title: I18n.t("confirm_destroy"),
    commit: I18n.t("confirm_yes"),
    cancel: I18n.t("confirm_no")
  });
