:scss
  #embed_code_visify{
    width: 40px;
  }
  .buttons{
    margin: 20px 0 5px;
  }
= content_for :header do
  .head
    %i.fa.fa-money
    #{t('vtarnay.module5s.show.title')}:
    %span.descr
      =@indicate_taxonomy.town

= render partial: 'indicate/taxonomies/indicators'

.buttons
  .pull-right
    #embed_code_visify
      = render partial: 'widgets/visify/embed_code'
  -if current_user.is_admin?
    = link_to t('form.edit'), edit_indicate_taxonomy_path(@indicate_taxonomy), :class => 'btn btn-primary'
    = link_to t('form.back'), indicate_taxonomies_path, :class => 'btn btn-default'


:javascript
  $(document).ready(function() {

    var getSrc = function(){
      var indicator_file =  "#{@indicate_taxonomy.id}"
      return location.origin + "/indicate/taxonomies/indicators/" + indicator_file;
    }
    var fullscreen = "allowfullscreen='true' mozallowfullscreen='true' webkitallowfullscreen='true'";

    var embed_code = aEmbedCode();
    var src = getSrc();
    embed_code.initialize({screen_full: fullscreen, width: 1200, height: 900, el_id: "#embeded_code_modal_window", src: src})

    $('#embed_code_visify').click(function(){
      $('#embeded_code_modal_window').find('#embed_src').val(src);
      $('#embeded_code_modal_window').modal();
    });

    //$('a[role="tab"]').on('shown.bs.tab', function (e) {
    //  console.log($(this).attr(href));
    //  embed_code.set_iframe(location.origin + "/widgets/visify/" + $(this).attr('href').split('#')[1] + "/" + budget_file);
    //});

  })
