= content_for :header do
  .head
    %i.fa.fa-money
    #{t('vtarnay.module5s.show.title')}:
    %span.descr
      =@indicate_taxonomy.town

= render partial: 'indicators', :locals => { indicators: @indicators }

#embed_code_visify
  = render partial: 'widgets/visify/embed_code'
= link_to t('form.edit'), edit_indicate_taxonomy_path(@indicate_taxonomy), :class => 'btn btn-primary'
= link_to t('form.back'), indicate_taxonomies_path, :class => 'btn btn-default'


:javascript
  $(document).ready(function() {

    var embed_code = aEmbedCode();
    var indicator_file = "#{@indicate_taxonomy.id}"
    var src = window.location.host + "/indicate/taxonomies/indicators/" + indicator_file;
    embed_code.initialize({width: 1200, height: 900, el_id: "#embed_code_visify", src: src});

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      embed_code.set_iframe(window.location.host + "/widgets/visify/" + $(this).attr('href').split('#')[1] + "/" + budget_file);
    });

  })