:scss
  body > div > div > ul > li > a{
    cursor: pointer;
  }
  .plus-to-compare{
    width: 30px;
    color: blue;
    cursor: pointer;
    font-size: 30px;
  }
  .town-typeahead{
    width: 150px;
    float: left;
    margin: 0 15px;
  }

  .city-title{
    margin-right: 70px;
    //width: auto;
  }
  .add-town-to-compare{
    .compare-nav{
      height: 40px;
    }
    .plus-to-compare{
      float: left;
      height: 30px;
      font-size: 30px;
      display: inline-block;
      padding: 0;
      //width: auto;
    }
    .text-compare{
      margin-top: 10px;
      padding-right: 10px;
      float: left;
      display: inline-block;
      width: auto;
    }
    .compare-button{
      cursor: pointer;
      margin-left: 20px;
      float: left;
      width: 30px;
      font-size: 30px;
      color: green;
    }

  }
  .compare-wrapper{
    margin-right: 15px;
    padding-top: 10px;
    //max-width: 220px;
    display: inline-block;
    .compare-town-title{
      //max-width: 198px;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
    }
    .compare-town-minus{
      cursor: pointer;
      font-size: 25px;
      color: red;
      margin-top: -7px;
      width: auto;
      float: left;
      margin-left: 10px;
    }


  }
  #compare-list{
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #town-compare-field,
  .town-search{
    display: none;
  }

-#.row
-#  .col-md-4.city-title
-#    %h3
-#      =@town
  -#.col-md-8.add-town-to-compare
  -#  .row
  -#    .col-xs-12.compare-nav
  -#      .text-compare
  -#        Порівняти з ...
  -#      #compare-list
  -#      .town-typeahead
  -#      .plus-to-compare
  -#        %i.fa.fa-plus{"aria-hidden" => "true"}
  -#      .compare-button
  -#        %i.fa.fa-th-list{"aria-hidden" => "true"}
.row-fluid
  %ul.nav.nav-tabs.pull-left{role: 'tablist'}
    - active = 'active'
    - @tabs.each do |tab|
      %li{ class: tab[:cname]}
        %a{role: 'tab', 'data-toggle' => 'tab', 'data-url' => tab[:url]}
          = tab[:title]
  .pull-right
    .city-title
      %h3
        = town_english_title(@town.title)
.budget.row-fluid
  .tab-content
    %iframe{ 'width' => '100%', 'height' => '800' }
.town-search
  =text_field_tag 'city_compare'
#town-compare-field
  .col-md-6
    .compare-wrapper
      .compare-town-title
      .compare-town-minus
        %i.fa.fa-minus{"aria-hidden" => "true"}
-#= link_to t('form.back', :default => t("helpers.links.back")), public_path, :class => 'btn btn-default'
-#.col-sm-12
-#  #embed_code_budget.embed_code
-#    = render partial: 'widgets/visify/embed_code'
:javascript

  $(document).on('ready page:load', function() {
    var compare_town_number = 0;
    var compare_town_limit = 2;

    $('.plus-to-compare').click(function(){
      // if town compare limit is not exceeded
      if(compare_town_number < compare_town_limit ){
        // clone input for select2 town search
        var town_search = $('#city_compare').clone();
        town_search.attr('id',town_search.attr('id') + compare_town_number);
        // clear old select2
        $('.town-typeahead').html('');

        $('.town-typeahead').append(town_search);
        town_search.show('slow');
        // init select by id
        init_town_select2_with_field_id($(town_search),"#{search_for_towns_town_path}");
        // if something choose in select2
        $(town_search).on("select2-selecting", function(e) {
          var compare_dom = $('#town-compare-field').find('.compare-wrapper').clone();
          // set text by choosen town
          compare_dom.find('.compare-town-title').html(e.object.text);
          // set id attr by choosen town
          compare_dom.attr('data-town-id',e.val);
          $('#compare-list').append(compare_dom);
          compare_town_number++;
          check_compare_button_can_active(compare_town_number);
          $('.select2-container').hide('fast');
        });

      }else{
        alert('YOU CAN COMPARE ONLY 3 TOWN!!!');
      }
    })

    function check_compare_button_can_active(town_numbers){
      if(town_numbers > 0){
        $('.compare-button').attr('data-is-active',1);
      }else{
        $('.compare-button').attr('data-is-active',0);
      }
    }

    $(document).on('click','.compare-town-minus',function(){
      $(this).parents('.compare-wrapper').remove();
      compare_town_number--;
      console.log(compare_town_number);
      check_compare_button_can_active(compare_town_number);

    });

    $('.compare-button').click(function(){
      if($(this).attr('data-is-active') != '0'){
        alert('Compare towns');
      }else{
        alert('choose towns to compare');
      }

    });

    $('#embed_code_budget').on('click',function(){
       $('#embeded_code_modal_window').modal();
    });

    var embed_code = aEmbedCode();

    var curr_tab = $('li.active a').attr('data-url')
    set_iframe(curr_tab);

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      set_iframe($(this).attr('data-url'));
    });
    function set_iframe(url) {
      path = "#{request.base_url}"
      query = "#{URI.parse(request.url).query}"
      frame_url = path + '/' + url
      console.log(frame_url);
      $('.tab-content iframe').attr('src', frame_url)
      embed_code.initialize({width: 1200, height: 900, el_id: "#embeded_code_modal_window", src: frame_url})
    }
  })