= form_for @indicate_indicator_file do |f|
  - if @indicate_indicator_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@indicate_indicator_file.errors.count, "error")} prohibited this indicate_indicator_file from being saved:"
      %ul
        - @indicate_indicator_file.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'

