= form_for new_file, :remote => true, :authenticity_token => true, method: 'POST', :html => { :class => 'form-horizontal', :multipart => true } do |f|

  - if new_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(new_file.errors.count, "error")} prohibited this documentation_document from being saved:"
      %ul
        - new_file.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :indicate_taxonomy_id

  .col-sm-12
    .form-group
      %label
        = t('name')
      = f.text_field :title, :class => 'form-control can_be_disable'

    .form-group
      %label.control-label
        = t('owner')
      - if current_user && current_user.has_role?(:admin)
        = text_field_tag :town_select, '', { class: 'town_select' }
      - else
        = ": #{current_user.town}"

  .col-sm-12
    .form-group
      = f.text_area :description, :rows => '2', :placeholder => "Докладніше про документ", :class => 'form-control can_be_disable'

  .col-sm-12
    .form-group
      %label
        %i.glyphicon.glyphicon-folder-open
          = t('form.file')
      = file_field_tag "indicate_file[]", multiple: true, :class => 'form-control can_be_disable'

  .actions
    = f.button :class => 'btn btn-default can_be_disable' do
      %i.fa.fa-upload
        = t('form.load')

:javascript

  $(document).ready(function() {

    var town_select = $(".town_select");

    town_select.select2({
      placeholder: "Вкажіть місто",
      allowClear: false,
      minimumInputLength: 2,
      width: '100%',
      ajax: {
        url: '#{search_town_path}',
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
          return {
            query: term, // search term
          };
        },
        results: function (data, page) {
          return { results: data };
        },
        cache: true
      },
    }).on("change", function(){
      town = $(this).val();
      $.ajax({
        url: "/indicate/indicator_files/get_files/" + town,
        type: "GET",
        dataType: "html",
        success: function(data) {
          $('.documents').html(data);
          $(".can_be_disable").removeAttr('disabled');
        }
      })
    })

    town_select.select2("data", {id: "#{@indicate_taxonomy.town.nil? ? '' : @indicate_taxonomy.town.id}", text: "#{@indicate_taxonomy.town.nil? ? '' : @indicate_taxonomy.town.title}" });

  })