:scss
  .program_indicators {
    li {
      text-align: center;
    }

    .tab-content {
      padding: 15px 10px;
    }

  }

.program_indicators
  %ul.nav.nav-tabs{'role' => 'tablist'}

    - program.indicators.each_with_index do |indicator, i|
      - active = (i == 0 ? 'active' : '')
      - indicator_id = "tab-#{i}"
      - indicator_id_contents = "tab-#{i}-contents"
      %li.dropdown{class: active}
        %a.dropdown-toggle{id: indicator_id, role: 'tab', 'data-toggle' => 'dropdown', 'aria-controls' => indicator_id_contents}
          %i.fa.fa-4x.fa-bar-chart
          %h3
            = indicator[:title]
            %span.caret

        %ul.dropdown-menu{id: indicator_id_contents, 'aria-labelledby' => indicator_id}
          - indicator[:items].each_with_index do |item, j|
            - item_id = "tab-#{i}-#{j}"
            - item_id_content = "tab-#{i}-#{j}-content"
            %li
              %a{id: item_id, :href => "##{item_id_content}", role: 'tab', 'data-toggle' => 'tab', 'aria-controls' => item_id_content}
                %h3
                  = item[:title]

    %li.dropdown
      %a{:href => '#tab_bubble', role: 'tab', 'data-toggle' => 'tab'}
        %i.fa.fa-4x.fa-bar-chart
        %h3
          Поросюшка

  .tab-content
    - program.indicators.each_with_index do |indicator, i|
      - indicator[:items].each_with_index do |item, j|
        - tab_id = "tab-#{i}-#{j}"
        - tab_id_content = "tab-#{i}-#{j}-content"
        - active = (i == 0 and j == 0 ? 'active in' : '')
        .tab-pane.fade{id: tab_id_content, class: active, role: 'tabpanel', 'aria-labelledby' => tab_id}
          = render partial: 'programs/target_programs/program/indicator', locals: { indicator: item }

    #tab_bubble.tab-pane.fade
      Тут будет попросюшка
