:scss
  // init colors
  $active: #ffd304;
  $text: #0c2231;

  #edata_payments {
    table {
      thead {
        th {
          white-space: nowrap;
          min-width: 90px;
          cursor: pointer;
          opacity: .7;
          &:hover {
            opacity: 1;
          }
          span {
            &:before {
              content: '\f0ec';
              font-family: FontAwesome;
              font-size: 12px;
              -ms-transform: rotate(90deg); /* IE 9 */
              -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
              transform: rotate(90deg);
              float: left;
              margin-right: 5px;
            }
          }
        }
        .payment_details {
          width: 50%;
        }
        .active {
          background: none;
          span {
            border-bottom: 2px solid $active;
          }
        }
      }
      tbody {
        tr {
          opacity: .7;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    #pagination {
      .pagination {
        li {
          a {
            border: none;
            border-radius: 0;
            color: $text;
            padding: 2px 7px;
            font-weight: bold;
          }
        }
        .active {
          a {
            background-color: $active;
            color: $text;
          }
        }
      }
    }
  }
   // hide sidebar for share
  .at4-share-outer {
    display: none;
  }

-if @payments.blank?
  = render partial: 'layouts/no_data_yet'
  -#= t('.no-data')

  :javascript
    $(document).ready(function() {
      $('.sharing').hide();
    });

-else
  #edata_payments.table-responsive
    %table.table.table-striped
      %thead
        %th{'data-column' => 'amount', 'data-sort-direction' => 'asc'}
          %span
            = t('.sum')
        %th{'data-column' => 'payer_name', 'data-sort-direction' => 'asc'}
          %span
            = t('.payer')
        %th{'data-column' => 'recipt_name', 'data-sort-direction' => 'asc'}
          %span
            = t('.recipt')
        %th.payment_details{'data-column' => 'payment_details', 'data-sort-direction' => 'asc'}
          %span
            = t('.purpose')
        %th.active{'data-column' => 'trans_date', 'data-sort-direction' => 'asc'}
          %span
            = t('.date')

      = render partial: 'modules/classifier/search_e_data_results'

    #pagination.text-center
      = paginate @payments, remote: true, theme: 'e_data_template', params: {'sort_col' => 'trans_date', 'sort_dir' => 'asc'}

  :javascript
    $(document).ready(function() {
      $('.sharing').show();
    });