:scss
  #edata_payments {
    table {
      margin-bottom: 250px;

      tr {
        cursor: pointer;
        opacity: .7;
        &:hover {
          opacity: 1;
        }
      }
    }

    .info {
      position: fixed;
      bottom: 0px;
      left: 0;
      width: 100%;
      background-color: #87cefa;
      padding: 15px;
    }
  }
-unless @payments.blank?
  #edata_payments.table-responsive
    %table.table.table-striped
      %tr
        %th
          Платник
        %th
          Отримувач
        %th
          Сума
        %th
          Дата
        %th
          Призначення платежу
      - @payments.each do |payment|

        %tr{'data-edrpou' => payment['payer_edrpou']}
          %td
            = payment['payer_name']
          %td
            = payment['recipt_name']
            %br Код:
            =payment['recipt_edrpou']
          %td
            = payment['amount']
          %td
            = payment['trans_date'].split('T')[0]
          %td
            = payment['payment_details']
    .info
-else
  Дані не знайдено
:javascript
  $(document).ready(function() {
    $('#edata_payments tr').on('click', function() {
      var edrpou = $(this).attr('data-edrpou')
      $.get('http://edr.data-gov-ua.org/api/companies?where={"edrpou":"' + edrpou + '"}' , function (data) {
        var edr = data[0]
        var info = '<b>ЕДРПОУ: </b>' + edrpou + ', Відповідальний: ' + edr['mainPerson'] + '<br>Адреса: ' + edr['address'] +
          '<br/> далі буде......'
        $('#edata_payments .info').html(info)
      });

    })
  })
