:scss
  // init colors
  $button-background: #0c2231;
  $button-border: #0c2231;
  $button-active: #ffd304;
  $button-text: white;
  $search-background: white;
  $search-border: #0c2231;
  $black: black;
  $white: white;

  #search-data.fullscreen{
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #search-data {
    #fullscreen{
      i{
        font-size: 30px;
      }
    }
    & .row > div {
      min-height: 30px;
    }
    .form-group {
      float: left;
      width: 100%;
      .select2-container {
        border: none;
        .select2-choice {
          height: 33px;
          line-height: 33px;
          background: $search-background;
          border: 1px solid $search-border;
          border-radius: 0;
          &:before {
            content: '\f002';
            font-family: FontAwesome;
            position: absolute;
            right: 0;
            cursor: pointer;
            font-size: 20px;
            color: $search-background;
            width: 33px;
            background: $search-border;
            text-align: center;
            margin: -2px auto;
          }
          .select2-chosen {
            padding-top: 0;
            margin-right: 55px;
          }
          .select2-search-choice-close {
            right: 40px;
          }
          .select2-arrow {
            display: none;
          }
        }
      }
    }
    .advanced_search_button,
    .btn-switch-role {
      background: $button-background;
      border: 2px solid $button-border;
      color: $button-text;
      font-weight: bold;
      min-width: 118px;
      border-radius: 0;
      padding: 4px 10px;
    }
    .btn-switch-role[for="_role_payers"] {
      &:before {
        content: '\f111';
        font-family: FontAwesome;
        padding-right: 5px;
      }
    }
    .btn-switch-role[for="_role_recipt"] {
      margin-right: 30px;
      &:before {
        content: '\f0c8';
        font-family: FontAwesome;
        padding-right: 5px;
      }
    }
    .btn-switch-role:before {
      color: $button-text;
    }
    input:checked + .btn-switch-role {
      background: $button-text;
      color: $button-background;
      border: 1px solid $button-border;
      &:after {
        content: '';
        display: block;
        border: 1px solid $button-active;
      }
      &:before {
        color: $button-active;
      }
    }
    .search-button {
      background: $button-background;
      color: $button-text;
      text-align: center;
      height: 33px;
      width: 33px;
      .fa-search {
        bottom: 0;
      }
    }
    #most-received {
      height: 400px;
      display: none;
      margin-bottom: 70px;
      .subtitle {
        height: 30px;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 500;
      }
      canvas {
        height: 100%;
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    #search-data {
      #most-received {
        height: 300px;
      }
    }
  }
  @media screen and (max-width: 992px) {
    #search-data {
      #most-received {
        height: 200px;
      }
    }
  }
  .social-btns {
    margin: 5px 0;
  }
  .addthis-smartlayers-desktop {
    display: none;
  }

  .sharing {
    padding-bottom: 30px;
  }
  .copyright_info {
    font-size: 75%;
    p {
      margin: 0;
    }
  }
  [data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
    &:before,
    &:after {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
    &:before {
      position: absolute;
      bottom: 150%;
      left: 6%;
      margin-bottom: -48px;
      margin-left: -220px;
      padding: 7px;
      width: 204px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: hsla(0, 0%, 20%, 0.9);
      color: $button-text;
      content: attr(data-tooltip);
      text-align: center;
      font-size: 14px;
      line-height: 1.2;
    }
    &:after {
      position: absolute;
      bottom: 30%;
      left: 15%;
      margin-left: -30px;
      width: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid hsla(0, 0%, 20%, 0.9);
      content: " ";
      font-size: 0;
      line-height: 0;
    }
    &:hover {
      &:before, &:after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  // custom styles for spinner
  .vis-spinner{
    #spinner-container{
      background: none;
      .spinner{
        .sk-circle:before{
          background-color: #ffd304;
        }
      }
    }
  }
  .embeded-btn{
    #embedded-profile{
      display: none;
    }
  }

  .payer_name{
    display: none;
  }
  .additional-btns{
    //position: absolute;
    //right: 0;
    //width: 25%;
    //#fullscreen{
    //  position: fixed;
    //  top: 30px;
    //  right: 5px;
    //}
  }
  #search-by-purpose-wrapper{
    //# position: relative;
    margin: 3px 0;
    //z-index: 2;
    #select2-chosen-1{
      padding-top: 0;
    }
    .select2-container .select2-choice{
      border-radius: 0;
    }
  }

#search-data
  .row
    .col-sm-12.text-center#classifier{'data-town-id' => params['town_id'], 'data-payers_edrpous' => params[:payers_edrpous]}
      %h3= @classifier.pnaz
  #most-received
    .pull-right#fullscreen{'data-module' => 'search-data'}
      = render partial: 'widgets/town_profile/fullscreen_btn'
    = render partial: 'chart'

    .col-sm-3#search-by-purpose-wrapper
      = select_tag :search_by_purpose,
        options_for_select([' ','Очищення', 'Товари', 'Послуги', 'Ремонт', 'Харчування', 'Меблі']),
        data: {placrholdr: 'data-placeholder'}
    .col-sm-6.text-center
      %h4
        Список платежів
    .col-sm-3.additional-btns

      .text-right
        .embeded-btn
          = render partial: 'embeded_btn', locals: {url: modules_classifier_search_data_path(@town)}

  .results

  .vis-spinner
    = render partial: 'layouts/spinner'

  .copyright_info
    = render partial: 'copyright_info'
-# - binding.pry
:javascript
  $(document).ready(function() {
    $('#search_by_purpose').select2({
      height: 25,
      width: '100%',
      allowClear: true
    }).on('change', function(e){
      classifier_search("#{modules_classifier_search_e_data_path}", init_search_params());
    });

    $('#export_classifier').attr('href', "#{modules_classifier_search_e_data_path(format: :csv, town_id: params[:town_id], payers_edrpous: params[:payers_edrpous])}");
    classifier_search("#{modules_classifier_search_e_data_path}", init_search_params());
    // add new event and clear previous events for sorting search results
    $('.results').on('click', '#edata_payments th', function() {
      var _this = $(this);
      $('#edata_payments th').not(_this).removeClass('active').attr('data-sort-direction', 'asc');
      var sort_col = _this.attr('data-column'),
          sort_dir = _this.attr('data-sort-direction');
      classifier_search("#{modules_classifier_search_e_data_path}", init_search_params(sort_col, sort_dir));
      _this.attr('data-sort-direction', sort_direction(sort_dir)).addClass('active');
    });


  });

  function init_search_params(sort_col, sort_dir) {
    var data = {
      town_id: $('#classifier').data('town-id'),
      sort_col: sort_col,
      sort_dir: sort_dir,
      by_purpose: $('#search_by_purpose').val()
    }
    data['payers_edrpous'] = $('#classifier').data('payers_edrpous');
    return data;
  }

  function graph_click(param) {
    var data = init_search_params();
    data['recipt_edrpous'] = param;
    classifier_search("#{modules_classifier_search_e_data_path}", data);
  }
