-#%h1
  = t ('.header')

-#.row#search-container
  .col-md-6
    -#= form_tag modules_classifier_search_data_url, remoute: true do
    -#= select_tag 'search-org', options_from_collection_for_select(@items, 'id', 'pnaz')
    = hidden_field_tag 'search-org'
  .col-md-6
    .row
      .col-xs-8
      .col-xs-4


-#.row#select_scenario
  .col-xs-1 1.
  .col-xs-11
    -#-binding.pry
    = form_tag modules_classifier_choice_scenario_url(params[:scenario]), remoute: true do
      = select_tag 'scenario', options_for_select(@scenario_collection.collect { |s| [ s[:value], s[:id] ] } ),
        town_id: @scenario_collection.first[:town_id] ,class: 'form-control', prompt: 'Select something', :onchange => 'this.form.submit();'
      -#-binding.pry

-#.row#select_filters
-#= select_tag 'scenario', options_for_select(@scenario_collection.collect { |s| [s[:value], s[:id]] }),
  class: 'form-control', prompt: 'Select something', :onchange => 'this.form.submit();'


= simple_form_for '', :remote => true do |f|
  -#Содержимое формы
  .row
    .col-md-6
      = f.input :item, type: 'hidden', :collection => @items.map{ |classd| ["#{classd.pnaz} #{classd.edrpou}", classd.id, 'data-knaz' => classd.knaz] }, :input_html => {'data-town-id' => params['town_id']}
    .col-md-4
      = f.collection_radio_buttons :role, [['payer', 'payer'] ,['recipt', 'recipt']], :first, :last, {checked: 'payer'}
    -#.col-md-4
      = f.button :submit, t('.saerch'), class: 'btn btn-primary', id: 'search'
  .results

:javascript
  $(document).ready(function() {
    $('#_item').select2({
      placeholder: "Choose something",
      allowClear: true,
    });
    $('#_item').on('change', function(data) { get_data(data.val); });
    $('[name="[role]"]').on('change', function() {
      var item = $('#_item').val();
      get_data(item);
    });
  });

  function get_data(d) {
    var town_id = $('#_item').data('town-id');
    var role = $('[name="[role]"]:checked').val();
    $.ajax({
      type: 'post',
      url: "#{modules_classifier_search_e_data_url}",
      dataType: 'script',
      data: {
        town_id: town_id,
        item: d,
        role: role
      }
    });
  }
