.width-container.clearfix
  .column_container.clearfix
    = bootstrap_form_for @town, :html => { :class => 'edit_town', :multipart => true} do |f|
      .row
        .col-md-5
          .upload_img
            -if @town.img?
              =image_tag @town.img.thumb.url
            -else
              =image_tag "no_image.png"
            = f.file_field :img, :class => 'btn btn-default'
        .col-md-7
          = f.text_field :title, :readonly => true, :class => 'control-label'
          =f.text_area :links, :placeholder => t("town_links_placeholder")

      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), towns_path, :class => 'btn btn-default'



:javascript

  (function() {

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $(".upload_img").find('img').attr('src', e.target.result);
          $(".upload_img").find('img').show();
          if($(".new_lot_img").length>0){
             $(".new_lot_img").attr('src', e.target.result);
          }
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("input[type=file]").on("change",function(){
      readURL(this);
    });

  })();
