- model_class = Town

= content_for :header do
  .head.pull-left
    %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  -if !@town.links.nil?
    %strong= model_class.human_attribute_name(:img) + ':'
    %br
    =image_tag @town.img.thumb
    %br
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @town.title
  %br
  -if !@town.links.nil?
    %strong= model_class.human_attribute_name(:links) + ':'
    %br
    = @town.links

= link_to t('.back', :default => t("helpers.links.back")), towns_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_town_path(@town), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), town_path(@town), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
