= form_for @transaction, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :kvk, :class => 'control-label'
    .controls
      = f.text_field :kvk, :class => 'form-control'
  .form-group
    = f.label :kfk, :class => 'control-label'
    .controls
      = f.text_field :kfk, :class => 'form-control'
  .form-group
    = f.label :kekv, :class => 'control-label'
    .controls
      = f.text_field :kekv, :class => 'form-control'
  .form-group
    = f.label :amount, :class => 'control-label'
    .controls
      = f.text_field :amount, :class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), transactions_path, :class => 'btn btn-default'
