- model_class = Transaction
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:kvk)
      %th= model_class.human_attribute_name(:kfk)
      %th= model_class.human_attribute_name(:kekv)
      %th= model_class.human_attribute_name(:amount)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= link_to transaction.id, transaction_path(transaction)
        %td= transaction.kvk
        %td= transaction.kfk
        %td= transaction.kekv
        %td= transaction.amount
        %td=l transaction.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_transaction_path(transaction), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), transaction_path(transaction), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_transaction_path, :class => 'btn btn-primary'
