- model_class = Expense

= content_for :header do
  .head.pull-left
    #{t('.title')}

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:file)
      %th=t 'form.actions', :default => t("helpers.actions")
  %tbody
    - @expenses.each do |expense|
      %tr
        %td= link_to expense.id, expense_path(expense)
        %td= expense.title
        %td= expense.file
        %td
          = link_to t('form.edit', :default => t("helpers.links.edit")), edit_expense_path(expense), :class => 'btn btn-default btn-xs'
          = link_to t('form.destroy', :default => t("helpers.links.destroy")), expense_path(expense), :method => :delete, :data => { :confirm => t('form.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('form.new', :default => t("helpers.links.new")), new_expense_path, :class => 'btn btn-primary'
