:css
  .document {
    margin: 1%;
    padding: 10px 5px 10px 5px;
    background-color: #e7f4f9;
    width: 96%;
  }

.document.pull-left{'data-id' => "#{file.id}"}
  .col-sm-1
    - if file.acceptors_file?
      = link_to file.acceptors_file.url do
        %i.fa{ class: "#{get_file_type_icon(file.acceptors_file_identifier)}" }
  .col-sm-10
    %a{ href: '#', id: 'title', 'data-resource' => 'taxonomy_acceptors_file', 'data-type' => 'text', 'data-pk' => "#{file.id}", 'data-url' => "/taxonomies/acceptors_file_update/" + "#{file.id}", 'data-emptytext' => 'Вкажіть назву документа...' }
      = file.title
  .col-sm-1
    = link_to 'x', {:controller => 'taxonomies', :action => 'acceptors_file_destroy', :acceptors_file_id => file.id, :id => @taxonomy.id}, { :confirm => 'Are you sure?', :remote => true, :method => :delete, :class => 'btn btn-xs' }

:javascript

  $(document).ready(function(){
    $.fn.editable.defaults.mode = 'block';
    $('#title').editable();
  })

