.documentation
  .title
    = t('taxonomies.file_upload.title')
  .panel.panel-default
    .panel-heading
      = t('form.new_document')
    .new_document.panel-body
      = render :partial => 'new_attachment', :locals => { :new_file => TaxonomyAttachment.new }

  .panel.panel-default
    .panel-heading
      = t('form.uploaded_documents')
    .documents.panel-body
      = render :partial => 'attachments', :locals => { :files => @taxonomy.taxonomy_attachments }
