.col-xs-12
  = bootstrap_form_for @taxonomy, :html => { :class => 'form-horizontal' } do |f|
    = f.text_field :title, label: t('taxonomies.index.file_title')
    - if current_user.admin?
      = f.text_field :name, label: t('taxonomies.index.file_title')

    = f.text_field :description, label: t('taxonomies.index.description')
    = f.text_field :kmb, label: t('.kmb')

    = f.check_box :is_kvk, label: t('.is_kvk')


    %hr
    = render :partial => "editinfo"
    %hr

    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('form.cancel', :default => t("helpers.links.cancel")), taxonomies_path, :class => 'btn btn-default'

.col-xs-12#attachments
  = render :partial => 'file_upload', :locals => { :attachments => @attachments, :taxonomy_id=>@taxonomy.id }
