:scss
  .paginator {
    text-align: center;
  }

- model_class = Taxonomy
= content_for :header do
  .head.pull-left
    %i.fa.fa-money
    #{t('.title')}

.col-xs-12.documents_search
  = render partial: 'search'
%table.table.table-striped
  %thead
    %tr
      %th#multiple-delete
        -#= link_to t('form.destroy', default: t("helpers.links.destroy")),
                  taxonomies_multiple_destroy_path, method: :get, remote: true,
                  data: { confirm: t('form.confirm', default: t("helpers.links.confirm", default: 'Ви впевнені?')) }

        = t('helpers.links.destroy')
      %th
        = t('key')
      %th
        = t('title')
      %th
        = t('author')
      %th
        = t('owner')
      %th
        = t('.created_at')
      %th
        = t('.active')
      %th
        =t 'form.actions', :default => t("helpers.actions")
  %tbody#taxonomies_list#search_results
    = render partial: 'search_results', locals: {taxonomies: @taxonomies}

.paginator
  = paginate @taxonomies

:javascript

  $(document).ready(function(){

    $('#multiple-delete').click(function(){
      // var that = $(this);
      dataConfirmModal.confirm({
        // title: I18n.t('.are_you_sure'),
        text: I18n.t('helpers.links.confirm'),
        // commit: I18n.t('yes'),
        // cancel: I18n.t('no'),
        zIindex: 10099,

        onConfirm: function() {
          var result = $('input[type="checkbox"]:checked');
          var arr = [];

          result.each(function(){
            id = $(this).val();
            arr.push(id);
          })

          console.log(arr)
          $.ajax({
            type: "POST",
            url: "#{taxonomies_multiple_destroy_path}",
            data: { ids: JSON.stringify(arr) },
            success: function() { alert("Success!"); }
          });
        },

      });
    })
  })