:scss
  .paginator {
    text-align: center;
  }

- model_class = Taxonomy
= content_for :header do
  .head.pull-left
    %i.fa.fa-money
    #{t('.title')}

.col-xs-12.documents_search
  = render partial: 'search'
%table.table.table-striped
  %thead
    %tr
      %th
        = t('helpers.links.destroy')
      %th
        = t('key')
      %th
        = t('title')
      %th
        = t('author')
      %th
        = t('owner')
      %th
        = t('.created_at')
      %th
        = t('.active')
      %th
        =t 'form.actions', :default => t("helpers.actions")
  %tbody#taxonomies_list#search_results
    = render partial: 'search_results', locals: {taxonomies: @taxonomies}

.paginator
  = paginate @taxonomies