%h1 Listing taxonomies

%table
  %tr
    %th Name
    %th Taxonomies
    %th
    %th
    %th

  - @taxonomies.each do |taxonomy|
    %tr
      %td= taxonomy.name
      %td= taxonomy.taxonomies
      %td= link_to 'Show', taxonomy
      %td= link_to 'Edit', edit_taxonomy_path(taxonomy)
      %td= link_to 'Destroy', taxonomy, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Taxonomy', new_taxonomy_path
