:scss
  .paginator {
    text-align: center;
  }

- model_class = Taxonomy
= content_for :header do
  .head.pull-left
    %i.fa.fa-money
    #{t('.title')}

.col-xs-12.documents_search
  = render partial: 'search'
%table.table.table-striped
  %thead
    %tr
      %th
        = render file: 'layouts/admin/multiple_delete', locals: { delete_path: taxonomies_multiple_destroy_path }
      %th
        = t('key')
      %th
        = sortable 'title', t('title')
      %th
        = t('author')
      %th
        = sortable 'town_id', t('owner')
      %th
        = sortable 'created_at', t('.created_at')
      %th
        = sortable 'active', t('.active')
      %th
        =t 'form.actions', :default => t("helpers.actions")
  %tbody#taxonomies_list#search_results
    = render partial: 'search_results', locals: {taxonomies: @taxonomies}

.paginator
  = paginate @taxonomies
