- model_class = Taxonomy
= content_for :header do
  .head.pull-left
    %i.fa.fa-money
    #{t('.title')}

%table.table.table-striped
  %thead
    %tr
      %th
        = t('key')
      %th
        = t('name')
      %th
        = t('owner')
      %th
        =t 'form.actions', :default => t("helpers.actions")
  %tbody#taxonomies_list
    - @taxonomies.each do |taxonomy|
      %tr{'data-id' => taxonomy.id}
        %td= link_to "#{taxonomy.id} (#{taxonomy.class})", taxonomy_path(taxonomy)
        %td
          = link_to taxonomy.title, taxonomy
          -#= " - #{budget_file.owner_email}" if current_user and current_user.has_role? :admin and budget_file.owner_email
        %td= taxonomy.owner
        %td
          -#= link_to 'test_new_show', '/taxonomies/show_modify/' + taxonomy.id, :class => 'btn btn-default btn-xs'
          = link_to t('form.edit', :default => t("helpers.links.edit")), edit_taxonomy_path(taxonomy), :class => 'btn btn-default btn-xs'
          = link_to t('form.destroy', :default => t("helpers.links.destroy")), taxonomy_path(taxonomy), :method => :delete, :remote => true, :data => { :confirm => t('form.confirm', :default => t("helpers.links.confirm", :default => 'Ви впевнені?')) }, :class => 'btn btn-xs btn-danger'
