- model_class = Taxonomy

= content_for :header do
  .head
    %i.fa.fa-money
    #{t('.title')}:
    %span.descr
      #{@taxonomy.title}, #{@taxonomy.owner}

  = render partial: 'budget_files/visify_list', :locals => { id: @taxonomy.id }

.budget

  .tab-content
    %iframe{ 'width' => '100%', 'height' => '800' }

= link_to t('form.back', :default => t("helpers.links.back")), taxonomies_path, :class => 'btn btn-default'
= link_to t('form.edit', :default => t("helpers.links.edit")), edit_taxonomy_path(@taxonomy), :class => 'btn btn-primary'
#embed_code_visify.embed_code
  = render partial: 'widgets/visify/embed_code'
