%button.btn.btn-success.btn-sm{ id: "#{prefix}_create", type: 'button' }
  %i.glyphicon.glyphicon-asterisk
    Додати
%button.btn.btn-warning.btn-sm{ id: "#{prefix}_rename", type: 'button' }
  %i.glyphicon.glyphicon-pencil
    Редагувати
%button.btn.btn-danger.btn-sm{ id: "#{prefix}_delete", type: 'button' }
  %i.glyphicon.glyphicon-remove
    Видалити
:javascript
  $(document).ready(function() {
    $('##{prefix}_tree_view').on('loaded.jstree', function(e){

      var tree = $(this).jstree(true)
      console.log(tree);
      $('##{prefix}_create').on('click', function () {
        console.log('create');
        var sel = tree.get_selected();
        sel = sel.length > 0 ? sel[0] : null
        sel = tree.create_node(sel, {"type": "file"});
        if (sel) {
          tree.edit(sel);
        }
      })
      $('##{prefix}_rename').on('click', function () {
        var sel = tree.get_selected();
        if (!sel.length) {
          return false;
        }
        sel = sel[0];
        tree.edit(sel);
      })
      $('##{prefix}_delete').on('click', function () {
        var sel = tree.get_selected();
        if (!sel.length) {
          return false;
        }

        tree.delete_node(sel);
      })
    })

  });

