:css
  .editable-pre-wrapped {
    white-space: nowrap;
  }
=javascript_include_tag 'bootstrap_flash'
.panel.panel-default
  .panel-heading
    = t('repairing.layers.edit.layer')
  .panel-body
    %table.table#edit_layer
      %thead
        %tr
          %th
            = t('repairing.repairs.form.title')
          %th
            = t('repairing.repairs.form.category')
          %th
            = t('repairing.repairs.form.town')
          %th
            = t('repairing.repairs.form.description')
      %tbody
        %tr
          %td
            %a.editable{ href: '#', 'data-resource' => 'repairing_layer',
                         id: 'title', 'data-type' => 'text', 'data-pk' => "#{@repairing_layer.id}",
                         'data-url' => "#{repairing_layer_path(@repairing_layer)}",
                         'data-emptytext' => t('repairing.layers.edit.title') }
              = @repairing_layer.title
          %td
            %a.edit_category{ href: '#', 'data-resource' => 'repairing_layer',
                              id: 'repairing_category', 'data-type' => 'select2', 'data-pk' => "#{@repairing_layer.id}",
                              'data-url' => "#{repairing_layer_path(@repairing_layer)}",
                              'data-emptytext' => t('repairing.layers.edit.category') }
              = @repairing_layer.repairing_category.title if @repairing_layer.repairing_category
          %td
            %a.edit_twn{ href: '#', 'data-resource' => 'repairing_layer',
                         id: 'town', 'data-type' => 'select2', 'data-pk' => "#{@repairing_layer.id}",
                         'data-url' => "#{repairing_layer_path(@repairing_layer)}",
                         'data-emptytext' => t('repairing.layers.edit.town') }
              = @repairing_layer.town.title if @repairing_layer.town
          %td
            %a.editable{ href: '#', 'data-resource' => 'repairing_layer',
                         id: 'description', 'data-type' => 'textarea', 'data-pk' => "#{@repairing_layer.id}",
                         'data-url' => "#{repairing_layer_path(@repairing_layer)}",
                         'data-emptytext' => t('repairing.layers.edit.description') }
              = @repairing_layer.description
.clear

:javascript

  $(document).ready(function(){
    $('#edit_layer .editable').editable({
      success: function(response,newValue){
        show_bootstrap_flash(response.message,response.class_name);
      }
    });
    $('#edit_layer .edit_category').editable({
      value: "#{@repairing_layer.repairing_category.id if @repairing_layer.repairing_category}",
      source: '#{get_categories_repairing_layer_path}',
      select2: {
        width: '350px',
        allowClear: true
      },
      success: function(response,newValue){
        show_bootstrap_flash(response.message,response.class_name);
      }
    });

    $('#edit_layer .edit_twn').editable({
      value: "#{@repairing_layer.town.id if @repairing_layer.town}",
      source: '#{search_town_path}',
      select2: {
        width: '350px',
        allowClear: true,
        minimumInputLength: 2
      },
      success: function(response,newValue){
        show_bootstrap_flash(response.message,response.class_name);
      }
    });


  })