= simple_form_for @repairing_layer do |f|

  - unless current_user.admin?
    = t('repairing.repairs.form.town') + ": " + current_user.town

  = f.input :town, as: type_for_user_role,
                   label: t('repairing.repairs.form.town'),
                   input_html: {value: current_user.town_model.id}
  = f.input :locale, as: :hidden, input_html: {value: params[:locale]}
  = f.input :title, label: t('repairing.repairs.form.title'), class: 'form-control'
  = f.input :repairing_category, collection: @categories.map {|cat| [ cat.title, cat.id ] } ,
                                 label: t('repairing.repairs.form.category')
  = f.input :status, collection: {t('js.visify.plan') => :plan, t('js.visify.fact') => :fact},
                     prompt: false,
                     label: t('repairing.repairs.form.status')
  = f.input :year, collection: years_from(2015),
                     prompt: false,
                     label: t('repairing.repairs.form.year')
  = f.input :description, as: :text,  label: t('repairing.repairs.form.description'), rows: '8'
  = f.input :repairs_file,as: :file, label: t('repairing.repairs.form.repairs_file')

  = f.submit t('form.add'), class: 'btn btn-primary'
  = link_to t('form.cancel', default: t('helpers.links.cancel')), repairing_layers_path, class: 'btn btn-default'

:javascript
  $(document).ready(function(){
    init_town_select2_with_field_id('#repairing_layer_town',"#{search_for_towns_town_path}");
    $("#repairing_layer_town").select2("data", {id: "#{current_user.town_model.id}", text: "#{current_user.town_model.title}" });
  });


