= bootstrap_form_for @repairing_layer do |f|

  - if current_user && current_user.has_role?(:admin)
    = f.select :town, Town.all.collect {|p| [ p.title, p.id ] }, { prompt: t('.select_town') }, :class => 'form-control'
  = f.text_field :title, :class => 'form-control'
  = f.text_area :description, :rows => "8"

  = f.file_field :repairs_file

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), repairing_layers_path, :class => 'btn btn-default'
