= simple_form_for @repairing_layer do |f|

  - if current_user && current_user.has_role?(:admin)
    = f.text_field :town, label: t('repairing.repairs.form.town') , class: 'form-control',value: current_user.town_model.id
  - else
    = t('repairing.repairs.form.town') + ": " + current_user.town

  = f.input :locale, as: :hidden, value: params[:locale]
  = f.input :title, label: t('repairing.repairs.form.title'), class: 'form-control'
  = f.input :repairing_category,
              collection: @categories.map {|cat| [ cat.title, cat.id ] } ,
              label: t('repairing.repairs.form.category')
  = f.input :status, collection: [:plan, :fact], label: t('repairing.repairs.form.status')
  = f.input :description, as: :text,  label: t('repairing.repairs.form.description'), rows: '8'
  = f.input :repairs_file,as: :file, label: t('repairing.repairs.form.repairs_file')

  = f.submit t('form.add'), class: 'btn btn-primary'
  = link_to t('form.cancel', default: t('helpers.links.cancel')), repairing_layers_path, class: 'btn btn-default'

:javascript
  $(document).ready(function(){
    init_town_select2_with_field_id('#repairing_layer_town',"#{search_for_towns_town_path}");
  });


