:scss

  .container-fluid.modal-open {
    //overflow: scroll;
    padding-right: 30px;
  }

  table{
    border-spacing: 1px;
    border-collapse: separate;
    tr:nth-child(even) {background: #DDD}
    tr:nth-child(odd) {background: #FFF}
    td{
      border: 0px;
      border-right: 1px #FFF;
    }
    td.not-valid{
      background: #FFB59D;
    }
    td.coordinates{
      overflow: hidden;
    }
    .popover-content {
      padding: 0;
    }
  }

.modal.fade{id: 'edit_repair', role: 'dialog', tabindex: '-1', appendTo: '#repairs'}
  .modal-dialog.modal-sm{role: :document}
    .modal-content.modal-repair#repair

%h1
  = "Таблиця ремонтів (#{@repairs.count()})"
%table#edit_repairs
  %tr
    %th Spending units
    %th Erdpou spending units
    %th Subject
    %th Address
    %th Address to
    %th Work
    %th Repairing category
    %th Amount
    %th Repair start date
    %th Repair end date
    %th Warranty
    %th Prozzoro id
    %th Object owner
    %th Edrpou artist
    %th Description
    %th Coordinates
    %th
    %th

  = render partial: 'repair', collection: @repairs

.paginator-repairs
  = paginate @repairs, :remote => true

:javascript

  $(document).ready(function(){

    // get repairs for layer
    function get_repair_info_modal(id_repair){
      $.ajax({
        url: "#{repairing_edit_in_modal_path}",
        dataType: 'script',
        data: { id: id_repair },
        success: function(data){}
      })
    }

    // show all repairs of layer
    $('.edit-repair').on('click',function(){
      var repair_id = $(this).attr('data-repair-id');
      get_repair_info_modal(repair_id);
    });

    // setting modal window for static page behavior
    $("#edit_repair").on("show.bs.modal", function () {
      $(".container-fluid").addClass("modal-open");
    }).on("hidden.bs.modal", function () {
      $(".container-fluid").removeClass("modal-open")
    });

  })