:scss

  table{
    border-spacing: 1px;
    border-collapse: separate;
    tr:nth-child(even) {background: #DDD}
    tr:nth-child(odd) {background: #FFF}
    td{
      border: 0px;
      border-right: 1px #FFF;
    }
    .popover-content {
      padding: 0;
    }
  }

.modal.fade{id: 'edit_repair', role: 'dialog', tabindex: '-1', appendTo: '#repairs'}
  .modal-dialog.modal-sm{role: :document}
    .modal-content.modal-repair

%h1 Listing repairs
%table#edit_repairs
  %tr
    %th Subject
    %th Edrpou artist
    %th Erdpou spending units
    %th Object owner
    %th Repairing category
    %th Amount
    %th Warranty
    %th Repair start date
    %th Repair end date
    %th Address
    -#%th Coordinate
    %th Address to
    -#%th Coordinate1
    %th Description
    %th Coordinates
    %th
    %th

  - repairs.each do |repair|
    %tr.editable-table-row
      -#%td
      -#  %a.editable.editable-row-item{ href: '#', 'data-resource' => 'repairing_repair',
      -#                   id: 'obj_owner', 'data-type' => 'text', 'data-pk' => "#{repair.id}",
      -#                   'data-url' => "#{repairing_layer_repair_path(repair.layer_id, repair)}" }
      -#    = repair.obj_owner

      %td= repair.subject
      %td= repair.edrpou_artist
      %td= repair.edrpou_spending_units
      %td= repair.obj_owner
      %td= repair.repairing_category.title if repair.repairing_category
      %td= repair.amount
      %td= repair.warranty_date
      %td= repair.repair_start_date
      %td= repair.repair_end_date
      %td= repair.address
      %td= repair.address_to
      %td= repair.description
      %td= repair.coordinates

      %td
        .edit-repair.btn.btn-primary{ 'data-toggle' => 'modal', 'data-target'=> '#myModal',
                                          'data-repair-id' => "#{repair.id}" }
          Edit
      %td
        = link_to 'Drop', repairing_layer_repair_path(repair.layer_id, repair.id), method: :delete, remote: true, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }


      -#%td= link_to 'Show', repair
      -#%td= link_to 'Edit', edit_repairing_repair_path(repair)
      -#%td= link_to 'Destroy', repair, :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript

  $(document).ready(function(){

    function get_repair_info_modal(id_repair){
      $.ajax({
        url: "#{repairing_edit_in_modal_path}",
        dataType: 'script',
        data: { id: id_repair },
        success: function(data){}
      })
    }

    $('.edit-repair').on('click',function(){
      var repair_id = $(this).attr('data-repair-id');
      get_repair_info_modal(repair_id);
    });

  })