.search_map
  = form_tag create_repair_by_addr_repairing_layer_path(layer), :method => :post, :remote => true, :html => { :class => 'form-vertical' } do |f|
    .input-group.input-group-sm
      .col-sm-6
        = text_field_tag :q, '', :class => 'form-control', :placeholder => "#{t('.search')}"
      .col-sm-6
        = text_field_tag :q1, '', :class => 'form-control', :placeholder => "#{t('.search1')}"
      %span.input-group-btn
        = submit_tag 'Search', :class => 'btn btn-primary' do
          %i.fa.fa-search.fa-lg
