- model_class = Repairing::Layer
= content_for :header do
  .head.pull-left
    = t('layouts.navbar.repairing_layers')
%table.table.table-striped
  %thead
    %tr
      %th=t('key')
      %th=t('repairing.repairs.form.title')
      %th=t('repairing.repairs.form.category')
      %th=t('repairing.repairs.form.town')
      %th=t('author')
      %th=t 'form.actions', :default => t("helpers.actions")
  %tbody
    - @layers.each do |layer|
      %tr
        %td= link_to layer.id, repairing_layer_path(layer)
        %td= layer.title
        %td= layer.repairing_category
        %td= "#{layer.town.title unless layer.town.blank?} "
        %td= layer.owner.email
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_repairing_layer_path(layer), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), repairing_layer_path(layer), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_repairing_layer_path, :class => 'btn btn-primary'
