- model_class = Repairing::Layer

:css
  .map_container {
    height: 800px;
  }


= content_for :header do
  .head.pull-left
    = @layer.title
    .descr
      = "#{@layer.town}, by #{@layer.owner}"

= content_for :top do
  .map_container
    = render partial: 'repairing/maps/map'

%p
  = @layer.description


:javascript

  $(document).ready(function() {

    var aRepairMap = RepairMap({
      zoom: 6,
      minZoom: 5,
      maxZoom: 18,
      center: [48.5, 31.2],
      bounds: [ [47.54677, 21.44531], [52.32182, 41.52832]],
      getMapPopupContent: getMapPopupContent,
      scrollWheelZoom: true
    })

    // add markers
    $.ajax({
      method: 'get',
      url: '#{geo_json_repairing_layer_path(@repairing_layer)}',
      dataType: 'json',
    })
    .done(function (data) {
      aRepairMap.addGeoJsonPoints(data, getPoint, {
        clustered: true,
        style: {
          opacity: 0.8,
        },
        hoverStyle: {
          opacity: 1,
        },
        featureClickCallback: onFeatureClick,
        getMapPopupContent: getMapPopupContent,
        getInfoContent: getInfoContent,
      })
    })
    .fail(function () {
    });

    var Icon = L.Icon.extend({ options: { iconSize: [28, 37] }});

    function getPoint(properties) {
      var point = {}
      if(properties.img) {
        point.icon = new Icon({iconUrl: properties.img});
      } else {
        //point.icon = new L.Icon.Default();
        point.icon = new Icon({iconUrl: '/assets/repairing/default_icon.png'});
      }
      return point;
    }

    function onFeatureClick(feature, popup) {
    }

    function getMapPopupContent(e) {
      var content = e.latlng.toString()
      return content
    }

    function getInfoContent(properties) {
      var content =
            '<div class="popup">' +
              '<h4>' + properties.title + '</h4>' +
              '<p>' + properties.address + '</p>' +
              '<p>' + properties.amount + '</p>' +
            '</div>'

      return content
    }

  });




= link_to t('.back', :default => t("helpers.links.back")), repairing_layers_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_repairing_layer_path(@layer), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), repairing_layer_path(@layer), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
