-#https://github.com/okfn/bubbletree

= javascript_include_tag "jquery.history.js"
= javascript_include_tag "raphael.js"
= javascript_include_tag "vis4.js"
= javascript_include_tag "Tween.js"
= javascript_include_tag "bubbletree.js"
= javascript_include_tag "cofog.js"

.bubbletree
  #sidebar.col-xs-3
  #chart

:javascript

  $(document).ready(function() {
    var width = $(document).width() - $('#sidebar').width() - 50;
    height = $(document).height() - 120

    var totalSize;

    $('.bubbletree #chart').width(width).height(height)

    var tooltip = d3.select(".bubbletree").append("div")
        .attr("id", "tooltip")
        .style("opacity", 0);

    d3.json("/visify/get_bubbletree_data/#{budget_file_id}", function(data) {
      new BubbleTree({
          data: data,
          container: '.bubbletree #chart',

          sortBy: 'label',

          bubbleType: ['icon', 'plain'],

          tooltip: function(a) {
            if (a.type == 'HIDE') {
              tooltip.transition()
                .duration(200)
                .style("opacity", 0);


              //$('.bubbletree #tooltip').html('').css('display', 'none')
            } else {
              //$('.bubbletree #tooltip')
              // .css("left", a.mousePos.x)
              // .css("top", a.mousePos.y + 150)
              // .css('display', 'block')
              // .html(getTooltipHtml(a.node))
              tooltip.html(getTooltipHtml(a.node))
               .style("left", a.mousePos.x + "px")
               .style("top", a.mousePos.y + "px");
              tooltip.transition()
               .duration(200)
               .style("opacity", .9)
            }
          },
          nodeClickCallback: function(node) {
            $('.bubbletree #sidebar').html(getItemInfoHtml(node))
          }
      });

      totalSize = data.size;
    })

    function getItemInfoHtml(node) {
      percentage = (100 * node.size / totalSize).toPrecision(3);
      title = node.title || ''
      name = node.name || ''
      div = "<h4 class='code'>" + name + "</h4>"
        + "<div class='title'>" + title + "</div>"
        + "<h3 class='percentage'>" + percentage + "%</h3>"
        + "<h4 class='amount'>" + node.size.toLocaleString() + " грн</h4>"

      if (node.description) {
        div = div + "<hr/>" +  "<div class='description'>" + node.description + "</div>"
      }

      return div
    }

    function getTooltipHtml(node) {
      percentage = (100 * node.size / totalSize).toPrecision(3);
      title = node.title || ''
      div = "<h3 class='percentage'>" + percentage + "% </h3> <h5> " + node.size.toLocaleString() + " грн</h5>"
        + "<hr/>"
        //+ "<div class='title'>" + title +
        "</div>"

      return div
    }

  });
