= form_for [:calendars, @calendar, @event, new_attachment], :remote => true, :authenticity_token => true, method: 'POST', :html => { :class => '', :multipart => true } do |f|

  - if new_attachment.errors.any?
    #error_explanation
      %h2= "#{pluralize(new_attachment.errors.count, "error")} prohibited this documentation_document from being saved:"
      %ul
        - new_attachment.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-sm-4
      .form-group
        %label
          Опис
        = f.text_field :description, :class => 'form-control'
    .col-sm-5
      .form-group
        %label
          Файл
        = f.file_field :doc_file,:class => 'form-control'
    .col-sm-3
      .actions
        = f.button :class => 'btn btn-default' do
          %i.fa.fa-upload
            Завантажити


:javascript
  $(document).ready(function() {
    $('.documentation .file_upload form').bind("ajax:success", function(f){
    });
  });


:javascript
  $(document).ready(function() {
    $('.documentation .document a[data-method="delete"]').bind("ajax:success", function(f){
    });
  });

