/partial: data_table_header
/from: programs/targeted_programs

%tr
  %th.centred
    = sortable 'title', t('.title')
  %th.centred
    = t('.file')
  %th.numeric.centred
    = t('.plan')
  %th.numeric.centred
    = t('.fact')
  %th.numeric.centred
    = sortable 'updated_at', t('.date-updated')
  %th.numeric.centred
    = t('.town-title')
  %th.numeric.centred
    = t('.author')
  %th.numeric.centred
    = sortable 'active', t('.active')
  %th.numeric.centred
    = t('.actions')