:scss
  // init colors
  $lightgray: #eee;

  .data-table {
    padding: 0;
    .row {
      margin: 0;
      #no-more-tables {
      .data-table-title {
        padding: 0 0 15px 0;
        font-weight: bold;
      }
        table {
          thead,
          tbody {
            tr {
              .centred {
                text-align: center;
                .form-group {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  #programs_targeted_program_reason{
    min-height: 180px;
  }
  .btn-save {
    padding: 15px 0;
  }
  // Media block
  @media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #no-more-tables {
      table, thead, tbody, th, td, tr {
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border: 1px solid #ccc;
      }
      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid $lightgray;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
        &:before {
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
          text-align: left;
          font-weight: bold;
          content: attr(data-title);
        }
      }
      .table-bordered {
        padding: 0;
      }
    }
  }

=simple_form_for @program do |f|
  =f.input :title, label: t('.title')
  .row
    .col-xs-12.col-sm-6
      =f.input :kpkvk, as: :integer, label: t('.kpkvk')
    .col-xs-12.col-sm-6
      =f.input :kfkvk, as: :integer, label: t('.kfkvk')
  .row
    .col-xs-12.col-sm-6
      =f.input :manager, label: t('.manager')
    .col-xs-12.col-sm-6
      =f.input :main_manager, label: t('.main_manager')
  =f.input :responsible, label: t('.responsible')
  =f.input :reason,as: :text, label: t('.reason')
  =f.input :objective, label: t('.objective')
  -#TODO: Try make it easy
  .col-xs-12.data-table
    .row
      #no-more-tables
        .col-xs-12.data-table-title
          = t('.budget_prog')
        %table.col-md-12.table-bordered.table-striped.table-condensed
          %thead
            %tr
              %th.centred
                -#= t('.year')
                = t('.type')
              %th.numeric.centred
                = t('.general_fund')
              %th.numeric.centred
                = t('.special_fund')
              %th.numeric.centred
                = t('.sum')
          %tbody
          -f.object.budget_sum.each do |year|
            %tr
              %td.numeric.centred{ "colspan" => "5", "data-title" => "#{t('.year')}" }
                = year.first + ' ' + t('.year')
            %tr
              %td{ "data-title" => "#{t('.indicate')}" }
                = t('.plan')
              =f.simple_fields_for :budget_sum do |budget|
                = budget.simple_fields_for year.first do |budget_year|
                  = budget_year.simple_fields_for :plan do |budget_plan|
                    %td.numeric.centred{ "data-title" => "#{t('.general_fund')}" }
                      =budget_plan.input :general_fund, as: :float, label: false, input_html: { value: correct_budget_sum(f.object.budget_sum, year.first,:plan,:general_fund) }
                    %td.numeric.centred{ "data-title" => "#{t('.special_fund')}" }
                      =budget_plan.input :special_fund, as: :float, label: false, input_html: { value: correct_budget_sum(f.object.budget_sum, year.first,:plan,:special_fund) }
                    %td.numeric.centred{ "data-title" => "#{t('.special_fund')}" }
                      =budget_plan.input :sum, as: :float, label: false, input_html: { value: correct_budget_sum(f.object.budget_sum, year.first,:plan,:special_fund) }
            %tr
              %td{ "data-title" => "#{t('.indicate')}" }
                = t('.fact')
              =f.simple_fields_for :budget_sum do |budget|
                = budget.simple_fields_for year.first do |budget_year|
                  = budget_year.simple_fields_for :fact do |budget_fact|
                    %td.numeric.centred{ "data-title" => "#{t('.general_fund')}" }
                      =budget_fact.input :general_fund, as: :float, label: false, input_html: { value: correct_budget_sum(f.object.budget_sum, year.first,:fact,:general_fund) }
                    %td.numeric.centred{ "data-title" => "#{t('.special_fund')}" }
                      =budget_fact.input :special_fund, as: :float, label: false, input_html: { value: correct_budget_sum(f.object.budget_sum, year.first,:fact,:special_fund) }
                    %td.numeric.centred{ "data-title" => "#{t('.special_fund')}" }
                      =budget_fact.input :sum, as: :float, label: false, input_html: { value: correct_budget_sum(f.object.budget_sum, year.first,:fact,:sum) }
            -#%tr
            -#  %td{ "data-title" => "#{t('.indicate')}" }
            -#    Різниця
            -#  =f.simple_fields_for :budget_sum do |budget|
            -#    = budget.simple_fields_for year.first do |budget_year|
            -#      = budget_year.simple_fields_for :differences do |budget_fact|
            -#        %td.numeric.centred{ "data-title" => "#{t('.general_fund')}" }
            -#          =budget_fact.input :general_fund, as: :float, label: false, input_html: { value: correct_budget_sum(f.object.budget_sum, year.first,:differences,:general_fund) }
            -#        %td.numeric.centred{ "data-title" => "#{t('.special_fund')}" }
            -#          =budget_fact.input :special_fund, as: :float, label: false, input_html: { value: correct_budget_sum(f.object.budget_sum, year.first,:differences,:special_fund) }
            -#        %td.numeric.centred{ "data-title" => "#{t('.special_fund')}" }
            -#          =budget_fact.input :sum, as: :float, label: false, input_html: { value: correct_budget_sum(f.object.budget_sum, year.first,:differences,:sum) }

  .col-xs-12.btn-save
    =f.submit t('save'), class: 'btn btn-primary'
-#TODO: Clear it, if it's doesn't use
:javascript
  $(document).ready(function(){
    $('#programs_target_program_p_id').addClass('form-control');
    $('input[name=type]:radio').change(function(){
      $('#programs_target_program_p_id').parents('.form-group').toggle('slow');
      $('#tasks_block').toggle('slow');
    });

    $('form').submit(function(){
      // var checked_radio_value = $('input[name=type]:checked').val();
      // var parent_id_input = $('#programs_target_program_p_id');
      // var program_name = 'program';
      //
      // var notice_message = $("<div></div>");
      // notice_message.addClass('alert alert-warning');
      // notice_message.attr('role','alert');
      // notice_message.html('Заповніть це поле');
      //
      // if(checked_radio_value == program_name){
      //   parent_id_input.val('');
      // }else{
      //   $('.task').val('');
      //   if(!parent_id_input.val()){
      //     parent_id_input.after(notice_message);
      //     notice_message.fadeOut(5000);
      //     parent_id_input.focus();
      //     return false;
      //   }
      // }
    });

  });
