:scss
  .program {
    & > div {
      margin-top: 30px;
    }
  }
.row
  =link_to t('programs.targeted_programs.index.header',city: current_user.town),programs_targeted_programs_path,class: 'btn btn-info'
.program.row

  .col-xs-12
    %h1
      %i.fa.fa-sun-o
        = "#{@program[:title]}, #{@year} #{t('year')}"

    = render partial: 'programs/targeted_programs/program/amounts', locals: { program: @program, :year => @year }

  .col-xs-12
    %h2
      =t('.main_manager')

    %p
      =@program.main_manager
  .col-xs-12
    %h2
      =t('.responsible')

    %p
      =@program.responsible
  .col-xs-12
    %h2
      =t('.reason')

    %p
      =@program.reason
  .col-xs-12
    %h2
      =t('.main_target')

    %p
      =@program.objective

  .indicators.col-xs-12
    %h2
      = t('.group_indicators')
    = render partial: 'programs/targeted_programs/program/indicators', locals: { program: @program, :year => @year ,indicators_group: @grouped_indicators}

  .col-xs-12
    .gantt-header
      .pull-left
        %h2
          Діаграма ганта

    = render partial: 'programs/targeted_programs/program/gant'

  -#.col-xs-12
  -#  %h2
  -#    Відповідальні за виконання програми
