:scss
  .program-wrapper {
    .program-title {
      font-weight: normal;
      font-family: 'Lato', sans-serif;
      font-size: 2rem;
      text-transform: uppercase;
      margin: 0;
      padding: 20px 0;
    }
    .program-bar {
      padding-bottom: 20px;
    }
    .program-data {
      .manager,
      .responsible,
      .reason,
      .target {
        margin-bottom: 15px;
        .title-plus-icon > .title,
        .value {
          font-family: 'Lato', sans-serif;
        }
        .title-plus-icon > .title {
          margin-top: 0;
          font-size: 1.6rem;
          font-weight: bold;
        }
        .value {
          font-size: 1.4rem;
          font-weight: normal;
        }
        .title-plus-icon {
          i,
          .title {
            display: inline-block;
          }
          i {
            position: absolute;
            font-size: 2.2rem;
          }
          .title {
            padding-left: 15px;
          }
        }
      }
    }
  }

.program-wrapper

  .row.program-title
    = "#{ @program[:title]}, #{@year} #{t('.year') }"

  .row.program-bar

    -#Bar block
    = render partial: 'programs/targeted_programs/program/amounts',
    locals: { program: @program, year: @year }

  .row.program-data

    -#Description block
    = render partial: 'programs/targeted_programs/program/description',
    locals: { program: @program }

    -#Indicators block
    = render partial: 'programs/targeted_programs/program/indicators',
    locals: { program: @program, year: @year, indicators: @grouped_indicators }

    -#Gantt block
    = render partial: 'programs/targeted_programs/program/gantt'