:scss
  //fix for no-data-yet block
  .no-data {
    padding: 0;
  }

  .row {
    margin: 0;
    .page-title,
    .title-list {
      text-align: left;
      font-weight: normal;
      font-family: 'Lato', sans-serif;
      font-size: 1.6rem;
      text-transform: uppercase;
      padding: 15px 0;
    }
    .program-bar {
      padding: 0;
      text-align: center;
    }
  }

-if @programs.empty?

  = render partial: 'layouts/no_data_yet'

-else

  .row
    = render partial: 'programs/targeted_programs/town_programs/selects', locals: { years: @years }

  .row
    .col-xs-12.page-title.pull-left
      = t('.division')
    .col-xs-12.program-bar
      = render partial: 'programs/targeted_programs/town_programs/bar'

  .row
    .programs-list
      .col-xs-12.title-list.pull-left
        = t('.list')
        = render partial: 'programs/targeted_programs/town_programs/program_list', locals: { programs: @programs, years: @years }