= link_to(event_path(current[:event], { :calendar_id => @calendar.id}), :class => '', :remote => true) do
  - if current[:event]
    - if current[:event].holder == 1
      .current-action{ :style => 'text-align: right;'}
        %h3
          #{current[:event].holder_text} #{current[:percent]}%
        .content
          %h4
            = current[:event].title.html_safe
    - else
      .current-action
        %h3
          #{current[:percent]}% #{current[:event].holder_text}
        .content
          %h4
            = current[:event].title.html_safe
