- if current[:event]
  .current-action.col-sm-12
    .col-md-3
      %h2
        LJV
      .progress
        .stripe.stripe-active
        .stripe.stripe-grayed{'style' => "min-height: #{100 - current[:percent]}%; height: #{100 - current[:percent]}%;"}

      -#.progress-funky
      -#  .current


      %h2
        #{current[:percent]}%
    .col-md-9
      %h3
        #{current[:event].holder_text}
      .content
        %p
          = current[:event].title.html_safe

        = link_to(event_path(current[:event], { :calendar_id => @calendar.id}), :class => 'pull-right', :remote => true) do
          докладніше >>


      - if current[:event].holder == 1

      - else

  :javascript
    $(document).ready(function() {
        $('.progress .progress-bar').progressbar({transition_delay: 1000});
    });