- if current[:event]
  .current-action.col-xs-12
    .bar.col-xs-2
      - if current[:event].holder == 1
        = image_tag("calendar/city.png", width: '100%')
      - else
        = image_tag("calendar/citizens.png", width: '100%')
      .progress
        - if current[:event].holder == 1
          .stripe.stripe-city
        - else
          .stripe.stripe-citizens
        .stripe.stripe-grayed{'style' => "min-height: #{100 - current[:percent]}%; height: #{100 - current[:percent]}%;"}

      %h3
        #{current[:percent]}%
    .col-xs-9
      - if current[:event].holder == 1
        %h2.city
          #{current[:event].holder_text}
      - else
        %h2.citizens
          #{current[:event].holder_text}

      %p.content
        = current[:event].title.html_safe

      = link_to(event_path(current[:event], { :calendar_id => @calendar.id}), :class => 'pull-right', :remote => true) do
        докладніше >>


  :javascript
    $(document).ready(function() {
        $('.progress .progress-bar').progressbar({transition_delay: 1000});
    });