- if subscriber.nil?
  = form_for Subscriber.new(:email => cookies['subscriber']), url: { action: 'subscribe', :calendar_id => calendar.id }, :remote => true, :html => { :class => 'form-vertical pull-right col-sm-3' } do |f|
    .input-group
      = f.email_field :email, :placeholder=>t('.subscribe_placeholder'), :class => 'form-control'
      %span.input-group-btn
        = f.button :class => 'btn btn-default', :type => 'submit' do
          %i.fa.fa-plus.fa-lg

- else
  .form-vertical.pull-right.col-sm-2
    .input-group
      = text_field_tag 'subscriber_email', subscriber.email, { :disabled => 'disabled', :class => 'form-control' }
      %span.input-group-btn
        = link_to "/public/unsubscribe/#{calendar.id}/#{subscriber.id}", :method => 'delete', :remote => true, :class => 'btn btn-default' do
          %i.fa.fa-ban.fa-lg
