.col-sm-6.pull-left
  %h2 Дії міської влади
.col-sm-6
  %h2 Дії громадських активістів
%section.ui-timeline.row
  .row
    %hr.col-md-12

  - @timeline_events.each do |event|
    %article.tl-item{:class => event[:holder] == 1 ? 'alt' : 'right' }
      .tl-body
        .tl-entry{ :style => 'background-color: rgba(128,128,128, .05);'}
          .tl-icon.round-icon.sm{:style => "background-color: #{event[:color]}" }
            %i.fa.fa-3{:class => event[:icon] }
          .tl-time
            = event[:all_day] == true ? event[:dt].strftime('%d-%m-%Y') : event[:dt].strftime('%d-%m-%Y %H:%M:%S')
          .tl-content
            %img.arrow{:src => event[:holder] == 1 ? 'assets/arrow.jpg' : 'assets/arrowL.jpg' }
            %p.tl-title{ :style => ("color: #{event[:color]}") }
              = event[:title]
            = event[:action]
            %hr
            %p
              = event[:description].html_safe
