= content_for :header do
  .header
    .head.pull-left
      %i.fa.fa-calendar
        Бюджетний календар 2014 - #{@calendar.title}
      %span.descr
        = @calendar.description
    #calendar_subscriber.col-sm-3.pull-right
      = render partial: 'subscribe', :locals => { subscriber: @subscriber, calendar: @calendar}
.col-sm-6
  %ul.nav.nav-tabs{role: 'tablist'}
    %li.active
      %a{href: '#home', role: 'tab', 'data-toggle' => 'tab'}
        Календар
    %li
      %a{href: '#profile', role: 'tab', 'data-toggle' => 'tab'}
        Тайм-лайн
  .tab-content
    #home.tab-pane.fade.in.active
      = render partial: 'calendar'
    #profile.tab-pane.fade
      = render partial: 'timeline'

.col-sm-6
  .col-sm-12
    .pull-left.col-sm-5
      = render partial: "current_action", :locals => { current: @current_event1 }
    .pull-right.col-sm-5
      = render partial: "current_action", :locals => { current: @current_event2 }

    = render partial: "pie_cycle"
