= content_for :header do
  .head.pull-left
    %i.fa.fa-calendar
      #{@calendar.title}
    %span.descr
      = @calendar.description
  #calendar_subscriber
    = render partial: 'subscribe', :locals => { subscriber: @subscriber, calendar: @calendar}

.col-sm-6
  %ul.nav.nav-tabs{role: 'tablist'}
    %li.active
      %a{href: '#home', role: 'tab', 'data-toggle' => 'tab'}
        = t('.tab_calendar')
    %li
      %a{href: '#profile', role: 'tab', 'data-toggle' => 'tab'}
        = t('.tab_timeline')
  .tab-content
    #home.tab-pane.fade.in.active
      = render partial: 'calendar'
    #profile.tab-pane.fade
      = render partial: 'timeline'

.col-sm-6.cycle
  .col-sm-12
    .pull-left.col-sm-6
      = render partial: "current_action", :locals => { current: @current_event1 }
    .pull-right.col-sm-6
      = render partial: "current_action", :locals => { current: @current_event2 }

    = render partial: "pie_cycle"

-##profile.profile.blue.not_right.pause{:style => "left: 108px; transform: scale(1.5, 1.5); bottom: 114.16676347423345px; width: 250px;"}
-#  %a{:href => "/profile/ryan-geldard"}
-#    %img.headshot{:src => "/static/media/profiles/headshots/ryan-geldard.jpg.100x100_q85_crop.jpg"}/
-#  .details
-#    .name Ryan Geldard
-#    .job Site Manager
