= content_for :header do
  .head
    %i.fa.fa-calendar
    #{@calendar.title}
    %span.descr
      = @calendar.description

  #calendar_subscriber.col-xs-3.pull-right
    = render :partial => 'subscribe', :locals => { subscriber: @subscriber, calendar: @calendar}


= content_for :top do
  .timeline
    = render :partial => '/widgets/calendar/timelinejs', :locals => { calendar: @calendar }
    = render partial: 'widgets/visify/embed_code', :locals => { data_width: "100%", data_height: "400px", data_name: "timelinejs", data_id: "visual" }

.col-sm-6.col-xs-12
  .panel.panel-default
    .panel-body
      #calendars
        %ul.col-sm-12.views.nav.nav-pills.pull-left{role: 'tablist'}
          %li.active
            %a{href: '#calendar_year', role: 'tab', 'data-toggle' => 'tab'}
              = t('.tab_calendar_year')
          %li
            %a{href: '#calendar_month', role: 'tab', 'data-toggle' => 'tab'}
              = t('.tab_calendar_month')

        .tab-content
          #calendar_year.tab-pane.fade.in.active
            = render partial: '/widgets/calendar/pie_cycle', :locals => { calendar: @calendar }
            #embed_pie_cycle
              = render partial: 'widgets/visify/embed_code', :locals => { data_width: "700px", data_height: "700px", data_name: "pie_cycle", data_id: "pie_cycle" }
          #calendar_month.tab-pane.fade
            = render partial: '/widgets/calendar/calendar', :locals => { calendar: @calendar }
            #embed_calendar
              = render partial: 'widgets/visify/embed_code', :locals => { data_width: "1024px", data_height: "700px", data_name: "calendar", data_id: "calendar" }

        .legend
          .pull-left
            = image_tag("calendar/inf-city.png", width: '200px')
          .pull-right
            = image_tag("calendar/inf-people.png", width: '200px')

.col-sm-6.col-xs-12
  .panel.panel-default
    .panel-heading
      Детально про подію
    .panel-body
      #event-details
        = render partial: '/widgets/calendar/event'


.col-xs-12
  %h2
    Важливі події
  .col-sm-4
    .panel.panel-default
      .panel-body
        .pull-left
          = render :partial => '/widgets/calendar/current_event', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(1).first) }
        .col-sm-10
          = render :partial => '/widgets/calendar/current_event_description', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(1).first) }
  .pull-right.col-sm-4
    .panel.panel-default
      .panel-body
        .pull-right
          = render :partial => '/widgets/calendar/current_event', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(2).first) }
        .col-sm-10
          = render :partial => '/widgets/calendar/current_event_description', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(2).first) }
  .col-sm-4
    .panel.panel-default
      .panel-body
        = render :partial => '/widgets/calendar/countdown', :locals => { calendar: @calendar, countdown_event: get_countdown_event(@calendar) }



:javascript

  $(document).ready(function() {

    I18n.locale = window.aHelper.lang();

    var pie_frame_url, calendar_frame_url, frame_url;
    var pie_default_val, calendar_default_val;

    $('.embed').each(function(i, el) {
      name = $(el).attr('data-name')
      width = $(el).attr('data-width')
      height = $(el).attr('data-height')

      path = "#{request.base_url}"
      query = "#{URI.parse(request.url).query}"

      frame_url = path + "/widgets/calendar/"+ name + "/#{@calendar.id}" + '/?' + query
      pie_frame_url = path + "/widgets/calendar/pie_cycle/#{@calendar.id}" + '/?' + query
      calendar_frame_url = path + "/widgets/calendar/calendar/#{@calendar.id}" + '/?' + query
      $(el).find('.iframe_size_select').html("<option value=\"300\">300x300</option>\
                                             <option value=\"500\">500x500</option>\
                                             <option value=\"default\" selected>" + parseInt(width) + "x" + parseInt(height) + "</option>\
                                             <option value=\"other\">" + I18n.t('iframe.size') + "</option>")
      $(el).find('input').val("<iframe width='" + width + "' height='" + height + "' src='" + frame_url + "'></iframe>")
      if(name == 'pie_cycle'){
        pie_default_val = "<iframe width='" + width + "' height='" + height + "' src='" + frame_url + "'></iframe>";
      } else if(name == 'calendar') {
        calendar_default_val = "<iframe width='" + width + "' height='" + height + "' src='" + frame_url + "'></iframe>";
      }
    })

    frame_url = pie_frame_url;

    $('a[href="#calendar_year"]').click(function() {
      frame_url = pie_frame_url;
      $('#embed_pie').find('input').val(pie_default_val);
    })

    $('a[href="#calendar_month"]').click(function() {
      frame_url = calendar_frame_url;
      $('#embed_calendar').find('input').val(calendar_default_val);
    })

  })



  $(document).ready(function() {

    var pie = aCalendarPie()
    pie.init_pie( {loadedCallback: calendar_pie_events} )

    $('#event-details').height($('#calendars').height());
    $(window).resize(function() {
      pie.init_pie({loadedCallback: calendar_pie_events})
      $('#event-details').height($('#calendar_pies').height());
    })

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      pie.init_pie({loadedCallback: calendar_pie_events})
    });


    $('#timeline-embed').on("LOADED", function(e) {
      timelineClick()
    })

    $('#timeline-embed').on("UPDATE", function(e) {
      timelineClick()
    })

    function timelineClick() {
        if ($('.marker.active').attr("id") == undefined)
          return

        var marker_id = $('.marker.active').attr("id").split("marker_")[1];

        selectEvent(marker_id)
    }

    function selectEvent(event_id) {
       d3.selectAll("#svg_calendar g path")
        .attr('stroke-width', 0)

       if (event_id == undefined)
        return

       $.get("/calendars/" + "#{@calendar.id}" + "/events/" + event_id);

       $('.events_path').css("fill-opacity", ".6");

       $('#' + event_id)
        .css("fill-opacity", "1")
        .attr('stroke-width', 2)
    }

    function calendar_pie_events() {
      d3.selectAll("#svg_calendar g path")
         .on("click", function(d) {
           selectEvent(d.data.id)

           $('#' + d.data.id)
            .css("fill-opacity", "1")
            .attr('stroke-width', 2)

           $('#marker_' + d.data.id).find(".flag").trigger("click");
         })

         .on("mouseover", function(d) {
           var elem = $('#' + d.data.id)
           if(elem.css("fill-opacity") < 1) {
              elem.css("fill-opacity", "0.9")
           }
         })
         .on("mouseout", function(d) {
            var elem = $('#' + d.data.id)
            if(elem.css("fill-opacity") < 1) {
              elem.css("fill-opacity", "0.6")
            }
         })
    }

  })
