= content_for :header do
  .head
    %i.fa.fa-calendar
    #{@calendar.title}
    %span.descr
      = @calendar.description

  #calendar_subscriber.col-xs-3.pull-right
    = render :partial => 'subscribe', :locals => { subscriber: @subscriber, calendar: @calendar}


= content_for :top do
  .timeline

    = render :partial => '/widgets/calendar/timelinejs', :locals => { calendar: @calendar }
    #embed_code_timeline.embed_code
      = render partial: 'widgets/visify/embed_code'

.col-sm-6.col-xs-12
  .panel.panel-default
    .panel-body
      #calendars
        %ul.col-sm-12.views.nav.nav-pills.pull-left{role: 'tablist'}
          %li.active
            %a{href: '#calendar_year', role: 'tab', 'data-toggle' => 'tab', 'data-content' => 'pie_cycle'}
              = t('.tab_calendar_year')
          %li
            %a{href: '#calendar_month', role: 'tab', 'data-toggle' => 'tab', 'data-content' => 'calendar'}
              = t('.tab_calendar_month')
        .clear
        .tab-content
          #calendar_year.tab-pane.fade.in.active
            = render partial: '/widgets/calendar/pie_cycle', :locals => { calendar: @calendar }
            .pull-right
              = render partial: 'layouts/export_img', :locals => { container: '#calendar_year' }
          #calendar_month.tab-pane.fade
            = render partial: '/widgets/calendar/calendar', :locals => { calendar: @calendar }

        .legend
          .pull-left
            = image_tag("calendar/inf-city.png", width: '200px')
          .pull-right
            = image_tag("calendar/inf-people.png", width: '200px')

  #embed_code_calendar.embed_code
    = render partial: 'widgets/visify/embed_code'

.col-sm-6.col-xs-12
  .panel.panel-default
    .panel-heading
      Детально про подію
    .panel-body
      #event-details
        = render partial: '/widgets/calendar/event'

.col-xs-12
  %h2
    Важливі події
  .col-sm-4
    .panel.panel-default
      .panel-body
        .pull-left
          = render :partial => '/widgets/calendar/current_event', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(1).first) }
        .col-sm-10
          = render :partial => '/widgets/calendar/current_event_description', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(1).first) }
  .pull-right.col-sm-4
    .panel.panel-default
      .panel-body
        .pull-right
          = render :partial => '/widgets/calendar/current_event', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(2).first) }
        .col-sm-10
          = render :partial => '/widgets/calendar/current_event_description', :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(2).first) }
  .col-sm-4
    .panel.panel-default
      .panel-body
        = render :partial => '/widgets/calendar/countdown', :locals => { calendar: @calendar, countdown_event: get_countdown_event(@calendar) }

:javascript

  $(document).ready(function() {

    // ------------------ EMBED CODE EVENTS ------------------------
    var calendar = "#{@calendar.id}"

    var embed_code_timeline = aEmbedCode();
    var src = window.location.host + "/widgets/calendar/timelinejs/" + calendar;
    embed_code_timeline.initialize({width: '100%', height: 150, el_id: "#embed_code_timeline", src: src});

    var embed_code_calendar = aEmbedCode();
    var src = window.location.host + "/widgets/calendar/pie_cycle/" + calendar;
    embed_code_calendar.initialize({width: 700, height: 700, el_id: "#embed_code_calendar", src: src});

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      embed_code_calendar.set_iframe(window.location.host + "/widgets/calendar/" + $(this).attr('data-content') + "/" + calendar);
    });

    // ----------------- CALENDAR PIE EVENTS -----------------------
    var pie = aCalendarPie()
    pie.init_pie( {loadedCallback: calendar_pie_events} )

    $('#event-details').height($('#calendars').height());
    $(window).resize(function() {
      pie.init_pie({loadedCallback: calendar_pie_events})
      $('#event-details').height($('#calendar_pies').height());
    })

    $('a[role="tab"]').on('shown.bs.tab', function (e) {
      pie.init_pie({loadedCallback: calendar_pie_events})
    });


    $('#timeline-embed').on("LOADED", function(e) {
      timelineClick()
    })

    $('#timeline-embed').on("UPDATE", function(e) {
      timelineClick()
    })

    function timelineClick() {
        if ($('.marker.active').attr("id") == undefined)
          return

        var marker_id = $('.marker.active').attr("id").split("marker_")[1];
        selectEvent(marker_id)
    }

    function selectEvent(event_id) {
       d3.selectAll("#svg_calendar g path")
        .attr('stroke-width', 0)

       if (event_id == undefined)
        return
        console.log(event_id);
       $.get("/calendars/calendars/" + "#{@calendar.id}" + "/events/" + event_id);

       $('.events_path').css("fill-opacity", ".6");

       $('#' + event_id)
        .css("fill-opacity", "1")
        .attr('stroke-width', 2)
    }

    function calendar_pie_events() {
      d3.selectAll("#svg_calendar g path")
         .on("click", function(d) {
           selectEvent(d.data.id)

           $('#' + d.data.id)
            .css("fill-opacity", "1")
            .attr('stroke-width', 2)

           $('#marker_' + d.data.id).find(".flag").trigger("click");
         })

         .on("mouseover", function(d) {
           var elem = $('#' + d.data.id)
           if(elem.css("fill-opacity") < 1) {
              elem.css("fill-opacity", "0.9")
           }
         })
         .on("mouseout", function(d) {
            var elem = $('#' + d.data.id)
            if(elem.css("fill-opacity") < 1) {
              elem.css("fill-opacity", "0.6")
            }
         })
    }

  })
