= content_for :header do
  .head.pull-left
    %i.fa.fa-calendar
      #{@calendar.title}
    %span.descr
      = @calendar.description
  #calendar_subscriber
    = render partial: 'subscribe', :locals => { subscriber: @subscriber, calendar: @calendar}

= render partial: 'timelinejs'


.col-lg-3.col-md-6.col-sm-12.pull-left
  = render partial: 'countdown'
  = render partial: "current_action", :locals => { current: @current_event1 }
  = render partial: "current_action", :locals => { current: @current_event2 }

.col-lg-3.col-md-6.col-sm-12.pull-right
  %h3
    ssss



.col-lg-6.col-md-12.col-sm-12
  %ul.nav.nav-tabs{role: 'tablist'}
    %li.active
      %a{href: '#calendar_year', role: 'tab', 'data-toggle' => 'tab'}
        = t('.tab_calendar_year')
    %li
      %a{href: '#calendar_month', role: 'tab', 'data-toggle' => 'tab'}
        = t('.tab_calendar_month')
    .tab-content
      #calendar_year.tab-pane.fade.in.active
        = render partial: 'pie_cycle'
      #calendar_month.tab-pane.fade
        = render partial: 'calendar'


-#= render partial: 'timeline'

-##profile.profile.blue.not_right.pause{:style => "left: 108px; transform: scale(1.5, 1.5); bottom: 114.16676347423345px; width: 250px;"}
-#  %a{:href => "/profile/ryan-geldard"}
-#    %img.headshot{:src => "/static/media/profiles/headshots/ryan-geldard.jpg.100x100_q85_crop.jpg"}/
-#  .details
-#    .name Ryan Geldard
-#    .job Site Manager

