= content_for :header do
  .head
    %i.fa.fa-calendar
    #{@calendar.title}
    %span.descr
      = @calendar.description

  #calendar_subscriber.col-xs-3.pull-right
    = render :partial => 'subscribe', :locals => { subscriber: @subscriber, calendar: @calendar}


= content_for :top do
  .timeline
    = render :partial => '/widgets/calendar/timelinejs', :locals => { calendar: @calendar }
    %a.link_to_embed_code
      = t('iframe.show_embed_code')
    .embed_hide.embed{ 'data-width' => '100%', 'data-height' => '400px', 'data-name' => 'timelinejs' }
      = render partial: 'embed'
%hr

.left-panel.col-lg-3.col-xs-6.pull-left
  = render :partial => '/widgets/calendar/countdown', :locals => { calendar: @calendar, countdown_event: get_countdown_event(@calendar) }
  = render :partial => "/widgets/calendar/current_event", :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(1).first) }
  = render :partial => "/widgets/calendar/current_event", :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(2).first) }

.right-panel.col-lg-3.col-xs-6.pull-right
  = render partial: '/widgets/calendar/event'


.center.col-lg-6.col-xs-12
  %ul.views.nav.nav-pills.pull-left{role: 'tablist'}
    %li.active
      %a{href: '#calendar_year', role: 'tab', 'data-toggle' => 'tab'}
        = t('.tab_calendar_year')
    %li
      %a{href: '#calendar_month', role: 'tab', 'data-toggle' => 'tab'}
        = t('.tab_calendar_month')

  .tab-content
    #calendar_year.tab-pane.fade.in.active
      = render partial: '/widgets/calendar/pie_cycle', :locals => { calendar: @calendar }
      %a.link_to_embed_code
        = t('iframe.show_embed_code')
      .embed_hide.embed{ 'data-width' => '700px', 'data-height' => '700px', 'data-name' => 'pie_cycle_for_embed' }
        = render partial: 'embed'
    #calendar_month.tab-pane.fade
      = render partial: '/widgets/calendar/calendar', :locals => { calendar: @calendar }
      .embed{ 'data-width' => '1024px', 'data-height' => '700px', 'data-name' => 'calendar' }
        = render partial: 'embed'

  .legend
    .pull-left
      = image_tag("calendar/inf-city.png", width: '200px')
    .pull-right
      = image_tag("calendar/inf-people.png", width: '200px')

.clear
-#= render partial: 'timeline'

-##profile.profile.blue.not_right.pause{:style => "left: 108px; transform: scale(1.5, 1.5); bottom: 114.16676347423345px; width: 250px;"}
-#  %a{:href => "/profile/ryan-geldard"}
-#    %img.headshot{:src => "/static/media/profiles/headshots/ryan-geldard.jpg.100x100_q85_crop.jpg"}/
-#  .details
-#    .name Ryan Geldard
-#    .job Site Manager



:javascript
  $(document).bind('ready page:change', function() {

    var lang = document.location.href.split("locale=")[1];
    if (lang === undefined) {
      I18n.locale = 'uk';
    } else {
      I18n.locale = lang;
    }

    var pie_frame_url;

    $('.embed').each(function(i, el) {
      name = $(el).attr('data-name')
      width = $(el).attr('data-width')
      height = $(el).attr('data-height')

      path = "#{request.base_url}"
      query = "#{URI.parse(request.url).query}"

      frame_url = path + "/widgets/calendar/"+ name + "/#{@calendar.id}" + '/?' + query
      pie_frame_url = path + "/widgets/calendar/pie_cycle_for_embed/#{@calendar.id}" + '/?' + query
      select_frame_size = "<span class=\"embed_label\">" + I18n.t('iframe.select') + "</span>" + "<select class=\"iframe_size_select\">\
                                                             <option value=\"300\">300x300</option>\
                                                             <option value=\"500\">500x500</option>\
                                                             <option value=\"default\" selected>" + parseInt(width) + "x" + parseInt(height) + "</option>\
                                                             <option value=\"other\">" + I18n.t('iframe.size') + "</option>\
                                                     </select>"
      $(el).find('input').val("<iframe width='" + width + "' height='" + height + "' src='" + frame_url + "'></iframe>")

      $(el).each(function(i, sub_el) {
        if(name == 'pie_cycle_for_embed') {
          if($(el).find('.iframe_size_select').length == "") {
             $(el).append(select_frame_size);
             $(el).append("<div class=\"iframe_other_size\"></div>");
           }
        }
      })

    })

    $('.iframe_size_select').change(function(e) {
      var option = $(this).find(":selected").val();
      if(option == "other" && $(this).next().text() == "") {
        $(this).next().append("<input autofocus type=\"number\" min=\"100\" max=\"1000\" step=\"1\" name=\"width\" placeholder=\"width\"'></input> X \
                               <input type=\"number\" min=\"100\" max=\"1000\" step=\"1\" name=\"height\" placeholder=\"height\"'></input> px");
      } else if (option != "other") {
        $(this).next().html("");
        $(this).parents('div').find('.embed').find('input').val("<iframe width='" + option + "' height='" + option + "' src='" + pie_frame_url + "'></iframe>");
      }
    })

    // function to dynamically fill the embed code with new width and height
    $('.iframe_other_size').on('focusout', 'input', function(event){
        var curr_value = $(this).val();
        var sibling_value = $(this).siblings().val();
        if(!$.isNumeric(curr_value)) {
          curr_value = 100;
        } else if(curr_value < 100) {
          curr_value = 100;
        } else if(curr_value > 1000) {
          curr_value = 1000;
        }
        if(sibling_value != "") {
          if(sibling_value < 100) {
             sibling_value = 100;
           } else if(sibling_value > 1000) {
              sibling_value = 1000;
           }
          var width, height;
          if($(this).attr('name') == "width") {
            width = curr_value;
            height = sibling_value;
          } else {
            width = sibling_value;
            height = curr_value;
          }

          $(this).parents('div').find('.embed').find('input').val("<iframe width='" + width + "' height='" + height + "' src='" + pie_frame_url + "'></iframe>");
        }
    });

    // show/hide field with embed code
    $('.link_to_embed_code').click(function(e) {
      e.stopImmediatePropagation();
      if(!$(this).next().hasClass('shown')) {
        $(this).text(I18n.t('iframe.hide_embed_code'));
        $(this).next().addClass('shown');
        $(this).next().slideDown();
      } else {
        $(this).text(I18n.t('iframe.show_embed_code'));
        $(this).next().removeClass('shown');
        $(this).next().slideUp();
      }
    })

  })
