= content_for :header do
  .head
    %i.fa.fa-calendar
    #{@calendar.title}
    %span.descr
      = @calendar.description

  #calendar_subscriber.col-xs-3.pull-right
    = render :partial => 'subscribe', :locals => { subscriber: @subscriber, calendar: @calendar}


= content_for :top do
  .timeline
    = render :partial => '/widgets/calendar/timelinejs', :locals => { calendar: @calendar }
    %a.link_to_embed_code=t('iframe.show_embed_code')
    .embed_hide.embed{ 'data-width' => '100%', 'data-height' => '400px', 'data-name' => 'timelinejs' }
      = render partial: 'embed'
%hr
.row-eq-height
  .left-panel.col-lg-3.col-xs-6.pull-left
    = render :partial => '/widgets/calendar/countdown', :locals => { calendar: @calendar, countdown_event: get_countdown_event(@calendar) }
    = render :partial => "/widgets/calendar/current_event", :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(1).first) }
    = render :partial => "/widgets/calendar/current_event", :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(2).first) }

  .center.col-lg-6.col-xs-12
    %ul.views.nav.nav-pills.pull-left{role: 'tablist'}
      %li.active
        %a{href: '#calendar_year', role: 'tab', 'data-toggle' => 'tab'}
          = t('.tab_calendar_year')
      %li
        %a{href: '#calendar_month', role: 'tab', 'data-toggle' => 'tab'}
          = t('.tab_calendar_month')

    .tab-content
      #calendar_year.tab-pane.fade.in.active
        = render partial: '/widgets/calendar/pie_cycle', :locals => { calendar: @calendar }
        %a.link_to_embed_code=t('iframe.show_embed_code')
        #embed_pie.embed_hide.embed{ 'data-width' => '700px', 'data-height' => '700px', 'data-name' => 'pie_cycle_for_embed' }
          = render partial: 'embed'
          %span.embed_label=t('iframe.select')
          %select.iframe_size_select#pie
          .iframe_other_size
      #calendar_month.tab-pane.fade
        = render partial: '/widgets/calendar/calendar', :locals => { calendar: @calendar }
        %a.link_to_embed_code=t('iframe.show_embed_code')
        #embed_calendar.embed_hide.embed{ 'data-width' => '1024px', 'data-height' => '700px', 'data-name' => 'calendar' }
          = render partial: 'embed'
          %span.embed_label=t('iframe.select')
          %select.iframe_size_select#calendar
          .iframe_other_size

    .legend
      .pull-left
        = image_tag("calendar/inf-city.png", width: '200px')
      .pull-right
        = image_tag("calendar/inf-people.png", width: '200px')

  .right-panel.col-lg-3.col-xs-6.pull-right
    = render partial: '/widgets/calendar/event'

.clear
-#= render partial: 'timeline'

-##profile.profile.blue.not_right.pause{:style => "left: 108px; transform: scale(1.5, 1.5); bottom: 114.16676347423345px; width: 250px;"}
-#  %a{:href => "/profile/ryan-geldard"}
-#    %img.headshot{:src => "/static/media/profiles/headshots/ryan-geldard.jpg.100x100_q85_crop.jpg"}/
-#  .details
-#    .name Ryan Geldard
-#    .job Site Manager



:javascript
  $(document).bind('page:change', function(e) {
    e.stopImmediatePropagation();
    I18n.locale = window.aHelper.lang();

    var pie_frame_url, calendar_frame_url, frame_url;
    var pie_default_val, calendar_default_val;

    $('.embed').each(function(i, el) {
      name = $(el).attr('data-name')
      width = $(el).attr('data-width')
      height = $(el).attr('data-height')

      path = "#{request.base_url}"
      query = "#{URI.parse(request.url).query}"

      frame_url = path + "/widgets/calendar/"+ name + "/#{@calendar.id}" + '/?' + query
      pie_frame_url = path + "/widgets/calendar/pie_cycle_for_embed/#{@calendar.id}" + '/?' + query
      calendar_frame_url = path + "/widgets/calendar/calendar/#{@calendar.id}" + '/?' + query
      $(el).find('.iframe_size_select').html("<option value=\"300\">300x300</option>\
                                             <option value=\"500\">500x500</option>\
                                             <option value=\"default\" selected>" + parseInt(width) + "x" + parseInt(height) + "</option>\
                                             <option value=\"other\">" + I18n.t('iframe.size') + "</option>")
      $(el).find('input').val("<iframe width='" + width + "' height='" + height + "' src='" + frame_url + "'></iframe>")
      if(name == 'pie_cycle_for_embed'){
        pie_default_val = "<iframe width='" + width + "' height='" + height + "' src='" + frame_url + "'></iframe>";
      } else if(name == 'calendar') {
        calendar_default_val = "<iframe width='" + width + "' height='" + height + "' src='" + frame_url + "'></iframe>";
      }
    })

    frame_url = pie_frame_url;

    $('a[href="#calendar_year"]').click(function() {
      frame_url = pie_frame_url;
      $('#embed_pie').find('input').val(pie_default_val);
    })

    $('a[href="#calendar_month"]').click(function() {
      frame_url = calendar_frame_url;
      $('#embed_calendar').find('input').val(calendar_default_val);
    })

  })
