= content_for :header do
  .head
    %i.fa.fa-calendar
    #{@calendar.title}
    %span.descr
      = @calendar.description

  #calendar_subscriber.col-xs-3.pull-right
    = render :partial => 'subscribe', :locals => { subscriber: @subscriber, calendar: @calendar}


= content_for :top do
  = render :partial => '/widgets/calendar/timelinejs', :locals => { calendar: @calendar }

.left-panel.col-lg-3.col-xs-6.pull-left
  = render :partial => '/widgets/calendar/countdown', :locals => { calendar: @calendar, countdown_event: get_countdown_event(@calendar) }
  = render :partial => "/widgets/calendar/current_event", :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(1).first) }
  = render :partial => "/widgets/calendar/current_event", :locals => { calendar: @calendar, current: get_current_event(@calendar.events.current_event(2).first) }

.right-panel.col-lg-3.col-xs-6.pull-right
  = render partial: 'event'


.center.col-lg-6.col-xs-12
  %ul.views.nav.nav-pills.pull-left{role: 'tablist'}
    %li.active
      %a{href: '#calendar_year', role: 'tab', 'data-toggle' => 'tab'}
        = t('.tab_calendar_year')
    %li
      %a{href: '#calendar_month', role: 'tab', 'data-toggle' => 'tab'}
        = t('.tab_calendar_month')

  .tab-content
    #calendar_year.tab-pane.fade.in.active
      = render partial: '/widgets/calendar/pie_cycle', :locals => { calendar: @calendar }
    #calendar_month.tab-pane.fade
      = render partial: '/widgets/calendar/calendar', :locals => { calendar: @calendar }

  .legend
    .pull-left
      = image_tag("calendar/inf-city.png", width: '200px')
    .pull-right
      = image_tag("calendar/inf-people.png", width: '200px')

.clear
-#= render partial: 'timeline'

-##profile.profile.blue.not_right.pause{:style => "left: 108px; transform: scale(1.5, 1.5); bottom: 114.16676347423345px; width: 250px;"}
-#  %a{:href => "/profile/ryan-geldard"}
-#    %img.headshot{:src => "/static/media/profiles/headshots/ryan-geldard.jpg.100x100_q85_crop.jpg"}/
-#  .details
-#    .name Ryan Geldard
-#    .job Site Manager

