= render partial: 'slider'
.row
  .col-sm-3.col-xs-6
    = render partial: 'topic', :locals => { href: '#', img: { src: 'assets/topics/bubble.png', alt: 'Parallax Content Slider with CSS3 and jQuery' } }
  .col-sm-3.col-xs-6
    = render partial: 'topic', :locals => { href: '#', img: { src: 'assets/topics/bubble.png', alt: 'Parallax Content Slider with CSS3 and jQuery' } }
  .col-sm-3.col-xs-6
    = render partial: 'topic', :locals => { href: '#', img: { src: 'assets/topics/bubble.png', alt: 'Parallax Content Slider with CSS3 and jQuery' } }
  .col-sm-3.col-xs-6
    = render partial: 'topic', :locals => { href: '#', img: { src: 'assets/topics/bubble.png', alt: 'Parallax Content Slider with CSS3 and jQuery' } }


:javascript
  $(document).ready(function() {
  });
