= render partial: 'slider'

.row
  .col-sm-3.col-xs-6
    = render partial: 'topic', :locals => { href: '#', img: { src: 'assets/topics/bubble.png', alt: 'Parallax Content Slider with CSS3 and jQuery' } }
  .col-sm-3.col-xs-6
    = render partial: 'topic', :locals => { href: '#', img: { src: 'assets/topics/bubble.png', alt: 'Parallax Content Slider with CSS3 and jQuery' } }
  .col-sm-3.col-xs-6
    = render partial: 'topic', :locals => { href: '#', img: { src: 'assets/topics/bubble.png', alt: 'Parallax Content Slider with CSS3 and jQuery' } }
  .col-sm-3.col-xs-6
    = render partial: 'topic', :locals => { href: '#', img: { src: 'assets/topics/bubble.png', alt: 'Parallax Content Slider with CSS3 and jQuery' } }

= render partial: 'tabs'


%h1
  Calendar
%iframe{ src:'http://tympanus.net/Development/Calendario/index1.html', width: '100%', height: '600px' }

%h1
  News
%iframe{ src:'http://tympanus.net/Blueprints/VerticalTimeline/', width: '100%', height: '100%' }