= render partial: 'slider'


.row
  .col-sm-3
    = render partial: 'topic', :locals => { href: '/taxonomies/552fc2916b61736763000000?locale=uk', img: { src: 'assets/topics/bubble.png', alt: '' }, title: 'Візуалізація бюджету', description: 'детальний опис' }
  .col-sm-3
    = render partial: 'topic', :locals => { href: '/public/calendar/559546726b61730717180000', img: { src: 'assets/topics/bubble.png', alt: '' }, title: 'Бюджетний календар', description: 'детальний опис' }
  .col-sm-3
    = render partial: 'topic', :locals => { href: '/documentation/documents?locale=uk', img: { src: 'assets/topics/bubble.png', alt: '' }, title: 'Документація', description: 'детальний опис' }
  .col-sm-3
    = render partial: 'topic', :locals => { href: '/repairing/map?locale=uk', img: { src: 'assets/topics/bubble.png', alt: '' }, title: ' Карта ремонтних робіт', description: 'детальний опис' }

= render partial: 'tabs'

%h1
  Calendar
%iframe{ src:'http://tympanus.net/Development/Calendario/index.html', width: '100%', height: '600px' }

%h1
  News
%iframe{ src:'http://tympanus.net/Blueprints/VerticalTimeline/', width: '100%', height: '1000px' }
