%button#export.btn.btn-primary
  %i.fa.fa-file-image-o
  -#= t('export')

-# include js for redraw svg for export
= javascript_include_tag "http://gabelerner.github.io/canvg/rgbcolor.js"
= javascript_include_tag "http://gabelerner.github.io/canvg/StackBlur.js"
= javascript_include_tag "http://gabelerner.github.io/canvg/canvg.js"
= javascript_include_tag "html2canvas/html2canvas.js"
= javascript_include_tag "html2canvas/html2canvas.svg.js"
= javascript_include_tag 'redrawSvg'
-# end include

:javascript

  $(document).ready(function() {

      $('#export').on('click', function() {
        redrawSvg("#{container}");

        html2canvas($("#{container}"), {
          //logging: true,
          background :'#FFFFFF',
          onrendered: function(canvas) {
            //document.body.appendChild(canvas);
            var canvasdata = canvas.toDataURL("image/png");

            var theEvent = document.createEvent("MouseEvent");
            theEvent.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            var a = document.createElement("a");
            a.download = "sample.png";
            a.href = canvasdata;
            a.dispatchEvent(theEvent);
          }
        });
        showOriginalSvg();
      })

  });
