:css
  .soc-text, .fa {
    line-height: 1.2em;
  }
  .counter {
    float: left;
  }
  .border-top {
    border-top: 1px solid grey;
    padding-top: 10px;
    margin-top: 10px;
  }
  .copyright {
    text-align: right;
  }
  .clear-pm {
    padding: 0;
    margin: 0;
  }
  .br-red {
    border: 1px solid red;
  }

  .l1 {
    background: url('footer/LOGO_UKR.png');
  }
  .l2 {
    background: url('footer/Euro_Flag.png');
  }
  .l3 {
    background: url('footer/logo.png');
  }
  .l4 {
    background: url('footer/vidrodzhennya.png');
  }
  .l5 {
    background: url('footer/DMFA.png');
  }
  .logo6 {
    background: url('footer/UNDP_logo_UA.png');
  }

  @import url('http://weloveiconfonts.com/api/?family=entypo');

  .wrapper {
  /*padding: 120px 0 0;*/
  text-align: center;
  }

  .social {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    font-family: Entypo;
    font-size: 28px;
    text-align: center;
    color: #555;
    border-radius: 10px;
    background: #eee;
    overflow: hidden;
    cursor: pointer;
  }

  .social {
    /*box-shadow: rgb(210, 210, 210) 1px 1px,*/
      /*rgb(210, 210, 210) 2px 2px,*/
      /*rgb(211, 211, 211) 3px 3px,*/
      /*rgb(211, 211, 211) 4px 4px,*/
      /*rgb(211, 211, 211) 5px 5px,*/
      /*rgb(212, 212, 212) 6px 6px,*/
      /*rgb(212, 212, 212) 7px 7px,*/
      /*rgb(212, 212, 212) 8px 8px,*/
      /*rgb(213, 213, 213) 9px 9px,*/
      /*rgb(213, 213, 213) 10px 10px,*/
      /*rgb(214, 214, 214) 11px 11px,*/
      /*rgb(214, 214, 214) 12px 12px,*/
      /*rgb(214, 214, 214) 13px 13px,*/
      /*rgb(215, 215, 215) 14px 14px,*/
      /*rgb(215, 215, 215) 15px 15px,*/
      /*rgb(215, 215, 215) 16px 16px,*/
      /*rgb(216, 216, 216) 17px 17px,*/
      /*rgb(216, 216, 216) 18px 18px,*/
      /*rgb(216, 216, 216) 19px 19px,*/
      /*rgb(217, 217, 217) 20px 20px,*/
      /*rgb(217, 217, 217) 21px 21px,*/
      /*rgb(218, 218, 218) 22px 22px,*/
      /*rgb(218, 218, 218) 23px 23px,*/
      /*rgb(218, 218, 218) 24px 24px,*/
      /*rgb(219, 219, 219) 25px 25px,*/
      /*rgb(219, 219, 219) 26px 26px,*/
      /*rgb(219, 219, 219) 27px 27px,*/
      /*rgb(220, 220, 220) 28px 28px,*/
      /*rgb(220, 220, 220) 29px 29px,*/
      /*rgb(221, 221, 221) 30px 30px;*/
      /*text-shadow: rgb(226, 226, 226) 1px 1px,*/
        /*rgb(227, 227, 227) 2px 2px,*/
        /*rgb(227, 227, 227) 3px 3px,*/
        /*rgb(228, 228, 228) 4px 4px,*/
        /*rgb(229, 229, 229) 5px 5px,*/
        /*rgb(229, 229, 229) 6px 6px,*/
        /*rgb(230, 230, 230) 7px 7px,*/
        /*rgb(230, 230, 230) 8px 8px,*/
        /*rgb(231, 231, 231) 9px 9px,*/
        /*rgb(232, 232, 232) 10px 10px,*/
        /*rgb(232, 232, 232) 11px 11px,*/
        /*rgb(233, 233, 233) 12px 12px,*/
        /*rgb(233, 233, 233) 13px 13px,*/
        /*rgb(234, 234, 234) 14px 14px,*/
        /*rgb(235, 235, 235) 15px 15px,*/
        /*rgb(235, 235, 235) 16px 16px,*/
        /*rgb(236, 236, 236) 17px 17px,*/
        /*rgb(236, 236, 236) 18px 18px,*/
        /*rgb(237, 237, 237) 19px 19px,*/
        /*rgb(238, 238, 238) 20px 20px;*/
    }
  .soc-icon, .soc {
    border-right: 1px solid rgb(204,204,204);
  }

  @media(min-width: 320px) and (max-width: 767px){
    .soc-icon, .soc {
      border-right: none;
    }
  }
  @media(min-width: 768px) and (max-width: 991px){
    .soc-icon, .soc {
      border-right: none;
    }
  }
  @media(min-width: 992px) and (max-width: 1199px){
    .social {
      margin:0 5px;
    }
  }
  @media(min-width: 1200px) and (max-width: 1349px){
    .social {
      margin:0 5px;
    }
  }
  @media(min-width: 1350px) and (max-width: 1579px){
    .social {
      margin:0 2px;
    }
    .soc, .soc-icon {
      height: 100px;
      margin-bottom: 10px;
    }
    .soc-icon {
      width: 27%;
    }
  }
  @media(min-width: 1580px) and (max-width: 1920px){
    .soc, .soc-icon {
      height: 100px;
      margin-bottom: 10px;
    }
    .soc-icon {
      width: 27%;
    }
  }
.afooter.col-xs-12.col-md-12.col-lg-12
  .soc.col-xs-12.col-md-6.col-lg-6
    .soc-icon.col-xs-12.col-md-4.col-lg-4
      .wrapper
        .social
          %i.fa.fa-twitter
        .social
          %i.fa.fa-google-plus
        .social
          %i.fa.fa-facebook
        .social
          %i.fa.fa-vk
    .soc-text.col-xs-12.col-md-8.col-lg-8
      Портал
      %i
        Відкритий бюджет
      створено
      %span{'xmlns:cc' => 'http://creativecommons.org/ns#', 'property' => 'cc:attributionName'}
        Центром політичних студій та аналітики за за участі Представництва Європейського Союзу в Україні, Міжнародного фонду "Відродження" і Програми розвитку ООН в Україні за
      %a{'rel' => 'license', 'href' => 'http://creativecommons.org/licenses/by-nc-sa/4.0/'}
        ліцензією Creative Commons Із зазначенням авторства - Некомерційна - Розповсюдження на тих самих умовах 4.0 Міжнародна

  .logos.col-xs-12.col-md-6.col-lg-6
    = link_to '', 'http://cpsa.org.ua/napryam/byudzhetna-polityka/', :target => '_blank', class: 'logo1'
    = link_to '', 'http://eeas.europa.eu/delegations/ukraine/', :target => '_blank', class: 'logo2'
    = link_to '', 'http://www.internews.org/global-issues/center-innovation-and-learning', :target => '_blank', class: 'logo3'
    = link_to '', 'http://www.irf.ua/', :target => '_blank', class: 'logo4'
    = link_to '', 'http://um.dk/en', :target => '_blank', class: 'logo5'
    = link_to '', 'http://www.ua.undp.org/', :target => '_blank', class: 'logo6'
  .col-xs-12.soc-text.border-top
    .col-xs-12.col-md-1.col-lg-1
      %a{ 'rel' => 'license', 'href' => 'http://creativecommons.org/licenses/by-nc-sa/4.0/'}
        %img{'alt' => "Ліцензія Creative Commons", 'style' => 'border-width: 0', 'src' => 'https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png'}

      %span{'xmlns:dct' => 'http://purl.org/dc/terms/', 'href' => 'http://purl.org/dc/dcmitype/InteractiveResource', 'property' => 'dct:title', 'rel' => 'dct:type'}
    .col-xs-12.col-md-11.col-lg-11
      .col-xs-12.col-md-6.col-lg-6.clear-pm
        Засновано на коді з
        %a{'xmlns:dct' => 'http://purl.org/dc/terms/', 'href' => 'https://github.com/kavaleriy/budget', 'rel' => 'dct:source'}
          %i.fa.fa-github
          https://github.com/kavaleriy/budget
        %br
        Права, що виходять за рамки цієї ліцензії доступні за адресою
        %a{'xmlns:cc' => 'http://creativecommons.org/ns#', 'href'=> 'mailto:begemot.valery@gmail.com?subject=openbudget.in.ua%20support', 'rel' => 'cc:morePermissions'}
          Valeriy Kashpruk
      .col-xs-12.col-md-6.col-lg-6.copyright
        © 2015