.navbar.navbar-default.navbar-static-top
  .container-fluid
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    -#.navbar-brand
      -#= t('.brand')


    .navbar-collapse.collapse.navbar-responsive-collapse.navbar-right
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
            %i.fa.fa-bar-chart-o
            = t('visify.budget')
            %span.caret
          %ul.dropdown-menu{'role' => "menu"}
            - get_budget_files.each do |budget_file|
              %li= link_to "#{budget_file.title}", polymorphic_path(budget_file)
            %li.divider
            %li= link_to t('.budget_files'), budget_files_path

            %li.divider

        %li.dropdown
          %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
            %i.fa.fa-calendar
            = t('.calendar')
            %span.caret
          %ul.dropdown-menu{'role' => "menu"}
            - get_calendars.each do |c|
              %li= link_to "#{c.title}", "/public/calendar/#{c.id}"
            %li.divider
            %li= link_to t('.calendars'), calendars_path
            %li= link_to t('.actions'), calendar_actions_path

        %li
          = link_to subscribers_path do
            %i.fa.fa-envelope-o
            = t('.subscribers')
        %li.todo
          %a.dropdown-toggle(data-toggle="dropdown" href="#")
            %i.fa.fa-calendar
            %span.badge.badge-grey 4

          %ul.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-closer
            %li.nav-header
              %i.fa.fa-calendar-o
              4 Активні дії
            %li
              %a(href="#")
                .clearfix
                  %span.pull-left Розгляд ....
                  %span.pull-right 65%
                  .progress.progress-mini
                    .bar(style="width:65%")
            %li
              %a(href="#")
                Показати всі дії
                %i.fa.fa-angle-double-right
        %li.messages
          %a.dropdown-toggle(data-toggle="dropdown" href="#")
            %i.fa.fa-envelope-o
            %span.badge.badge-grey 2

          %ul.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-closer
            %li.nav-header
              %i.fa.fa-calendar-o
              2 Повідомлення
            %li
              %a(href="#")
                .clearfix
                  %span.pull-left Розгляд ....
                  %span.pull-right 65%
                  .progress.progress-mini
                    .bar(style="width:65%")
            %li
              %a(href="#")
                Показати всі
                %i.fa.fa-angle-double-right

    .header
      = yield :header

