.navbar.navbar-default.navbar-static-top
  .container-fluid
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-brand
      = t('.brand')
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav

        %li.dropdown
          %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
            %i.fa.fa-money
              = t('visify.budget')
              %span.caret
          %ul.dropdown-menu{'role' => "menu"}
            - Revenue.each do |revenue|
              %li= link_to "#{revenue.title}", revenue_path(revenue)


            -#%li= link_to t('visify.sunburst.title'), visify_sunburst_path
            -#%li= link_to t('visify.sunburst_seq.title'), visify_sunburst_seq_path
            -#%li= link_to t('visify.bubbletree.title'), visify_bubbletree_path
            -#%li= link_to t('visify.bubblechart.title'), visify_bubblechart_path
            -#%li= link_to t('visify.circle_packing.title'), visify_circle_packing_path
            -#%li= link_to t('visify.treemap.title'), visify_treemap_path
            -#%li= link_to t('visify.force_collapsible.title'), visify_force_collapsible_path
            %li.divider
            %li= link_to t('.revenue_files'), revenues_path

        %li.dropdown
          %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
            %i.fa.fa-calendar
              = t('.calendar')
              %span.caret
          %ul.dropdown-menu{'role' => "menu"}
            - Calendar.each do |c|
              %li= link_to "#{c.title}", "/public/calendar/#{c.id}"
            %li.divider
            %li= link_to t('.calendars'), calendars_path
            %li= link_to t('.actions'), calendar_actions_path



      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to subscribers_path do
            %i.fa.fa-envelope-o
              = t('.subscribers')
        %li.todo
          %a.dropdown-toggle(data-toggle="dropdown" href="#")
            %i.fa.fa-calendar
            %span.badge.badge-grey 4

          %ul.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-closer
            %li.nav-header
              %i.fa.fa-calendar-o
              4 Активні дії
            %li
              %a(href="#")
                .clearfix
                  %span.pull-left Розгляд ....
                  %span.pull-right 65%
                  .progress.progress-mini
                    .bar(style="width:65%")
            %li
              %a(href="#")
                Показати всі дії
                %i.fa.fa-angle-double-right
        %li.messages
          %a.dropdown-toggle(data-toggle="dropdown" href="#")
            %i.fa.fa-envelope-o
            %span.badge.badge-grey 2

          %ul.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-closer
            %li.nav-header
              %i.fa.fa-calendar-o
              2 Повідомлення
            %li
              %a(href="#")
                .clearfix
                  %span.pull-left Розгляд ....
                  %span.pull-right 65%
                  .progress.progress-mini
                    .bar(style="width:65%")
            %li
              %a(href="#")
                Показати всі
                %i.fa.fa-angle-double-right
