.navbar.navbar-default.navbar-static-top
  .container-fluid

    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    -#.navbar-brand
      -#= t('.brand')


    .navbar-collapse.collapse.navbar-responsive-collapse.navbar-right
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
            %i.fa.fa-bar-chart-o
            = t('.budget')
            %span.caret
          %ul.dropdown-menu{'role' => "menu"}
            - Taxonomy.visible_to(current_user).each do |taxonomy|
              %li= link_to "#{taxonomy.title}, #{taxonomy.owner}", taxonomy_path(taxonomy)

            %li.divider
            %li= link_to t('.taxonomies'), taxonomies_path
            %li= link_to t('.budget_files'), budget_files_path

            %li.divider
            %li= link_to t('.sankey'), "/sankeys"

            %li.divider
            %li= link_to t('.townmarks'), "/vtarnay/module5s"


            %li.divider

            %li
              = link_to static_budget_file_help_path do
                %i.fa.fa-info-circle
                  =t('static.budget_file_help.help')

        %li.dropdown
          %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
            %i.fa.fa-calendar
            = t('.calendar')
            %span.caret
          %ul.dropdown-menu{'role' => "menu"}
            - get_calendars.each do |c|
              %li= link_to "#{c.title}", "/public/calendar/#{c.id}", "data-no-turbolink" => true
            %li.divider
            %li= link_to t('.calendars'), calendars_calendars_path
            %li= link_to t('.actions'), calendar_actions_path

        %li.dropdown
          %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
            %i.fa.fa-file-text-o
            = t('.documentation')
            %span.caret
          %ul.dropdown-menu{'role' => "menu"}
            %li= link_to t('.documentation_files'), documentation_documents_path
            %li.divider
            %li= link_to t('.documentation_categories'), documentation_categories_path

        .lang.pull-right
          - if I18n.locale == I18n.default_locale
            %b Укр
            |
            = link_to "En", :locale=>'en'
          - else
            = link_to "Укр", :locale=>'uk'
            |
            %b En

        %li.dropdown
          - if current_user
            %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
              %i.fa.fa-user.fa-fw
              = current_user.name
              %span.caret
            %ul.dropdown-menu{'role' => "menu"}
              %li= link_to t('.edit_profile'), edit_user_registration_path
              %li.divider
              %li= link_to t('.logout'), destroy_user_session_path, method: :delete
          - else
            = link_to new_user_session_path do
              %i.fa.fa-key
              = t('.login')

        - if current_user && current_user.has_role?(:admin)
          %li.dropdown
            %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
              %i.fa.fa-users
              = t('.admin')
              %span.caret
            %ul.dropdown-menu{'role' => "menu"}
              %li= link_to t('.users'), users_path
              %li.divider
              %li= link_to t('town'), towns_path
              %li.divider
              %li= link_to t('.subscribers'), subscribers_path


        -#%li.todo
        -#  %a.dropdown-toggle(data-toggle="dropdown" href="#")
        -#    %i.fa.fa-calendar
        -#    %span.badge.badge-grey
        -#      4
        -#
        -#  %ul.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-closer
        -#    %li.nav-header
        -#      %i.fa.fa-calendar-o
        -#      4 Активні дії
        -#    %li
        -#      %a(href="#")
        -#        .clearfix
        -#          %span.pull-left Розгляд ....
        -#          %span.pull-right 65%
        -#          .progress.progress-mini
        -#            .bar(style="width:65%")
        -#    %li
        -#      %a(href="#")
        -#        Показати всі дії
        -#        %i.fa.fa-angle-double-right
        -#%li.messages
        -#  %a.dropdown-toggle(data-toggle="dropdown" href="#")
        -#    %i.fa.fa-envelope-o
        -#    %span.badge.badge-grey 2
        -#
        -#  %ul.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-closer
        -#    %li.nav-header
        -#      %i.fa.fa-calendar-o
        -#      2 Повідомлення
        -#    %li
        -#      %a(href="#")
        -#        .clearfix
        -#          %span.pull-left Розгляд ....
        -#          %span.pull-right 65%
        -#          .progress.progress-mini
        -#            .bar(style="width:65%")
        -#    %li
        -#      %a(href="#")
        -#        Показати всі
        -#        %i.fa.fa-angle-double-right

    .header
      = yield :header
