:scss
  #xls_error{
    color: red;
    min-height: 20px;
  }
  .panel-body{
    border: 1px solid grey;
  }

.modal.fade{:role => "dialog", :tabindex => "-1",id:'xls_modal'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title= t('xls.edit_header')
      .modal-body
        .panel-default
          .panel-body
            = form_tag(edit_by_xls_path,method: 'post',multipart: true,id: 'xls_edit_form') do
              .form-group
                = label_tag(:xls,t('xls.add_file'),class: 'form-control')
                = file_field_tag(:xls)
                #xls_error
                = submit_tag(t('xls.edit_button'),class: 'btn btn-primary')
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

:javascript
  $(document).ready(function(){
    $("#xls_edit_form").submit(function(event){
      var error_div = $('#xls_error');
      var file_value = $('#xls').val();
      if (file_value){
        var ext = file_value.match(/\.(.+)$/)[1];
        if (ext !== 'xls'){
          error_div.html('Invalid extension');
          return false;
        }
        else {
            error_div.html('');
        }
      }
      else{
        error_div.html('Please choose file');
        return false;
      }
    });

  });