!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    -# Faceboot Open Graph tags
    %meta(property="fb:admins" content="1381405023")
    %meta(property="og:title" content="Відкритий бюджет")
    %meta(property="og:site_name" content="Візуалізація бюджету")
    %meta(property="og:url" content="http://openbudget.in.ua")
    %meta(property="og:description" content="Візуалізація доходів і видатків місцевих бюджетів, бюджетного процесу і показників діяльності міст України")
    %meta(property="article:author" content="https://www.facebook.com/begemot.lery")
    %meta(property="article:publisher" content="https://www.facebook.com/vladimir.tarnay")
    %meta(property="og:image" content="assets/og-image.png")

    %title= content_for?(:title) ? yield(:title) : t('layouts.application.application_title')
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      -#= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic-ext"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'assets/favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'

    = yield :head

%body
  = render :partial => 'layouts/navbar'
  -#= yield :top

  .bootstrap_flash
    = bootstrap_flash

  .container-fluid
    .main.row-fluid
      = yield

  .clear

    -#Render footer block from view/layouts
  = render :partial => 'layouts/footer'

  = render partial: 'layouts/embeded_code_modal_window'

:javascript
  $(document).ready(function() {
    // Google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56923551-1', 'auto');
    ga('send', 'pageview');
  })
