:scss

  .popover {
    width: 700px;
  }

  .popover-title {
    font-weight: bold;
  }

  .embed_code {
    display: inline;
  }

  .form-horizontal {
    margin: 10px;
  }

  .form-horizontal table {
    width: 100%;
  }

  .form-horizontal table tr {
    width: 100%;
    margin-bottom: 10px;
  }

  .form-horizontal table tr td:nth-child(1) {
    width: 20%;
  }

  .form-horizontal table tr td:nth-child(2) {
    width: 80%;
  }

  .form-group label {
    position: relative;
    font-weight: normal;
    top: 0;
    right: 0;
    width: 20%;
  }

  .form-group select {
    display: inline-block;
    width: 70%;
  }

  input[type="number"] {
     width:60px;
  }
  button.btn-embed{
    border: none;
    color: white;
    background: #0c2231;
    padding: 0px 10px;
    &:focus {
      outline: none;
    }
  }

.embed_btn
  %button.btn-embed{"data-toggle" => "popover"}
    %i.fa.fa-code
    = t('modules.classifier.embeded_btn.get_code')

.embed-hide{'style' => 'display: none;'}
  .form-horizontal.town-data{ data: { town_id: "#{@current_user_town[:id] unless @current_user_town.nil?}",
                                      town_title: "#{@current_user_town[:title] unless @current_user_town.nil?}"} }
    .form-group
      %input.frame_url.form-control
    .form-group
      = text_field_tag 'town_select', ''
    .form-group
      %label
        = t('datetime.prompts.year')
      -# ad hoc: set last_date with js (views/repairing/maps/_map.html.haml)
      = text_field_tag 'year_select', ''
    .form-group
      %label
        = t('.scale')
      = select_tag 'zoom_select', options_for_select((6..14).to_a, 10), :class => 'form-control'

.clear

