:scss
  .new_info_panel{
    min-width: 220px;
    .header{
      padding: 3px 5px 0 5px;
      background: #7D94A4;
      color: #ffffff;
      vertical-align: bottom;
      .amount{
        float:left;
        //text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        //text-transform: lowercase; // for pluralize
      }
      .start_date{
        padding-right: 15px;
        float: right;
        font-weight: 600;
        font-size: 1.7rem;
      }
    }
    .title_repair{
      padding: 1rem 1.2rem;
      font-size: 1.3rem;
      line-height: 1.2;
      color: #0c2231;

    }
    .more-text{
        font-weight: bold;
        float: right;
        color: #ffffff;
        cursor: pointer;
        background-color: #7D94A4;
        padding: 4px 8px;
        border: 1px solid white;
        &:hover,
        &:focus{
          color: #7D94A4;
          background-color: white;
          border-color: #7D94A4;
        }
      }
  }
.new_info_panel
  .header.clearfix
    .amount
      = "₴"
      = number_to_human(@repair.amount)
    .start_date
      = @repair.repair_start_date
  .title_repair
    = @repair.subject.blank? ? @repair.work : @repair.subject
  .more-text
    =t('.more')
-#.row
  .info_panel
    .info_header
      %strong="#{@repair.subject.blank? ? @repair.work : @repair.subject}"
    %hr.heroviy
    .info_text
      .row
        .text_title.col-xs-4
          %strong= get_address_title
        .text_desc.col-xs-8
          =@repair.address
      - unless @repair.subject.blank?
        .row
          .text_title.col-xs-4
            %strong="#{t('repairing.maps.info_popup.info_works')} :"
          .text_desc.col-xs-8
            = @repair.work
      - unless @repair.spending_units.blank?
        .row
          .text_title.col-xs-4
            %strong="#{t('repairing.maps.info_popup.info_spending_units')} :"
          .text_desc.col-xs-8
            = @repair.spending_units
      - unless @repair.obj_owner.blank?
        .row
          .text_title.col-xs-4
            %strong="#{t('repairing.maps.info_popup.info_performer')} :"
          .text_desc.col-xs-8
            =@repair.obj_owner
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.info_price')} :"
        .text_desc.col-xs-8
          ="#{number_to_currency(@repair.amount)}"
