:scss
  .info_panel{
    min-width: 320px;
    //border: 1px solid blue;
    border-radius: 3px;
    .info_header{
      min-height: 25px;
      border-radius: 2px;
      //background-color: #182A70;
      color: #182A70;
      padding-top: 7px;
      text-align: center;

    }
    .heroviy{
      margin: 5px 0 0 0;
      border-color: #182A70;
      }
    .info_text{
      padding: 10px;
      .text_title{
        padding-right: 2px;
        margin-top: 7px;
      }
      .text_desc{
        margin-top: 7px;
      }

    }
  }
.row
  .info_panel
    .info_header
      %strong=@repair.subject
    %hr.heroviy
    .info_text
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.info_adress')} :"
        .text_desc.col-xs-8
          =@repair.address
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.info_works')} :"
        .text_desc.col-xs-8
          = @repair.get_repairing_category_title.capitalize
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.info_performer')} :"
        .text_desc.col-xs-8
          =@repair.obj_owner
      .row
        .text_title.col-xs-4
          %strong="#{t('repairing.maps.info_popup.info_price')} :"
        .text_desc.col-xs-8
          ="#{@repair.amount} #{t('repairing.maps.info_popup.info_currency')}"