= bootstrap_form_tag url: repairing_map_repairs_path(map.id), remote: true do |f|

  .col-sm-3
    = text_field_tag :title
    = text_field_tag :amount
    = text_field_tag :coordinates, multiple: true
    = text_field_tag :geom_type, "#{repair[:geom_type]}"

  .col-sm-3
    = text_field_tag :koatuu
    = text_field_tag :district
    = text_field_tag :street

  .col-sm-6
    = text_area_tag :description, :rows => "8"

  .clear
  = submit_tag 'Save', :class => 'btn btn-primary'
