:css
  .map_container {
    height: 750px;
  }

= render 'form'


%p#notice= notice

= content_for :header do
  .head
    %i.fa.fa-map
    = "#{@repairing_map.town}, #{@repairing_map.title}"

  .col-xs-6.pull-right
    = render partial: 'search', :locals => { map: @repairing_map }


.map_container.col-xs-9
  = render partial: 'map'
.col-xs-3
  .panel.panel-default
    .panel-heading
      Вибрано на карті
    .panel-body
      #repair

.clear

%hr


= link_to 'Show', @repairing_map
\|
= link_to 'Back', repairing_maps_path



:javascript

  $(document).ready(function() {

    var _removedFeature
    var _selectedFeature

    options = {
      clickCallback: function(feature, target) {
        selectFeature(feature, target)
      },

      dragCallback: function(layer, ll) {
        $.ajax({
          method: 'PUT',
          url: '#{repairing_map_repair_path(@repairing_map.id, "%id%")}'.replace("%id%", layer.feature.properties.id),
          dataType: 'json',
          cache: false,
          data: {
            repairing_repair: {
              coordinates: [ll.lat, ll.lng]
            }
          }
        })
        .fail(function () {
          alert('Не вдалось зберегти дані')
        })
      },

      mapClickCallback: function(layer, ll) {
        $('#repair').html('')
      }
    }


    var aRepairMap = RepairMap(options)

    $.ajax({
      method: 'get',
      url: '#{geo_json_repairing_map_path(@repairing_map)}',
      dataType: 'json',
    })
    .done(function (data) {
      aRepairMap.addGeoJson(data)
    })
    .fail(function () {
      console.log('fail geojson')
    });


    $('.search_map form').bind("ajax:success", function(f, data){
      if (data.features) {
        selectFeature(data.features[0])
      } else {
        aRepairMap.addGeoJson(data)
      }
    });


    function selectFeature(feature, target) {
      $('#repair').html('');

      if (_removedFeature) {
        url = '#{repairing_map_repair_path(@repairing_map.id, "%id%")}'.replace("%id%", _removedFeature.properties.id)
        _removedFeature = undefined

        $.ajax({
          method: 'GET',
          cache: false,
          url: url,
        }).done(function (data) {
          aRepairMap.addGeoJson(data)
        })
      }

      _selectedFeature = feature
      if (_selectedFeature) {
        $.ajax({
          method: 'GET',
          cache: false,
          url: '#{edit_repairing_map_repair_path(@repairing_map.id, "%id%")}'.replace("%id%", _selectedFeature.properties.id),
        })
        .fail(function () {
          console.log('click fail')
        })

        if (_selectedFeature.geometry.type == "LineString") {
          if (target) {
            _removedFeature = target.feature
            aRepairMap.map.removeLayer(target)
          }

          editRoute()
        }
      }

      function editRoute() {
        var coordinates = _selectedFeature.geometry.coordinates

        var waypoints = []
        waypoints.push({ latLng: L.latLng(coordinates[0]) });
        waypoints.push({ latLng: L.latLng(coordinates[coordinates.length - 1]) });

        aRepairMap.editRoute(waypoints, routeFoundCallback)

        function routeFoundCallback(route){
          var coordinates = ''
          $.each(route, function(key,val) {
            coordinates += val + ' '
          })

          $.ajax({
            method: 'PUT',
            url: '#{repairing_map_repair_path(@repairing_map.id, "%id%")}'.replace("%id%", _selectedFeature.properties.id),
            dataType: 'json',
            data: {
              repairing_repair: {
                coordinates: coordinates
              }
            }
          })
          .fail(function () {
            alert('Не вдалось зберегти дані')
          })
        }
      }
    }


  });
