%h1 Listing repairing_maps

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Town
      %th
        =t 'form.actions', :default => t("helpers.actions")
  %tbody
    - @repairing_maps.each do |repairing_map|
      %tr
        %td= repairing_map.title
        %td= repairing_map.town
        %td
          = link_to 'Show', repairing_map, :class => 'btn btn-default btn-xs'
          = link_to 'Edit', edit_repairing_map_path(repairing_map), :class => 'btn btn-default btn-xs'
          = link_to 'Destroy', repairing_map, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-xs'

%br

= link_to 'New Map', new_repairing_map_path
