= content_for :header do
  .head.pull-left
    %i.fa.fa-info-circle
    = t('layouts.navbar.repairing_maps_instruction')

%h4
  Загальні відомості
%p
  Модуль "Ремонт" призначений для відображення інформації про ремонтні роботи,
  які проводяться у місті/районі/області. На основі даних із завантажених в систему файлів будується
  інтерактивна карта ремонтів.
%p

%hr

%h4
  Довідник робіт
%p
  = link_to "Довідник робіт", repairing_categories_path
  містить категорії та підкатегорії (види) робіт.
%p
  Кожен файл з ремонтними роботами відповідає певній категорії робіт. Стовбець файлу "Робота" - відповідає підкатегорії (виду) робіт за довідником.

%hr

%h4
  Слої

%p
  В модулі
  = link_to "Слої", repairing_layers_path
  можна завантажити файли: 1 файл = 1 категорія робіт.
%p
  Файл із даними про ремонтні роботи повинен містити наступні стовбці:
  %ul
    %li Балансоутримувач
    %li Адреса
    %li Адреса1 (кінцева адреса: вказується за потреби, якщо це, наприклад, ремонт дороги)
    %li Об'єкт (конкретний об'єкт, на якому проводяться роботи)
    %li
      Робота (вид робіт з
      = link_to "Довідника робіт", repairing_categories_path
      )
    %li Вартість (в грн.)
    %li Дата ремонту
    %li Гарантія (дата придатності проведених робіт)
    %li
      Додаткова інформація
%p
  Адреси можна вказувати як точну геопозицію (наприклад, "49.23363, 28.46146"), так і назву (наприклад, "площа Гагаріна 4/1").
%p
  Приклад файлу з ремонтами -
  = link_to "завантажити", repairing_download_path
  = "."
