= content_for :header do
  .head.pull-left
    %i.fa.fa-info-circle
    = t('layouts.navbar_admin.repairing_maps_instruction')

%h4
  -# Загальні відомості
  =t('repairing.maps.instruction.head_general_information')
%p
  -#Модуль "Ремонт" призначений для відображення інформації про ремонтні роботи,
  -#які проводяться у місті/районі/області. На основі даних із завантажених в систему файлів будується
  -#інтерактивна карта ремонтів.
  =t('repairing.maps.instruction.sentence_1')
%p
%hr
%h4
  -#Довідник робіт
  =t('repairing.maps.instruction.head_reference_works')
%p
  = link_to t('repairing.maps.instruction.head_reference_works'), repairing_categories_path
  =t('repairing.maps.instruction.sentence_2')
%p
  =t('repairing.maps.instruction.sentence_3')
%hr
%h4
  =t('repairing.maps.instruction.head_layers')
%p
  =t('repairing.maps.instruction.sentence_4_1')
  = link_to t('repairing.maps.instruction.head_layers'), repairing_layers_path
  =t('repairing.maps.instruction.sentence_4_2')
%p
  =t('repairing.maps.instruction.sentence_5')
  %ul
    %li=t('repairing.maps.instruction.item_1')
    %li=t('repairing.maps.instruction.item_2')
    %li=t('repairing.maps.instruction.item_3')
    %li=t('repairing.maps.instruction.item_4')
    %li
      =t('repairing.maps.instruction.item_5_1')
      = link_to t('repairing.maps.instruction.item_5_2'), repairing_categories_path
      )
    %li=t('repairing.maps.instruction.item_6')
    %li=t('repairing.maps.instruction.item_7')
    %li=t('repairing.maps.instruction.item_8')
    %li=t('repairing.maps.instruction.item_9')
%p
  =t('repairing.maps.instruction.sentence_6')
%p
  =t('repairing.maps.instruction.sentence_7_1')
  = link_to t('repairing.maps.instruction.sentence_7_2'), repairing_download_path
  = "."
