:scss
  .tsel {
    width: 250px;
  }
  .datepicker
  {
    z-index: 1051 !important;
  }

= simple_form_for(@export_budget) do |f|
  - if @export_budget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@export_budget.errors.count, "error")} prohibited this export_budget from being saved:"
      %ul
        - @export_budget.errors.full_messages.each do |msg|
          %li= msg
  = f.input :year, label: t('.year'),as: :string,input_html: { class: "datepicker" }
  = f.input :title, label: t('.title')
  = f.input :template, label: t('.template')
  = f.label t('.town_name')
  = f.text_field :town_id
  = f.button :submit, t('.save'), class: 'btn btn-primary'

:javascript

  $(document).ready(function() {
    $('#export_budget_year').datepicker({
      format: 'yyyy',
      viewMode: 'years',
      minViewMode: 'years',
      locale: 'ua'
    });


    $('#export_budget_town_id').select2({

      sortResults: function(results, container, query) {
        if (query.term) {
            // use the built in javascript sort function
            return results.sort(function(a, b) {
                if (a.text.length > b.text.length) {
                    return 1;
                } else if (a.text.length < b.text.length) {
                    return -1;
                } else {
                    return 0;
                }
            });
        }
        return results;
    },
      allowClear: false,
      multiSelect: false,
      multiple: false,
      minimumInputLength: 2,
      width: '100%',
      ajax: {
        url: '#{search_for_towns_town_path}',
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
          return {
            query: term, // search term
          };
        },
        results: function (data, page) {
          return { results: data };
        },
        cache: true
      },
    }).on("change", function(){
      var town_url = "#{public_path('ID')}".replace('ID', $(this).val())
      $('#export_budget_town_id').val($(this).val());
      //console.log($(this).val());
    });
  });
