:scss
  .note-btn-group.btn-group.note-remove {
    display:none;
  }
  .tsel {
    width: 250px;
  }
  .datepicker
  {
    z-index: 1051 !important;
  }
  #export_button_submit
  {
    margin-top: 10px;
  }
  #new_export_budget > div.form-group.string.optional.export_budget_header > label{
    width: 50%;
  }

.col-xs-7
  = simple_form_for(@export_budget) do |f|
    -#= f.input :header,label: t('.header')
    = f.input :year, label: t('.year'),as: :string,input_html: { class: "datepicker" }
    = f.input :title, label: t('.title')
    = f.input :title_page, label: t('.title_page')
    -#= f.input :template, label: t('.template')
    = f.input :town,label: t('.town_name'),disabled: true,input_html: {data_admin: current_user.is_admin?, value: current_user.town}
    = f.input :content,as: :text, label: t('.content'), :contenteditable => "true"
    -#= f.input :footer, label: t('.footer')
    = f.button :submit, t('.save'),id: 'export_button_submit', class: 'btn btn-primary'
.col-xs-5
  =render partial: 'visualisation_list'
:javascript

  $(document).ready(function() {
    $('#export_budget_year').datepicker({
      autoclose: true,
      format: 'yyyy',
      viewMode: 'years',
      minViewMode: 'years',
      locale: 'ua'
    });

    $('#export_budget_title_page').summernote({
      minHeight: 300

    });


    $('#export_budget_content').summernote({
      minHeight: 300,
    });

    var town_dom = $('#export_budget_town');
    if(town_dom.attr('data_admin') == 'true'){
      town_dom.removeAttr('disabled');
      init_town_select2_with_field_id('#export_budget_town',"#{search_for_towns_town_path}");
    }
  });
