:scss
  .note-btn-group.btn-group.note-remove {
    display:none;
  }
  .tsel {
    width: 250px;
  }
  .datepicker
  {
    z-index: 1051 !important;
  }
  #export_button_submit
  {
    margin-top: 10px;
  }
  #new_export_budget > div.form-group.string.optional.export_budget_header > label{
    width: 50%;
  }
  .note-editing-area > .note-editable.panel-body > img{
    width: 100% !important;
  }
  .visual_place{
    cursor: pointer;
    &:hover,&:focus{
      box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.73);
      transition: all .4s linear;
    }
  }
.col-xs-7
  = simple_form_for(@export_budget) do |f|
    = f.input :year, label: t('.year'),as: :string,input_html: { class: "datepicker" }
    = f.input :title, label: t('.title')
    = f.input :town,label: t('.town_name'),input_html: {data_admin: current_user.is_admin?, value: @export_budget.town.id }
    = f.input :title_page,as: :text ,label: t('.title_page'),:contenteditable => "true"
    = f.input :content,as: :text, label: t('.content'), :contenteditable => "true"
    = f.button :submit, t('.save'),id: 'export_button_submit', class: 'btn btn-primary'
.col-xs-5#visual_list
:javascript
  var sankey = {};
  sankey.tax_rot = '';
  sankey.tax_rov = '';

  $(document).ready(function() {
    var set_town_in_title_page = function(town){
      $('#title_page_city').html(town);
    };
    var set_title_in_title_page = function(title){
      $('#title_page_title').html(title);
    };
    var set_year_in_title_page = function(year){
      $('#title_page_year').html(year);
    };


    $('#export_budget_title').change(function(){
      set_title_in_title_page($(this).val());
    });
    $('#export_budget_year').on("change",function(e){
      set_year_in_title_page($(this).val());
    });


    var send_ajax = function(number){
      $.ajax({
        url: "#{widgets_visualisation_list_path(current_user)}",
        data: { data_number: number }
      })
    };
    var visualButton = function (context) {
      var ui = $.summernote.ui;

      // create button
      var button = ui.button({
        contents: '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"> Visual</span>',
        tooltip: 'hello',
        click: function () {
          send_ajax('0');
        }
      });

      return button.render();   // return button as jquery object
    }

    $('#export_budget_year').datepicker({
      autoclose: true,
      format: 'yyyy',
      viewMode: 'years',
      minViewMode: 'years',
      locale: 'ua'
    });

    $('#export_budget_title_page').summernote({
      minHeight: 300
    });

    $('#export_budget_content').summernote({
       toolbar: [
        // [groupName, [list of button]]
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['font', ['strikethrough', 'superscript', 'subscript','fontname']],
        ['fontsize', ['fontsize']],
        ['insert',['picture','table']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        // ['height', ['height']],
        ['mybutton', ['visualButton']]
      ],
      buttons: {
        // add button for show visual list
        visualButton: visualButton
      },
      minHeight: 300,
    });

    if(!$('#export_budget_title_page').val()){
      $.ajax({
        url: "#{template_title_path}",
        success: function(data){
          $('#export_budget_title_page').summernote('code',data);
        }
      });
    }
    $.ajax({
      url : "#{template_content_path}",
      success: function(data){
        $('#export_budget_content').summernote('code',data);
        $('.visual_place').click(function(){
          send_ajax($(this).attr('data-number'));
        });

      }
    });

    init_town_select2_with_field_id('#export_budget_town',"#{search_for_towns_town_path}");
    $('#export_budget_town').on('change',function(){
      set_town_in_title_page($(this).select2('data').text);
    });

  });
