:scss
  .without_margin{
    margin: 0px;
  }
  .margin-bottom{
    margin-bottom: 15px;
  }
  .export_budget{
    margin-left:25%;
    width: 831px;
  }
.export_budget
  .row.without_margin.margin-bottom
    .col-md-12
      %h2
        =t('.show')
      = link_to t('export_budgets.town_profile'),public_path(@export_budget.town),class: 'btn btn-default'
      = link_to create_pdf_path(@export_budget,format: :pdf) do
        %i.fa.fa-file-pdf-o
  .row.without_margin
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = "#{t('export_budgets.form.title')} : #{ @export_budget.title }"
      .panel-heading
        %h3.panel-title
          = "#{t('export_budgets.form.year')} : #{ @export_budget.year }"
      -@export_budget.pages.each do |key,value|
        -if key.eql?('content')
          -value.each do |content_key,content_value|
            .panel-body
              =content_value.html_safe
        - else
          .panel-body
            =value.html_safe
